<div class="column_content"><a href="/index/Book/info.html?book_id=7379" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15877515060425/5dd0b537980b4aa9a2876ad3a570daf2.jpg"><div class="right"><p class="name">TFboys之许你喜欢我</p><p class="main">她轻笑点头，脸上布满快乐的微笑。
    被算计出车祸，当年不堪的事情被揭穿，被推上风头浪尖的她，不仅受到王母的排斥，同样令得两个人渐行渐远。
    万念俱灰的她，做出了最决绝的选择！</p><p class="article_type"><span>男生其他</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_1.png"></div></a><a href="/index/Book/info.html?book_id=6518" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876946900424/f2f0158ce861dcbc81d74ef2b29556d1.jpg"><div class="right"><p class="name">TFboys之眼泪还没落</p><p class="main">一次穿越，两次伤心，三次分别，四次受伤，五次倾心，六次原谅，七次祈求，八次重来，就此别过，是不是可以换来十全十美？
    我用了十年等你，给你的伤太深。
    “你不可以对人类动真感情……否则……”
    否则？否则怎样？如果爱算感情的话，恨算不算？
    “你不可以在自身没有危险的情况下伤害人类，否则……”
    否则？否则又怎样？如果他伤了我算自身危险的话，那心伤算不算？
    那段回忆真叫我恶心，我要的“我爱你”，最后的结局是开启自毁……
    你根本不值得我这么做！你不配和我一起去天堂！所以，王俊凯！我死了！你都不许跟着我去天堂！
    【∞『调色盘゛』社团出品】</p><p class="article_type"><span>男生其他</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_2.png"></div></a><a href="/index/Book/info.html?book_id=641" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15871917530418/173128d9387356d8ee4f35f126bd8a7c.jpg"><div class="right"><p class="name">愉悦快跑</p><p class="main">    死了，死了，全死了！这些欠债的曾经是那么多，而现在一个也不剩了！

    对于两位商人，作为债主的商人，还有什么比这更令人伤心的呢？

    然而，仁慈的佛祖总是给人留有一线生机：在这莽莽荒野里他们多幸运啊，又遇到了两个债务人。一时间，他们感到自己的命运还是不赖哩！

    “嘿——，你们两个别走！”其中的胖子商人放开了他粗壮的嗓子吼叫着，同时尽力撼动起满身的肥肉跑来了。那惊人的体重将脚下的碎石弄得哗哗作响。他后面紧跟着一个瘦子，一个瘦到老虎见了都发愁的瘦子。但瘦子还是很有精神的，并不是在此时可让人精神振奋的外物刺激下而产生的精神，而是确确实实的身体各器官状态良好的外在表现。他们个子都不高，身上缠绕着本地缺乏穿着逻辑的貌似复杂的服装。</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_3.png"></div></a><a href="/index/Book/info.html?book_id=6946" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15877460520425/6d9935bc9a237e0207301b953c6163ec.jpg"><div class="right"><p class="name">你不曾错过花期</p><p class="main">青春期的胖女孩花生因为自己的肥胖感到忧愁，在面对同学们一次又一次无意的嘲笑她终于爆发。后来有人重逢了花生，看到有人挽着她的手，不在意她的外表，只爱她。
    秦升拥有幻想症，他一直爱着一个不存在的人。因爱执念，因爱放手。故事里所有人配合出演，其实幻想恋人是真实存在的
    
    荟子同学喜欢祝老师，从校服到婚纱，因为他的存在，她变得更加优秀，为了与他并肩她不畏世俗，终于有一天，她能够和陪伴了她整个青春的祝老师白头偕老。
    
    温子小姐是29岁的单身女士，眼看就要成为“奔三剩女”，家里人又不断催婚。突然她的网络好友向她表白……从朋友到恋人，从网恋到奔现，是你让我嫁给了爱情。
    爱恋像朵花，你永远都不会错过它的花期。
    你是否也喜欢着一个人，或已经拥有，或爱而不得，但总会有爱，让你愿意倾注所有温柔。
    『短篇合集，忙于现实，得空码字』</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">4</span></div></a><a href="/index/Book/info.html?book_id=8081" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15877633640425/d297d4730b74ec65ae0505f9286a2dfd.jpg"><div class="right"><p class="name">TFboys追捕霸道男神</p><p class="main">【TFBOYS】
    初中时代，对于爱情，他们都很朦胧，却不知心中的爱情种子已经悄然萌发。
    宫若熏，一个古灵精怪的女孩，从进入初中到至今，惹下的祸可没少！她一到来就把音乐室给砸了！续而校花大人的头发也被她点燃了！于是乎，为了防止她继续闯祸，霸道冷漠的学生会主席王俊凯出马捉拿她去当助手！
    “王俊凯，对不起。”
    让我们一起欢迎“天不怕，地不怕，只怕王俊凯”的小魔女宫若薰的来也！
    凌莫言，一个霸气侧漏的女汉子，为人清冷的她除了自己的好朋友，便没有再露出过其他的情绪，可是，为什么王源一出现，一切都变了呢？
    她竟然会吵架？会生气？而且，而且，更不可思议的是她竟然吃醋了！！？
    “王源，你会等我的吧。”
    校园冤家变校园情侣，凌莫言和王源的奇葩爱情故事就此开始！
    伊可，一个纯美懵懂的精灵少女，不染纤尘她从未没有改变过。校花大人嫉妒她，好朋友宫若薰和莫言保护她。
    伊可默默坚信着，暗暗下决心，要学会保护自己，却不料遇上了易烊千玺这个一直宠着她、护着她、惯着她的少年，她开始学会依赖这个少年，她想保护这个一直保护着她的少年。
    “千玺哥哥，我会回来的。”
    易烊千玺遇上伊可精灵少女的纯洁美好故事开篇啦！
    霸道男神三部曲系列：追捕霸道男神，压倒霸道男神，离别霸道男神。</p><p class="article_type"><span>男生其他</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">5</span></div></a><a href="/index/Book/info.html?book_id=12594" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15923925730617/78572aa92abf6c5cdc0bc8393ea06e1f.jpg"><div class="right"><p class="name">谁在我心里放冷枪/公主病</p><p class="main">    林越是高岭之花。
　　我是路边杂草。
　　本无交集，却在阴差阳错中，欠下我两条命。
　　一次见死不救，一次淡然转身，他让我背负丑闻，嫁给一个我不爱的男人。
　　我对他的恨，从不消停。
　　在我以为报仇无门时，命运朝我泼来一大盆狗血……
　　婚后，继子欺我辱我，想方设法赶我净身出户。
　　在我最困难的时候，林越再次出现。
　　他一副救世主的模样，说给我荣华富贵。
　　我脸上笑颜如花，心里一个呸字！
　　林越，记住了：
　　这次可是你自己送上门的。　　　
　　</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">6</span></div></a><a href="/index/Book/info.html?book_id=1282" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15872491450419/accc246098e5616bf194470cb4ae1aac.jpg"><div class="right"><p class="name">浪漫恋情</p><p class="main">    三十来岁的葛奇凯师傅是一名在烹饪界响当当的特级厨师，他能够做出很多名厨都难以驾驭的美食，很多人都对他毕恭毕敬，唯独当他碰上乐淑娴的时候，他所面临的事情会变得非常的紧迫，一出出闹剧轮番上演，竟让他爱上了这个时而火辣时而温婉的“千金小姐。

    而另一方面，由于葛奇凯在厨艺上越来越精湛，打败了一个个名厨之后，他终于成为了没锅堂的厨师长，带领着没锅堂走出了困境，生意变得越来越火，将一直想把没锅堂占为己有的大佬王狠狠地重创了一把，就这样，葛奇凯终于赢得了乐淑娴的芳心。

    但由于冤家对头一直对乐淑娴念念不忘，促使一个个阴谋向着葛奇凯慢慢逼近，究竟葛奇凯能不能和乐淑娴过上幸福浪漫的生活，一切尽在《浪漫恋情》。</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">7</span></div></a><a href="/index/Book/info.html?book_id=11266" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15888401740507/7df9e87cd71486dc95a4269a6880f272.jpg"><div class="right"><p class="name">如果，我们还有明天</p><p class="main">    五年前他们曾是人人羡慕的校园模范情侣，五年后他们再次相遇，陪在身边的却不是彼此。单亲家庭长大的沈青黎大学毕业后进入一家知名的广告公司做设计师，并且认识了俊朗阳光云飞扬，就在她即将步入幸福的船帆的时候，陪伴她十二年，青梅竹马的初恋男友展望松回来了，并且带着即将定婚的女友顾萌，而女友是她高中时候的伙伴。</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">8</span></div></a><a href="/index/Book/info.html?book_id=10959" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15888379660507/0f5217cbf39a7d07bc7f96d4e0a6c256.jpg"><div class="right"><p class="name">全能召唤师</p><p class="main">    罗宾穿越到了以召唤师为尊的神灵大陆，在这一片神奇的大陆上，罗宾是一个没有天份的家族滴女，在无意间开启了兽戒空间之后，罗宾得到了空间内百兽真君的指导，继承了莉丽丝的传承，成为了一名全系的召唤师。</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">9</span></div></a><a href="/index/Book/info.html?book_id=11311" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15922821980616/e8842ec8c2b1eb14bd4889a1c52df630.jpg"><div class="right"><p class="name">修仙强者在都市/凌晨起床</p><p class="main">一边修仙还能一边赚钱！
上能坑上古大仙，下能哄黎民百姓！
说他是坏人，但偶尔他也能扶老奶奶过马路！
说他是好人，可天下人都骂他是混蛋，是食人不吐骨头的魔鬼！</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">10</span></div></a></div>