<div class="column_content"><a href="/index/Book/info.html?book_id=13094" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924334990618/603cd6ed318ff3a68ec510a504857ac0.jpg"><div class="right"><p class="name">涅锦传/澜木卿</p><p class="main">她初入宫廷，便要亲手将一杯毒酒灌下亲姑姑的喉咙。
来不及哀戚伤悲，便只能强颜欢笑。
本想安然度日，偏生事与愿违。
“朕喜欢你，想你成为朕的妻子”
无心之言，后宫之争，一次次的将她推至风口浪尖。
“蔺玉锦，你以为你是谁?”
姐妹的背叛，权力的压制，心中那抹可笑的单纯早已荡然无存。
“我，蔺玉锦，在此发誓，若不让她血债血偿，我永生誓不为人。”
看这美娇娘如何成为翻手为云，覆手为雨的一代女相。
</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_1.png"></div></a><a href="/index/Book/info.html?book_id=13069" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924324850618/2bc404dc9d4b6bce54ad72d0b35212ee.jpg"><div class="right"><p class="name">焉知公子非良缘/江酌</p><p class="main">国公府沉迷女色的小公子逛了次花楼，怀抱美人之时却被秦王逮了个正着，逃跑后本还庆幸自己没暴露身份，岂料第二日就被秦王当众求了圣旨，一夕之间公子变成了新嫁娘。
于是皇都之中曾被“他”抢了众美人的世家子们沉默不语；
被“她”抢去了心上人的世家女们嘤嘤垂泪。
然而为了让自己日后不被霸道夫君支配的沈焉知，自此走向了造谣的不归路。
“你问为何他看上了我？那自然是因为他本就心向断袖。”
“你问为何他让我带美人嫁入王府？那自然是因为他花心薄情。”
“你问为何咱们成亲几年也没个子嗣？那自然是因为他不行了……”
</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_2.png"></div></a><a href="/index/Book/info.html?book_id=13111" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924342330618/f7d8ad998468be167e4d43ecbfdb74ce.jpg"><div class="right"><p class="name">战神皇后，本倾城/水临界</p><p class="main">她，二十一世纪的女汉子一枚，竟因一句九天玄女的预言穿越成了人人唾弃的青楼女子。
千方百计的想要逃离那里，最终愿望实现，被来逛青楼的王上扛回了宫中，做了名女弟子。
这是一个女的打打杀杀，男的貌美如花的时代。看现代女汉子如何在古代皇宫内斗智斗勇，成为一代女战神。
“陌上花开，可缓缓归矣”王上深情的对着未来的皇后说道
却迎来了皇后的大嘴巴子“姐姐我才不当皇后呢，姐姐是女战神”
</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_3.png"></div></a><a href="/index/Book/info.html?book_id=13117" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924344550618/7f52b7ba3878b9d6b1ffe081db3fe39c.jpg"><div class="right"><p class="name">先婚后爱：boss老公惹不起/水倾落</p><p class="main">第一次误以为遇到了变态，第二次就将人给睡了，她留下欠条卷走钱财溜得贼快。再次见面，她打算坑人结婚，结果反被嘲笑反被坑。丫的，她楚洛儿有没有这么的倒霉啊？嘛，小虾米惹不过超级大佬怎么破？那就跑吧！大佬挑眉，邪魅一笑：“睡了人，想跑，没门！”</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">4</span></div></a><a href="/index/Book/info.html?book_id=13140" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924354890618/84145adeb53180c01000633c66a7c7a4.jpg"><div class="right"><p class="name">亲爱的森林/嫁于东风</p><p class="main">各种失意后，乖乖女苏晓蔓决定放逐自己，旅途中故意迷失在大森林中。攀岩专家、野外生存专家欧尚文在深山里做节目，最后一天遇到想自杀的苏晓蔓。为了救她，欧尚文违约错过了庆功宴的现场采访。两个人的世界从此不同……
这次特别的经历让苏晓蔓发现了一个全新的自己，声称从不为女人驻足停留的欧尚文变化也很大。当荒野中相遇相爱的两人回归城市，面对各种烦杂的人际关系和感情，各种麻烦纷至沓来。面对双方父母兄妹反对，前任的阻止破坏、同事朋友的置疑、公司主管的威胁……各种“战争”，令这段森林奇恋走得很是尴尬……</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">5</span></div></a><a href="/index/Book/info.html?book_id=13097" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924336210618/468f0ec374387d6be137544cf1e25841.jpg"><div class="right"><p class="name">二婚盛宠：总裁疼入骨/小猪猫</p><p class="main">谁说，女人一旦离了婚就再也不可能幸福？半夏彼岸，似水流年。或许在经历了千万般曲折，尝过婚后百态，再次遇见的人才是命中注定的真命天子。我说，幸福可以来的再晚一点，反正，迟早会来。

韦奕铭：即使再重来九千九百九十九次，我的眼里，只有你！
肖风墨：从一开始，是我错过了你，现在再怎么追逐，我们之间的都隔着一个银河系！
韩熙：为了报复你，我连自己都丢了！不管你信不信，我爱的始终是你！</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">6</span></div></a><a href="/index/Book/info.html?book_id=13203" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924379730618/c80abbee2b90d58cd7a3e0a56ceaf506.jpg"><div class="right"><p class="name">先婚后宠：霸道总裁轻宠妻/颜一</p><p class="main">   在婚礼上，单纯善良的她亲眼看见自己的新郎和前女友纠缠在一起，万念俱灰下，她当场征婚。一位坐着轮椅的男子应了征婚要求。
   某男:“一年婚期！一年之内不得提离婚，一年之后也不能主动提离婚…只要不离婚，要什么都可以给你。”
   某女:“我要写着我名字的岛国……”
   第二天，他交给她一座正在修建的宏伟建筑，上面负责人上赫然写着她的名字。
   某男: “娶你，宠你，爱你，疼你都是你应得的……”
   某女:“……”</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">7</span></div></a><a href="/index/Book/info.html?book_id=13109" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924341510618/c471c194bb11ba0c932c24bfd588c718.jpg"><div class="right"><p class="name">一世锦绣/花影</p><p class="main">傅锦仪重生了。
只是她总觉着，自己这复仇之路有点背。
***
恶毒继母再过招，竟想将她送给那凶神恶煞的徐大将军做小妾。好不容易逃过一劫，一回头，传说中的徐大将军正笑得露出一口白牙。
徐策：本将军不缺小妾，倒缺一房正室。
傅锦仪：别杀我！我还想多活两年！
***
眼看仇人一个接一个地下了地狱，傅锦仪却并不开心。因为被人指手画脚的感觉糟糕透了！
傅锦仪：求求你别再管我了！
徐策：本将军就剩这点乐趣啦！
***
听说，坏事做得太多自己的运数也会发霉。果然，捧着赐婚圣旨的傅锦仪欲哭无泪。
傅锦仪：我要的是一只忠犬，可你分明是头恶龙！
徐策：汪汪汪！</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">8</span></div></a><a href="/index/Book/info.html?book_id=13061" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924321040618/c60c61664a04bade48bf1fae964b8007.jpg"><div class="right"><p class="name">吾凰在上：邪王盛宠娇蛮妃/与子同梦</p><p class="main">意外穿越，慕云玖成了个不受待见的将军夫人。
但全新的灵魂不会再任人宰割!
 她要拳打小妾，脚踩渣男，拆了将军府，努力赚钱走上人生巅峰，再迎娶个绝世美男子! 
可自从偶遇了有毒的闲郡主，她觉得，自己可能误入了要被掰弯的歧途。
直到有一天，慕云玖有个惊天大发现——
那个妖孽如花，盛世美颜的郡主殿下竟然是男人!
</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">9</span></div></a><a href="/index/Book/info.html?book_id=13072" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15924325690618/a465ddabdd5a6ba4bb2e0d8a07ee9385.jpg"><div class="right"><p class="name">权贵娇女（重生）/十鹿</p><p class="main">将门嫡女本应是掌上珠，却受尽冷眼之后，被逼跳崖自尽，重活一生，愿三千如意佑一生。
前一世挑男人的眼光不太好，捡了个状元郎，宋稚吃尽了苦头。这辈子想好好活，却又被塞了个世子爷。
世子爷前世是雄霸一方的枭雄，难不成咱也要跟着去？不过，这世子爷怎么没按着前世的剧情走啊？说好的冷酷人设呢？</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">10</span></div></a></div>