<div class="column_content"><a href="/index/Book/info.html?book_id=6518" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876946900424/f2f0158ce861dcbc81d74ef2b29556d1.jpg"><div class="right"><p class="name">TFboys之眼泪还没落</p><p class="main">一次穿越，两次伤心，三次分别，四次受伤，五次倾心，六次原谅，七次祈求，八次重来，就此别过，是不是可以换来十全十美？
    我用了十年等你，给你的伤太深。
    “你不可以对人类动真感情……否则……”
    否则？否则怎样？如果爱算感情的话，恨算不算？
    “你不可以在自身没有危险的情况下伤害人类，否则……”
    否则？否则又怎样？如果他伤了我算自身危险的话，那心伤算不算？
    那段回忆真叫我恶心，我要的“我爱你”，最后的结局是开启自毁……
    你根本不值得我这么做！你不配和我一起去天堂！所以，王俊凯！我死了！你都不许跟着我去天堂！
    【∞『调色盘゛』社团出品】</p><p class="article_type"><span>男生其他</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_1.png"></div></a><a href="/index/Book/info.html?book_id=5488" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876818240424/f27d4e225c40c26f61eee8968475df9c.jpg"><div class="right"><p class="name">霸道总裁我不爱</p><p class="main">满心欢喜准备跟谈了多年恋爱的男友结婚，却在去领证前夕知道男朋友睡了自己的继妹。苍伶一气之下去花钱找男人，醉酒之后嚷着要睡人家会所的老板，还被人诓着结了个婚。一觉醒来，竟然所有人都喊她大嫂？大哥是谁？南市黑白两道通吃令人闻风丧胆的“冷面阎罗”，更是整个牟家和盛世集团的掌门人！可传闻中他不是不近女色吗？他不是喜欢男人吗？可为什么会是她这一个弱女子天天下不了床啊！果然，传闻都是骗人的！</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_2.png"></div></a><a href="/index/Book/info.html?book_id=2218" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15874622170421/ce3ed77876dce85e0ac3554c49e1da07.jpg"><div class="right"><p class="name">养妻为患：总裁大人来一下！</p><p class="main">冷少是谁？当之无愧的商界霸主呗，传言他不但生性孤僻而且不近女色。
寒意柔这就迷糊了，那也算不近女色吗？那全天下的男人都是和尚了！
还有生性孤僻是怎么回事？她觉得他整个人简直是天生为撩妹而生，甜言蜜语张口就来，动不动还暖死个人，将她宠的都要上瘾了！
某总裁：“这是专属你的宠爱，世间独一无二。”
啧啧，瞧瞧，又来了……
</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_3.png"></div></a><a href="/index/Book/info.html?book_id=123" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15871833460418/a445a30ea3513bd36abd364278b2998f.jpg"><div class="right"><p class="name">盛世再婚：娇妻掌心宠</p><p class="main">我本以为自己嫁的会是良缘，结果却是一个不仅吃软饭，且生活不检点，嗜暴成瘾的家伙；第二次再嫁，我以为他是个草包，结果才发现并非如此...我的生活从此发生了翻天覆地的变化。</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">4</span></div></a><a href="/index/Book/info.html?book_id=6946" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15877460520425/6d9935bc9a237e0207301b953c6163ec.jpg"><div class="right"><p class="name">你不曾错过花期</p><p class="main">青春期的胖女孩花生因为自己的肥胖感到忧愁，在面对同学们一次又一次无意的嘲笑她终于爆发。后来有人重逢了花生，看到有人挽着她的手，不在意她的外表，只爱她。
    秦升拥有幻想症，他一直爱着一个不存在的人。因爱执念，因爱放手。故事里所有人配合出演，其实幻想恋人是真实存在的
    
    荟子同学喜欢祝老师，从校服到婚纱，因为他的存在，她变得更加优秀，为了与他并肩她不畏世俗，终于有一天，她能够和陪伴了她整个青春的祝老师白头偕老。
    
    温子小姐是29岁的单身女士，眼看就要成为“奔三剩女”，家里人又不断催婚。突然她的网络好友向她表白……从朋友到恋人，从网恋到奔现，是你让我嫁给了爱情。
    爱恋像朵花，你永远都不会错过它的花期。
    你是否也喜欢着一个人，或已经拥有，或爱而不得，但总会有爱，让你愿意倾注所有温柔。
    『短篇合集，忙于现实，得空码字』</p><p class="article_type"><span>现代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">5</span></div></a><a href="/index/Book/info.html?book_id=11281" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15888403430507/8a8e4f3e796cb26712c1c676eb3a8309.jpg"><div class="right"><p class="name">幽林谷</p><p class="main">    对于冯爱怜来说，那一年的满门抄斩，就像是一把尖锐的刀子一样的，活生生的把她完美的生活劈成了两半，这十六年以来，她一直都生活在富贵祥和宁静的生活当中，可是，一场突如其来的横祸就把她这些年以来所有的繁华富贵，还有幸福快乐，以及父母的万千宠爱都给毁灭的一干二净了。</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">6</span></div></a><a href="/index/Book/info.html?book_id=3070" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15875196750422/26328d8a207f1710f87bbac83b02650a.jpg"><div class="right"><p class="name">快穿系统，男神极致撩</p><p class="main">穆帘：女，18岁，高考完毕，刚拿到大学录取通知书，却不料横遭飞祸，被天上掉下来的系统砸死，莫名绑定了一个扑倒男神的系统，开始一边愉快的撩男神，一边完成宿主的心愿任务，自此开始漫长的异世之旅。</p><p class="article_type"><span>古代言情</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">7</span></div></a></div>