<div class="column_content"><a href="/index/Book/info.html?book_id=5489" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876818420424/0c9ec857e5b82dc131c04dd308251d94.jpg"><div class="right"><p class="name">婿者无疆</p><p class="main">被所有人当做窝囊废的上门女婿楚凡，竟然是一条蓄势待飞的真龙！
若有人谤我、辱我、轻我、笑我、欺我、贱我，当如何处治乎？
楚凡：“呵，他们敢吗？”</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_1.png"></div></a><a href="/index/Book/info.html?book_id=5481" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876815420424/d310ad2d38d0e5d052f831e843bca8ac.jpg"><div class="right"><p class="name">中华龙婿</p><p class="main">“少爷，你这花钱速度太慢了，家族给了你十个亿，怎么一个月了还没花完？”
作为顶级豪门的继承人，陈峰很烦恼，别人都是不努力上班，就要回家种地。而陈峰不努力当上门女婿，就只能回去继承万亿家产。
唉，生活太难了。


</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_2.png"></div></a><a href="/index/Book/info.html?book_id=5486" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876817400424/e4e9dd1193f7e1587d6d15424fb2a52e.jpg"><div class="right"><p class="name">极品豪婿</p><p class="main">他是个受尽屈辱的上门女婿，但没人知道，他也是首富家族的公子！</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_3.png"></div></a><a href="/index/Book/info.html?book_id=12613" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15923932310617/5491d58de24dd75e87eec7a7722f00d2.jpg"><div class="right"><p class="name">都市大仙尊/小小财神</p><p class="main">在历史的洪流之中，宛如过客一般存在了数万年的苏武，再度重临都市，装逼泡妞，纵横花都，捍卫至亲。</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">4</span></div></a><a href="/index/Book/info.html?book_id=5483" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876816340424/ba873034ab73c5e88a36023447d38bd9.jpg"><div class="right"><p class="name">天下绝品神医</p><p class="main">医道圣手夏宇凭借出色的医术勇闯花都，他银针渡人，术法渡鬼，成就济世仁心，都市生活逍遥自在，校花、御姐加熟女，教师、医生和白领！ 
通通到我怀里来！</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">5</span></div></a><a href="/index/Book/info.html?book_id=6176" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876913190424/0e6abc439cdae386ef00cfacbb85fabc.jpg"><div class="right"><p class="name">武霸乾坤</p><p class="main">浩瀚乾坤，万物圣祖；缘生缘灭，圣枪伏龙；蛮荒祖体，吞天噬地……看主角千浩如何在这个不属于他前世认知的世界里迷倒万千少女，闯下属于自己的逍遥天下！</p><p class="article_type"><span>男生玄幻</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">6</span></div></a><a href="/index/Book/info.html?book_id=11293" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200511/38ea0e0ae73e8ed955a90029028afbb9.jpg"><div class="right"><p class="name">天才少爷</p><p class="main">    一辆劳斯莱斯幻影停在了京东夜总会的门口，门口的保安一看车牌号“京A8888”立刻脸上挂上了一种阿谀奉承的笑容凑到车门边把车门打开。

    从车里走出了一位年龄大概有二十出头的男人，西装革履，门口绚丽的彩灯下难以恍惚他如雕塑般棱角分明的侧脸，每一个毛孔都在张扬着关于骨子里的高傲。他迈着如模特一般的步伐径直走进了京东夜总会的大厅，顿时吸引不少目光，而周边的一些打扮的花枝招展的男人三两成群的在旁边议论着。</p><p class="article_type"><span>现代言情</span><span>古代言情</span><span>都市婚姻</span><span>职场言情</span><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">7</span></div></a><a href="/index/Book/info.html?book_id=2166" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15874604800421/28613b9165915f6775e3abb580a31e02.jpg"><div class="right"><p class="name">尸术传人</p><p class="main">穷小子爱上了村花，走上逆袭之路。
诡异的尸门师父，带我走上另类的人生。

为父报仇我和凶徒闯入古墓，没想到同伙痛下杀手……



官方qq群221976480，进群请出示订阅截图。

</p><p class="article_type"><span>男生悬疑</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">8</span></div></a><a href="/index/Book/info.html?book_id=5487" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876817970424/2a22dc821d2c47528c5269a97bd869c3.jpg"><div class="right"><p class="name">都市之凌天战神</p><p class="main">龙国边境遭遇侵犯，入侵者背后有西方势力鼎力支持。
经过十年奋战，边境动乱被肃清，叶天成为龙国最年轻的四星战将，被世界战略组织评选为新时代十大战神之一。
同时，回归故里，为好友洗刷冤屈！
寻找自身身世，为亡母讨个公道！</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">9</span></div></a><a href="/index/Book/info.html?book_id=2897" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15875134800422/ccc658e88b7e2f8f1d3755c36bfc496f.jpg"><div class="right"><p class="name">鬼城引</p><p class="main">我得到一卷羊皮卷，其上所标注的城，居然就是传说中的鬼城。鬼城，一个古老的神话，一部神秘的史诗……一入鬼城，尸骨无存！我血逆天，杀破鬼城……所以，这是现代智慧与古老诅咒的较量，也是穿越与反穿越的逆杀。
……
激荡的青春与热血，打鬼与杀怪，你方唱罢我登场……
恐怖连连的死亡杀戮与智计百出的生死较量，重重机关难算尽，层层迷雾隐宝藏……
人如流水终将逝，花若人生莫负情，有情最美，无情最恨……
……最后，欢迎大家来到鬼城，但在城门打开之前，我必须要告诉你们，鬼城的风景只有四类人能够看到：身上阴气很重的人，火眼高的人，七天之内将死之人，至于第四种，我不便细说，只能给你们一个忠告——小心身后！”</p><p class="article_type"><span>男生悬疑</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">10</span></div></a></div>