<div class="column_content"><a href="/index/Book/info.html?book_id=5489" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876818420424/0c9ec857e5b82dc131c04dd308251d94.jpg"><div class="right"><p class="name">婿者无疆</p><p class="main">被所有人当做窝囊废的上门女婿楚凡，竟然是一条蓄势待飞的真龙！
若有人谤我、辱我、轻我、笑我、欺我、贱我，当如何处治乎？
楚凡：“呵，他们敢吗？”</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_1.png"></div></a><a href="/index/Book/info.html?book_id=5457" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876804880424/5fbb5fbcc2956555f799ae9d6f01b74a.jpg"><div class="right"><p class="name">大魔术师</p><p class="main">你相信吗？其实，很多的高级魔术师都是具有特异功能的人！所以，魔术，不单可娱人，也可杀人。
而这里，就是一个神奇魔术的世界！
且看一个命犯天煞孤星的初级魔术师助理，如何从被设定的“死亡程序”中杀出重围……</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_2.png"></div></a><a href="/index/Book/info.html?book_id=2166" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15874604800421/28613b9165915f6775e3abb580a31e02.jpg"><div class="right"><p class="name">尸术传人</p><p class="main">穷小子爱上了村花，走上逆袭之路。
诡异的尸门师父，带我走上另类的人生。

为父报仇我和凶徒闯入古墓，没想到同伙痛下杀手……



官方qq群221976480，进群请出示订阅截图。

</p><p class="article_type"><span>男生悬疑</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><img class="rink_img" src="/static/resource/index/images/ranking_3.png"></div></a><a href="/index/Book/info.html?book_id=2897" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15875134800422/ccc658e88b7e2f8f1d3755c36bfc496f.jpg"><div class="right"><p class="name">鬼城引</p><p class="main">我得到一卷羊皮卷，其上所标注的城，居然就是传说中的鬼城。鬼城，一个古老的神话，一部神秘的史诗……一入鬼城，尸骨无存！我血逆天，杀破鬼城……所以，这是现代智慧与古老诅咒的较量，也是穿越与反穿越的逆杀。
……
激荡的青春与热血，打鬼与杀怪，你方唱罢我登场……
恐怖连连的死亡杀戮与智计百出的生死较量，重重机关难算尽，层层迷雾隐宝藏……
人如流水终将逝，花若人生莫负情，有情最美，无情最恨……
……最后，欢迎大家来到鬼城，但在城门打开之前，我必须要告诉你们，鬼城的风景只有四类人能够看到：身上阴气很重的人，火眼高的人，七天之内将死之人，至于第四种，我不便细说，只能给你们一个忠告——小心身后！”</p><p class="article_type"><span>男生悬疑</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">4</span></div></a><a href="/index/Book/info.html?book_id=6176" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876913190424/0e6abc439cdae386ef00cfacbb85fabc.jpg"><div class="right"><p class="name">武霸乾坤</p><p class="main">浩瀚乾坤，万物圣祖；缘生缘灭，圣枪伏龙；蛮荒祖体，吞天噬地……看主角千浩如何在这个不属于他前世认知的世界里迷倒万千少女，闯下属于自己的逍遥天下！</p><p class="article_type"><span>男生玄幻</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">5</span></div></a><a href="/index/Book/info.html?book_id=490" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15871902160418/95be5f537761e5921d6163bf08598d4f.jpg"><div class="right"><p class="name">异世魔尊：杀入轮回不伏诛</p><p class="main">    蜀域界是玄紫大界面的界面上的一个小域界，身处群峰怀抱中，东有大离疆域，西有印度疆域，北有金，南有吴，加上很大小域界，只是不管大小，在这个界面中，再以找不到比蜀域界还要小的域界系。</p><p class="article_type"><span>男生游戏</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">6</span></div></a><a href="/index/Book/info.html?book_id=6177" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15876913260424/060f8697bd9780dc23aec032ec553e35.jpg"><div class="right"><p class="name">狂尊天下</p><p class="main">练武，修真，证道；杀人，屠妖，灭神。我为邪尊，谁敢不从！无上法决，却为毒药；惊天神技，突成牢笼。我命由我不由他，且看我手中双拳，上捶苍天，下砸冥域，又有谁能奈我何？</p><p class="article_type"><span>男生玄幻</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">7</span></div></a><a href="/index/Book/info.html?book_id=3014" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15875182720422/50190d4353af2a821237731ffef4c0ef.jpg"><div class="right"><p class="name">利刃1945</p><p class="main">1911到1945年。这几十年的时间里，有的人名垂千古，有的人遗臭万年。
我们是来自地狱的刽子手，我们终究还会回到地狱。我们是一群身着蓝衣长衫，眼戴墨镜的杀人专家。从第一次刀口舔血开始我们就开始了痛苦的自掘坟墓的一生。
</p><p class="article_type"><span>男生历史</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">8</span></div></a><a href="/index/Book/info.html?book_id=12384" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15923608820617/a34e2b2661b2f239ddb4d69b35eb53f2.jpg"><div class="right"><p class="name">无双武神系统/一纸干戈</p><p class="main">武神一途，不破乾坤者，纵功成名就，亦不足以为豪！</p><p class="article_type"><span>男生都市</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">9</span></div></a><a href="/index/Book/info.html?book_id=11816" class="item"><img class="cover" src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/15923080880616/b676fa6d3838bb95a7db8a4d332507a3.jpg"><div class="right"><p class="name">大明世家子/潇洒不羁大天才</p><p class="main">永乐盛世里的第一世家公子，想横着走横着走，想竖着走竖着走。想上天就上天！</p><p class="article_type"><span>男生游戏</span></p></div><div class="rink"><img class="rink_bg" src="/static/resource/index/images/ranking_bg.png"><span class="rink_text">10</span></div></a></div>