<div class="type">
				<a href="/index/Book/category.html?type=1&amp;gender_type=1">
	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/406944453880b991beb995dcfea26552.png">
	            <span>书库</span>
	        </a>
						<a href="/index/Book/rank.html?type=1&amp;gender_type=1">
	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/de894a0b182525219385f3548afa13a3.png">
	            <span>榜单</span>
	        </a>
						<a href="/index/activity/cur.html">
	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200608/375b1e650b1e3ec1d441b7523c83d531.png">
	            <span>活动</span>
	        </a>
<!--						<a href="/index/Book/publish.html?type=1&amp;gender_type=1">-->
<!--	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200608/d074111f3fdbaa3f13de82a379945ecd.png">-->
<!--	            <span>免费</span>-->
<!--	        </a>-->
<!--						<a href="/index/Book/free.html?type=1&amp;gender_type=1">-->
<!--	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/16f3391c706115292f78aae6ea80f88e.png">-->
<!--	            <span>限免</span>-->
<!--	        </a>-->
			<a href="/index/Book/overtype2.html?type=1&amp;gender_type=1&amp;over_type=2">
				<img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200608/d074111f3fdbaa3f13de82a379945ecd.png">
				<span>完结</span>
			</a>
			<a href="/index/Book/overtype1.html?type=1&amp;gender_type=1&amp;over_type=1">
				<img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/16f3391c706115292f78aae6ea80f88e.png">
				<span>连载</span>
			</a>
			</div>
