<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
        	            <a href="https://www.shuwu.com/download/index.html" class="swiper-slide">
                <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200615/2e7db34a80d773263d7ba31dffe7477e.jpg">
            </a>
                        <a href="" class="swiper-slide">
                <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200821/dc0a6c540f490d910f3c6e5a3be1657d.jpg">
            </a>
                    </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
