<div class="type">
				<a href="/index/Book/category.html?type=1&amp;gender_type=2">
	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/e6a493617a696462f38cdc9ef40d6601.png">
	            <span>书库</span>
	        </a>
						<a href="/index/Book/rank.html?type=1&amp;gender_type=2">
	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/315e49ecb5af8dc34b89e5f5aa63d518.png">
	            <span>榜单</span>
	        </a>
						<a href="/index/activity/cur.html">
	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200609/6011324a603000b99f7e2b55b54a2952.png">
	            <span>活动</span>
	        </a>
<!--						<a href="/index/Book/publish.html?type=1&amp;gender_type=2">-->
<!--	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200609/f7bb703c6885e360af625f99e0ba63c4.png">-->
<!--	            <span>免费</span>-->
<!--	        </a>-->
<!--						<a href="/index/Book/free.html?type=1&amp;gender_type=2">-->
<!--	            <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/01d555b10b853eab9a87584967219198.png">-->
<!--	            <span>限免</span>-->
			<a href="/index/Book/overtype2.html?type=1&amp;gender_type=2&amp;over_type=2">
				<img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200608/d074111f3fdbaa3f13de82a379945ecd.png">
				<span>完结</span>
			</a>
			<a href="/index/Book/overtype1.html?type=1&amp;gender_type=2&amp;over_type=1">
				<img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200421/16f3391c706115292f78aae6ea80f88e.png">
				<span>连载</span>
	        </a>
			</div>
