.book_list{overflow:hidden;background-color:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;margin:20px auto 50px auto;padding:0 19px}
.book_list .book{width:100%;overflow:hidden;padding:30px 0;border-bottom:1px solid #e8e8e8}
.book_list .book .cover{width:120px;height:158px;-webkit-box-shadow:0 2px 3px 0 rgba(102,102,102,.5);box-shadow:0 2px 3px 0 rgba(102,102,102,.5);position:relative}
.book_list .book .cover img{display:block;width:100%;height:100%}
.book_list .book .cover .discount{position:absolute;left:0;top:0;width:40px;height:22px;background:#1593f8;border-radius:0 0 8px 0;font-size:14px;color:#fff;text-align:center;line-height:22px}
.book_list .book .info{width:840px}
.book_list .book .info .name{font-size:14px;color:#333;line-height:1}
.book_list .book .info .author{font-size:14px;color:#999;line-height:1;margin:14px 0}
.book_list .book .info .introduce{font-size:14px;color:#666;line-height:22px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.book_list .book .bottom_bar{width:100%;height:32px;margin-top:30px}
.book_list .book .bottom_bar .type{height:22px;font-size:14px;line-height:22px;color:#999;padding:0 9px;border:1px solid #999;border-radius:2px;margin-right:10px;margin-top:5px}
.book_list .book .bottom_bar .join{width:112px;height:32px;border:1px solid #1593f8;border-radius:16px;font-size:16px;color:#1593f8;text-align:center;line-height:32px}
.book_list .book .bottom_bar .read{width:112px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;text-align:center;line-height:32px;margin-right:14px}
.book_list .book .bottom_bar .freetime{height:22px;border:1px solid #1593f8;border-radius:11px;padding:0 12px;font-size:14px;line-height:20px;color:#1593f8;margin-top:5px}