.choose_type{background-color:#fff;-webkit-box-shadow:0 0 8px 0 rgba(205,205,205,.46);box-shadow:0 0 8px 0 rgba(205,205,205,.46);border-radius:5px;margin-top:20px;padding-top:22px}
.choose_type .bar{width:100%;overflow:hidden;padding:0 0 0 28px}
.choose_type .bar .name{font-size:14px;line-height:28px}
.choose_type .bar .choose_item{width:945px;overflow:hidden}
.choose_type .bar .choose_item span{float:left;font-size:14px;line-height:28px;color:#666;margin-right:38px;margin-bottom:20px}
.choose_type .bar .choose_item .all{width:48px;height:28px;border:1px solid #ccc;border-radius:14px;text-align:center;background-color:#eee;color:#666}
.choose_type .bar .choose_item .blue{color:#1593f8}
.choose_type .choose_type_line{width:100%;height:1px;height:1px;background:#e8e8e8;margin-top:20px}
.choose_type .number{width:100%;height:66px;padding-left:28px;font-size:14px;color:#666;line-height:66px}