.top_navigation{font-size:14px;color:#999;padding:25px 0 22px 0}
.top_navigation a{color:#999}
.introduce{background:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;overflow:hidden;padding:30px 19px}
.introduce .cover{display:block;width:175px;height:230px}
.introduce .right{width:784px}
.introduce .right .name{font-size:24px;font-weight:700;color:#333}
.introduce .right .name span{font-size:18px;color:#666;font-weight:400;margin-left:12px}
.introduce .right .status{height:16px;font-size:16px;line-height:16px;color:#666;margin:19px 0 17px 0}
.introduce .right .status i{display:inline-block;width:1px;height:14px;background-color:#666;margin:0 4px 0 4px}
.introduce .right .main{width:100%;font-size:16px;color:#666;line-height:22px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.introduce .right .type{width:100%;margin:18px 0 40px 0}
.introduce .right .type span{padding:0 9px;height:22px;border:1px solid #999;border-radius:2px;font-size:14px;color:#999;text-align:center;line-height:22px;margin-right:11px}
.introduce .right .btn_bar{width:100%;overflow:hidden}
.introduce .right .btn_bar .read{width:112px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;text-align:center;line-height:32px;margin-right:14px}
.introduce .right .btn_bar .join{width:112px;height:32px;border:1px solid #1593f8;border-radius:16px;font-size:16px;color:#1593f8;text-align:center;line-height:30px}
.detail_navigation{height:52px;margin-top:24px;margin-bottom:20px;border-bottom:1px solid #e8e8e8}
.detail_navigation a{display:block;width:150px;height:51px;float:left;font-size:20px;color:#666;line-height:50px;text-align:center}
.detail_navigation .active{color:#1593f8;border-bottom:3px solid #1593f8}