.footer{width:100%;overflow:hidden;background-color:#1593f8}
.footer .link{text-align:center;margin:31px auto 20px auto}
.footer .link a{font-size:14px;color:#fff;margin-right:28px}
.footer .font{font-size:12px;color:#fff;text-align:center;margin-bottom:15px}
.footer .footer_line{width:100%;height:1px;background:#e5f3f3;opacity:.3;margin-top:6px}
.footer .beian{height:48px;line-height:48px;text-align:center}
.footer .beian span{font-size:12px;color:#fff}
.footer .beian .emblem{width:20px;height:20px;margin:0 8px 0 50px}