.header{width:100%;height:100px;background-color:#fff}
.header .logo{font-size:28px;font-weight:700;color:#1593f8;line-height:40px;margin-top:30px;float:left}
.header .user_status{width:150px;height:30px;float:right;margin-top:35px}
.header .user_status .user_item{font-size:14px;line-height:30px;color:#333;float:right;margin-left:8px;float:right}
.header .user_status .default_headimg{width:30px;height:30px;float:right}
.header .user_status .header_line{display:block;width:1px;height:14px;background-color:#999;float:right;margin:8px 0 0 8px}
.header .bookshelf{width:200px;height:28px;margin-top:36px;float:right}
.header .bookshelf p{font-size:14px;line-height:28px;color:#333;float:right}
.header .bookshelf img{width:28px;height:28px;float:right;margin-right:10px}
.header .search_box{float:right;width:320px;height:40px;border:2px solid #1593f8;border-radius:20px;margin-top:30px;padding:0 14px}
.header .search_box .search_icon{width:24px;height:24px;float:left;margin-top:5px}
.header .search_box .search_value{width:250px;height:24px;line-height:24px;margin-top:5px;margin-left:10px}