.nav{width:100%;height:50px;background-color:#1593f8}
.nav .nav_item{display:block;padding:0 35px;height:50px;text-align:center;line-height:50px;font-size:16px;color:#fff;float:left}
.nav .nav_item:hover{background-color:#0074d1}
.nav .nav_item .recharge_icon{width:18px;height:18px;display:block;float:left;margin-top:16px;margin-right:6px}
.nav .recharge{float:right}
.nav .nav_active{background-color:#0074d1}