.page_number{width:100%;text-align:center;margin:30px 0 70px 0}
.page_number span{display:inline-block;width:30px;height:30px;font-size:14px;line-height:30px;color:#cdcdcd;text-align:center;border:1px solid #ccc;margin-right:10px;cursor:pointer}
.page_number span img{width:12px;height:12px}
.page_number .active{color:#fff;background-color:#1593f8;border-color:#1593f8}