.userinfo{overflow:hidden;padding:30px 0 23px 0}
.userinfo .headimg{display:block;width:66px;height:66px;border:2px solid #1593f8;border-radius:50%;margin-top:17px}
.userinfo .name_box{width:300px;height:66px;margin-top:17px;margin-left:14px}
.userinfo .name_box .name{font-size:24px;color:#000;line-height:1}
.userinfo .name_box .id_bar{display:inline-block;height:28px;background:#1593f8;border-radius:14px;padding:0 12px;overflow:hidden;margin-top:10px}
.userinfo .name_box .id_bar img{display:block;width:26px;height:18px;margin-top:4px;margin-right:9px}
.userinfo .name_box .id_bar .name{font-size:14px;color:#fff;line-height:28px}
.userinfo .name_box .id_bar span{display:block;width:1px;height:16px;background-color:#fff;margin:6px 9px}
.userinfo .right .item1{width:200px;height:100px;overflow:hidden}
.userinfo .right .item1 .item_top{height:24px;text-align:center;margin-top:30px}
.userinfo .right .item1 .item_top img{display:block;width:20px;height:20px;margin:0 8px 0 30px}
.userinfo .right .item1 .item_top .font1{font-size:24px;color:#1593f8}
.userinfo .right .item1 .font2{font-size:14px;color:#333;margin-top:17px;text-align:right}
.userinfo .right .line{width:1px;height:100px;background:#000;opacity:.08}
.userinfo .right .item2{width:176px;height:100px;overflow:hidden}
.userinfo .right .item2 .font1{font-size:24px;color:#1593f8;text-align:center;margin-top:30px}
.userinfo .right .item2 .font1 span{font-size:14px;color:#000;margin-left:12px}
.userinfo .right .item2 .font2{font-size:14px;color:#333;margin-top:17px;text-align:center}
.main_box{border-radius:10px;background-color:#fff;margin-bottom:30px;padding:0 20px;overflow:hidden}
.main_box .nav_bar{width:100%;height:80px;border-bottom:1px solid #e5e5e5}
.main_box .nav_bar a{display:block;width:121px;height:80px;line-height:80px;float:left;font-size:16px;color:#333;text-align:center}
.main_box .nav_bar .active{color:#0071bc;border-bottom:3px solid #0071bc}
.main_box .book_list{width:100%;overflow:hidden}
.main_box .book_list li{width:100%;overflow:hidden;padding:20px 0;border-bottom:1px solid #e5e5e5}
.main_box .book_list li .choose_book:checked+.choose_book_label{background-image:url(../images/label_a.png?v=2020-03-31)}
.main_box .book_list li .choose_book_label{display:block;width:19px;height:19px;background-image:url(../images/label_1.png?v=2020-03-31);background-size:100% 100%;margin-top:55px}
.main_box .book_list li .cover{display:block;width:98px;height:129px;-webkit-box-shadow:0 2px 3px 0 rgba(102,102,102,.5);box-shadow:0 2px 3px 0 rgba(102,102,102,.5);margin:0 14px}
.main_box .book_list li .name_bar{width:140px;overflow:hidden}
.main_box .book_list li .name_bar .name{font-size:16px;color:#333;margin-top:45px}
.main_box .book_list li .name_bar .author{font-size:14px;color:#999;margin-top:14px}
.main_box .book_list li .main{width:507px;font-size:14px;font-weight:400;color:#666;line-height:22px;text-align:justify;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;margin:40px 30px 0 30px}
.main_box .book_list li .read{display:block;width:112px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;text-align:center;line-height:32px;margin-top:56px}