*{padding:0;margin:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', Arial, sans-serif; color:rgb(51,51,51);-webkit-tap-highlight-color: transparent;}
a{font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', Arial, sans-serif; color:rgb(51,51,51);text-decoration: none;}
ol,ul,li{list-style: none}
img{vertical-align: middle;outline: 0 none;border:0 none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
body{background-color: #fff;line-height: 1em;}