{extend name="public/base"}
{block name="head"}
<title>{$cur.name}</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/active.css" />
{/block}
{block name="body"}
<div class="top">
        <div class="number">
            <p>{$user.money}</p>
            <p>书币余额</p>
        </div>
        <div class="none"></div>
        <img class="headimg" src="{$user.headimgurl}">
        <div class="info">
            <p>{$user.nickname}</p>
            <p class="small">ID:{:addZero($user['id'])}</p>
        </div>
    </div>

    <div class="main">
        <div class="active">
            <p class="time_title">活动时间</p>
            <p class="time_detail">{:date('Y-m-d H:i',$cur['start_time'])} ~ {:date('Y-m-d H:i',$cur['end_time'])}</p>
        </div>
        <h3>{$cur.name}</h3>
        <p class="get_number">共得{$cur.send_money}书币</p>
        <!-- 可以点击添加active -->
        <button class="btn active_btn" onclick="javascript:doActivityPay({$cur.id});">立即充值</button>
    </div>

    <p class="rules">*书币属于虚拟商品，充值后无法退款，请理解</p>
    <p class="rules">*客服：<a href="{:url('Qr/contact')}">点击联系</a><span>(咨询时提供ID:{:addZero($user['id'])})</span></p>
    <p class="rules">*工作时间：9:00－20:00</p>
{/block}