{extend name="public/base"}
{block name="head"}
<title>出错了</title>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/activity.css" />
{/block}
{block name="body"}
<div class="none">
    <div class="activeEndTs">
        <p>{$title}</p>
        <h4>{$sub_title}</h4>
    </div>
    <a href="/" class="gotoBook ripple">进入书城</a>
</div>
{/block}