{extend name="public/base"}
{block name="head"}
<title>{$book.name},{$chapter_title},国内最热门的免费小说阅读网</title>
<meta name="keywords" content="{$book.name},{$chapter_title},小说网,免费小说,书屋小说"/>
<meta name="description" content="{$book.name},{$chapter_title},{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/cartoon.css?v=1">
{/block}
{block name="body"}
    <div id="box" class="box white_box">
        <div class="top operetion">
        	<a href="{:my_url('chapter',['book_id'=>$book['id']])}"><img src="__INDEX__/images/content_top_1.png"></a>
            <p>{$chapter_title}</p>
            {eq name="book.type" value="1"}
            	<a href="/"><img src="__INDEX__/images/content_top_2.png"></a>
            {else /}
            	<a href="{:url('index/cartoon')}"><img src="__INDEX__/images/content_top_2.png"></a>
            {/eq}
        </div>
        <div class="main">
            {:getBlock($number['current'],$dir)}
        </div>
        <div style="height:50px;"></div>
        <div class="bottom operetion">
        	{gt name="number.prev" value="0"}
	            <div class="item" id="toPrev" onclick="javascript:checkBookChapter({$book['id']},{$number.prev});">
	                <img src="__INDEX__/images/content_bottom_1.png">
	                <p>上一话</p>
	            </div>
            {/gt}
            <a class="item" href="{:my_url('chapter',['book_id'=>$book['id']])}">
                <img src="__INDEX__/images/content_bottom_2.png">
                <p>目录</p>
            </a>
            <a class="item" onclick="javascript:doContentCollect('{$book.id}','{$is_collect}',this);">
            	{eq name="is_collect" value="yes"}
            		<img src="__INDEX__/images/content_bottom_3_a.png">
            	{else /}
            		<img src="__INDEX__/images/content_bottom_3.png">
            	{/eq}
                <p>收藏</p>
            </a>
            <a class="item" href="{:my_url('Comments/dosubmit',['book_id'=>$book['id']])}">
                <img src="__INDEX__/images/content_bottom_4.png">
                <p>评论</p>
            </a>
            {gt name="number.next" value="0"}
	            <div class="item" id="toNext" onclick="javascript:checkBookChapter({$book['id']},{$number.next});">
	                <img src="__INDEX__/images/content_bottom_5.png">
	                <p>下一话</p>
	            </div>
			{/gt}
        </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/jquery.cookie.js"></script>
<script type="text/javascript">
	function doContentCollect(book_id,flag,obj){
		var next_flag = 'yes',event = 'join';
		if(flag === 'yes'){
			next_flag = 'no';
			event = 'remove';
		}
		var data = {book_id:book_id,event:event};
		ajaxPost(U('Com/doCollect'),data,function(){
			$(obj).attr('onclick','javascript:doContentCollect("'+book_id+'","'+next_flag+'",this);');
			if(next_flag === 'yes'){
				$(obj).find('img').attr('src','/static/resource/index/images/content_bottom_3_a.png');
			}else{
				$(obj).find('img').attr('src','/static/resource/index/images/content_bottom_3.png');
			}
		});
	}
</script>
{/block}