{extend name="public/base"}
{block name="head"}
<title>书屋小说-免费网络小说,最好看的小说推荐</title>
<meta name="description" content="书屋小说小说排行榜提供最新、流行、经典、精品原创小说排行榜,涵盖:玄幻小说排行榜,奇幻小说排行榜,武侠小说排行榜,仙侠小说排行榜,都市小说排行榜,历史小说排行榜,军事小说排行榜,竞技小说排行榜,悬疑小说排行榜, 轻小说小说排行榜,免费小说排行榜,新书排行榜,完本小说排行榜,粉丝打赏排行榜">
<meta name="keywords" content="小说,人气榜单，排行榜,小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜">
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/bookLibrary.css">
{/block}
{block name="body"}
<!-- header -->
    <div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">榜单</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>

    </div>
    <div class="type">
        <!-- 状态分类 -->
        <form class="type_box">
            <div class="left">
            	<a {eq name="cate" value="1"}class="active" {else /}href="{:my_url('rank',['type'=>$type,'gender_type'=>$gender_type,'cate'=>1])}"{/eq}>热销榜</a>
            </div>
            <div class="right">
                <a {eq name="cate" value="2"}class="active" {else /}href="{:my_url('rank',['type'=>$type,'gender_type'=>$gender_type,'cate'=>2])}"{/eq}>新书榜</a>
                <a {eq name="cate" value="3"}class="active" {else /}href="{:my_url('rank',['type'=>$type,'gender_type'=>$gender_type,'cate'=>3])}"{/eq}>收藏榜</a>
                <a {eq name="cate" value="4"}class="active" {else /}href="{:my_url('rank',['type'=>$type,'gender_type'=>$gender_type,'cate'=>4])}"{/eq}>点击榜</a>
            </div>
        </form>
    </div>
    <div class="box">
        {:getBlock($block_name,'other')}
    </div>
{/block}
{block name="footJs"}

{/block}