{extend name="public/base"}
{block name="head"}
<title>{$book.name}_全文无弹窗免费阅读</title>
<meta name="keywords" content="{$book.name},作者:{$book.author}{$book.name}，{$book.name}全文无弹窗阅读,神章节标题免费阅读,女生,古装言情,穿越时空,书屋小说网"/>
<meta name="description" content="{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/detail.css?date=20200204">
{/block}
{block name="body"}
<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">详情</p>
        {eq name="book.type" value="1"}
        	<a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
        {else /}
        	<a href="/index/index/cartoon" class="header_index"><img src="__INDEX__/images/footer_3_a.png"></a>
        {/eq}
    </div>
    <!-- top -->
    <div class="box book_info">
        <div class="info">
            <img class="cover" src="{$book.cover}">
            <div class="right">
                <p class="title">{$book.name}</p>
                <p class="author">{empty name="book.author"}佚名{else /}{$book.author}{/empty}</p>
                <p class="status"><span>{eq name="book.over_type" value="1"}连载中{else /}已完结{/eq}</span>{eq name="book.type" value="1"}<i></i><span>{$book.word_number}字</span>{/eq}<i></i><span>{$book.hot_num}人阅读</span></p>
            </div>
        </div>
        <p class="main">{$book.summary}</p>
    </div>

    <!-- 目录 -->
    <div class="box catalog_box">
        <a href="{:my_url('chapter',['book_id'=>$book['id']])}" class="top">
            <p class="text">目录</p>
            <span class="chapter">共{$book.chapter_num}章</span>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
        {notempty name="book.chapter.end"}
        	<a class="catalog blue" onclick="javascript:checkBookChapter('{$book.id}','{$book.chapter.end.number}');">最新章节：{$book.chapter.end.name}</a>
        {/notempty}
        {notempty name="book.chapter.first"}
        	<a class="catalog"  onclick="javascript:checkBookChapter('{$book.id}','{$book.chapter.first.number}');">{$book.chapter.first.name}</a>
        {/notempty}
    </div>

    <!-- 打赏榜单 -->
    <div class="box reward">
        <a class="top">
            <p class="text">打赏榜单</p>
            <div class="btn" onclick="javascript:showReward();">
                <img src="__INDEX__/images/money.png">
                <span>我要打赏</span>
            </div>
        </a>
       	{notempty name="reward"}
       		<div class="list">
       		{volist name="reward" id="rv" key="rk"}
        		<div class="item">
	                <div class="head_box">
	                    <img class="head" src="{$rv.headimgurl}">
	                    {switch name="rk"}
	                    	{case value="1"}
	                    		<img class="crown" src="__INDEX__/images/first_number.png">
	                    		<img class="ranking" src="__INDEX__/images/first_bg.png">
	                    	{/case}
	                    	{case value="2"}
	                    		<img class="crown" src="__INDEX__/images/second_number.png">
	                    		<img class="ranking" src="__INDEX__/images/second_bg.png">
	                    	{/case}
	                    	{case value="3"}
	                    		<img class="crown" src="__INDEX__/images/third_number.png">
	                    		<img class="ranking" src="__INDEX__/images/third_bg.png">
	                    	{/case}
	                    {/switch}
	                </div>
	                <p class="name">{$rv.nickname}</p>
	                <p class="number">共打赏<span>{$rv.money}</span>书币</p>
	            </div>
            {/volist}
            </div>
        {else /}
        	<p class="empty-line">暂无打赏</p>
       	{/notempty}
    </div>
    <div class="box">
        <div class="top">
            <p class="text">热门评论<span>（{$comments.count}）</span></p>
            <a href="{:my_url('Comments/doSubmit',['book_id'=>$book['id']])}" class="btn">
                <img src="__INDEX__/images/money.png">
                <span>我要评论</span>
            </a>
        </div>
        {notempty name="comments.list"}
        <ul class="rate_box">
        	{volist name="comments.list" id="cv"}
	            <li class="reta_item">
	                <img class="headimg" src="{$cv.headimgurl}">
	                <div class="main">
	                    <div class="info">
	                        <div class="left">
	                            <p class="name">{$cv.nickname}</p>
	                            <p class="time">{$cv.create_time}</p>
	                        </div>
	                        {eq name="cv.is_zan" value="1"}
		                        <div class="right">
		                            <span class="number">{$cv.zan_num}</span>
		                            <span class="zan_icon active"></span>
		                        </div>
		                    {else /}
		                    	<div class="right" onclick="javascript:doZan('{$cv.id}',this);">
		                            <span class="number">{$cv.zan_num}</span>
		                            <span class="zan_icon"></span>
		                        </div>
	                        {/eq}
	                    </div>
	                    <p class="content">{$cv.content}</p>
	                </div>
	            </li>
            {/volist}
        </ul>
        <a href="{:my_url('Comments/index',['book_id'=>$book['id']])}" class="more">查看更多<img src="__INDEX__/images/next_left.png"></a>
        {else /}
        	<p class="empty-line">暂无评论</p>
        {/notempty}
    </div>
    {notempty name="qrcode"}
    <div class="box code_box">
        <p class="text">长按识别二维码联系客服</p>
        <img class="code" src="{$qrcode}">
        {gt name="user.id" value="0"}
        <p class="id">咨询请提供ID: {:addZero($user['id'])}</p>
        <button class="btn copy" data-clipboard-text="{$user.id}">点这里复制ID</button>
        <script type="text/javascript" src="/static/common/js/clipboard.min.js"></script>
        <script type="text/javascript">
        var clipboard=new Clipboard(".copy");clipboard.on("success",function(a){layMsg("复制成功!");a.clearSelection()});
        </script>
        {/gt}
    </div>
    {/notempty}

    <!-- footer -->
    <div class="btn_box">
    	{eq name="is_collect" value="yes"}
    		<p class="item remove" onclick="javascript:doCollect('{$book.id}','remove',this);">已在书架</p>
    	{else /}
    		<p class="item join" onclick="javascript:doCollect('{$book.id}','join',this);">加入书架</p>
    	{/eq}
    	{eq name="read_number" value="1"}
    		<a class="item start" onclick="javascript:checkBookChapter('{$book.id}',1);">开始阅读</a>
    	{else /}
    		<a class="item start" onclick="javascript:checkBookChapter('{$book.id}',{$read_number});">继续阅读</a>
    	{/eq}
    </div>
    <!-- 打赏弹窗 -->
    <div class="popup">
        <div class="popup_box">
            <div class="popup_top">
                <img class="money" src="__INDEX__/images/money.png">
                <span class="text">打赏</span>
                <span class="number">（书币余额:<font id="userMoney">{$user.money}</font>）</span>
                <span class="cancel" onclick="javascript:hideReward();">取消</span>
            </div>
            {:getBlock('reward','other')}
            <button class="btn" onclick="javascript:doReward('{$book.id}','{$user.id}');">立即打赏</button>
        </div>
        <div class="success">
            <img src="__INDEX__/images/success.png">
            <p class="lage_text">打赏成功</p>
            <p class="small_text">恭喜你打赏成功，返回继续阅读</p>
            <button class="back" onclick="javascript:hideReward();">返回继续阅读</button>
        </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript">
{eq name="is_share" value="yes"}
	doWeixinShare({$share_info|raw});
{/eq}
	var num = 1;
	function doCollect(book_id,thisClass,obj){
		var nextClass = thisClass === 'join' ? 'remove' : 'join';
		var nexttext = thisClass === 'join' ? '已在书架' : '加入书架';
		ajaxPost('/index/Com/doCollect',{book_id:book_id,event:thisClass},function(){
			$(obj).removeClass(thisClass).addClass(nextClass);
			$(obj).attr('onclick','javascript:doCollect('+book_id+',"'+nextClass+'",this);');
			$(obj).text(nexttext);
		});
	}
	
	function chooseGift(obj){
		var chooseSpan = $(obj).find('.choose_span');
		if(!chooseSpan.hasClass('active')){
			$(obj).parent('.choose_box').find('.choose_span').removeClass('active');
			chooseSpan.addClass('active');
			var money = Number($(obj).find('.price_num').text());
			var total_money = money * num;
			$('.total_price').text(total_money);
		}
	}
	
	function rewardInc(){
        num += 1
        $('#number').text(num);
        var obj = $('.choose_span.active').parents('li').find('.price_num');
        var money = obj ? Number(obj.text()) : 0;
        var total = num*money;
        $('.total_price').text(total);
	}
	
	function rewardDec(){
        if (num === 1) {
            return
        }
        num -= 1
        $('#number').text(num);
        var obj = $('.choose_span.active').parents('li').find('.price_num');
        var money = obj ? Number(obj.text()) : 0;
        var total = num*money;
        $('.total_price').text(total);
	}
	
	function doReward(book_id,uid){
		var chooseObj = $('.choose_span.active').parents('li');
		if(!chooseObj){
			layMsg('您尚未选中礼物');
			return false;
		}
		var money = Number(chooseObj.find('.price_num').text());
       if(Number(uid) !== NaN && Number(uid) > 0){
    	   var totalMoney = money*num;
    	   var userMoney = Number($('#userMoney').text());
    	   if(userMoney < totalMoney){
    		   layMsg('您的书币余额不足');
    		   return false;
    	   }
    	   var gift_key = chooseObj.find('input[name="gift_key"]').val();
    	   var data = {pid:book_id,gift_key:gift_key,count:num,money:totalMoney};
    	   ajaxPost('/index/Com/doReward',data,function(){
    		   $('.popup_box').hide();
    	        $('.success').fadeIn();
    	   });
       }else{
    	   layMsg('您尚未登录');
       }
	}
	
    function showReward(){
    	$('.popup').fadeIn();
        $('.popup_box').show();
        $('.success').hide();
    }

    function hideReward(type){
   		$('.popup').fadeOut();
        $('.popup_box').hide();
        $('.success').hide();
    }
</script>
{/block}