{extend name="public/base"}
{block name="head"}
<title>{$book.name},{$chapter_title},国内最热门的免费小说阅读网</title>
<meta name="keywords" content="{$book.name},{$chapter_title},小说网,免费小说,书屋小说"/>
<meta name="description" content="{$book.name},{$chapter_title},{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/content.css?t=20200229">
 <style type="text/css"> 
    body{ 
        -moz-user-select: none; /*火狐*/ 
        -webkit-user-select: none; /*webkit浏览器*/ 
        -ms-user-select: none; /*IE10*/ 
        -khtml-user-select: none; /*早期浏览器*/ 
        user-select: none; 
    } 
    .head_line{}
    .head_line a{font-size:.4rem;color:red;}
    </style>  
{/block}
{block name="body"}
<div id="box" class="box gray_box">
	<p class="head_line">
		<a href="/index">首页</a>
		<a href="/index/user/readhistory">阅读历史</a>
		<a href="/index/charge/index">充值</a>
		<a href="/index/book/category?type=1">更多书籍</a>
	</p>
    <p class="title">
        <span>{$chapter_title}</span>
        <a href="{:my_url('Com/complaint',['book_id'=>$book['id'],'number'=>$number['current']])}">反馈</a>
    </p>
    <div class="operation">
        <div class="left">
            <input id="white" type="radio" name="choosebg" value="white_box" hidden>
            <label for="white" class="white"></label>
            <input id="gray" type="radio" name="choosebg" value="gray_box" hidden>
            <label for="gray" class="gray"></label>
            <input id="green" type="radio" name="choosebg" value="green_box" hidden>
            <label for="green" class="green"></label>
            <input id="black" type="radio" name="choosebg" value="black_box" hidden>
            <label for="black" class="black">
                <img src="__INDEX__/images/moon.png">
            </label>
        </div>
        <div class="right">
            <span id="plus" onclick="javascript:incFont();">A+</span>
            <span id="reduce" onclick="javascript:decFont();">A-</span>
        </div>
    </div>
    <div class="book-content">
    	{:getBlock($number['current'],$dir)}
    </div>
    {notempty name="lineQrStr"}
    <div class="attention-line" onclick="javascript:lineAttention();">
    	<div class="line-text">
    		<p class="pname">{$page_title}</p>
    		<p class="psummary">关注后可每日签到，领取书币方便下次阅读</p>
    	</div>
    	<div class="line-btn">
    		<a href="javascript:void(0);">关注</a>
    	</div>
    </div>
    <div class="attention_dom" style="display:none;">
    	{$lineQrStr|raw}
    </div>
    {/notempty}
    <div class="catalog">
    	{gt name="number.prev" value="0"}
    		<a class="left" id="toPrev" onclick="javascript:checkBookChapter({$book['id']},{$number.prev});"><img src="__INDEX__/images/icon_left.png"><span>上一章</span></a>
    	{/gt}
        <a class="center" href="{:my_url('chapter',['book_id'=>$book['id']])}">目录</a>
        {gt name="number.next" value="0"}
        	<a class="right" id="toNext" onclick="javascript:checkBookChapter({$book['id']},{$number.next});"><span>下一章</span><img src="__INDEX__/images/icon_right.png"></a>
    	{/gt}
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/jquery.cookie.js"></script>
<!--<script type='text/javascript' src="__INDEX__/js/console.js"></script>-->
<script type="text/javascript">
	{eq name="is_share" value="yes"}
		doWeixinShare({$share_info|raw});
	{/eq}
	doSetPage();
	{notempty name="showQrStr"}
	layer.open({
	    content: '{$showQrStr|raw}'
	    , shadeClose: false
	    ,className :'chaseLayer'
	    ,style: 'background-color:#fff;color:#fff; border:none;border-radius:20px;width:80%;padding:0;margin:0;'
	});
	layerToClose();
	function layerToClose(){
		var num = parseInt($('.chaseLayer').find('#qrTime').text());
		if(num > 0){
			num --;
			$('.chaseLayer').find('#qrTime').text(num);
			setTimeout(function(){
				layerToClose();
			},999);
		}else{
			layer.closeAll();
		}
	}
	{/notempty}
	function lineAttention(){
		layer.open({
	        content: $('.attention_dom').html()
	        , shadeClose: false
	        ,className :'chaseLayer'
	        ,style: 'background-color:#fff;color:#fff; border:none;border-radius:20px;width:80%;padding:0;margin:0;'
	    });
	}
    $("input[name='choosebg']").on("change",function(){
        var bgClass = $("input[name='choosebg']:checked").val();
        $('#box').removeClass('white_box gray_box green_box black_box').addClass(bgClass);
        $.cookie('read_bg_class',bgClass);
    });
    
    function doSetPage(){
    	var bgClass = $.cookie('read_bg_class');
    	if(bgClass){
    		$('#box').removeClass('white_box gray_box green_box black_box').addClass(bgClass);
    	}
    	var fontSize = $.cookie('read_font_size');
    	if(fontSize){
    		fontSize = Number(fontSize);
    		var obj = $('.book-content>p');
    		obj.css("font-size",fontSize+'px');
        	obj.css("line-height",(fontSize+12)+'px');
    	}
    }

    function incFont(){
    	var obj = $('.book-content>p'),
    	fontSize = obj.css("font-size");
    	fontSize = Number(fontSize.split("px")[0]) + 1;
    	obj.css("font-size",fontSize+'px');
    	obj.css("line-height",(fontSize+12)+'px');
    	$.cookie('read_font_size',fontSize);
    }
    
    function decFont(){
    	var obj = $('.book-content>p'),
    	fontSize = obj.css("font-size");
    	fontSize = Number(fontSize.split("px")[0]) - 1
    	obj.css("font-size",fontSize+'px');
    	obj.css("line-height",(fontSize+12)+'px');
    	$.cookie('read_font_size',fontSize);
    }
</script>
{/block}