{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/catalog.css?date=20200216">
{/block}
{block name="body"}
	<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">目录</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
    </div>
    <div class="type">
        <p class="item">共{$total}章</p>
        {notempty name="list"}
        	<input type="checkbox" id="choose" onchange="javascript:showLayer(this);" hidden>
        	<label for="choose" class="choose item">选章({$list[0]['title']}) <span></span></label>
        {/notempty}
    </div>
    <div class="popup">
        <ul class="content">
        	{notempty name="list"}
        		{volist name="list" id="tv" key="tk"}
            		<li {eq name="tv.is_check" value="yes"}class="active"{/eq} data-id="{$tv.id}" onclick="javascript:doChoose(this);">{$tv.title}</li>
        		{/volist}
        	{/notempty}
        </ul>
    </div>
    {notempty name="list"}
    	{volist name="list" id="v"}
    		<ul class="list" id="{$v.id}">
    			{volist name="v.list" id="val"}
    				<li class="item" onclick="javascript:checkBookChapter('{$book_id}','{$val.number}');">
			            <span class="name">{$val.name}</span>
		            	{gt name="val.money" value="0"}
		            		<img class="member" src="__INDEX__/images/masonry.png">
		            		<span class="money">&nbsp;{$val.money}</span>
		            	{/gt}
			        </li>
    			{/volist}
    		</ul>
    	{/volist}
    {/notempty}
{/block}
{block name="footJs"}
<script type="text/javascript">
	function showLayer(obj){
		var value = $(obj).is(":checked")
        if(value){
            $('.popup').fadeIn()
        }else{
            $('.popup').fadeOut()
        }
	}
	function doChoose(obj){
		var curId = $(obj).attr('data-id'),
		title = $(obj).text();
		$('.choose').text('选章('+title+')');
		$(obj).addClass('active').siblings().removeClass('active');
		$('#choose').click();
		scrollTo(curId);
	}
	function scrollTo(ID) {
        var body = $('html,body');
        var scroll_1 = $('#'+ID).first();
        if(scrollTo.length) {
            body.animate({scrollTop:scroll_1.offset().top - 110 }, 1000);
        }
    }
    
</script>
{/block}