{extend name="public/base"}
{block name="head"}
<title>小说,小说网-纵横中文网|最热门的免费小说网</title>
<meta name="keywords" content="小说,小说网,免费小说,纵横中文网"/>
<meta name="description" content="纵横中文网,最热门的免费小说网站,提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚纵横,最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/publish.css">
{/block}
{block name="body"}
<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">限时免费</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
    </div>
    <div class="box">
        <div class="column_content"></div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript">
var is_end = false,page=1;
getData();
$(window).scroll(function() {
	var scrollTop = $(this).scrollTop();
	var scrollHeight = $(document).height();
	var windowHeight = $(this).height();
	if (scrollTop + windowHeight == scrollHeight) {
		if(!is_end){
   			getData();
		}
	}
});
function getData(){
	if(!is_end){
		is_end = true;
		ajaxPost('',{page:page},function(list){
			console.log(list);
			if(list){
				$.each(list,function(i,item){
					var str = '';
					str += '<a href="'+item.info_url+'" class="item">';
					str += '<img class="cover" src="'+item.cover+'">';
					str += '<div class="right">';
					str += '<p class="name">'+item.name+'</p>';
					str += '<p class="main">'+item.summary+'</p>';
					str += '<span class="limitFree">限时免费:'+item.start_date+'~'+item.end_date+'</span>';
					str += '</div>';
					str += '</a>';
					$('.column_content').append(str);
				});
				page++;
				is_end = false;
			}
		});
	}
}
</script>
{/block}