{extend name="public/base"}
{block name="head"}
<title>小说书库,最新原创小说大全,书屋小说</title>
<meta name="description" content="书屋小说网为最具影响力的原创小说门户,也是最有潜力的网络小说网站,书海书屋网每天拥有海量免费小说更新,包括玄幻小说,穿越小说,都市小说,网游小说,武侠小说,修真小说,恐怖小说,军事小说,历史小说等各类热门小说在线阅读,我们致力于汇集八方作者,共享文学盛事。">
<meta name="keywords" content="小说,好看的小说,小说网,小说推荐,免费小说">
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/bookLibrary.css">
{/block}
{block name="body"}
<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">书库</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
    </div>
    <div class="type">
        {:createCategoryHtml($option)}
    </div>
    <div class="box hide">
        <div class="column_content"></div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/book.category.js"></script>
{/block}
