{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/recharge.css">
{/block}
{block name="body"}
<div class="top">
	<p class="top_text"><span>我的ID：{:addZero($uid)}</span><i></i><span>账户余额（书币）</span></p>
	<p class="top_number">{$money}</p>
</div>
<div class="content">
	{notempty name="charge"}
	{volist name="charge" id="v"}
	<div onclick="javascript:doMenuCharge(this,'{$get.book_id}');">
		<input type="radio" id="ch_{$v.id}" name="charge" value="{$v.id}" {eq name="v.is_check" value="1"}checked="checked"{/eq} hidden>
		<label for="ch_{$v.id}">
			{eq name="v.type" value="1"}
			<p class="price">{$v.money}元</p>
			<p class="book_currency">{$v.content.coin}书币</p>
			{else /}
			<p class="price"><span><img src="__INDEX__/images/masonry.png"></span>
				{switch name="v.content.vip_type"}
				{case value="1"}单日VIP{/case}
				{case value="2"}月度VIP{/case}
				{case value="3"}季度VIP{/case}
				{case value="4"}半年VIP{/case}
				{case value="5"}年费VIP{/case}
				{case value="6"}终身VIP{/case}
				{/switch}
			</p>
			<p class="book_currency">{$v.money}元</p>
			{switch name="v.content.vip_type"}
			{case value="1"}<p class="book_currency">（24小时内免费看）</p>{/case}
			{case value="2"}<p class="book_currency">（30天内免费看）</p>{/case}
			{case value="3"}<p class="book_currency">（3个月内免费额看）</p>{/case}
			{case value="4"}<p class="book_currency">（6个月内免费看）</p>{/case}
			{case value="5"}<p class="book_currency">（全年免费看）</p>{/case}
			{case value="6"}<p class="book_currency">（终身免费看）</p>{/case}
			{/switch}
			{/eq}
			{notempty name="v.content.send_coin"}
			<p class="book_currency">多送{$v.content.send_coin}书币</p>
			{/notempty}
			{eq name="v.is_hot" value="1"}
			<p class="recommend_icon">推荐</p>
			{/eq}
		</label>
	</div>
	{/volist}
	<button class="btn" onclick="javascript:doCharge('{$get.book_id}');">立即充值</button>
	{/notempty}
</div>
<p class="introduce">
	一、1元=100书币，书币属于虚拟商品，一经购买不得退换。<br>
	二、充值后书币到账可能有延迟，1小时未到账请与联系客服。<br><a href="{:url('Qr/contact')}">点击这里联系客服</a><br>
	三、在线工作时间：周一至周六09:00-22:00。
</p>
{:createFooterHtml(4)}
{/block}
{block name="footJs"}
<script type="text/javascript">

	function doMenuCharge(obj,book_id){
		var charge_id = $(obj).find('input[name="charge"]').val();
		var data = {charge_id:charge_id,book_id:book_id};
		ajaxPost('',data,function(d){
			window.location.href = d.url;
		});
	}

	function doCharge(book_id){
		var charge_id = $("input[name='charge']:checked").val();
		var data = {charge_id:charge_id,book_id:book_id};
		ajaxPost('',data,function(d){
			window.location.href = d.url;
		});
	}
</script>
{/block}