{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/feedback.css">
{/block}
{block name="body"}
<p class="title">请选择反馈内容</p>
    <div class="list">
        <input type="radio" class="chooseType" name="chooseType" id="1" value="1" hidden>
        <label for="1">
            <span class="name">色情低俗</span>
            <span class="choose"></span>
        </label>
        <input type="radio" class="chooseType" name="chooseType" id="2" value="2" hidden>
        <label for="2">
            <span class="name">政治敏感</span>
            <span class="choose"></span>
        </label>
        <input type="radio" class="chooseType" name="chooseType" id="3" value="3" hidden>
        <label for="3">
            <span class="name">违法犯罪</span>
            <span class="choose"></span>
        </label>
        <input type="radio" class="chooseType" name="chooseType" id="4" value="4" hidden>
        <label for="4">
            <span class="name">广告骚扰</span>
            <span class="choose"></span>
        </label>
        <input type="radio" class="chooseType" name="chooseType" id="5" value="5" hidden>
        <label for="5">
            <span class="name">无法继续阅读</span>
            <span class="choose"></span>
        </label>
        <input type="radio" class="chooseType" name="chooseType" id="6" value="6" hidden>
        <label for="6">
            <span class="name">标题或封面图片低俗</span>
            <span class="choose"></span>
        </label>
        <input type="radio" class="chooseType" name="chooseType" id="7" value="7" hidden>
        <label for="7">
            <span class="name">其他</span>
            <span class="choose"></span>
        </label>
    </div>
    <p class="title">投诉原因描述</p>
    <div class="box">
        <input id="reason" type="text" placeholder="请输入投诉内容(选填)" maxlength="100">
        <span class="number">0/100</span>
    </div>
    <p class="title">请留下您的联系方式，方便我们核实情况</p>
    <div class="box">
        <input type="number" id="phone" placeholder="请输入您的手机号(选填)" maxlength="11">
    </div>
    <button class="btn" onclick="javascript:doSubmit('{$book_id}','{$number}');">确定提交</button>
{/block}
{block name="footJs"}
<script>
    $("#reason").on('keyup', function () {
        var num = $(this).val().length
        $('.number').text(num+"/100")
    });
    function doSubmit(book_id,number){
    	var type = $('input[name="chooseType"]:checked').val();
    	if(isNaN(parseInt(type))){
    		layMsg('您尚未选择反馈类型');
    		return false;
    	}
    	var content = $('#reason').val();
    	var phone = $('#phone').val();
    	if(phone.length > 0 && !(/^1[3456789]\d{9}$/.test(phone))){
    		layMsg('手机号格式不规范');
    		return false;
    	}
    	var data = {type:type,content:content,phone:phone,book_id:book_id,number:number};
    	ajaxPost('',data,function(){
    		layMsg('提交成功');
    		setTimeout(function(){
    			window.history.go(-1);
    		},1500);
    	});
    }
    
</script>
{/block}