{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/rateList.css">
{/block}
{block name="body"}
<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">热门评论</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
    </div>
    <!-- 热门评论 -->
    <div class="box">
        <ul class="rate_box"></ul>
    </div>
    <p class="more" style="display:none;">正在加载更多评论...</p>
{/block}
{block name="footJs"}
<script type="text/javascript">
var page = 1,is_end = false;
var data = {book_id:'{$book_id}'};
getData();
$(window).scroll(function() {
	var scrollTop = $(this).scrollTop();
	var scrollHeight = $(document).height();
	var windowHeight = $(this).height();
	if (scrollTop + windowHeight == scrollHeight) {
		if(!is_end){
   			getData();
		}
	}
});
function getData(){
	if(!is_end){
		is_end = true;
		$('.more').show();
		data['page'] = page;
		ajaxPost('',data,function(list){
			if(list){
				$('.more').hide();
				$.each(list,function(i,item){
					var str = '';
					str += '<li class="reta_item">';
					str += '<img class="headimg" src="'+item.headimgurl+'">';
					str += '<div class="main">';
					str += '<div class="info">';
					str += '<div class="left">';
					str += '<p class="name">'+item.nickname+'</p>';
					str += '<p class="time">'+item.create_time+'</p>';
					str += '</div>';
					if(parseInt(item.is_zan) === 1){
						str += '<div class="right">';
						str += '<span class="number">'+item.zan_num+'</span>';
						str += '<span class="zan_icon active"></span>';
					}else{
						str += '<div class="right" onclick="javascript:doZan('+item.id+',this);">';
						str += '<span class="number">'+item.zan_num+'</span>';
						str += '<span class="zan_icon"></span>';
					}
					str += '</div>';
					str += '</div>';
					str += '<p class="content">'+item.content+'</p>';
					str += '</div>';
					str += '</li>';
					$('.rate_box').append(str);
				});
				page++;
				is_end = false;
			}else{
				$('.more').text('已加载完成所有评论');
			}
		});
	}
}
</script>
{/block}