{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/rate.css">
{/block}
{block name="body"}
	<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">发布评价</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
    </div>

    <div class="box">
        <img class="cover" src="{$book.cover}">
        <div class="right">
            <p class="name">{$book.name}</p>
            <p class="status">{eq name="book.over_type" value="1"}连载中{else /}已完结{/eq}</p>
        </div>
    </div>
    <textarea id="rate" placeholder="请留下您的评论..."></textarea>
    <button class="btn" onclick="javascript:doComments('{$book.id}');">提交</button>
{/block}
{block name="footJs"}
<script type="text/javascript">
function doComments(book_id){
	var content = $('#rate').val();
	if(content.length > 0){
		var data = {pid:book_id,content:content};
		ajaxPost('',data,function(){
			layMsg('提交成功');
			setTimeout(function(){
				window.history.go(-1);
			},1000);
		});
	}
}
</script>
{/block}