{extend name="public/base"}
{block name="head"}<title>{$title}</title>{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/agree.css?v=1">
{/block}
{block name="body"}
    <!-- header -->
    <div class="header">
    	{eq name="is_back" value="yes"}
       		<img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        {/eq}
        <p class="header_title">{$title}</p>
    </div>
    <div class="content">
    	{:getBlock($key,'other')}
    </div>
{/block}
