{extend name="public/base"}
{block name="head"}<title>{$title}</title>{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/agree.css">
{/block}
{block name="body"}
    <!-- header -->
    <div class="header">
        {eq name="is_back" value="yes"}
       		<img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        {/eq}
        <p class="header_title">隐私政策</p>
    </div>

    <div class="main">
        <p>欢迎您使用书屋小说软件及服务！</p>
        <p class="title">为使用中文在线数字出版集团股份有限公司（以下简称“中文在
            线”）提供的书屋小说软件及服务（以下简称“本软件”、“书屋小
            说”或“本服务”），您应当阅读并遵守 《书屋小说用户个人信息保护及隐私政策协议》 (以下简称“本协议”）。
        </p>
        <p>请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责
            任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或
            不接受。 限制、免责条款可能以加粗形式提示您注意。 您的使用、登录等行为即视为您已阅读并同意上述协议的约束。
        </p>
        <p>本协议下的条款可由中文在线随时变更，用户须定期审阅本协
            议。协议条款一旦发生变动，中文在线将会在本页面进行更新，并在
            书屋小说相关的页面上提示变更内容。变更后的协议一经公布即有效
            代替原来的协议。 如用户在本协议变更后继续使用书屋小说软件及服务，即视作用户已完全同意变更后的协议。用户可随时在本页面查阅最新用户个人信息保护及隐私政策。
        </p>
        <p>您有违反本协议的任何行为时，中文在线有权依照违反情况，随
            时单方限制、中止或终止向您提供本服务，并有权追究您的相关责
            任。
        </p>
        <p>如果您未满18周岁，请在监护人的陪同下阅读本协议及其他上述协议，并事先取得您的家长或法定监护人的同意。 若您是未成年人的监护人，当您对您所监护的未成年人的个人信息有相关疑问时，请通过客服与我们联系。
        </p>
        <p class="title">一、定义
        </p>
        <p>1.1
            书屋小说软件：是指书屋小说的经营者中文在线向用户提供的读书工具（以下简称＂书屋小说＂），支持导入用户设备的本地和软件内置书城书籍的阅读，同时为用户提供包括但不限于书籍推荐、章评、好友分享等功能或内容的软件许可及服务的客户端软件。
        </p>
        <p>1.2用户：是指启用、浏览或上传数据至书屋小说服务的用户，在本协议中更多地称为“您”。
        </p>
        <p>1.3其他用户：是指除用户本人外与书屋小说服务相关的其他书屋小说用户。
        </p>
        <p class="title">二、协议的范围
        </p>
        <p>2.1本协议是您与中文在线之间关于您在下载、安装、使用、复
            制本软件中涉及用户个人信息保护及隐私政策等相关事宜所订立的协议。
        </p>
        <p>2.2本协议内容同时包括中文在线可能不断发布的关于用户个人
            信息保护及隐私政策的相关协议、声明、业务规则及公告指引等内容
            （以下统称为“专项规则”）。上述内容一经正式发布，即为本协议不
            可分割的组成部分，您同样应当遵守。
        </p>
        <p class="title">三、用户个人信息保护及隐私政策
        </p>
        <p>3.1您使用本服务的部分功能前需要有一个成功注册的书屋小说账号或QQ账户或微信账户或微博账户，并获得该帐户的授权，授权内容包括但不限于：获得该帐户的相关信息（昵称、头像、性别、地
            区）等。对于您的帐户信息，中文在线将采用专业加密存储与传输方
            式，保障信息安全，不会擅自收集、使用、透露或公开。您有责任妥
            善保管您的帐户信息及帐户密码的安全，因您自身的原因导致帐户及
            密码泄漏，而造成的本服务下相关信息的泄露、篡改、删除等后果，
            中文在线不承担任何责任。
        </p>
        <p>3.2关于您使用账号的具体规则，请遵守相关账号使用协议（包括但不限于《书屋小说软件许可及服务协议》）以及中文在线为此发布的其它专项规则。
        </p>
        <p>3.3为了向您提供我们的服务，如售后服务和客户支持等，我们会要求您提供向您提供服务所必需的个人信息（我们将会在本隐私政策中，向您明示收集、使用个人信息的目的、方式、范围、保存期限、
            和地点，并在获取您的同意后进行信息采集）。如果您不提供个人信
            息，我们可能无法向您提供我们的产品或服务。 对本协议的同意将被视为同意我们收集您的个人信息，并在法律规定及本协议约定的范围内进行使用。
        </p>
        <p>3.3.1收集，使用信息的目的：我们可能会将您的个人信息用于下列目的：（1)提供、处理、维护、改善、开发我们的商品和／或提供给您的服务，包括售后服务和客户支持，以及通过设备提供的服务；（2)与您就您的设备、服务或任何普通查询（例如更新、客户咨询支持、我们活动的相关信息、通知）等进行交流；（3)允许您在书屋小说平台内公共讨论区上发表评论；（4)分析和开发与我们产品及服务的使用相关的统计信息，以更好地改进我们的产品和服务；（5)向提供与您更加相关的广告以替代普遍投放的广告；（6)储存并维护与您相关的信息，用于我们运营业务或履行法律义务；（7)在中文在线其他网站及客户端同步存储您的账户使用信息；（8)如发现您的信息有误或疑问，您可以联系我们的在线客服要求更正。
        </p>
        <p>3.3.2收集、使用信息的范围
        </p>
        <p>3.3.2.1我们收集以下各类信息：
        </p>
        <p>（1)您在注册帐户时填写的信息（例如：昵称、手机号码等）、
            您在使用服务时上传的信息（例如：姓名、性别、头像、电子邮箱地
            址所处地区、生日、收货地址等）。
        </p>
        <p>（2)您通过我们的客服或参加我们举办的活动时所提交的信息
            以及我们在您使用服务时获取的信息（例如：设备、软件、IP地址、
            位置、服务日志、通讯日志等）。
        </p>
        <p>（3)我们的部分服务可能需要您提供特定的个人敏感信息（＊）
            来实现特定功能。 若您选择不提供该类信息，则可能无法正常使用服务中的特定功能，但不影响您使用服务中的其他功能。 若您主动提供您的个人敏感信息，即表示您同意我们按本政策所述目的和方式来处理您的个人敏感信息。
        </p>
        <p class="title">＊个人敏感信息是指一旦泄露、非法提供或滥用可能危害人身和财产
            安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人
            信息。例如，个人敏感信息包括身份证件号码、个人生物识别信息、
            银行账号、通信内容、健康生理信息等。
        </p>
        <p class="title">用户在使用第三方账户登录书屋小说使用服务时，会被自动收集该第
            三方账户已被明示授权的个人信息（包括但不限于获得该帐户的公开
            信息、昵称、头像等）。此外用户在使用书屋小说的部分功能或服务
            （包括售后服务和客户支持），提交申请时需配合提供相关个人信
            息，如参加抽奖活动，可能会被要求提供手机号码、收件地址等信
            息。
        </p>
        <p class="title">如您发现我们收集、使用您个人信息的行为，违反了法律法规或违反
            了与您的约定，您可以联系在线客服要求删除相应的信息。
        </p>
        <p>3.3.2.2对于使用安卓系统的用户，您在使用本软件时，为提供、
            处理、维护改善、开发我们的商品和／或提供给您的服务之目的，本
            软件可能获取您终端设备的如下权限：
        </p>
        <p>I允许程序改变WiFi状态
        </p>
        <p>I允许程序写入外部存储，如SD卡上写文件
        </p>
        <p>I允许程序访问网络连接
        </p>
        <p>I允许程序获取网络信息状态，如当前的网络连接是否有效
        </p>
        <p>I允许程序获取当前WiFi接入的状态以及WLAN热点的信息
        </p>
        <p>I允许程序访问电话状态
        </p>
        <p>I允许程序读取或写入系统设置
        </p>
        <p>I允许程序振动
        </p>
        <p>I创建快捷方式权限
        </p>
        <p>I删除快捷方式权限
        </p>
        <p>I允许程序唤醒机器
        </p>
        <p>I允许程序读取系统底层日志
        </p>
        <p>I允许程序录制声音通过手机或耳机的麦克
        </p>
        <p>I从setting中读取快捷方式信息的权限
        </p>
        <p>I读取外部存储设备权限
        </p>
        <p>I请求访问使用照相设备，支持扫描二维码
        </p>
        <p>I允许程序改变网络连接状态
        </p>
        <p>I允许程序挂载、反挂载外部文件系统
        </p>
        <p>I允许程序在手机屏幕关闭后后台进程仍然运行
        </p>
        <p>I允许程序获取当前或最近执行的任务信息
        </p>
        <p>I为使用微信账号登录之目的获取用户信息（包括账号的昵称和
            头像等）；
        </p>
        <p>I为使用用户微博信息分享之目的获取用户信息（包括账号的昵
            称和头像等）；
        </p>
        <p>I为使用QQ账号登录之目的获取用户信息（包括账号的昵称和头像等）；
        </p>
        <p>I为使用书屋小说账号登录之目的获取用户信息（包括账号的昵称和头像等）；
        </p>
        <p>I需允许程序获取摄像头权限；
        </p>
        <p>I三星分屏权限。
        </p>
        <p class="title">3.3.2.3对于使用iOS的用户，您在使用本软件时，为提供、处理、维护、改善、开发我们的商品和／或提供给您的服务之目的，本软件可能获取您终端设备的如下权限：
        </p>
        <p>I需要您的同意才能访问相册权限；
        </p>
        <p>I需要您的同意才能使用相机权限，支持扫描二维码；
        </p>
        <p>I需要您的同意才能使用网络权限；
        </p>
        <p>I需要您的同意才能使用通知（标记、声音、横幅）权限；
        </p>
        <p>I为使用微信账号登录之目的获取用户信息（包括账号的昵称和
            头像等）；
        </p>
        <p>I为使用用户微博信息分享之目的获取用户信息（包括账号的昵称和头像等）；</p>
        <p>I允许程序获取网络信息状态，如当前的网络连接是否有效</p>
        <p>I允许程序在手机屏幕关闭后后台进程仍然运行</p>
        <p>I需要您的同意才能使用摄像头权限；</p>
        <p>I为使用QQ账号登录之目的获取用户信息（包括账号的昵称和头像等）；</p>
        <p>I为使用书屋小说账号登录之目的获取用户信息（包括账号的昵称和头像等）；</p>
        <p>3.3.2.4为用户提供个性化和定制化的服务而收集、存储、使用用
            户的昵称、偏好、收藏、设备IMEI号等。</p>
        <p>3.3.2.5为用户提供对账和资产保护等服务而收集、存储、使用用
            户的购买记录、充值记录等。</p>
        <p>3.3.3使用及保护信息的方株式：</p>
        <p>3.3.3.1保护用户个人信息是中文在线的一项基本原则，中文在线
            将会采取合理的措施保护用户的个人信息。 除法律法规规定或本协议另有约定的情形外，未经用户许可中文在线不会向第三方公开、透露用户个人信息。中文在线对相关信息采用专业加密存储与传输方式，</p>
        <p class="title">保障用户个人信息的安全。        </p>
        <p>3.3.3.2中文在线将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。 仅为实现外部处理的目的、或随着我们业务的持续发展，当发生合并、收购、资产转让等交易时，我们可能会与第三方合作伙伴（第三方服务供应商、承包商、代理、广告合作伙伴、应用开发者等）（他们可能并非位于您所在的法域）分享您的个人信息，让他们按照我们的说
            明、隐私协议以及其他相关的保密和安全措施来为我们处理上述信
            息。如我们与上述第三方分享您的信息，我们将会采用加密、匿名化
            处理等手段保障您的信息安全。
            </p>
        <p>3.3.3.3我们会将所收集到的信息用于大数据分析。例如，我们将
            收集到的信息用于分析形成不包含任何个人信息的行业洞察报告等。
            我们可能对外公开并与我们的合作伙伴分享经统计加工后不含身份识别内容的信息，用于了解用户如何使用我们服务或让公众了解我们服务的总体使用趋势。 未经您的同意，中文在线不会向中文在线以外的任何公司、组织和个人披露您的个人信息，但法律法规另有规定或本协议另有约定的除外。
            </p>
        <p>3.3.3.4您理解并同意，在不透露单个用户隐私资料的前提下，我
            们有权对整个用户数据库进行技术分析并对已进行分析、整理后脱敏
            的用户数据库进行商业上的利用。
            </p>
        <p>3.4您理解并同意，本软件的某些功能可能会让第三方知晓用户的信息，例如：用户自行将相关内容分享至第三方产品／平台时会使第三方知晓您的一些信息，包括但不限于QQ号、QQ昵称、QQ头像、
            微信昵称、微信头像、分享内容等；而且，分享后您所分享的信息会
            在您分享的产品／平台（包括但不限于QQ、微信及其他平台）显示。
            在该产品／平台上第三方可以根据各自产品／平台的设定查看您的信息，包括但不限于QQ号、QQ昵称、QQ头像、微信昵称、微信头
            像、分享内容。如果您不愿意让第三方知晓您的信息，请您不要使用
            本软件的这些功能； 您使用本软件的这些功能视为您同意第三方知晓您的这些信息。
            </p>
        <p>3.5您理解并同意，在使用本软件的一些场景中，包括但不限于
            参加抽奖活动时我们需要收集您的手机号码、收件地址等信息以便为
            您提供如寄送奖品等服务，我们会在收集信息页面请您配合提供相关
            个人信息，如果您拒绝提供，我们可视为您自愿放弃此项服务。
            </p>
        <p>3.6您理解并同意，为了更好地为您提供服务，我们可以在您书屋
        </p>
        <p class="title">小说账户下关联该账户在中文在线其他网站及客户端（包括但不限于
            书屋小说、四月天客户端、汤圆创作客户端、泛读客户端等）的数据
            记录（如购买记录、消费记录、书架内容），同样，中文在线也可将
            您在书屋小说的前述数据记录关联至在中文在线其他网站及客户端（包括但不限于书屋小说、四月天客户端、泛读客户端等）上的该账
            户上。
            </p>
        <p>3.7您可以在使用我们服务的过程中，访问、修改和删除您提供的注册信息和其他个人信息，如有疑问，也可通过客服与我们联系。
        </p>
        <p>3.8【我们存储信息的地点、期限】
        </p>
        <p>我们遵守法律法规的规定，将境内收集的用户个人信息存储于境
            内。
            </p>
        <p>一般而言，我们仅为实现目的所必需的最短时间保留您的个人信
            息。但在下列情况下，我们有能因需符合法律要求，更改个人信息的
            存储时间：
            </p>
        <p>·为遵守适用的法律法规等有关规定；
        </p>
        <p>·为遵守法院判决、裁定或其他法律程序的规定；
        </p>
        <p>·为遵守相关政府机关或法定授权组织的要求；
        </p>
        <p>·我们有理由确信需要遵守法律法规等有关规定；
        </p>
        <p>·为执行相关服务协议或本政策、维护社会公共利益，为保护们的客户、我们或我们的关联公司、其他用户或雇员的人身财产安全或其他合法权益所合理必需的用途。
        </p>
        <p>·当我们的产品或服务发生停止运营的情形时，我们将采取例如，
            推送通知、公告等形式通知您，并在合理的期限内删除或匿名化处理
            您的个人信息。
            </p>
        <p class="title">四、通知和送达
        </p>
        <p>4.1本协议项下所有的通知均可通过本软件重要页面公告、电子
            邮件、短信或常规的信件传送等方式进行； 该等通知于发送之日视为已送达收件人。
            </p>
        <p class="title">五、其他
        </p>
        <p>5.1您使用本软件即视为您已阅读并同意受本协议的约束。中文
            在线有权在必要时修改本协议条款。您可以在本软件的最新版本中查
            阅相关协议条款，中文在线亦会在本软件内显著地方公示。本协议条
            款变更后，如果您继续使用本软件，即视为您已接受修改后的协议。
            如果您不接受修改后的协议，应当停止使用本软件。
            </p>
        <p>5.2本协议签订地为中华人民共和国北京市东城区。
        </p>
        <p>5.3本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
        </p>
        <p>5.4若您和中文在线之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。
        </p>
        <p>5.5本协议所有条款的标题仅为阅读方便，本身并无实际涵义，
            不能作为本协议涵义解释的依据。
            </p>
        <p>5.6本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。
        </p>
        <p>5.7如您对本政策存在任何疑问，或对于您的个人信息处理存在任何投诉、意见，请通过以下渠道联系我们：
        </p>
        <p>1.书屋小说APP一＞我的一在线客服。（正文完）
        </p>
        <p class="title">六、注销账号
        </p>
        <p>您可以在［我的］－［帮助中心］－［账户］－［如何注销账户］
            中，按提示进行账号注销。有关注销的流程和内容，请参见 《书屋用户协议》中［注销协议］。您知悉并理解，注销账号的行为是不可逆的行为，当您注册账号后，我们将停止为您提供产品或服务，同时删除您的相关信息或进行匿名化处理，但法律法规另有规定的除外。
            特别声明
            </p>
        <p>鉴于：我国《合同法》第39条规定：采用格式条款订立合同的，
            提供格式条款的一方应当遵循公平原则确定当事人之间的权利和义
            务，并采取合理的方式提请对方注意免除或者限制其责任的条款，按
            照对方的要求，对该条款予以说明。
            </p>
        <p>中文在线在此依法做出特别声明如下：
        </p>
        <p>中文在线采取合理的方式提请用户注意的义务将通过如下方式实现：在本协议中中文在线以明确的足以引起用户注意的加重字体、斜体下划线、颜色标记等合理方式提醒用户注意相关条款（需要强调
            的是，还包括用户应特别注意任何未明确标记的含有“不承担”、“免
            责”、“不得”等形式用语的条款），该等条款的确认将导致用户在特
            定情况下的被动、不便、损失，请用户在确认同意本协议之前再次阅读上述条款。双方确认上述条款非属于 《合同法》第40条规定的“免
            除其责任、加重对方责任、排除对方主要权利的”的条款。
            </p>
            <p>用户如有任何需要说明条款的要求，请立即停止使用服务，同时
                立即联系本软件官方客服人员，若用户未发送内含说明条款要求的邮
                件至本软件官方客服人员而选择同意该协议，则双方在此确认中文在
                线已依法履行了根据用户要求对相关条款进行说明的法定义务，中文
                在线已给予用户充足的时间与充分的选择权来决定是否缔结本协议。
                </p>
            <p>用户确认已经充分阅读本协议第3.1、3.3、3.3.1,3.3.2
                3.3.3.4,3.4,3.5,3.6,3.7,5.1,5.2、5.3、5.4条款，明确理解
                以上协议条款的含义，完全注意并同意了本协议所有条款的合法性及
                有效性。
                </p>
            <p class="bottom">Copyright2020中文在线版权所有
            </p>
    </div>
{/block}
{block name="footJs"}
<script>
    $('.btn').on("click", function () {
        $('.err_popup').css("display", "flex")
    })
    $('#again').on("click", function () {
        $('.err_popup').css("display", "none")
    })
</script>
{/block}