{extend name="public/base"}
{block name="head"}<title>{$title}</title>{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/agree.css">
{/block}
{block name="body"}
    <!-- header -->
    <div class="header">
    	{eq name="is_back" value="yes"}
       		<img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        {/eq}
        <p class="header_title">用户协议</p>
    </div>
    <p class="content">
        <span>书屋小说软件许可及用户服务协议 </span><br>
        欢迎您使用书屋小说产品及服务！<br>
为使用中文在线数字出版集团股份有限公司（以下简称“中文在线”）提供的书屋小说服务（以下简称“书屋小说”或“本服务”），您应当阅读并遵守《书屋用户协议》（以下简称“本协议”）以及书屋小说的各项制度规范等。请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。 限制、免责条款可能以加粗形式提示您注意。<br>
除非您已阅读并接受本协议所有条款，否则您无权使用本服务。您的使用、登录等行为即视为您已阅读并同意上述协议的约束。<br>
本协议下的条款可由中文在线随时变更，用户须定期审阅本协议。 协议条款一旦发生变动，中文在线将会在书屋小说相关的页面上提示变更内容，变更后的协议在相关的页面上公布即有效代替原来的协议。用户如不同意中文在线对本协议所作的任何变更，应立即停止使用中文在线提供的书屋小说服务。如用户在本协议变更后继续使用书屋小说服务，即视作用户已完全同意变更后的协议。用户可随时前往本服务内“账号登录”界面查阅最新协议。<br>
您有违反本协议的任何行为时，中文在线有权依照违反情况，随时单方限制、中止或终止向您提供本服务，并有权追究您的相关责任。<br>
如果您未满18周岁，请在监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。<br>
一、定义<br>
1.1 书屋小说：是指书屋小说的经营者中文在线向用户提供的读书工具（以下简称＂书屋小说＂），支持导入用户设备的本地文档和软件内置书城书籍的阅读，同时为用户提供包括但不限于书籍推荐、书评、书籍分享等功能或内容的服务。<br>
1.2用户：是指启用、浏览或上传数据至书屋小说服务的用户，在本协议中更多地称为“您”。<br>
1.3其他用户：是指除用户本人外与书屋小说服务相关的其他书屋小说用户。<br>
二、协议的范围<br>
2.1本协议是您与中文在线之间关于使用中文在线旗下产品所订立的协议。中文在线旗下产品包括但不限于书屋小说网站及上述网站相应的移动客户端软件等。<br>
2.2本协议内容同时包括中文在线可能不断发布的关于本服务的相关协议、服务声明、业务规则及公告指引等内容（以下统称为“专项规则”）。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。<br>
三书屋小说移动客户端软件<br>
3.1服务许可<br>
书屋小说移动客户端软件以下简称为“本软件”。 本软件可能提供多个应用版本，用户必须选择与所安装设备相匹配的软件版本。用户可根据本协议获得以下许可：<br>
3.1.1中文在线给予您一项个人的、不可转让及非排他性的许可，以使用本软件。 您可以为非商业目的在单一台终端设备上安装、使用、显示、运行本软件。<br>
3.1.2您可以为使用本软件的目的复制本软件的一个副本，仅用作备份。备份副本必须包含原软件中含有的所有著作权信息。<br>
3.1.3本条及本协议其他条款未明示授权的其他一切权利仍由中文在线保留，您在行使这些权利时须另外取得中文在线的书面许可。 中文在线如果未行使前述任何权利，并不构成对该权利的放弃。<br>
3.2安装与卸载<br>
3.2.1您可以直接从书屋小说的网站上获取本软件，也可以从得到中文在线授权的第三方获取。 如果您从未经中文在线授权的第三方获取本软件或与本软件名称相同的安装程序，中文在线无法保证本软件能够正常使用，并对因此给您造成的损失不予负责。<br>
3.2.2中文在线可能为不同的终端设备开发了不同的软件版本，您应当根据实际情况选择下载合适的版本进行安装。下载安装程序后，您需要按照该程序提示的步骤正确安装。为提供更加优质、安全的服务，在本软件安装时中文在线可能推荐您安装其他软件，您可以选择安装或不安装。<br>
3.2.3如果您不再需要使用本软件或者需要安装新版软件，可以自行卸载。如果您愿意帮助书屋小说改进产品服务，请告知卸载的原因。<br>
3.2.4为了改善用户体验、完善服务内容，中文在线将不断努力开发新的服务，并为您不时提供软件更新（这些更新可能会采取软件替换、修改、功能强化、版本升级等形式）。为了保证本软件安全性和功能的一致性，中文在线有权不经向您特别通知而对软件进行更新，或者对软件的部分功能效果进行改变或限制。 本软件新版本发布后，旧版本的软件可能无法使用。 中文在线不保证旧版本软件继续可用及相应的客户服务，请您随时核对并下载最新版本。<br>
四、用户个人信息保护及隐私政策<br>
参考《书屋小说用户个人信息保护及隐私政策协议》。<br>
五、用户注意事项<br>
5.1您理解并同意，如您在使用本服务时未使用相关账户登录，由此引发的任何问题，中文在线概不负责。<br>
5.2您理解并同意，为了向您提供有效的服务，本服务会利用您设备终端的处理器和带宽等资源。 本服务使用过程中可能产生数据流量的费用，用户需自行向运营商了解相关资费信息，并自行承担相关费用。<br>
5.3您在使用本服务某一特定服务时，该服务可能会另有单独的协议、专项规则等，您在使用该项服务前请阅读并同意相关的单独协议、专项规则。<br>
5.4您理解并同意中文在线将会尽其商业上的合理努力保障您在本服务中的数据存储安全，但是，中文在线并不能就此提供完全保证，包括但不限于以下情形：<br>
5.4.1中文在线不对您在本服务中相关数据的删除或储存失败负责；<br>
5.4.2中文在线有权根据实际情况自行决定单个用户在本服务中数据的最长储存期限，并在服务器上为其分配数据最大存储空间等；<br>
5.4.3如果您停止使用本服务或服务被终止或取消，中文在线可以从服务器上永久地删除您的数据。服务停止、终止或取消后，也没有义务向您返还任何数据。<br>
5.5用户在使用本服务时，须自行承担如下中文在线不可掌控的风险内容，包括但不限于：<br>
5.5.1由于信息网络设备维护、连接故障，系统故障，电力故障，罢工，暴乱，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或因第三方因素可能引起的个人信息丢失、泄漏及其他损害等风险；<br>
5.5.2如使用本客户端服务，用户必须选择与所安装设备相匹配的软件版本，否则，由于软件与设备型号不相匹配所导致的任何问题或损害，均由用户自行承担；<br>
5.5.3用户发布的内容或您的使用信息（包括但不限于使用本服务所产生的您的书架等信息）被他人转发、分享，因此等传播可能带来的风险和责任；<br>
5.5.4由于网络信号不稳定、网络带宽小等原因，所引起的本服务登录失败、资料同步不完整、页面打开速度慢等风险。<br>
5.6您理解并同意，本服务默认生成使用信息 (包括但不限于用户主页，及主页上展示的书架、书评、阅读时长、个性签名等信息）并向其他用户开放浏览可见，您及其他用户将有权浏览对方因使用本服务所生成的使用信息，前述使用信息不属于个人隐私或不能公开的个人信息。<br>
5.7服务变更、中断或终止<br>
5.7.1用户接受、使用或在相关更新条款发布后继续使用本服务的行为，视为接受并认可相关条款的法律效力及对双方的约束力，且用户认可相关条款（包括但不限于任何更新后的条款）具有溯及至该用户账号首次登陆本服务之日的法律效力并在该日起对双方有共同的约束力。<br>
5.7.2用户在接受本服务时实施不正当行为的，中文在线有权终止对用户提供服务，该不当行为包括但不限于违约、违法、违反公序良俗、侵犯中文在线或任何第三方之权益等。<br>
5.7.3用户在接受本服务时实施本协议中有明确约定或属于中文在线事先明确告知的应被终止服务的禁止性行为的，中文在线有权终止对用户提供服务。<br>
5.7.4用户利用本服务进行洗钱、预付卡套现、购买和销售非法取得虚拟货币等违法行为的，中文在线有权在不事先通知用户的情况下中止或终止部分或全部网络服务的权利。<br>
5.7.5如用户传播本服务收费章节相关内容的图档、文字，或有其他违反有关法律、法规或本协议项下的任何条款，而给中文在线或任何其他第三人造成损失； 或者因用户自身过错导致本人账号或密码泄露，而给中文在线或任何其他第三人造成损失的，中文在线将终止向用户提供本协议项下的网络服务，无需通知用户，并不退回相关账号内的代金券。<br>
5.7.6如因系统维护或升级的需要而需暂停网络服务，中文在线将尽可能事先进行通告。<br>
5.7.7如因突发性网络设备故障、网络设备因不明原因停止、不可抗力、相关政府机构要求及其他情况，发生未能事先通知用户的网络服务部分或全部中断或终止，造成的任何损失，中文在线无需对用户或任何第三方承担责任。<br>
5.7.8除前款所述情形外，中文在线同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于服务的中断或终止而造成的任何损失，中文在线无需对用户或任何第三方承担任何责任。<br>
5.8广告<br>
5.8.1您同意中文在线可以在提供服务的过程中自行或由第三方广告商向您发送广告、推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向您特别通知而变更。<br>
5.8.2中文在线依照法律的规定对广告商履行相关义务，您应当自行判断广告信息的真实性井为自己的判断行为负责，除法律明确规定外，您因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，中文在线不承担责任。<br>
5.8.3您同意，对本服务中出现的广告信息，您应审慎判断其真实性和可靠性，除法律明确规定外，您应对依该广告信息进行的交易负责。<br>
5.8.4您同意，所有对您收取费用的服务或功能，均不能免除您接受中文在线所提供的广告。 因为这是中文在线为所有用户提供综合服务的有效对价，您阅读本协议即视为对该规则的理解和接受。<br>
5.9第三方产品和服务<br>
5.9.1您在使用本服务第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。 中文在线和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。<br>
5.9.2因用户使用本服务或要求中文在线提供特定服务时，本服务可能会调用第三方系统或者通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供（包括但不限于第三方通过本服务插件提供的服务），中文在线不保证通过第三方提供服务及内容的安全性、准确性、有效性及其他不确定的风险，由此若引发的任何争议及损害，与中文在线无关，中文在线不承担任何责任。<br>
5.10拒绝提供担保<br>
5.10.1用户个人对网络服务的使用承担风险。中文在线对以下事宜不作任何类型的担保，不论是明确的或隐含的：<br>
5.10.1.1本协议项下中文在线提供的相关网络服务将符合用户的要求；<br>
5.10.1.2本协议项下中文在线提供的相关服务将不受不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机、电信部门原因及其他任何网络、技术、通信线路等外界或人为因素的影响；<br>
5.10.1.3通过本服务的链接和标签所指向的第三方的商业信誉及其提供服务的质量。<br>
六用户行为规范<br>
6.1信息内容规范<br>
6.1.1本条所述信息内容是指用户使用本服务过程中所制作、复制、发布、传播的任何内容，包括但不限于书屋小说登录账号头像、名字、用户说明等注册信息，以及包括但不限于文字、图片、相关链接页面等其他使用书屋小说登录账号或本软件及服务所产生的内容。<br>
6.1.2您理解并同意，中文在线一直致力于为用户提供文明健康、规范有序的网络环境，您不得利用本服务制作、复制、发布、传播如下干扰本服务正常运营，以及侵犯其他用户或第三方合法权益的内容，包括但不限于：<br>
6.1.2.1发布、传送、传播、储存违反国家法律法规禁止的内容：<br>
（1)违反宪法确定的基本原则的；<br>
（2)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
（3)损害国家荣誉和利益的；<br>
（4)煽动民族仇恨、民族歧视，破坏民族团结的；<br>
（5)破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
（6)散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
（7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；<br>
（8)侮辱或者诽谤他人，侵害他人合法权益的；<br>
（9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；<br>
（10)以非法民间组织名义活动的；<br>
（11)含有法律、行政法规禁止的其他内容的。<br>
6.1.2.2发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；<br>
6.1.2.3未经他人许可发布、传送、传播涉及他人隐私、个人信息或资料的内容，但因使用本服务所默认生成并公布的软件使用信息除外；<br>
6.1.2.4发表、传送、传播骚扰、广告信息及垃圾信息或含有任何性或性暗示的；<br>
6.1.2.5其他违反法律法规、政策及公序良俗、社会公德或干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。<br>
6.2软件使用规范<br>
6.2.1除非法律允许或中文在线书面许可，您使用本软件过程中不得从事下列行为：<br>
（1)删除本软件及其副本上关于著作权的信息；<br>
（2)对中文在线拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；<br>
（3)修改或遮盖网络服务或相关产品程序、图像、动画、包装和手册等内容上的产品名称、公司标志、版权信息等内容；<br>
（4)公开展示和播放本产品的全部或部分内容；<br>
（5)对网络服务或相关产品的程序、图像、动画和音乐进行还原、反编译、反汇编、剪辑、翻译和改编等任何修改行为；<br>
（6)对网络服务或相关产品进行反向工程（ReverseEngineering)反向编译（Decompile)或反汇编（Disassemble)等任何技术性的与合理使用网络服务无关的行为或者以其他方式尝试发现本软件的源代码；<br>
（7)对本软件或者本软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及本软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非中文在线经授权的第三方工具／服务接入本软件和相关系统；<br>
（8)通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的；<br>
（9)通过非中文在线开发、授权的第三方软件、插件、外挂、系统，登录或使用中文在线软件及服务，或制作、发布、传播上述工具；<br>
（10)以本网络服务作为营业使用；<br>
（11)自行或者授权他人、第三方软件对本软件及其组件、模块、数据进行干扰；<br>
（12)其他未经中文在线明示授权或违反著作权法、计算机软件保护条例和相关法规的行为。<br>
6.3运营规范<br>
6.3.1您使用本服务过程中不得从事下列行为：<br>
（1)提交、发布虚假信息，或冒充、利用他人名义的；<br>
（2)诱导其他用户点击链接页面或分享信息的；<br>
（3)虚构事实、隐瞒真相以误导、欺骗他人的；<br>
（4)侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；<br>
（5) 未经中文在线书面许可利用账号和任何服务，以及第三方运营平台进行推广或互相推广的；<br>
（6)利用本软件及服务从事任何违法犯罪活动的；<br>
（7)制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；<br>
（8)其他违反法律法规规定、侵犯其他用户合法权益、干扰产品正常运营或中文在线未明示授权的行为。<br>
6.4对自己行为负责<br>
6.4.1您充分了解并同意，您必须为自己账号在本服务下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。 您应对本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险；同时，您应在本协议约定的范围内使用本服务，因您利用本服务进行违反法<br>
律法规、本协议、专项规则的行为所产生的风险亦由您自行承担。中文在线无法且不会对因前述风险而导致的任何损失或损害承担责任。<br>
七、管理规范<br>
7.1中文在线有权根据国家相关法规政策，按照本协议的规定，对您发布、传送、传播、储存的内容进行审查，以保证用户使用本服务的行为不违反法律法规及社会公共道德准则、不侵犯中文在线或第三方的合法权益、不带有诋毁中文在线及书屋小说产品形象的要素。 但并不因为中文在线的审核而减轻您自身使用本服务时应承担的责任，由此<br>
产生的一切责任和后果仍由您单独承担。<br>
7.2如果中文在线发现或收到他人举报或投诉用户违反本协议约定或损害中文在线权益的，中文在线有权不经通知随时对相关内容进行删除、屏蔽，并视行为情节对违规账号处以包括但不限于警告、限制或禁止使用部分或全部服务、账号封禁等的处罚，并公告处理结果。<br>
7.3您理解并同意，中文在线有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。<br>
7.4您理解并同意，因您违反本协议或相关服务条款的规定，导致或产生第三方主张的任何索赔、要求或损失，您应当独立承担责任； 中文在线因此遭受损失的，您也应当一并赔偿。<br>
八、付费服务及充值规则<br>
8.1您理解并同意，中文在线有权免费或要求付费提供本服务； 本服务收取的充值金额是中文在线为了向最终用户收取互联网增值服务使用费，而提供的一种通用的收费渠道或计费方式。 该充值金额不能用于本服务以外的任何产品或服务。<br>
8.2您理解并同意，中文在线有权自行决定并不时修订本服务相关的收费标准和规则，该类标准及规则一经发布即生效，并构成本协议的有效组成部分。中文在线可能根据实际需要对收费服务的收费标准、方式进行修改和变更，也可能会对部分免费服务开始收费。 前述修改、变更或开始收费前，中文在线将在相应服务页面进行通知或公告。如
您不同意前述标准、规则及其修订， 您有权停止使用本服务。 您继续使用本服务即视为您同意相关内容。<br>
8.3本服务的部分服务是以收费方式提供的，如您使用收费服务，请遵守相关规则。中文在线会在相关页面上做出提示，如果您拒绝支付该等费用，则不能使用相应的网络服务。<br>
8.4中文在线将有权决定所提供的服务的资费标准和收费方式，中文在线可能会就不同的服务制定不同的资费标准和收费方式，也可能按照中文在线所提供的服务的不同阶段确定不同的资费标准和收费方式。<br>
8.5用户理解并同意，中文在线提供的是附期限的有偿阅读服务，服务期限为自用户付费订阅收费章节之日起一个月。超出服务期限后，中文在线将尽最大努力无偿地为用户延长阅读期限，使用户可以继续阅读用户已购买的收费章节。但请用户知悉并理解：如收费阅读小说因版权纠纷、作者或作品自身原因（如违反法律法规、政策的规定或行业的规则、涉及侵权纠纷、违反公序良俗等）或其他原因导致作品下架、被屏蔽无法正常阅读的，中文在线不承担任何责任。<br>
8.6在用户定制服务的同时，中文在线将会附赠推荐票、月票等除阅读之外的服务，但该等服务均为随号赠送福利。如中文在线根据自身技术排查，发现任何滥用推荐票、月票等福利的任何作弊的行为，或对数据产生重大质疑，均可以判定票数无效，甚至取消该账户投票权等所有福利。<br>
8.7充值<br>
8.7.1在本服务支付系统中，用户通过所用客户端相应支付方式（具体支付方式请见充值页面）为其账号充值所直接获得的虚拟货币即“书币”1书币＝人民币0.01元。<br>
8.7.2本服务支付系统会不时更新发布其他支付工具，包括但不限于“代金券”。代金券作为指定活动、渠道获取的限期免费币种，有特定的使用期限，用户须在有效期内使用已获得的代金券（可通过充值记录页面查询相应的到期时间）。<br>
8.7.3代金券可以用于支付接入本服务支付系统的所有互联网应用及内容（包括第三方）的费用。一旦用户用其账号进入第三方企业的服务系统，则支付系统会自动通过和第三方企业的技术合作，将该账号所剩余的代金券以可以消费的该第三方系统自身的结算工具显示给用户；一旦用户退出该第三方服务系统，则在本服务支付系统中仍然可
以显示尚未消费的代金券。<br>
8.7.4用户理解并知晓，中文在线不提供用户间交易代金券的平台化服务。用户间交易代金券构成对本协议的违反，中文在线有权在未经通知的情况下，采取相应适当措施，以确保中文在线不提供用户间交易代金券的平台化服务。<br>
8.7.5用户理解并同意，充值产品虚拟货币不适用无理由退换，充值一旦成功，充值即确定完成，中文在线将不提供任何更改、修正服务。用户不得以消费完成后账户内仍有剩余代金券为由要求退费。<br>
8.7.6当用户在本服务进行充值时，用户必须仔细确认自己的账号及信息，若因为用户自身操作不当、不了解或未充分了解充值计费方式等因素造成充错账号、错选充值种类等情形而损害自身权益，不得因此要求中文在线作任何补偿或赔偿。<br>
8.7.7用户在充值时使用第三方支付企业提供的服务的，应当遵守与该第三方的各项协议及其服务规则； 在使用第三方支付服务过程中用户应当妥善保管个人信息，包括但不限于银行卡账号、密码、验证码等；用户同意并确认，中文在线对因第三方支付服务产生的纠纷不承担任何责任。<br>
8.7.8若因违反本协议条款，导致账号被冻结及／或终止使用的用户，不得因此要求中文在线作任何补偿或赔偿。<br>
8.7.9若因本服务充值系统自身充值故障原因造成用户充值失实，在中文在线恢复、存有有效数据和用户提供合法有效凭证的情况下，中文在线将根据用户充值情况作出变动及补救措施。<br>
8.7.9.1因本服务充值系统自身故障原因，造成系统充值额小于用户实际充值额的，中文在线予以补其差额。<br>
8.7.9.2因本服务充值系统自身故障原因，造成系统充值额大于用户实际充值额的，中文在线有权追回差额。<br>
8.7.10代金券是在本服务专用的虚拟货币，用于包括但不限于购买单本、订阅单章、打赏等网络服务。鉴于本服务提供的网络服务或商品性质特殊，因此，使用代金券在本服务上购买的网络服务或商品属于不宜退货的商品，不适用无理由退换规定。<br>
8.7.11用户理解并同意，您使用帐户内的代金券订阅作品一旦成功，中文在线将不提供任何订单更改、修正服务。非经中文在线同意，用户订阅付费作品并已支付的代金券，将无法退还； 用户订阅付费作品并已支付的代金券亦不会因本服务提供的服务中止、中断或付费作品下架而退还。<br>
8.8用户成功开通包月服务后，在包月服务有效期内，可以免费阅读包月书库里的书。 中文在线有权随时调整包月书库书目。您理解并同意，包月服务一经开通，即确定完成，鉴于该网络服务性质特殊属于不宜退货的商品，不适用无理由退换规定，中文在线将不提供任何退换服务。<br>
九、知识产权声明<br>
9.1中文在线所提供的软件和服务以及与本软件和服务相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）的一切著作权、商标权、专利权、商业秘密、其他知识产权、所有权或其他权利，均归中文在线或其权利人所有，受中华人民共和国法律法规和相应的国际条约保护。<br>
9.2未经中文在线或相关权利人书面同意，您不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述权利，您不得对任何该信息、资料、文字、软件、声音、图片、视频、图表进行修改、拷贝、散布、传送、展示、执行、复制、发行、授权、制作衍生著作、移转或销售。如您未遵守本条款的上述规定，将视为您的严重违
约，在法律允许的最大限度内且不损害其他方权利的情况下，中文在线可立即终止向您提供服务，解除双方间的服务协议和法律关系，且无需退还您在书屋小说平台充值和／或消费的金额，该金额视为您支付中文在线的违约金，如违约金不足以弥补中文在线的损失的，中文在线还可通过其他法律途径向您追索。 同时您必须销毁任何已经获得的上述信息、资料、文字、软件、声音、图片、视频、图表。<br>
9.3中文在线对您在使用软件和服务过程中或您在接受中文在线软件和服务过程中所产生的任何数据信息（包括但不限于账号资料、充值数据、消费数据、阅读偏好等阅读行为相关的数据等）以及中文在线提供的所有服务器上的数据（包括但不限于虚拟物品等）拥有所有权。 您通过其合法账号及密码登陆中文在线软件或服务后，该软件或服务
向您显示的数据和信息为您就该特定软件或服务可获取的全部数据和信息。 中文在线无义务向用户提供、展示超出您自行登陆使用软件或服务便可获取的数据和信息以外的数据和信息。<br>
十遵守当地法律监管<br>
10.1您在使用本服务过程中应当遵守当地相关的法律法规，并尊重当地的道德和风俗习惯。如果您的行为违反了当地法律法规或道德风俗，您应当为此独立承担责任。<br>
10.2您应避免因使用本服务而使中文在线卷入政治和公共事件，否则中文在线有权暂停或终止对您的服务。<br>
10.3违反本条约定，视为您的严重违约，中文在线可以中止对您的服务，解除双方间的服务协议和法律关系，且无需退还您书屋小说平台充值和／或消费的金额，该金额视为您支付中文在线的违约金，如违约金不足以弥补中文在线的损失的，中文在线还可通过其他法律途径向您追索。<br>
十一、终端安全责任<br>
11.1您理解并同意，本服务同大多数互联网软件一样，可能会受多种因素影响，包括但不限于用户原因、网络服务质量、社会环境等；也可能会受各种安全问题的侵扰，包括但不限于他人非法利用用户资料，进行现实中的骚扰；用户下载安装的其他软件或访问的其他网站中可能含有病毒、木马程序或其他恶意程序，威胁您的终端设备信息和数据安全，继而影响本服务的正常使用等。因此，您应加强信息安全及个人信息的保护意识，注意密码保护，以免遭受损失。<br>
11.2您不得制作、发布、使用、传播用于窃取书屋小说登录账号及他人个人信息、财产的恶意程序。<br>
11.3维护软件、服务安全与正常使用是中文在线和您的共同责任，中文在线将按照行业标准合理审慎地采取必要技术措施保护您的终端设备信息和数据安全，但是您承认和同意中文在线并不能就此提供完全保证。<br>
11.4在任何情况下，您不应轻信借款、索要密码或其他涉及财产的网络信息。 涉及财产操作的，请一定先核实对方身份，并请经常留意书屋小说有关防范诈骗犯罪的提示。<br>
11.5本软件设有网络信息安全投诉、举报制度，您可通过意见反馈界面或联系在线客服的方式进行网络信息安全的投诉与举报，中文在线会及时受理并处理相关投诉和举报。<br>
十二、未成年人保护<br>
12.1中文在线非常重视对未成年人个人信息的保护。 若您是18周岁以下的未成年人，在使用本服务前，应事先取得您监护人的书面同意。<br>
12.2依据我国相关法律对于未成年人民事行为效力的规定，为保护未成年人在使用本服务过程中的权益，未成年人在进行书屋小说充值及消费等行为前，应事先取得您监护人的书面同意。 若完成充值行为后但未消费的，未成年人和／或其监护人主张该充值行为无效的，中文在线支持退还相应充值金额，请与本软件客服联系申请退还充值金
额。若完成充值行为后进行消费，未成年人和／或其监护人主张该消费行为无效的，中文在线不承担退还相应消费金额的责任，亦不得因此要求中文在线作任何补偿或赔偿。<br>
十三、通知和送达<br>
13.1本协议项下所有的通知均可通过重要页面公告、电子邮件、短信或常规的信件传送等方式进行； 该等通知于发送之日视为已送达收件人。<br>
十四、其他<br>
14.1您使用本服务即视为您已阅读并同意受本协议的约束。中文在线有权在必要时修改本协议条款。 您可以在本服务的最新版本中查阅相关协议条款，中文在线亦会在本服务内显著地方公示。本协议条款变更后，如果您继续使用本服务，即视为您已接受修改后的协议。 如果您不接受修改后的协议，应当停止使用本服务。<br>
14.2本协议签订地为中华人民共和国北京市东城区。<br>
14.3本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。<br>
14.4若您和中文在线之间发生任何纠纷或争议，首先应友好协商解决； 协商不成的，您同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。<br>
14.5本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。<br>
14.6本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。<br>
十五、账号注销<br>
在需要终止使用书屋小说账号服务时，符合以下条件的，您可以申请注销您的书屋账号：<br>
15.1您仅能申请注销您本人的账号，并依照书屋的流程进行注销；<br>
15.2您仍应对您在注销账号前且使用书屋小说服务期间的行为承担相应责任；<br>
15.3注销成功后，账号记录、功能等将无法恢复或提供。<br>
如您需要注销您的书屋小说账号，请打开书屋小说客户端，在［我的］－［帮助中心］－［账户）－［如何注销账户］中，按提示进行注销。（正文完）<br>
特别声明<br>
鉴于：我国《合同法》第39条规定：采用格式条款订立合同的，提供格式条款的一方应当遵循公平原则确定当事人之间的权利和义务，并采取合理的方式提请对方注意免除或者限制其责任的条款， 按照对方的要求，对该条款予以说明。
中文在线在此依法做出特别声明如下：<br>
中文在线采取合理的方式提请用户注意的义务将通过如下方式实现：在本协议中中文在线以明确的足以引起用户注意的加重字体、斜体、下划线、颜色标记等合理方式提醒用户注意相关条款（需要强调的是，还包括用户应特别注意任何未明确标记的含有“不承担”、“免责”、“不得”等形式用语的条款），该等条款的确认将导致用户在特定情况下的被动、不便、损失，请用户在确认同意本协议之前再
次阅读上述条款。 双方确认上述条款非属于 《合同法》第40条规定的“免除其责任、加重对方责任、排除对方主要权利的”的条款。用户如有任何需要说明条款的要求，请立即停止使用服务，同时立即联系本官方服务客服人员，若用户未发送内含说明条款要求的邮件至本服务官方客服人员而选择同意该协议，则双方在此确认中文在线已依法履行了根据用户要求对相关条款进行说明的法定义务，中文在线已给予用户充足的时间与充分的选择权来决定是否缔结本协议。用户确认已经充分阅读本协议第 3.2.1、3.2.2、3.2.4 、5.1-5.10、6.1.2、6.2.1、6.3.1、6.4.1、7.1-7.4,8.1,8.28.8.7.48.7.,8.7.68.7.78.7.8,8.7
条款，明确理解以上协议条款的含义，完全注意并同意了本协议所有条款的合法性及有效性。<br>
<span>Copyright2019中文在线版权所有</span>
    </p>
{/block}
