{extend name="public/base"}
{eq name="gender_type" value="1"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
 <meta name="keywords" content="小说,小说网,免费小说,幻小说,最新玄幻小说,都市小说阅读,原创都市小说,军事小说,书屋小说"/> 
 <meta name="description" content="书屋小说网(shuwu.com)创建于2019年，原名书屋小说，是特玩网络科技旗下集创作,中国最热门的绿色免费小说网站,每日提供玄幻奇幻、都市言情、武侠仙侠、青春校园、穿越架空、惊悚悬疑、历史军事、爆笑同人、经典文学、二次元等在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/> 
{else /}
	<title>书屋小说网_最新免费言情小说_原创言情下载_在线言情阅读下载</title>
	<meta content="言情小说,免费言情小说,最新免费言情小说,原创言情,原创言情下载,在线言情小说阅读" name="keywords"/>
	<meta name="Description" content="书屋小说网(shuwu.com)创建于2019年，原名书屋小说，是特玩网络科技旗下集创作、阅读于一体的在线阅读网站。我们的使命以“让每个人都享受创作阅读的乐趣”为重点，提供玄幻奇幻、都市言情、武侠仙侠、青春校园、穿越架空、惊悚悬疑、历史军事、爆笑同人、经典文学、二次元等在线阅读以及免费下载。">
{/eq}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/index.css">
{/block}
{block name="body"}
    <div class="search_box">
        <a href="{:url('search/index')}" class="search_main">
            <img class="search_icon" src="__INDEX__/images/search_icon.png">
            <span class="search_text">请输入书名（宁可少字,不要错字）</span>
        </a>
    </div>
    <div class="sex">
        <p {eq name="blocks.cate" value="man"}class="blue"{/eq} data-cate="man" data-type="{$book_type}">男生频道</p>
        <p {eq name="blocks.cate" value="woman"}class="blue"{/eq} data-cate="woman" data-type="{$book_type}">女生频道</p>
    </div>
    {:getBlock($blocks['banner'],'other')}
    {:getBlock($blocks['nav'],'other')}
    {:getBlock($blocks['content'],'other')}
    {:newBook($catlog)}
    {:manJx()}
<!--html写死了，在application/common.php的getBlock方法，缓存文件在static/block/other/novel_content_man-->
    <div class="box">
        <img class="code" src="{$qrcode}">
        <p class="record">书屋版权所有  闽ICP备19000415号-1<br>出版物经营许可证：新出发厦字第HL1603号<br>网络文化经营许可证：闽网文（2019）1237-080号 <br>增值电信业务经营许可证：闽B2-20190490</p>
    </div>
    <div id="downapp" style="width: 100%;height: 1.7rem;background-color: #f0f0f0; display: flex;justify-content: flex-start; ">
        <img src="https://shuwu.oss-cn-hongkong.aliyuncs.com/images/20200422/35c7990beb78691b50f0cd87b4be7b8b.png" alt=""  width="22%" height="80%" style="margin-left: 10px;margin-top: 8px">
        <div style="display: flex;flex-direction: column;padding-left: 10px;padding-top: 4%">
            <span style="font-size: 16px">书屋小说</span>
            <span style="font-size: 10px;padding-top: 12%">app下载</span>
        </div>
        <button style="background-color: black;color: white;width: 20%;height: 50%;border-radius: 5px;margin-top: 5%;margin-left: 30%" onclick="downApp()">查看详情</button>
    </div>

    {:createFooterHtml($footer_type)}
{/block}
{block name="footJs"}
<script src="__INDEX__/js/swiper.js"></script>
<script type="text/javascript">
    // $(function () {
    //     var height = $('.footer').height();
    //     $('#downapp').css({'bottom':height,'position':'fixed'});
    //     //console.log(aa)
    // });
    function downApp1() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        document.writeln("您的浏览设备为：");
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            document.writeln("phone");
        } else {
            document.writeln("pc");
        }
    }
    function downApp() {
        // ajaxPost(U('downApp'),'','',function(){
        //     layOk('操作成功');
        // });

        var u = navigator.userAgent,
            app = navigator.appVersion;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
        var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        if (isAndroid) {
            window.location.href = "http://666.srongkj.cn";
        }
        if (isIOS) {
            window.location.href = "https://shuwu.com/download/index.html";
        }
    }
    function OSnow(){
        var agent = navigator.userAgent.toLowerCase();
        var isMac = /macintosh|mac os x/i.test(navigator.userAgent);
        if (agent.indexOf("win32") >= 0 || agent.indexOf("wow32") >= 0) {
            alert("这是windows32位系统");
        }
        if (agent.indexOf("win64") >= 0 || agent.indexOf("wow64") >= 0) {
            alert("这是windows64位系统");
        }
        if(isMac){
            alert("这是mac系统");
        }
    }
//控制banner滚动
   var swiper = new Swiper('.swiper-container', {
       autoplay: true,
       loop: true,
       speed: 400,
       auto: 3000,
       pagination: {
           el: '.swiper-pagination',
       },
       on: {
           init() {
               setTimeout(() => {
                   var width = $('.swiper-pagination').width()
                   $('.swiper-pagination').css({
                       "opacity": 1,
                       "marginLeft": -width / 2
                   })
               }, 0)
           }
       }
   });
   $('.sex p').on('click', function () {
		if($(this).hasClass('blue')){
			return false;
		}
		var url = '';
	   	var cate = $(this).attr('data-cate');
	   	var type = parseInt($(this).attr('data-type'));
	   	switch(type){
		   	case 1:
		   		url = '/index/index/index.html?cate='+cate;
		   		break;
		   	case 2:
		   		url = '/index/index/cartoon.html?cate='+cate;
		   		break;
	   	}
	   	if(url.length > 0){
	   	 	window.location.href = url;
	   	}
   })
</script>
{/block}