{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/contact.css">
{/block}
{block name="body"}
<div class="box">
    <p class="title">微信扫码登录</p>
    <div class="imgDiv">
    	<a href="javascript:void(0);" onclick="javascript:getQrImg();">点击获取二维码</a>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
var check_code = '';
var timeid;
function getQrImg(){
	ajaxPost('/index/Login/createLoginQr',{},function(res){
		check_code = res.code;
		var str = '<img src="'+res.img+'" />';
		$('.imgDiv').html(str);
		timeid = setInterval(checkLogin,2000);
	});
}
function checkLogin(){
	if(check_code){
		$.ajax({
			type : 'post',
			url : '/index/Login/checkQrLogin',
			data : {code:check_code},
			dataType : 'json',
			success : function(res){
				if(res.msg === 'ok'){
					if(res.data.url){
						window.location.href = res.data.url;
					}
				}else{
					var str = '<a href="javascript:void(0);" onclick="javascript:getQrImg();">点击获取二维码</a>';
					$('.imgDiv').html(str);
					clearInterval(timeid);
				}
			}
		});
	}
}
</script>
{/block}