{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/bindPhone.css">
{/block}
{block name="body"}
    <div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">{$title}</p>
    </div>
    <ul class="list">
        <li>
            <input type="text" id="phone" maxlength="11" placeholder="请输入手机号">
        </li>
        <li>
            <input type="password" id="password" maxlength="16" placeholder="请输入密码">
        </li>
    </ul>
    <button class="btn" onclick="javascript:doPhoneLogin();" style="bottom:2.35rem;">{$btn}</button>
    <button class="btn" onclick="javascript:location.href='/index/login/register.html'";">没有账号，去注册</button>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.phone.js?v=2"></script>
{/block}