{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/contact.css">
{/block}
{block name="body"}
<div class="box">
    <p class="title">长按识别二维码联系客服</p>
    <img class="code" src="{$qrcode}">
    {gt name="uid" value="0"}
    <p class="id">咨询请提供ID: {:addZero($uid)}</p>
    <button class="btn copy" data-clipboard-text="{$uid}">点这里复制ID</button>
    <script type="text/javascript" src="/static/common/js/clipboard.min.js"></script>
    <script type="text/javascript">
    var clipboard=new Clipboard(".copy");clipboard.on("success",function(a){layMsg("复制成功!");a.clearSelection()});
    </script>
    {/gt}
</div>
{/block}
{block name="footJs"}{/block}