{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/search.css">
{/block}
{block name="body"}
<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <div class="search_main">
            <img class="search_icon" src="__INDEX__/images/search_icon.png">
            <input id="search_value" type="text" placeholder="请输入书名（宁可少字,不要错字）">
        </div>
        <button id="btn" onclick="javascript:doSearch('');">搜索</button>
    </div>
    <!-- 推荐搜索的内容 -->
    <div class="recommend_search">
    	{notempty name="hot_search"}
	        <div class="box">
	            <div class="title">
	                <img class="icon" src="__INDEX__/images/hot.png">
	                <span>热门搜索</span>
	            </div>
	            <p class="content search-tag">
		            {volist name="hot_search" id="hv"}
		            	<span onclick="javascript:doSearch('{$hv}');">{$hv}</span>
		            {/volist}
	            </p>
	        </div>
        {/notempty}
    </div>
    <div class="content book-content hide">
        <div class="box">
            <div class="column_content"></div>
        </div>
    </div>
    <div class="none hide">
        <img src="__INDEX__/images/none.png">
        <p>没有相关内容</p>
    </div>	
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__INDEX__/js/search.index.js?v=1"></script>
{/block}