{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/about.css">
{/block}
{block name="body"}
    <!-- header -->
    <div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">关于我们</p>
    </div>
    <img class="logo" src="{$cur.logo}">
    <p class="edition"></p>
    <div class="list">
        <a class="item" href="/index/doc/agreement.html?is_back=yes">
            <p class="title">软件许可及用户服务协议</p>
            <img src="__INDEX__/images/next_left.png">
        </a>
        <a class="item" href="">
            <p class="title">客服热线</p>
            <p class="font" style="color: #0F8DF3;">{$cur.tel}</p>
        </a>
        <div class="item" href="">
            <p class="title">举报邮箱</p>
            <p class="font">{$cur.email}</p>
        </div>
    </div>

    <p class="bottom_font">
        版权归{$cur.name}所有<br>{$cur.url}
    </p>
{/block}