{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/consumeHistory.css">
{/block}
{block name="body"}
<div class="header">
        <img onclick="location.href='/index/User/index'" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">消费记录</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
    </div>
    <div class="type">
        <a href="{:url('consume')}">消费记录</a>
        <a class="blue">充值记录</a>
    </div>
    <div class="recharge">
        <ul></ul>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript">
var page = 1,is_end = false;
getData();
$(window).scroll(function() {
	var scrollTop = $(this).scrollTop();
	var scrollHeight = $(document).height();
	var windowHeight = $(this).height();
	if (scrollTop + windowHeight == scrollHeight) {
		if(!is_end){
   			getData();
		}
	}
});
function getData(){
	if(!is_end){
		is_end = true;
		ajaxPost('',{page:page},function(list){
			if(list){
				$.each(list,function(i,item){
					var str = '';
					str += '<li>';
					str += '<div class="left">';
					str += '<p class="recharge_type">'+item.summary+'</p>';
					str += '<p class="time">'+item.create_time+'</p>';
					str += '</div>';
					str += '<p class="number">'+item.money+'</p>';
					str += '</li>';
					$('.recharge>ul').append(str);
				});
				page++;
				is_end = false;
			}
		});
	}
}  
</script>
{/block}