{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/bookshelf.css?date=20200219">
{/block}
{block name="body"}
<div class="top">
    <a href="{:url('bookshelf')}">我的书架</a>
    <a href="javascript:void(0);" class="active">阅读历史</a>
</div>
<!-- 阅读历史 -->
<div class="box" style="display:none;">
    <p class="title">阅读历史
        <input type="checkbox" id="status" name="status" hidden>
        <label for="status" id="my_status">管理</label>
    </p>
    <div class="history_content"></div>
</div>

<!-- 全选删除栏 -->
<div class="header_choose" style="display: none;">
    <input type="checkbox" name="all" id="all" hidden>
    <label for="all" class="not_choose"></label>
    <span class="allchoose">全选</span>
    <button class="delete" onclick="javascript:doDelete();">删除</button>
</div>
{:createFooterHtml(1)}
{/block}
{block name="footJs"}
<script type="text/javascript">
getData();
function getData(){
	ajaxPost('',{},function(list){
		var str = '';
		if(list){
			$('.box').show();
			$.each(list,function(i,item){
				str += '<div class="item" onclick="javascript:toRead(\''+item.book_id+'\',\''+item.number+'\');">';
				str += '<input type="checkbox" class="history" id="book_'+item.book_id+'" value="'+item.book_id+'" name="history" hidden>';
				str += '<label for="book_'+item.book_id+'">';
				str += '<img class="cover" src="'+item.cover+'">';
				str += '<div class="center">';
				str += '<p class="title">'+item.name+'</p>';
				str += '<p class="name">阅读至 '+item.chapter_name+'</p>';
				str += '<p class="time">'+item.create_time+'</p>';
				str += '</div>';
				str += '<div class="not_choose choosebox"></div>';
				str += '</label>';
				str += '</div>';
				$('.history_content').html(str);
			});
		}else{
			$('.box').remove();
			$('.header_choose').remove();
			str += '<div class="not_history">';
			str += '<img src="/static/resource/index/images/not_history.png">';
			str += '<p>暂无阅读记录</p>';
			str += '</div>';
			$('body').append(str);
		}
		
	});
}

function doDelete(){
	var ids = [];
	$('input[name="history"]:checked').each(function(){
		var val = $(this).val();
		ids.push(val);
	});
	if(ids.length === 0){
		layMsg('您尚未选择要移除的书籍');
		return false;
	}
	layer.open({
		title:'移除阅读历史',
		content:'确定移除所选书籍阅读历史记录吗？',
		btn: ['移除', '取消'],
		yes : function(index){
			ajaxPost('/index/Com/delReadHistory',{book_ids:ids},function(){
				$('input[name="history"]:checked').parent().remove();
				layer.close(index);
			});
		}
	})
}

function toRead(book_id,number){
	if(!($('#status').is(':checked'))){
		window.location.href = '/index/book/read.html?book_id='+book_id+'&number='+number;
	}
}

    //全选
    $("#all").on("change", function () {
        var value = $("#all").is(":checked")
        if (value) {
            // 全选
            $("input[name='history']").each(function () {
                $(this).prop("checked", true);
            });
        } else {
            $("input[name='history']").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    $("body").on('click','.history',function () {
        check_len = $("input[name='history']:checked").length;
        total_len = $("input[name='history']").length;
        if (check_len == total_len){
            $("#all").prop("checked", true);
        }else {
            $("#all").prop("checked", false);
        }
    })

    //点击进行管理
    $('#status').on("change", function () {
        var value = $(this).is(":checked")
        if (value) { // 进行管理
            $('.choosebox').show()
            $('.header_choose').show()
            $('#my_status').html("完成")
        } else { //完成
            $('.choosebox').hide()
            $('.header_choose').hide()
            $('#my_status').html("管理")
        }
    });
  
</script>
{/block}