{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/userfeedback.css">
{/block}
{block name="body"}
    <div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">意见反馈</p>
    </div>
    <div class="box">
        <p class="title">您遇到的问题（必填）</p>
        <textarea class="feed" id="content" placeholder="请在这里输入" maxlength="100" onkeyup="javascrpit:getLength(this);"></textarea>
        <p class="number"><span id="number">0</span>/100</p>
    </div>
    <div class="box">
        <p class="title">您的联系方式（必填）</p>
        <input class="phone" type="text" id="phone" value="{$phone}" maxlength="11" placeholder="请输入常用手机号码，便于我们与您沟通">
    </div>
    <button class="btn" onclick="javascript:doSubmit();">提交</button>
{/block}
{block name="footJs"}
<script type="text/javascript">
    function doSubmit(){
    	var content = $('#content').val();
    	if(content.length == 0){
    		layMsg('请输入反馈内容');
    		return false;
    	}
    	var phone = $('#phone').val();
    	if(phone.length > 0 && !(/^1[3456789]\d{9}$/.test(phone))){
    		layMsg('手机号格式不规范');
    		return false;
    	}
    	var data = {content:content,phone:phone};
    	ajaxPost('',data,function(){
    		var str = '';
    		str += '<div class="succ_popup popup" style="display:flex;">';
    		str += '<div class="main">';
    		str += '<img src="/static/resource/index/images/success_icon.png">';
    		str += '<p class="font_status">提交成功</p>';
    		str += '<a href="/index/user/index.html" class="popup_btn">返回个人中心</a>';
    		str += '</div>';
    		str += '</div>';
            $('body').append(str);
    	});
    }
    
    function getLength(obj){
    	var len = $(obj).val().length;
    	$('#number').text(len);
    }
</script>
{/block}