{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/bookshelf.css">
{/block}
{block name="body"}
<div class="top">
        <a href="javascript:void(0);" class="active">我的书架</a>
        <a href="{:url('readHistory')}">阅读历史</a>
    </div>
    <div class="bookshelf">
        <!-- 书架推荐 -->
        <div class="box">
            <p class="title">书架推荐<span onclick="javascript:getBook();">换一批</span></p>
            <div class="row_content hot_book_content"></div>
        </div>
        <!-- 我的小说 -->
        <div class="box">
            <p class="title">我的小说
                <input type="checkbox" id="status" name="status" hidden>
                <label for="status" id="my_status">管理</label>
            </p>
            <div class="row_content">

                <a href="/" class="item" id="add">
                    <div class="add">
                        <img src="__INDEX__/images/add.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="header_choose" style="display: none;">
        <input type="checkbox" name="all" id="all" hidden>
        <label for="all" class="not_choose"></label>
        <span class="allchoose">全选</span>
        <button class="delete" onclick="javascript:doDelete();">删除</button>
    </div>
{:createFooterHtml(1)}
{/block}
{block name="footJs"}
<script type="text/javascript">
var page = 1,is_end = false;
getData();
getBook();
$(window).scroll(function() {
	var scrollTop = $(this).scrollTop();
	var scrollHeight = $(document).height();
	var windowHeight = $(this).height();
	if (scrollTop + windowHeight == scrollHeight) {
		if(!is_end){
   			//getData();
		}
	}
});

function getData(){
	ajaxPost('',{},function(list){
	    //console.log(list);
		if(list){
			$.each(list,function(i,item){
				var str = '';
				str += '<div class="item">';
				str += '<input type="checkbox" class="collect" id="book_'+item.book_id+'" value="'+item.book_id+'" name="collect" hidden>';
				str += '<label for="book_'+item.book_id+'">';
				str += '<img class="cover" src="'+item.cover+'" onclick="javascript:toInfo('+item.book_id+');">';
				str += '<p class="name">'+item.name+'</p>';
				str += '<div class="read">';
				str += '<img src="/static/resource/index/images/eye.png">';
				str += '<span>'+item.hot_num+'</span>';
				str += '</div>';
				str += '<div class="not_choose choosebox"></div>';
				str += '</label>';
				str += '</div>';
				$('#add').before(str);
			});
		}
	});
}

function getBook(){
	if(!is_end){
		is_end = true;
		ajaxPost('/index/Com/getHotBook',{page:page},function(list){
			if(list){
				var str = '';
				$.each(list,function(i,item){
					str += '<a href="/index/book/info.html?book_id='+item.id+'" class="item">';
					str += '<img class="cover" src="'+item.cover+'">';
					str += '<p class="name">'+item.name+'</p>';
					str += '<div class="read">';
					str += '<img src="/static/resource/index/images/eye.png">';
					str += '<span>'+item.hot_num+'</span>';
					str += '</div>';
					str += '</a>';
				});
				$('.hot_book_content').html(str);
				if(list.length === 3){
					page++;
					is_end = false;
				}
			}
		});
	}
}

function toInfo(book_id){
	if(!($('#status').is(':checked'))){
		window.location.href = '/index/Book/info.html?book_id='+book_id;;
	}
}
 //全选
 $("#all").on("change", function () {
    var value = $("#all").is(":checked")
    if (value) {
        // 全选
        $("input[name='collect']").each(function () {
            $(this).prop("checked", true);
        });
    } else {
        $("input[name='collect']").each(function () {
            $(this).prop("checked", false);
        });
    }
});

$("body").on('click','.collect',function () {
    check_len = $("input[name='collect']:checked").length;
    total_len = $("input[name='collect']").length;
    if (check_len == total_len){
        $("#all").prop("checked", true);
    }else {
        $("#all").prop("checked", false);
    }
})


    //点击进行管理
    $('#status').on("change", function () {
        var value = $(this).is(":checked");
        if (value) { // 进行管理
            $('.choosebox').show();
            $('.header_choose').show();
            $('#my_status').html("完成");
            $("#add").hide();
        } else { //完成
            $('.choosebox').hide();
            $('.header_choose').hide();
            $('#my_status').html("管理");
            $("#add").show();
        }
    });
    
    function doDelete(){
    	var ids = [];
    	$('input[name="collect"]:checked').each(function(){
    		var val = $(this).val();
    		ids.push(val);
    	});
    	if(ids.length === 0){
    		layMsg('您尚未选择要移除的书籍');
    		return false;
    	}
    	layer.open({
    		title:'移除我的书架',
    		content:'确定将所选书籍从我的书架移除吗？',
    		btn: ['移除', '取消'],
    		yes : function(index){
    			ajaxPost('/index/Com/delCollect',{book_ids:ids},function(){
    				$('input[name="collect"]:checked').parent().remove();
    				layer.close(index);
    			});
    		}
    	})
    }

</script>
{/block}