{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/welfare.css">
{/block}
{block name="body"}
<div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">福利中心</p>
        <a href="/" class="header_index"><img src="__INDEX__/images/footer_2_a.png"></a>
    </div>
     <div class="top">
        <p class="top_text">连续签到7天合计可得书币(个)</p>
        <p class="top_number">{$cur.total}</p>
    </div>
    <div class="content">
    	{volist name="cur.list" id="v"}
    		{eq name="v.is_sign" value="yes"}
    			<div class="item signIn">
		            <p class="day">今日已签</p>
		            <p class="number">{$v.money}书币</p>
		        </div>
		    {else /}
		    	<div class="item">
		            <p class="day">第{$v.day}天</p>
		            <p class="number">{$v.money}书币</p>
		        </div>
    		{/eq}
    		
    	{/volist}
    </div>
    {eq name="cur.cur_sign" value="yes"}
    	<button class="btn" style="background-color:#e6e6e6;">已签到</button>
    {else /}
    	<button class="btn" onclick="javascript:doSign();">签到</button>
    {/eq}
    <p class="introduce">1. 签到周期为七天。 <br /> 2. 本签到为累计签到，用户若中途中断签到，签到记录将自动重新开始。 </p>
{/block}
{block name="footJs"}
<script type="text/javascript">
function doSign(){
	ajaxPost('',{},function(){
		layMsg('签到成功');
		$('.item').each(function(){
			if(!$(this).hasClass('signIn')){
				$(this).addClass('signIn');
				$(this).find('.day').text('今日已签');
				$('button.btn').css('background-color','#e6e6e6');
				$('button.btn').removeAttr('onclick');
				$('button.btn').text('已签到');
				return false;
			}
		});
	});
}
</script>
{/block}