{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/set.css">
{/block}
{block name="body"}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1,maximum-scale=1,user-scalable=no;">
    <title>我的设置</title>
    <script src="__INDEX__/js/libs/flex.js"></script>
    <link rel="stylesheet" href="../css/1_new_set.css">
    <script src="__INDEX__/js/libs/jquery-3.3.1.min.js"></script>
</head>
<body>
    <!-- header -->
    <div class="header">
        <img onclick="history.back(-1);" class="back" src="__INDEX__/images/back.png">
        <p class="header_title">我的设置</p>
    </div>
    <div class="main">
        <a href="/index/doc/privacypolicy.html?is_back=yes" class="item">
            <p class="title">隐私政策</p>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
        <a href="/index/user/about.html" class="item">
            <p class="title">关于我们</p>
            <p class="font">{$name}</p>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
    </div>
{/block}
