{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/my.css?date=20200312">
{/block}
{block name="body"}
    <div class="top">
        <div class="top_main">
            <img class="top_head" src="{$cur.headimgurl}">
            <div class="right">
                <p class="name">{$cur.nickname}</p>
                {gt name="cur.viptime" value="0"}
                <div class="status">
                    <img src="__INDEX__/images/member_y.png">
                    <span>VIP会员</span>
                    <i></i>
                    <span>ID:{:addZero($cur['id'])}</span>
                </div>
                {else /}
                <div class="status">
                    <img src="__INDEX__/images/member_g.png">
                    <span>普通会员</span>
                    <i></i>
                    <span>ID:{:addZero($cur['id'])}</span>
                </div>
                {/gt}
            </div>
        </div>
    </div>
    <div class="center">
        <div class="center_item">
            <p class="balance_text"><span><img src="__INDEX__/images/money.png"></span>书币余额</p>
            <p class="balance_number">{$cur.money}</p>
            <span class="left_top">书币充值</span>
        </div>
<!--        {gt name="cur.viptime" value="0"}-->
<!--        <div class="center_item yellow_color">-->
<!--            <p class="balance_text yellow_color_font">您已开通VIP会员</p>-->
<!--            <p class="balance_number yellow_color_font">您可畅读本站所有小说</p>-->
<!--            <span class="left_top yellow_bg">到期时间：{eq name="cur.viptime" value="1"}永久{else /}{:date('Y-m-d',$cur['viptime'])}{/eq}</span>-->
<!--        </div>-->
<!--        {else /}-->
<!--        &lt;!&ndash; 非会员 &ndash;&gt;-->
<!--        <div class="center_item yellow_color" onclick="javascript:location.href='/index/charge/index.html';">-->
<!--            <p class="balance_text yellow_color_font"><span><img src="__INDEX__/images/masonry.png"></span>开通年费VIP</p>-->
<!--            <p class="balance_number yellow_color_font">365天每天1元畅读所有小说</p>-->
<!--            <a class="left_top black_bg yellow_color_font">立即开通</a>-->
<!--        </div>-->
<!--        {/gt}-->
        {if $cur.viptime>0 && $cur.viptime>$date}
        <div class="center_item yellow_color">
            <p class="balance_text yellow_color_font">您已开通VIP会员</p>
            <p class="balance_number yellow_color_font">您可畅读本站所有小说</p>
            <span class="left_top yellow_bg">到期时间：{eq name="cur.viptime" value="1"}永久{else /}{:date('Y-m-d',$cur['viptime'])}{/eq}</span>
        </div>
        {elseif $cur.viptime>0 && $cur.viptime<$date}
        <div class="center_item yellow_color" onclick="javascript:location.href='/index/charge/index.html';">
            <p class="balance_text yellow_color_font">VIP会员已过期</p>
            <p class="balance_number yellow_color_font">充值即可畅读本站所有小说</p>
            <span class="left_top yellow_bg">到期时间：{eq name="cur.viptime" value="1"}永久{else /}{:date('Y-m-d',$cur['viptime'])}{/eq}</span>
        </div>
        {else /}
        <div class="center_item yellow_color" onclick="javascript:location.href='/index/charge/index.html';">
            <p class="balance_text yellow_color_font"><span><img src="__INDEX__/images/masonry.png"></span>开通年费VIP</p>
            <p class="balance_number yellow_color_font">365天每天1元畅读所有小说</p>
            <a class="left_top black_bg yellow_color_font">立即开通</a>
        </div>
        {/if}
    </div>
    <div class="list">
        <a class="item" href="/index/Charge/index.html">
            <img class="icon" src="__INDEX__/images/my_1.png">
            <span>书币充值</span>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
        <a class="item" href="/index/user/consume.html">
            <img class="icon" src="__INDEX__/images/my_2.png">
            <span>消费记录</span>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
        <a class="item" href="/index/user/readHistory.html">
            <img class="icon" src="__INDEX__/images/my_3.png">
            <span>历史阅读</span>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
        <a class="item" href="/index/user/sign.html">
            <img class="icon" src="__INDEX__/images/my_4.png">
            <span>福利中心</span>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
    </div>
    <div class="list">
        <div class="item" onclick="javascript:getShareImg();">
            <img class="icon" src="__INDEX__/images/my_5.png">
            <span>下载APP</span>
            <p>邀请好友注册领书币</p>
            <img class="next" src="__INDEX__/images/next_left.png">
        </div>
    </div>
    <div class="list">
    	{empty name="cur.phone"}
	        <a class="item" href="/index/user/bindPhone.html">
	            <img class="icon" src="__INDEX__/images/my_9.png">
	            <span>绑定手机</span>
	            <p>绑定手机 免费领取书币</p>
	            <img class="next" src="__INDEX__/images/next_left.png">
	        </a>
        {else /}
        	<a class="item" href="/index/user/changePhone.html">
	            <img class="icon" src="__INDEX__/images/my_9.png">
	            <span>已绑定手机</span>
	            <p>{$cur.phone}</p>
	            <img class="next" src="__INDEX__/images/next_left.png">
	        </a>
        {/empty}
        <a class="item" href="/index/user/feedback.html">
            <img class="icon" src="__INDEX__/images/my_7.png">
            <span>意见反馈</span>
            <p style="color: #1593F8;">{$cur.feedback_msg}</p>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
        <a class="item" href="/index/user/set.html">
            <img class="icon" src="__INDEX__/images/my_8.png">
            <span>我的设置</span>
            <img class="next" src="__INDEX__/images/next_left.png">
        </a>
        <a class="item" href="/index/login/logout" style="width: 95%;height: 1.3rem;margin: 10px auto;text-align: center;border: 2px solid #e7e7e7;border-radius: 0.2rem">
            <span style="color: #e90500;font-size: .3733rem">退出登录</span>
        </a>
    </div>
    {notempty name="tel"}
    	<p class="phone">客服服务热线：{$tel}</p>
    {/notempty}
{:createFooterHtml(5)}
{/block}
{block name="footJs"}
<script type="text/javascript">

function getShareImg(){
	ajaxPost(U('getShareImg'),{},function(d){
		var str = '';
		str += '<div class="share_popup">';
		str += '<div class="main">';
		str += '<img class="bg" src="'+d.url+'">';
		str += '<a class="btn" href="'+d.url+'"  download="share">保存图片至相册</a>';
		str += '</div>';
		str += '<img class="close" src="__INDEX__/images/my_popup_close.png" onclick="javascript:$(this).parents(\'.share_popup\').remove();" >';
		str += '</div>';
		$('body').append(str);
	},true);
}
</script>
{/block}