{extend name="common@public/base"}
{block name="title"}收入明细{/block}
{block name="css"}
<style type="text/css">
.numberDiv h4{color:#1E9FFF;font-size:28px;font-weight:500;padding:15px 0;}
.numberDiv font{color:red;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
			<fieldset class="layui-elem-field">
			  <legend>温馨提示</legend>
			  <div class="layui-field-box">
			  	用户充值后统计数据更新约有1-2小时延迟
			  </div>
			</fieldset>
		</div>
	</div>
	<div class="layui-row layui-col-space15">
		<div class="layui-col-sm6">
			<div class="layui-card">
				<div class="layui-card-header">收入总金额</div>
				<div class="layui-card-body numberDiv">
					<h4>¥{$money.income_money}</h4>
					<p>总充值：<font>¥{$money.charge_money}</font> 代理成本：<font>¥{$money.cost_money}</font></p>
				</div>
			</div>
		</div>
		<div class="layui-col-sm6">
			<div class="layui-card">
				<div class="layui-card-header">未提现总金额</div>
				<div class="layui-card-body numberDiv">
					<h4>¥{$money.amount}</h4>
					<p>申请提现总额：<font>¥{$money.withdraw_total}</font> 已支付：<font>¥{$money.withdraw_pay}</font> 待支付：<font>¥{$money.withdraw_wait}</font></p>
				</div>
			</div>
		</div>
	</div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	        	<div class="layui-inline">
		            <div class="layui-input-inline">
		             	<select class="layui-select" name="channel_id">
		             		<option value="">请选择渠道</option>
		             		{:createSelectHtml($option,$get['channel_id'])}
		             	</select>
		            </div>
		       </div>
	        	<div class="layui-inline">
		          	<label class="layui-form-label">下单时间</label>
		            <div class="layui-input-inline" style="width:240px;">
		              <input type="text" name="between_time" value="{$get['between_time']}" id="between_time" readonly="readonly" class="layui-input">
		            </div>
		       </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','table','form','laydate'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form,
	laydate = layui.laydate;
	layLoad('数据加载中...');
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
			{title: '序号',type:'numbers'},
		    {field: 'create_date', title: '日期',align:'center',minWidth:150},
		    {field: 'name', title: '渠道',align:'center',minWidth:100},
		    {field: 'charge_num', title: '充值单数',align:'center',minWidth:100},
		    {title: '充值金额',align:'center',minWidth:150,templet:function(d){
		    	return '¥'+d.charge_money;
		    }},
		    {field: 'ratio', title: '佣金比例',align:'center',minWidth:100},
		    {title: '收入金额',align:'center',minWidth:100,templet:function(d){
		    	return '¥'+d.income_money;
		    }},
		    {title: '状态',align:'center',minWidth:100,templet:function(d){
		    	var str = '';
		    	switch(parseInt(d.status)){
		    	case 1:
		    		str = '<a class="layui-btn layui-btn-xs layui-btn-normal">已提现</a>';
		    		break;
		    	case 2:
		    		str = '<a class="layui-btn layui-btn-xs">未提现</a>';
		    		break;
		    	}
		    	return str;
		    }}
		]],
		page : true,
		limit : 20,
		height : 'full-430',
		response: {statusCode: 1}, 
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	laydate.render({elem:'#between_time',type:'date',range:'~'});	
	form.on('submit(table-search)',function(obj){
		var where = obj.field;
		layLoad('数据加载中...');
		table.reload('table-block',{
			where : where,
			page: {curr:1}
		});
	});
});
</script>
{/block}
