{extend name="common@public/base"}
{block name="title"}已支付{/block}
{block name="css"}
<style type="text/css">
.block-item{min-height:168px;}
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	        	<div class="layui-inline">
		          	<label class="layui-form-label">账单周期</label>
		            <div class="layui-input-inline" style="width:240px;">
		              <input type="text" name="between_time" id="between_time" readonly="readonly" class="layui-input">
		            </div>
		       </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','table','form','laydate'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form,
	laydate = layui.laydate;
	layLoad('数据加载中...');
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
			{title: '序号',type:'numbers'},
			{title: '申请来源',align:'left',minWidth:150,templet:function(d){
		    	var str = '';
		    	str += d.name;
		    	switch(parseInt(d.account_type)){
		    	case 1:
		    		str += '&nbsp;<a class="layui-btn layui-btn-xs layui-btn-danger">VIP</a>';
		    		str += '<br />';
			    	str += '账号备注：'+d.remark;
		    		break;
		    	case 2:
		    		str += '&nbsp;<a class="layui-btn layui-btn-xs layui-btn-primary">代理</a>';
		    		break;
		    	}
		    	return str;
		    }},
		    {title: '充值金额',align:'center',width:100,templet:function(d){
		    	return '¥'+d.charge_money;
		    }},
		    {field: 'charge_num', title: '充值单数',align:'center',width:100},
		    {title: '提现金额',align:'center',width:200,templet:function(d){
		    	var str = '¥'+d.money;
		    	if(d.detail_url){
		    		str += '&nbsp;<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detail">明细</a>';
		    	}
		    	return str;
		    }},
		    {field: 'cur_date',title: '账单日期',align:'center',width:200},
		    {title: '提现账号信息',align:'left',width:260,templet:function(d){
		    	var str = '';
		    	str += d.bank_info.bank_user+'<br />';
		    	str += d.bank_info.bank_name+'<br />';
		    	str += d.bank_info.bank_no;
		    	return str;
		    }},
		    {field: 'pay_time', title: '支付时间',align:'center',width:180},
		    {field: 'opt_name', title: '操作员',align:'center',width:120},
		]],
		page : false,
		height : 'full-220',
		response: {statusCode: 1}, 
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	laydate.render({elem:'#between_time',type:'date',range:'~'});	
	form.on('submit(table-search)',function(obj){
		var where = obj.field;
		layLoad('数据加载中...');
		table.reload('table-block',{
			where : where,
			page: {curr:1}
		});
	});
	table.on('tool(table-block)',function(obj){
		var field = obj.data;
		var data = {sign:[field.sign]};
		switch(obj.event){
			case 'detail':
				layPage('提现明细',field.detail_url,'70%','60%');
				break;
		}
	});
});
</script>
{/block}
