{extend name="common@public/base"}
{block name="title"}渠道管理{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <div class="layui-inline">
	          	<label class="layui-form-label">渠道名称</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" id="bindChannel">绑定渠道</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
          	<div class="layui-btn-container">
		       <a class="layui-btn layui-btn-sm layui-btn-danger" id="setAccount"><i class="layui-icon layui-icon-set-sm"></i>设置结算资料</a>
		       <a class="layui-btn layui-btn-primary layui-btn-sm" id="refresh-btn"><font id="refreshSec">60</font>秒后刷新</a>
		    </div>
		    <p style="line-height:30px;">尊敬商户：如您是企业结算，请在提现明细导出待支付对账函盖章与合并总额开具含税发票邮寄我司核对予以结算，未尽部分请联系商务。</p>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','table','form'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form,
	is_refresh = true;
	layLoad('数据加载中...');
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
			{title: '序号',type:'numbers'},
		    {field: 'name', title: '渠道名称',align:'center',minWidth:150},
		    {field: 'login_name', title: '登录账号',align:'center',minWidth:100},
		    {title: '渠道状态',align:'center',width:130,templet:function(d){
		    	var str = '';
		    	switch(parseInt(d.status)){
			    	case 0:str += '待审核';break;
			    	case 1:str += '正常';break;
			    	case 2:str += '禁用';break;
		    	}
		    	return str;
		    }},
		    {title: '今日关注',align:'center',minWidth:100,templet:function(d){
		    	return d.sub_today;
		    }},
		    {title: '今日充值',align:'center',minWidth:100,templet:function(d){
		    	return '¥'+d.charge_today;
		    }},
		    {title: '昨日关注',align:'center',minWidth:100,templet:function(d){
		    	return d.sub_yesterday;
		    }},
		    {title: '昨日充值',align:'center',minWidth:100,templet:function(d){
		    	return '¥'+d.charge_yesterday;
		    }},
		    {title: '累计充值',align:'center',minWidth:100,templet:function(d){
		    	return '¥'+d.total_charge;
		    }},
		    {title: '可提现金额',align:'center',minWidth:100,templet:function(d){
		    	return '¥'+d.money;
		    }}
		]],
		page : false,
		height : 'full-220',
		response: {statusCode: 1}, 
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	refreshList();
	$('#refresh-btn').click(function(){
		if(is_refresh){
			is_refresh = false;
		}else{
			is_refresh = true;
			refreshList();
		}
	});
	function refreshList(){
		if(is_refresh){
			var sec = parseInt($('#refreshSec').text());
			if(sec === 0){
				layLoad('数据加载中...');
				table.reload('table-block');
				sec = 60;
			}else{
				sec--;
			}
			$('#refreshSec').text(sec);
			setTimeout(function(){
				refreshList();
			},999);
		}
	}
	
	$('#bindChannel').click(function(){
		var url = U('doBind');
		layer.open({
			  type: 2,
			  title: '绑定渠道',
			  closeBtn: 1,
			  shade: [0],
			  area: ['500px','300px'],
			  offset : '100px',
			  time: 0,
			  anim: 2,
			  scrollbar :false,
			  content: [url,'yes'],
			  btn : ['确定','取消'],
			  yes : function(index,layero){
				  var iframeWin = window[layero.find('iframe')[0]['name']];
				  iframeWin.layui.form.on('submit(dosubmit)', function(obj){
					  ajaxPost(url,obj.field,'确定要提交绑定吗？',function(d){
						  layOk('绑定成功');
						  setTimeout(function(){
							  layer.close(index);
							  table.reload('table-block');
						  },1500);
						    
					  });
		          });  
				  iframeWin.document.getElementById("dosubmit").click();
			  }
		});
	});
	
	$('#setAccount').click(function(){
		var url = U('setAccount');
		layer.open({
		  type: 2,
		  title: '设置结算资料',
		  closeBtn: 1,
		  shade: [0],
		  area: ['500px','355px'],
		  offset : '100px',
		  time: 0,
		  anim: 2,
		  scrollbar :false,
		  content: [url,'yes'],
		  btn : ['确定','取消'],
		  yes : function(index,layero){
			  var iframeWin = window[layero.find('iframe')[0]['name']];
			  iframeWin.layui.form.on('submit(dosubmit)', function(obj){
				  ajaxPost(url,obj.field,'确定要保存吗？',function(d){
					  	layOk('更新成功');
					  	setTimeout(function(){
					  		layer.close(index);
					  	},1500);
				  });
	          });  
			  iframeWin.document.getElementById("dosubmit").click();
		  }
		});
	});
	
	form.on('submit(table-search)',function(obj){
		var where = obj.field;
		layLoad('数据加载中...');
		table.reload('table-block',{
			where : where,
			page: {curr:1}
		});
	});
});
</script>
{/block}
