{extend name="public/base"}
{block name="head"}
<title>{$book.name}_全文无弹窗免费阅读</title>
<meta name="keywords" content="{$book.name},作者:{$book.author}{$book.name}，{$book.name}全文无弹窗阅读,神章节标题免费阅读,女生,古装言情,穿越时空,书屋小说网"/>
<meta name="description" content="{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/rate.css?v=1">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
{/block}
{block name="body"}
    <!-- nav -->
    <div class="nav">
        <div class="Center_box">
            {:createBookNav($nav_key)}
        </div>
    </div>
    {include file="public/bookinfo"}
    <div class="Center_box detail_navigation">
        <a href="./info.html?type=1&book_id={$book.id}">目录({$book.chapter_num}章)</a>
        <a href="./info.html?type=2&book_id={$book.id}">打赏榜单</a>
        <a class="active" href="javascript:void(0);">评价</a>
    </div>

    <div class="Center_box rate_box">
        <div class="top_bar">
       		<img class="headimg fl" src="{notempty name="user_msg"}{$user_msg.headimgurl}{else /}/static/templet/default/headimg.jpeg{/notempty}">
        		<div class="right fr">
                <textarea class="rate_main" placeholder="请输入您的评价" id="content" maxlength="100"></textarea>
                <button class="confirm fr" onclick="javascript:doComments();">确定</button>
                <button class="cencel fr" onclick="javascript:clearContent();">取消</button>
            </div>
        </div>
        <div class="rate_type">
            <p class="active fl" onclick="javascript:checkCate(this,1);">最新</p>
            <p class="fl" onclick="javascript:checkCate(this,2);">最热</p>
        </div>
        <ul class="rate_list listbox"></ul>
        <div class="page_number"><div class="my-page"></div></div>
    </div>
	{include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript" src="__HOME__/js/book.info.js"></script>
<script type="text/javascript">
var book_id = '{$book.id}';
getData();
</script>
{/block}