{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/books.css?v=1">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
<style type="text/css">
    .app-ad{
        clear:both;
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -644px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        margin-top: 4px;
        cursor: pointer;
    }
    .app-ios{
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -783px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        cursor: pointer;
    }
    .app_box{
        width: 1100px;
        margin: auto;
        background-color: #fff;
        padding: 0 60px;
        margin-top: 20px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 4px 0 #f3f3f3;
        box-shadow: 0 0 4px 0 #f3f3f3;
        border-radius: 5px;
    }
</style>
{/block}
{block name="body"}
<!-- nav -->
<div class="nav">
    <ul class="Center_box">
        {:createBookNav('')}
    </ul>
</div>
<!--下载app提示-->
<div class="Center_box app_box" style="height: 57px;background-color: #f4f4f4">
    <span style="font-size: 26px;color: #1593f8;font-weight: 800;display: inline-block;float: left;margin-top: 4px">免费下载书屋手机客户端，更好的移动阅读体验</span>
    <span class="app-ad" style="margin-left:60px;font-size: 30px"></span>
    <span class="app-ios" style="margin-left:60px;font-size: 30px"></span>
</div>
<p class="Center_box top_navigation">
    <a href="/home">首页</a>
    >
    <a href="javascript:void(0);">{$area}</a>
</p>
<div class="Center_box book_list">
    <div class="showBox"></div>
    <div class="page_number">
        <div class="my-page"></div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript" src="__HOME__/js/book.list.js?v=111"></script>
<script>
    $(".app-ad").click(function () {

        layer.tips('<img src="/static/resource/home/images/android.png" width="182px">', '.app-ad', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
    $(".app-ios").click(function () {
        layer.tips('<img src="/static/resource/home/images/ios.png" width="182px">', '.app-ios', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
</script>
{/block}