{extend name="public/base"}
{block name="head"}
<title>书屋小说网,小说推荐,热门全本免费小说推荐</title>
<meta name="description" content="提供各种类型出版图书的免费阅读，免费言情小说，免费公版书，免费名著，免费热销小说。"/>
<meta name="keywords" content="免费小说,免费出版图书阅读,免费出版小说,免费出版言情小说,免费出版小说阅读"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/books.css?v=1">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">

{/block}
{block name="body"}
    <!-- nav -->
    <div class="nav">
        <ul class="Center_box">
            {:createBookNav('news')}
        </ul>
    </div>
    <div class="Center_box book_list">
        <div class="showBox">
            <div class="book" style="padding: 15px 0 5px 0">
                <div class="info fr" style="width: 1050px">
                    <div class="bottom_bar" style="margin-top: 0">
                        <div style="line-height: 32px;text-align: center;font-size: 17px;font-weight: bold;color: #6e6e6e"><h3>{$re.title}</h3></div>
                    </div>
                </div>
            </div>
            <div class="book" style="padding: 0;border-bottom: none">
                <div class="info fr" style="width: 1050px">
                    <div class="bottom_bar" style="margin-top: 0">
                        <div style="line-height: 32px;text-align: center"><span style="font-size: 14px;color: #6e6e6e">发表时间：{$re.create_time}</span></div>
                    </div>
                </div>
            </div>
            <div class="book" style="padding: 60px 0 0 0;border-bottom: none;">
                <div class="info fr" style="width: 1050px">
                    <div class="bottom_bar" style="margin-top: 0;height: unset">
                        <div style="font-size: 14px;color: #6e6e6e;line-height: 20px;letter-spacing: 1px;text-indent: 2em">{$re.content}</span></div>
                    </div>
                </div>
            </div>
        <div class="page_number">
        	<div class="my-page"></div>
        </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript" src="__HOME__/js/book.newsContent.js?v=11111111"></script>
{/block}