{extend name="public/base"}
{block name="head"}
<title>{$book.name}_全文无弹窗免费阅读</title>
<meta name="keywords" content="{$book.name},作者:{$book.author}{$book.name}，{$book.name}全文无弹窗阅读,神章节标题免费阅读,女生,古装言情,穿越时空,书屋小说网"/>
<meta name="description" content="{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/catalog.css?v=1">
<style type="text/css">
    .app-ad{
        clear:both;
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -644px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        margin-top: 4px;
        cursor: pointer;
    }
    .app-ios{
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -783px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        cursor: pointer;
    }
    .app_box{
        width: 1100px;
        margin: auto;
        background-color: #fff;
        padding: 0 60px;
        margin-top: 20px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 4px 0 #f3f3f3;
        box-shadow: 0 0 4px 0 #f3f3f3;
        border-radius: 5px;
    }
</style>
{/block}
{block name="body"}
    <!-- nav -->
    <div class="nav" style="clear: both">
        <div class="Center_box">
            {:createBookNav($nav_key)}
        </div>
    </div>
    <!--下载app提示-->
    <div class="Center_box app_box" style="height: 57px;background-color: #f4f4f4">
        <span style="font-size: 26px;color: #1593f8;font-weight: 800;display: inline-block;float: left;margin-top: 4px">免费下载书屋手机客户端，更好的移动阅读体验</span>
        <span class="app-ad" style="margin-left:60px;font-size: 30px"></span>
        <span class="app-ios" style="margin-left:60px;font-size: 30px"></span>
    </div>

    {include file="public/bookinfo"}
    <div class="Center_box detail_navigation" style="clear: both;">
        <a class="active" href="javascript:void(0);">目录({$book.chapter_num}章)</a>
        <a href="./info.html?type=2&book_id={$book.id}">打赏榜单</a>
        <a href="./info.html?type=3&book_id={$book.id}">评价</a>
    </div>

    <!-- 目录 -->
    <div class="Center_box catalog_list" style="clear: both">
    	{notempty name="chapter"}
    		{volist name="chapter" id="bcv"}
    			<a href="javascript:void(0);" onclick="javascript:checkChapter('{$book.id}','{$bcv.number}');">
		            <p class="name">{$bcv.name}</p>
		            {gt name="bcv.money" value="0"}
		            	<img class="zs" src="__HOME__/images/zs.png">
		            {/gt}
		        </a>
    		{/volist}
    	{/notempty}
    </div>
    {include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__HOME__/js/book.info.js"></script>
<script>
    $(".app-ad").click(function () {

        layer.tips('<img src="/static/resource/home/images/android.png" width="182px">', '.app-ad', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
    $(".app-ios").click(function () {
        layer.tips('<img src="/static/resource/home/images/ios.png" width="182px">', '.app-ios', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
</script>
{/block}