{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/feedback.css">
{/block}
{block name="body"}
    <div class="nav">
        <ul class="Center_box">
            {:createBookNav('')}
        </ul>
    </div>
    <div class="Center_box feedBox">
        <p class="title">反馈</p>
        <p class="name">请选择反馈内容</p>
        <div class="choose_item">
            <input type="radio" name="choose_feed_item" class="choose_feed_item" value="1" id="1" hidden>
            <label class="choose_feed_item_label" for="1">色情低俗<img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
            <input type="radio" name="choose_feed_item" class="choose_feed_item" value="2" id="2" hidden>
            <label class="choose_feed_item_label" for="2">政治敏感<img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
            <input type="radio" name="choose_feed_item" class="choose_feed_item" value="3" id="3" hidden>
            <label class="choose_feed_item_label" for="3">违法犯罪<img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
            <input type="radio" name="choose_feed_item" class="choose_feed_item" value="4" id="4" hidden>
            <label class="choose_feed_item_label" for="4">广告骚扰<img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
            <input type="radio" name="choose_feed_item" class="choose_feed_item" value="5" id="5" hidden>
            <label class="choose_feed_item_label" for="5">无法继续阅读<img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
            <input type="radio" name="choose_feed_item" class="choose_feed_item" value="6" id="6" hidden>
            <label class="choose_feed_item_label choose_feed_item_label_width" for="6">标题或封面图片低俗<img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
            <input type="radio" name="choose_feed_item" class="choose_feed_item" value="7" id="7" hidden checked="checked">
            <label class="choose_feed_item_label" for="7">其他因素<img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
        </div>
        <p class="name">投诉原因描述</p>
        <div class="write_box">
            <textarea id="reason" maxlength="100" placeholder="请输入投诉内容(选填)"></textarea>
            <p class="number"><span id="writeNum">0</span>/100</p>
        </div>
        <p class="name">请留下您的联系方式</p>
        <input class="phone" id="phone" type="text" maxlength="11" placeholder="请输入您的手机号(选填)">
        <button class="btn" onclick="javascript:doSubmit();">提交</button>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript">
    $("#reason").on("input propertychange", function () {
    	var num = $(this).val().length;
        $('#writeNum').text(num);
    });
    
    function doSubmit(){
    	var type = $('input[name="choose_feed_item"]:checked').val();
    	console.log(type);
    	if(isNaN(parseInt(type))){
    		layer.msg('您尚未选择反馈类型');
    		return false;
    	}
    	var content = $('#reason').val();
    	var phone = $('#phone').val();
    	if(phone.length > 0 && !(/^1[3456789]\d{9}$/.test(phone))){
    		layer.msg('手机号格式不规范');
    		return false;
    	}
    	var data = {type:type,content:content,phone:phone};
    	ajaxPost('',data,function(){
    		layer.msg('提交成功');
    		setTimeout(function(){
    			window.history.go(-1);
    		},1500);
    	});
    }
</script>
{/block}