{extend name="public/base"}
{block name="head"}
<title>书屋小说网,小说推荐,热门全本免费小说推荐</title>
<meta name="description" content="提供各种类型出版图书的免费阅读，免费言情小说，免费公版书，免费名著，免费热销小说。"/>
<meta name="keywords" content="免费小说,免费出版图书阅读,免费出版小说,免费出版言情小说,免费出版小说阅读"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/books.css?v=1">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
<link rel="stylesheet" href="/static/layadmin/layui/css/layui.css">
<style>
    #uls li a{
        color: #6e6e6e!important;
        font-size: 18px;
    }
</style>
{/block}
{block name="body"}
    <!-- nav -->
    <div class="nav">
        <ul class="Center_box">
            {:createBookNav('map')}
        </ul>
    </div>
    <div class="Center_box book_list">
        <div class="showBox">

            <div class="book" style="padding: 60px 0 0 0;border-bottom: none;">
                <div class="info fr" style="width: 1050px">
                    <div class="bottom_bar" style="margin-top: 0;height: unset">
                        <div style="font-size: 14px;color: #6e6e6e;line-height: 20px;letter-spacing: 1px;text-indent: 2em">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                <legend><h3 style="color: #000000;font-size: 35px;font-weight: bold">网站地图<em style="font-size: 25px;color:#6e6e6e;font-weight: normal">/SITE MAP</em></h3></legend>
                            </fieldset>
                            <ul id="uls" class="layui-timeline" style="margin-top: 60px">
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis"></i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title"><em style="font-size: 25px;font-weight: 500;color: #000000!important;">热门分类</em></h3>
                                        <ul>
<!--                                            <li style="list-style-type: none"><a href="/home/book/category" target="_blank">书库</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/book/rank" target="_blank">榜单</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/book/publish" target="_blank">出版</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/book/free" target="_blank">限免</a></li>-->
                                            <li style="list-style-type: none"><a href="/home/book/category" target="_blank">书库</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/book/rank" target="_blank">榜单</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/book/overtype?type=1&gender_type=1&over_type=2" target="_blank">完结</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/book/overtype?type=1&gender_type=1&over_type=1" target="_blank">连载</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis"></i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title"><em style="font-size: 25px;font-weight: 500;color: #000000!important;">功能模块</em></h3>
                                        <ul>
                                            <li style="list-style-type: none"><a href="/home/charge/index" target="_blank">充值</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis"></i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title"><em style="font-size: 25px;font-weight: 500;color: #000000!important;">个人信息</em></h3>
                                        <ul>
                                            <li style="list-style-type: none"><a href="/home/user/bookself" target="_blank">我的书架</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/user/readhistory" target="_blank">阅读历史</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/user/log" target="_blank">消费记录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/user/set" target="_blank">我的资料</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/home/user/sign" target="_blank">签到</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                            <script src="/static/layadmin/layui/layui.js" charset="utf-8"></script>
                            <script>
                            </script>


                        </div>
                    </div>
                </div>
            </div>

        <div class="page_number">
        	<div class="my-page"></div>
        </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<!--<script type="text/javascript" src="__HOME__/js/book.newsContent.js?v=11111111"></script>-->
{/block}