{extend name="public/base"}
{block name="head"}
<title>{$book.name}_全文无弹窗免费阅读</title>
<meta name="keywords" content="{$book.name},作者:{$book.author}{$book.name}，{$book.name}全文无弹窗阅读,神章节标题免费阅读,女生,古装言情,穿越时空,书屋小说网"/>
<meta name="description" content="{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/reward_list.css">
<style type="text/css">
    .app-ad{
        clear:both;
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -644px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        margin-top: 4px;
        cursor: pointer;
    }
    .app-ios{
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -783px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        cursor: pointer;
    }
    .app_box{
        width: 1100px;
        margin: auto;
        background-color: #fff;
        padding: 0 60px;
        margin-top: 20px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 4px 0 #f3f3f3;
        box-shadow: 0 0 4px 0 #f3f3f3;
        border-radius: 5px;
    }
</style>
{/block}
{block name="body"}
<div class="nav">
    <div class="Center_box">
        {:createBookNav($nav_key)}
    </div>
    <!--下载app提示-->
    <div class="Center_box app_box" style="height: 57px;background-color: #f4f4f4">
        <span style="font-size: 26px;color: #1593f8;font-weight: 800;display: inline-block;float: left;margin-top: 4px">免费下载书屋手机客户端，更好的移动阅读体验</span>
        <span class="app-ad" style="margin-left:60px;font-size: 30px"></span>
        <span class="app-ios" style="margin-left:60px;font-size: 30px"></span>
    </div>
</div>
{include file="public/bookinfo"}
<div class="Center_box detail_navigation">
    <a  href="./info.html?type=1&book_id={$book.id}">目录({$book.chapter_num}章)</a>
    <a class="active" href="javascript:void(0);">打赏榜单</a>
    <a href="./info.html?type=3&book_id={$book.id}">评价</a>
</div>
<div class="Center_box reward_box">
    {notempty name="reward_rank"}
    <p class="title">打赏榜单</p>
    <div class="ranking_list">
        {volist name="reward_rank" id="rv" key="rk"}
        <div class="item fl">
            <div class="img_box">
                <img class="bg" src="__HOME__/images/{$rk}_bg.png">
                <img class="headimg" src="{$rv.headimgurl}">
                <img class="number" src="__HOME__/images/{$rk}.png">
            </div>
            <p class="name">{$rv.nickname}</p>
            <p class="fen">{$rv.money}</p>
        </div>
        {neq name="rk" value="3"}
        <div class="line fl"></div>
        {/neq}
        {/volist}
    </div>
    {/notempty}
    <p class="title">打赏礼物<span class="fr"></span></p>
    <div class="gifs">
        {notempty name="gift_list"}
        {volist name="gift_list" id="gv"}
        <div class="gift fl" onclick="javascript:showReward('{$gv.gift_key}','{$gv.name}','{$gv.src}','{$gv.money}',this);">
            <img class="gift_icon" src="{$gv.src}">
            <p class="gift_name textEllipsis">{$gv.name}</p>
            <p class="gift_number textEllipsis">{$gv.money}书币</p>
        </div>
        {/volist}
        {/notempty}
    </div>
</div>
<!-- 打赏弹窗 -->
<div class="popup_box" id="reward_popup">
    <div class="popup_main">
        <div class="top_bar">
            <img class="money fl" src="__HOME__/images/money.png">
            <p class="number fl">打赏<span>（书币余额:<font id="user_money">{$user.money}</font>）</span></p>
            <p class="cancel fr" onclick="javascript:hideReward();">取消</p>
        </div>
        <img class="gift_icon" src="">
        <p class="gift_name"></p>
        <p class="gift_number"></p>
        <div class="number_bar">
            <p class="total fl">小计<span><font class="total_money">0</font>书币</span></p>
            <p class="choose_number fr">
                <span class="add" onclick="javascript:doGiftNumber(this,'inc');">+</span>
                <span id="number">1</span>
                <span class="reduce" onclick="javascript:doGiftNumber(this,'dec');">-</span>
            </p>
        </div>
        <button class="btn" onclick="javascript:doRewardPay('{$book.id}','{$user.id}');">立即打赏</button>
    </div>
</div>

<!-- 打赏成功弹窗 -->

<div class="popup_box" id="reward_suc">
    <div class="popup_main">
        <img class="suc_img" src="__HOME__/images/suc.png">
        <p class="font1">打赏成功</p>
        <p class="font2">恭喜你打赏成功，返回继续阅读</p>
        <button class="btn" onclick="javascript:hideSuc();">返回继续阅读</button>
    </div>
</div>

{include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__HOME__/js/book.info.js?v=2112"></script>
<script>
    $(".app-ad").click(function () {

        layer.tips('<img src="/static/resource/home/images/android.png" width="182px">', '.app-ad', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
    $(".app-ios").click(function () {
        layer.tips('<img src="/static/resource/home/images/ios.png" width="182px">', '.app-ios', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
</script>
{/block}