{extend name="public/base"}
{block name="head"}
<title>{$book.name},{$chapter_title},国内最热门的免费小说阅读网</title>
<meta name="keywords" content="{$book.name},{$chapter_title},小说网,免费小说,书屋小说"/>
<meta name="description" content="{$book.name},{$chapter_title},{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/content.css">
{/block}
{block name="body"}
<!-- 导航 -->
    <p class="Center_box top_navigation">
        <a href="/home">首页</a>
        >
        <a href="javascript:void(0);">{$book.name}</a>
    </p>

    <div class="Center_box content_box">
        <div class="main_box bg_color fl">
            <div class="box">
                <img class="cover" src="{$book.cover}">
                <p class="name">{$book.name}</p>
                <p class="author">作者：{$book.author}</p>
                <p class="status">{eq name="book.over_type" value="1"}连载中{else /}已完结{/eq}<i></i>{$book.hot_num}人阅读</p>
            </div>
        </div>
        <div class="main_box bg_color fl">
            <div class="title" style="text-align: center;">{$chapter_title}</div>
            {:getBlock($number['current'],$dir)}
        </div>
        <div class="link_box bg_color fl">
            {gt name="number.prev" value="0"}
            	<a href="javascript:void(0);" onclick="javascript:checkChapter('{$book.id}','{$number.prev}');">上一章</a>
            {else /}
            	<a href="javascript:void(0);" style="color:#ccc">上一章</a>
            {/gt}
            <a href="./info.html?type=1&book_id={$book.id}">目录</a>
            {gt name="number.next" value="0"}
            	<a href="javascript:void(0);" onclick="javascript:checkChapter('{$book.id}','{$number.next}');">下一章</a>
            {else /}
            	<a href="javascript:void(0);" style="color:#ccc">下一章</a>
            {/gt}
        </div>
    </div>

    <div class="left_btn">
        <div class="item_btn" id="catalog">
            <img class="icon" src="__HOME__/images/content_list_1.png">
            <p class="font">目录</p>
        </div>
        {eq name="is_collect" value="yes"}
        	<div class="item_btn" onclick="javascript:doCollect('{$book.id}','remove',this);">
	            <img class="icon" src="__HOME__/images/content_list_5_a.png">
	            <p class="font">已收藏</p>
	        </div>
        {else /}
        	<div class="item_btn" onclick="javascript:doCollect('{$book.id}','join',this);">
	            <img class="icon" src="__HOME__/images/content_list_5.png">
	            <p class="font">收藏</p>
	        </div>
        {/eq}
        <a href="./feedback.html?book_id={$book.id}&number={$number.current}" class="item_btn">
            <img class="icon" src="__HOME__/images/jubao.png">
            <p class="font">举报</p>
        </a>
    </div>
    <div class="right_btn">
        <a href="./info.html?type=2&book_id={$book.id}" class="item_btn" id="catalog">
            <img class="icon" src="__HOME__/images/money.png">
            <p class="font">打赏</p>
        </a>
        <a href="./info.html?type=3&book_id={$book.id}" class="item_btn" id="set">
            <img class="icon" src="__HOME__/images/rate.png">
            <p class="font">评论</p>
        </a>
    </div>

    <!-- 目录 -->
    <div class="catalog bg_color_2">
        <img id="closeCatalog" src="__HOME__/images/close.png">
        <p class="title">共{$total_chapter}章</p>
        <div class="catalog_list">
            {volist name="chapter_list" id="cv"}
        		<a href="javascript:void(0);" onclick="javascript:checkChapter('{$book.id}','{$cv.number}');">
	                <p class="name" >{$cv.name} </p>
	                {gt name="cv.money" value="0"}
	                	<img class="zs" src="__HOME__/images/zs.png">
	                {/gt}
	            </a>
        	{/volist}
        </div>
    </div>
{/block}
{block name="footJs"}
<script>
    $('#catalog').on("click", function () {
        showcatalog();
    });

    $("#closeCatalog").on("click", function () {
        closecatalog();
    });
    
    function doCollect(book_id,thisKey,obj){
		var nextKey = '',nextText = '';
		if(thisKey === 'join'){
			nextKey = 'remove';
			nextText = '<img class="icon" src="__HOME__/images/content_list_5_a.png"><p class="font">已收藏</p>';
		}else{
			nextKey = 'join';
			nextText = '<img class="icon" src="__HOME__/images/content_list_5.png"><p class="font">收藏</p>';
		}
		ajaxPost('/home/Com/doCollect',{book_id:book_id,event:thisKey},function(){
			$(obj).attr('onclick','javascript:doCollect('+book_id+',\''+nextKey+'\',this);');
			$(obj).html(nextText);
			if(nextKey === 'remove'){
				$(obj).addClass('item_btn_font');
			}else{
				$(obj).removeClass('item_btn_font');
			}
		});
	}

    function showcatalog() {
        $("#catalog").css({
            "width": "70px",
            "backgroundColor": "#FFFCF5"
        });
        $("#catalog").children(".icon").attr("src", "/static/resource/home/images/content_list_1_a.png");
        $("#catalog").children(".font").css("color", "#1593F8");
        $('.catalog').show();
    }


    function closecatalog() {
        $("#catalog").css({
            "width": "60px",
            "backgroundColor": "#F8F3E9"
        });
        $("#catalog .icon").attr("src", "/static/resource/home/images/content_list_1.png");
        $("#catalog .font").css("color", "#333");
        $('.catalog').hide();
    }
</script>
{/block}