{extend name="public/base"}
{block name="head"}
<title>书屋小说-免费网络小说,最好看的小说推荐</title>
<meta name="description" content="书屋小说小说排行榜提供最新、流行、经典、精品原创小说排行榜,涵盖:玄幻小说排行榜,奇幻小说排行榜,武侠小说排行榜,仙侠小说排行榜,都市小说排行榜,历史小说排行榜,军事小说排行榜,竞技小说排行榜,悬疑小说排行榜, 轻小说小说排行榜,免费小说排行榜,新书排行榜,完本小说排行榜,粉丝打赏排行榜">
<meta name="keywords" content="小说,人气榜单，排行榜,小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜">
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/books.css?v=1">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
<style type="text/css">
    .app-ad{
        clear:both;
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -644px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        margin-top: 4px;
        cursor: pointer;
    }
    .app-ios{
        height: 28px;
        width: 128px;
        border-radius: 25px;
        background:url(/static/resource/home/images/header3.png)no-repeat -783px -18px;
        background-color: #1593f8;
        display: inline-block;
        line-height: 30px;
        cursor: pointer;
    }
    .app_box{
        width: 1100px;
        margin: auto;
        background-color: #fff;
        padding: 0 60px;
        margin-top: 20px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 4px 0 #f3f3f3;
        box-shadow: 0 0 4px 0 #f3f3f3;
        border-radius: 5px;
    }
</style>
{/block}
{block name="body"}
    <div class="nav">
        <ul class="Center_box">
            {:createBookNav('rank')}
        </ul>
    </div>
    <!--下载app提示-->
    <div class="Center_box app_box" style="height: 45px;background-color: #f4f4f4">
        <span style="font-size: 26px;color: #1593f8;font-weight: 800;display: inline-block;float: left;margin-top: 4px">免费下载书屋手机客户端，更好的移动阅读体验</span>
        <span class="app-ad" style="margin-left:60px;font-size: 30px"></span>
        <span class="app-ios" style="margin-left:60px;font-size: 30px"></span>
    </div>
    <div class="Center_box choose_type">
        <div class="bar key_type">
            <p class="name fl">分类:</p>
            <div class="choose_item fr">
                <span class="span_item blue" data-val="1" onclick="javascript:doChooseItem(this,'type',1);">小说</span>
                <span class="span_item" data-val="2" onclick="javascript:doChooseItem(this,'type',2);">漫画</span>
            </div>
        </div>
        <div class="bar key_gender_type">
            <p class="name fl">性别:</p>
            <div class="choose_item fr">
                <span class="span_item blue" data-val="1" onclick="javascript:doChooseItem(this,'gender_type',1);">男频</span>
                <span class="span_item" data-val="2" onclick="javascript:doChooseItem(this,'gender_type',2);">女频</span>
            </div>
        </div>
        <div class="bar key_flag">
            <p class="name fl">类别:</p>
            <div class="choose_item fr">
                <span class="span_item blue" data-val="1" onclick="javascript:doChooseItem(this,'flag',1);">热销榜</span>
                <span class="span_item" data-val="2" onclick="javascript:doChooseItem(this,'flag',2);">新书榜</span>
                <span class="span_item" data-val="3" onclick="javascript:doChooseItem(this,'flag',3);">收藏榜</span>
                <span class="span_item" data-val="4" onclick="javascript:doChooseItem(this,'flag',4);">点击榜</span>
            </div>
        </div>
    </div>
    <div class="Center_box book_list">
    	<div class="showBox"></div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript" src="__HOME__/js/book.list.js?v=2"></script>
<script>
    $(".app-ad").click(function () {

        layer.tips('<img src="/static/resource/home/images/android.png" width="182px">', '.app-ad', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
    $(".app-ios").click(function () {
        layer.tips('<img src="/static/resource/home/images/ios.png" width="182px">', '.app-ios', {
            tips:[3, '#ffffff'],
            closeBtn:1,
            shade:0,
            shadeClose:true,
            time: 20000, //20s后自动关闭
        });
    })
</script>
{/block}