{extend name="public/base"}
{block name="head"}
<title>{$book.name},{$chapter_title},国内最热门的免费小说阅读网</title>
<meta name="keywords" content="{$book.name},{$chapter_title},小说网,免费小说,书屋小说"/>
<meta name="description" content="{$book.name},{$chapter_title},{$book.summary}"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/content.css">
{/block}
{block name="body"}
    <!-- 导航 -->
    <p class="Center_box top_navigation">
        <a href="/home">首页</a>
        >
        <a href="javascript:void(0);">{$book.name}</a>
    </p>

    <div class="Center_box content_box">
        <div class="main_box bg_color fl">
            <div class="box">
                <img class="cover" src="{$book.cover}">
                <p class="name">{$book.name}</p>
                <p class="author">作者：{$book.author}</p>
                <p class="status">{eq name="book.over_type" value="1"}连载中{else /}已完结{/eq}<i></i>{$book.word_number}字<i></i>{$book.hot_num}人阅读</p>
            </div>
        </div>
        <div class="main_box bg_color fl">
            <div class="title">{$chapter_title}</div>
            {:getBlock($number['current'],$dir)}
        </div>
        <div class="link_box bg_color fl">
        	{gt name="number.prev" value="0"}
            	<a href="javascript:void(0);" onclick="javascript:checkChapter('{$book.id}','{$number.prev}');">上一章</a>
            {else /}
            	<a href="javascript:void(0);" style="color:#ccc">上一章</a>
            {/gt}
            <a href="./info.html?type=1&book_id={$book.id}">目录</a>
            {gt name="number.next" value="0"}
            	<a href="javascript:void(0);" onclick="javascript:checkChapter('{$book.id}','{$number.next}');">下一章</a>
            {else /}
            	<a href="javascript:void(0);" style="color:#ccc">下一章</a>
            {/gt}
        </div>
    </div>

    <div class="left_btn">
        <div class="item_btn" id="catalog">
            <img class="icon" src="__HOME__/images/content_list_1.png">
            <p class="font">目录</p>
        </div>
        <div class="item_btn" id="set">
            <img class="icon" src="__HOME__/images/content_list_2.png">
            <p class="font">设置</p>
        </div>
        {eq name="is_collect" value="yes"}
	        <div class="item_btn item_btn_font" onclick="javascript:doCollect('{$book.id}','remove',this);">
	            <p class="font">已在<br>书架</p>
	        </div>
        {else /}
        	 <div class="item_btn" onclick="javascript:doCollect('{$book.id}','join',this);">
	            <img class="icon" src="__HOME__/images/content_list_3.png">
	            <p class="font">书架</p>
	        </div>
        {/eq}
        <a href="./feedback.html?book_id={$book.id}&number={$number.current}" class="item_btn">
            <img class="icon" src="__HOME__/images/content_list_4.png">
            <p class="font">反馈</p>
        </a>
    </div>
    <div class="right_btn">
        <a href="./info.html?type=2&book_id={$book.id}" class="item_btn" id="catalog">
            <img class="icon" src="__HOME__/images/money.png">
            <p class="font">打赏</p>
        </a>
        <a href="./info.html?type=3&book_id={$book.id}" class="item_btn" id="set">
            <img class="icon" src="__HOME__/images/rate.png">
            <p class="font">评论</p>
        </a>
    </div>

    <!-- 目录 -->
    <div class="catalog bg_color_2">
        <img id="closeCatalog" src="__HOME__/images/close.png">
        <p class="title">共{$total_chapter}章</p>
        <div class="catalog_list">
        	{volist name="chapter_list" id="cv"}
        		<a href="javascript:void(0);" onclick="javascript:checkChapter('{$book.id}','{$cv.number}');">
	                <p class="name" >{$cv.name} </p>
	                {gt name="cv.money" value="0"}
	                	<img class="zs" src="__HOME__/images/zs.png">
	                {/gt}
	            </a>
        	{/volist}
        </div>
    </div>
    <!-- 设置 -->
    <div class="set bg_color_2">
        <img id="closeSet" src="__HOME__/images/close.png">
        <div class="choose_color_bar">
            <p class="font fl">背景颜色</p>
            <p class="color fl white"></p>
            <p class="color fl gray"></p>
            <p class="color fl green"></p>
            <p class="color fl black">
                <img src="__HOME__/images/moon.png">
            </p>
        </div>
        <div class="choose_font_bar">
            <p class="font fl">字体大小</p>
            <p class="item fl">a</p>
            <p class="item fl">A</p>
        </div>
        <div class="btn_bar">
            <button class="preserve fl">保存</button>
            <button class="cancel fl">取消</button>
        </div>
    </div>
{/block}
{block name="footJs"}

<script type="text/javascript">
	function doCollect(book_id,thisKey,obj){
		var nextKey = '',nextText = '';
		if(thisKey === 'join'){
			nextKey = 'remove';
			nextText = '<p class="font">已在<br>书架</p>';
		}else{
			nextKey = 'join';
			nextText = '<img class="icon" src="/static/resource/home/images/content_list_3.png"><p class="font">书架</p>';
		}
		ajaxPost('/home/Com/doCollect',{book_id:book_id,event:thisKey},function(){
			$(obj).attr('onclick','javascript:doCollect('+book_id+',\''+nextKey+'\',this);');
			$(obj).html(nextText);
			if(nextKey === 'remove'){
				$(obj).addClass('item_btn_font');
			}else{
				$(obj).removeClass('item_btn_font');
			}
		});
	}
	
    $('#catalog').on("click", function () {
        closeset()
        showcatalog()
    })

    $("#closeCatalog").on("click", function () {
        closecatalog()
    })

    $('#set').on("click", function () {
        closecatalog()
        showset()
    })

    $("#closeSet").on("click", function () {
        closeset()
    })

    function showcatalog() {
        $("#catalog").css({
            "width": "70px",
            "backgroundColor": "#FFFCF5"
        })
        $("#catalog").children(".icon").attr("src", "/static/resource/home/images/content_list_1_a.png")
        $("#catalog").children(".font").css("color", "#1593F8")
        $('.catalog').show()
    }

    function showset() {
        $("#set").css({
            "width": "70px",
            "backgroundColor": "#FFFCF5"
        })
        $("#set").children(".icon").attr("src", "/static/resource/home/images/content_list_2_a.png")
        $("#set").children(".font").css("color", "#1593F8")
        $('.set').show()
    }

    function closecatalog() {
        $("#catalog").css({
            "width": "60px",
            "backgroundColor": "#F8F3E9"
        })
        $("#catalog .icon").attr("src", "/static/resource/home/images/content_list_1.png")
        $("#catalog .font").css("color", "#333")
        $('.catalog').hide()
    }

    function closeset() {
        $("#set").css({
            "width": "60px",
            "backgroundColor": "#F8F3E9"
        })
        $("#set").children(".icon").attr("src", "/static/resource/home/images/content_list_2.png")
        $("#set").children(".font").css("color", "#333")
        $('.set').hide()
    }
</script>
{/block}