{extend name="public/base"}
{block name="head"}
<title>小说,小说网-纵横中文网|最热门的免费小说网</title>
<meta name="keywords" content="小说,小说网,免费小说,纵横中文网"/>
<meta name="description" content="纵横中文网,最热门的免费小说网站,提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚纵横,最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/books.css?v=1">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
{/block}
{block name="body"}
    <div class="nav">
        <ul class="Center_box">
            {:createBookNav('free')}
        </ul>
    </div>
    <div class="Center_box choose_type">
        <div class="bar key_type">
            <p class="name fl">分类:</p>
            <div class="choose_item fr">
                <span class="span_item blue" data-val="1" onclick="javascript:doChooseItem(this,'type',1);">小说</span>
                <span class="span_item" data-val="2" onclick="javascript:doChooseItem(this,'type',2);">漫画</span>
            </div>
        </div>
        <div class="bar key_gender_type">
            <p class="name fl">性别:</p>
            <div class="choose_item fr">
                <span class="span_item blue" data-val="1" onclick="javascript:doChooseItem(this,'gender_type',1);">男频</span>
                <span class="span_item" data-val="2" onclick="javascript:doChooseItem(this,'gender_type',2);">女频</span>
            </div>
        </div>
    </div>
    <div class="Center_box book_list">
        <div class="showBox"></div>
        <div class="page_number">
        	<div class="my-page"></div>
        </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript" src="__HOME__/js/book.list.js?v=1"></script>
{/block}