{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/recharge.css?v=2122">
{/block}
{block name="body"}
<div class="nav">
    <ul class="Center_box" style="width: 1100px">
        {:createBookNav('charge')}
    </ul>
</div>
<div class="Center_box recharge_box" style="width: 1100px">
    <div class="top">
        <img class="money fl" src="__HOME__/images/money.png">
        <p class="font fl">充值<span>（书币余额:{$money}）</span></p>
    </div>
    <p class="title">账户</p>
    <div class="info_bar">
        <img class="headimg fl" src="__HOME__/images/bg.png">
        <p class="name fl">{$user_msg.nickname}</p>
    </div>
    <p class="title">充值方式</p>
    <div class="choose_pay_type">
        <input type="radio" name="choose_pay_type" id="alipay" value="4" class="pay_type_input" hidden>
        <label class="pay_type fl" for="alipay">
            <img class="pay_icon fl" src="__HOME__/images/alipay_icon.png">
            <p class="pay_name fl">支付宝</p>
            <img class="choosed_icon" src="__HOME__/images/choosed_icon.png">
        </label>
        <input type="radio" name="choose_pay_type" id="wechat" value="5" class="pay_type_input" checked="checked" hidden>
        <label class="pay_type fl" for="wechat">
            <img class="pay_icon fl" src="__HOME__/images/wechat.png">
            <p class="pay_name fl">微信</p>
            <img class="choosed_icon" src="__HOME__/images/choosed_icon.png">
        </label>
    </div>
    <p class="title">充值金额</p>
    <div class="parice_list">
        {notempty name="charge"}
        {volist name="charge" id="v"}
        {gt name="v.content.vip_type" value="0"}
        <input type="radio" name="choose_pay_price" id="charge_{$v.id}" value="{$v.id}" class="pay_price_input" hidden {eq name="v.is_check" value="1"}checked="checked"{/eq}>
        <label class="pay_price big_pay_price fl" for="charge_{$v.id}">
            {switch name="v.content.vip_type"}
            {case value="1"}VIP日会员￥{$v.money}<span>（24小时内免费看）</span>{/case}
            {case value="2"}VIP月度会员￥{$v.money}<span>（30天内免费看）</span>{/case}
            {case value="3"}VIP季度会员￥{$v.money}<span>（3个月内免费额看）</span>{/case}
            {case value="4"}VIP半年度会员￥{$v.money}<span>（6个月内免费看）</span>{/case}
            {case value="5"}VIP年会员￥{$v.money}<span>（全年免费看）</span>{/case}
            {case value="6"}VIP终身会员￥{$v.money}<span>（终身免费看）</span>{/case}
            {/switch}
            <img class="choosed_icon" src="__HOME__/images/choosed_icon.png">
            <img class="zs" src="__HOME__/images/zs.png">
        </label>
        {else /}
        <input type="radio" name="choose_pay_price" id="charge_{$v.id}" value="{$v.id}" class="pay_price_input" {eq name="v.is_check" value="1"}checked="checked"{/eq} hidden>
        <label class="pay_price fl" for="charge_{$v.id}">￥{$v.money}<span>（{$v.content.coin}书币{gt name="v.content.send_coin" value="0"}+{$v.content.send_coin}书币{/gt}）</span><img class="choosed_icon" src="__HOME__/images/choosed_icon.png"></label>
        {/gt}
        {/volist}
        {/notempty}
    </div>
    <button class="btn" onclick="javascript:doCharge('{$book_id}');" style="cursor: pointer">立即充值</button>
    <p class="tips">
        一、1元=100书币，书币属于虚拟商品，一经购买不得退换。<br>
        二、充值后书币到账可能有延迟，1小时未到账请与联系客服。<br>
        三、在线工作时间：周一至周六 09：00-22：00
    </p>
</div>
{include file="public/footer"}
<script type="text/javascript">

    function doCharge(book_id){
        var charge_id = $("input[name='choose_pay_price']:checked").val();
        var pay_type = $("input[name='choose_pay_type']:checked").val();
        var data = {pay_type:pay_type,charge_id:charge_id,book_id:book_id};
        ajaxPost('',data,function(d){
            window.location.href = d.url;
            // window.location.href = "http://www.baidu.com";
        });
    }
</script>
{/block}