{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/aboutUs.css">
{/block}
{block name="body"}
    <div class="Center_box main_box" style="margin-top: 20px;">
        <h2 id="privacypolicy" class="title">隐私政策</h2>
        <div class="doc-item">
        	{:getBlock('privacypolicy','other')}
        </div>
    </div>
    {include file="public/footer"}
{/block}