{extend name="public/base"}
{block name="head"}
{eq name="gender_type" value="1"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
 <meta name="keywords" content="小说,小说网,免费小说,幻小说,最新玄幻小说,都市小说阅读,原创都市小说,军事小说,书屋小说"/> 
 <meta name="description" content="书屋小说网(shuwu.com)创建于2019年，原名书屋小说，是特玩网络科技旗下集创作,中国最热门的绿色免费小说网站,每日提供玄幻奇幻、都市言情、武侠仙侠、青春校园、穿越架空、惊悚悬疑、历史军事、爆笑同人、经典文学、二次元等在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/> 
{else /}
	<title>书屋小说网_最新免费言情小说_原创言情下载_在线言情阅读下载</title>
	<meta content="言情小说,免费言情小说,最新免费言情小说,原创言情,原创言情下载,在线言情小说阅读" name="keywords"/>
	<meta name="Description" content="书屋小说网(shuwu.com)创建于2019年，原名书屋小说，是特玩网络科技旗下集创作、阅读于一体的在线阅读网站。我们的使命以“让每个人都享受创作阅读的乐趣”为重点，提供玄幻奇幻、都市言情、武侠仙侠、青春校园、穿越架空、惊悚悬疑、历史军事、爆笑同人、经典文学、二次元等在线阅读以及免费下载。">
{/eq}
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/index.css?v=2">
<style type="text/css">
	.app-ad{
		clear:both;
		height: 28px;
		width: 128px;
		border-radius: 25px;
		background:url(/static/resource/home/images/header3.png)no-repeat -644px -18px;
		background-color: #1593f8;
		display: inline-block;
		line-height: 30px;
		margin-top: 4px;
		cursor: pointer;
	}
	.app-ios{
		height: 28px;
		width: 128px;
		border-radius: 25px;
		background:url(/static/resource/home/images/header3.png)no-repeat -783px -18px;
		background-color: #1593f8;
		display: inline-block;
		line-height: 30px;
		cursor: pointer;
	}
</style>
{/block}
{block name="body"}
    <!-- nav -->
    <div class="nav">
        <ul class="Center_box">
           {:createBookNav($nav_key)}
        </ul>
    </div>
	<!--下载app提示-->
	<div class="Center_box index_box" style="height: 35px;background-color: #f4f4f4">
		<span style="font-size: 26px;color: #1593f8;font-weight: 800;display: inline-block;float: left;margin-top: 4px">免费下载书屋手机客户端，更好的移动阅读体验</span>
		<span class="app-ad" style="margin-left:60px;font-size: 30px"></span>
		<span class="app-ios" style="margin-left:60px;font-size: 30px"></span>
	</div>

    <div class="Center_box index_box">
        <div class="banner fl">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                	{notempty name="banner"}
                		{volist name="banner" id="bv" key="k"}
                			<a href="{$bv.link}" class="swiper-slide">
		                        <img  src="{$bv.src}">
		                    </a>
							<span style="display: none" id="bname_{$k}">{:isset($bv.bname)?$bv.bname:''}</span>
                		{/volist}
                	{/notempty}
                </div>
				<div class="swiper-pagination" style="background: #8a8a8a; background-color:rgba(100,100,255,0.9);bottom: 0px;height: 45px;line-height: 45px;font-size: 22px;color: #EEEFF2"></div>
			</div>
		</div>
        <div class="fr rank">
            <div href="" class="index_title">
                <p class="index_title_name fl">热门排行榜</p>
                <a href="/home/book/rank.html?type={$type}&gender_type={$gender_type}&flag=1" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
            </div>
            <div class="rank_list">
            	{notempty name="rank_book.flag_1"}
            		{volist name="rank_book.flag_1" id="rv" key="rk"}
            			{lt name="rk" value="7"}
	            			{switch name="rk"}
	            				{case value="1"}
	            					 <a class="first" href="/home/book/info.html?book_id={$rv.id}">
					                    <div class="fl first_info">
					                        <img class="first_icon" src="__HOME__/images/first.png">
					                        <p class="first_name textEllipsis">{$rv.name}</p>
					                        <p class="first_author textEllipsis">{$rv.author}</p>
					                    </div>
					                    <img class="fr first_book_icon" src="{$rv.cover}">
					                </a>
	            				{/case}
	            				{case value="2"}
	            				 <a href="/home/book/info.html?book_id={$rv.id}">
				                    <p class="number fl blue">2</p>
				                    <p class="name fr textEllipsis">{$rv.name}<span>{$rv.author}</span></p>
				                </a>
	            				{/case}
	            				{case value="3"}
	            					 <a href="/home/book/info.html?book_id={$rv.id}">
					                    <p class="number fl blue">3</p>
					                    <p class="name fr textEllipsis">{$rv.name}<span>{$rv.author}</span></p>
					                </a>
	            				{/case}
	            				{default /}
	            					<a href="/home/book/info.html?book_id={$rv.id}">
					                    <p class="number fl">{$rk}</p>
					                    <p class="name fr textEllipsis">{$rv.name}<span>{$rv.author}</span></p>
					                </a>
	            			{/switch}
            			{/lt}
            		{/volist}
            	{/notempty}
            </div>
        </div>
    </div>
	{notempty name="area_book"}
		{volist name="area_book" id="av"}
		    <!-- 主编力荐 -->
		    <div class="Center_box index_box">
		        <div href="" class="index_title">
		            <p class="index_title_name fl">{$av.area}</p>
		            <a href="/home/book/more.html?type={$type}&gender_type={$gender_type}&area_id={$av.area_id}" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
		        </div>
		        <div class="recommend_list">
		        {volist name="av.book_list" id="aval"}
		        	<a href="/home/book/info.html?book_id={$aval.id}" class="recommend_item">
		                <img class="cover fl" src="{$aval.cover}">
		                <div class="info fl">
		                    <p class="name">{$aval.name}</p>
		                    <p class="main">{$aval.summary}</p>
		                    <p class="author textEllipsis">作者：{$aval.author}</p>
		                    <p class="type_line">
		                    {notempty name="aval.category"}
		                    	{volist name="aval.category" id="cval"}
		                    		<span class="type">{$cval}</span>
		                    	{/volist}
		                    {/notempty}
		                    </p>
		                </div>
		            </a>
		        {/volist}
		        </div>
		    </div>
		{/volist}
	{/notempty}
	
    <!-- 签约出版 -->
    {notempty name="publish_book"}
	    <div class="Center_box index_box signing">
	        <div class="icon fl">
	            <p>签<br>约<br>出<br>版</p>
	        </div>
	        <div class="signing_right fr">
	            <div class="left_btn btn" onclick="javascript:getPrevPublisBook('{$type}','{$gender_type}');">
	                <img src="__HOME__/images/left.png">
	            </div>
	            <div class="center_box">
	                <div class="center publish_box">
	                	{volist name="publish_book" id="pv"}
	                		<a href="/home/book/info.html?book_id={$pv.id}" class="item fl">
		                        <img class="cover" src="{$pv.cover}">
		                        <p class="name textEllipsis">{$pv.name}</p>
		                        <p class="author textEllipsis">{$pv.author}</p>
		                    </a>
	                	{/volist}
	                </div>
	            </div>
	            <div class="right_btn btn" onclick="javascript:getNextPublisBook('{$type}','{$gender_type}');">
	                <img src="__HOME__/images/right.png">
	            </div>
	        </div>
	    </div>
	{/notempty}
    <!-- 排行榜 -->
    <div class="Center_box index_box ranking">
        <div class="item fl">
            <div class="index_title">
                <p class="index_title_name fl">新书榜</p>
                <a href="/home/book/rank.html?type={$type}&gender_type={$gender_type}&flag=2" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
            </div>
            <div class="rank_list">
            	{notempty name="rank_book.flag_2"}
            		{volist name="rank_book.flag_2" id="rv2" key="rk2"}
            			{switch name="rk2"}
            				{case value="1"}
            					<a href="/home/book/info.html?book_id={$rv2.id}" class="first">
				                    <div class="fl first_info">
				                        <img class="first_icon" src="__HOME__/images/first.png">
				                        <p class="first_name textEllipsis">{$rv2.name}</p>
				                        <p class="first_author textEllipsis">{$rv2.author}</p>
				                    </div>
				                    <img class="fr first_book_icon" src="{$rv2.cover}">
				                </a>
            				{/case}
            				{case value="2"}
            					<a href="/home/book/info.html?book_id={$rv2.id}">
				                    <p class="number fl blue">2</p>
				                    <p class="name fr textEllipsis">{$rv2.name}<span>{$rv2.author} </span></p>
				                </a>
            				{/case}
            				{case value="3"}
            					<a href="/home/book/info.html?book_id={$rv2.id}">
				                    <p class="number fl blue">3</p>
				                    <p class="name fr textEllipsis">{$rv2.name}<span>{$rv2.author} </span></p>
				                </a>
            				{/case}
            				{default /}
            				<a href="/home/book/info.html?book_id={$rv2.id}">
			                    <p class="number fl">{$rk2}</p>
			                    <p class="name fr textEllipsis">{$rv2.name}<span>{$rv2.author} </span></p>
			                </a>
            			{/switch}
            		{/volist}
            	{/notempty}
            </div>
        </div>
        <div class="item fl">
            <div class="index_title">
                <p class="index_title_name fl">收藏榜</p>
                <a href="/home/book/rank.html?type={$type}&gender_type={$gender_type}&flag=3" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
            </div>
            <div class="rank_list">
                {notempty name="rank_book.flag_3"}
            		{volist name="rank_book.flag_3" id="rv3" key="rk3"}
            			{switch name="rk3"}
            				{case value="1"}
            					<a href="/home/book/info.html?book_id={$rv3.id}" class="first">
				                    <div class="fl first_info">
				                        <img class="first_icon" src="__HOME__/images/first.png">
				                        <p class="first_name textEllipsis">{$rv3.name}</p>
				                        <p class="first_author textEllipsis">{$rv3.author}</p>
				                    </div>
				                    <img class="fr first_book_icon" src="{$rv3.cover}">
				                </a>
            				{/case}
            				{case value="2"}
            					<a href="/home/book/info.html?book_id={$rv3.id}">
				                    <p class="number fl blue">2</p>
				                    <p class="name fr textEllipsis">{$rv3.name}<span>{$rv3.author} </span></p>
				                </a>
            				{/case}
            				{case value="3"}
            					<a href="/home/book/info.html?book_id={$rv3.id}">
				                    <p class="number fl blue">3</p>
				                    <p class="name fr textEllipsis">{$rv3.name}<span>{$rv3.author} </span></p>
				                </a>
            				{/case}
            				{default /}
            				<a href="/home/book/info.html?book_id={$rv3.id}">
			                    <p class="number fl">{$rk3}</p>
			                    <p class="name fr textEllipsis">{$rv3.name}<span>{$rv3.author} </span></p>
			                </a>
            			{/switch}
            		{/volist}
            	{/notempty}
            </div>
        </div>
		<div class="item fl">
			<div class="index_title">
				<p class="index_title_name fl">点击榜</p>
				<a href="/home/book/rank.html?type={$type}&gender_type={$gender_type}&flag=4" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
			</div>
			<div class="rank_list">
				{notempty name="rank_book.flag_4"}
				{volist name="rank_book.flag_4" id="rv4" key="rk4"}
				{switch name="rk4"}
				{case value="1"}
				<a href="/home/book/info.html?book_id={$rv4.id}" class="first">
					<div class="fl first_info">
						<img class="first_icon" src="__HOME__/images/first.png">
						<p class="first_name textEllipsis">{$rv4.name}</p>
						<p class="first_author textEllipsis">{$rv4.author}</p>
					</div>
					<img class="fr first_book_icon" src="{$rv4.cover}">
				</a>
				{/case}
				{case value="2"}
				<a href="/home/book/info.html?book_id={$rv4.id}">
					<p class="number fl blue">2</p>
					<p class="name fr textEllipsis">{$rv4.name}<span>{$rv4.author} </span></p>
				</a>
				{/case}
				{case value="3"}
				<a href="/home/book/info.html?book_id={$rv4.id}">
					<p class="number fl blue">3</p>
					<p class="name fr textEllipsis">{$rv4.name}<span>{$rv4.author} </span></p>
				</a>
				{/case}
				{default /}
				<a href="/home/book/info.html?book_id={$rv4.id}">
					<p class="number fl">{$rk4}</p>
					<p class="name fr textEllipsis">{$rv4.name}<span>{$rv4.author} </span></p>
				</a>
				{/switch}
				{/volist}
				{/notempty}
			</div>
		</div>
    </div>
	{notempty name="free_book"}
    <!-- 限时免费 -->
    <div class="Center_box index_box">
        <div href="" class="index_title">
            <p class="index_title_name fl">限时免费</p>
            <a href="/home/book/free.html?type={$type}&gender_type={$gender_type}" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
        </div>
        <div class="free_list">
        	{volist name="free_book" id="fv"}
				<a href="/home/book/info.html?book_id={$fv.id}" class="free_item fl">
	                <img class="cover" src="{$fv.cover}">
	                <p class="name textEllipsis">{$fv.name}</p>
	                <p class="author textEllipsis">{$fv.author}</p>
	            </a>
			{/volist}
        </div>
    </div>
	{/notempty}
	{notempty name="over_type1"}
	<!-- 连载 -->
	<div class="Center_box index_box">
		<div href="" class="index_title">
			<p class="index_title_name fl">连载</p>
			<a href="/home/book/overtype.html?type={$type}&gender_type={$gender_type}&over_type=1" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
		</div>
		<div class="free_list">
			{volist name="over_type1" id="ot1"}
			<a href="/home/book/info.html?book_id={$ot1.id}" class="free_item fl">
				<img class="cover" src="{$ot1.cover}">
				<p class="name textEllipsis">{$ot1.name}</p>
				<p class="author textEllipsis">{$ot1.author}</p>
			</a>
			{/volist}
		</div>
	</div>
	{/notempty}
	{notempty name="over_type2"}
	<!-- 完结 -->
	<div class="Center_box index_box">
		<div href="" class="index_title">
			<p class="index_title_name fl">完结</p>
			<a href="/home/book/overtype.html?type={$type}&gender_type={$gender_type}&over_type=2" class="more fr"><img class="fr" src="__HOME__/images/more.png"><span class="fr">更多</span></a>
		</div>
		<div class="free_list">
			{volist name="over_type2" id="ot2"}
			<a href="/home/book/info.html?book_id={$ot2.id}" class="free_item fl">
				<img class="cover" src="{$ot2.cover}">
				<p class="name textEllipsis">{$ot2.name}</p>
				<p class="author textEllipsis">{$ot2.author}</p>
			</a>
			{/volist}
		</div>
	</div>
	{/notempty}

	<!--友情链接-->
	<div class="Center_box index_box">
		<div href="" class="index_title">
			<p class="index_title_name fl">友情链接</p>
		</div>
		<div class="free_list">
			{volist name="links" id="fv"}
			<a href="{$fv.url}" class="free_item fl" style="padding: 0" target="_blank">
				<p class="name textEllipsis">{$fv.title}</p>
			</a>
			{/volist}
		</div>
	</div>


    {include file="public/footer" }
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/swiper.min.js"></script>
<script type="text/javascript">

var publish_page = 1,is_end = false;

//控制banner滚动
var swiper = new Swiper('.swiper-container', {
    autoplay: true,
    loop: true,
    speed: 400,
    auto: 3000,
	// 如果需要分页器
	pagination: {
    	//分页容器的css选择器
		el:'.swiper-pagination',
		type:'custom',
		renderCustom: function (swiper, current, total) {

				return $('#bname_'+current).html();
		}
	},
});

function getPrevPublisBook(type,gender_type){
	publish_page --;
	if(publish_page < 1){
		publish_page = 1;
		return false;
	}
	is_end = false;
	getPublistData(type,gender_type);
}

function getNextPublisBook(type,gender_type){
	if(!is_end){
		publish_page++;
		getPublistData(type,gender_type);
	}
}

function getPublistData(type,gender_type){
	var data = {type:type,gender_type:gender_type,page:publish_page};
	ajaxPost('/home/index/getPublishPageList',data,function(data){
		if(data){
			var str = '';
			$.each(data,function(i,item){
				str += '<a href="/home/book/info.html?book_id='+item.id+'" class="item fl">';
				str += '<img class="cover" src="'+item.cover+'">';
				str += '<p class="name textEllipsis">'+item.name+'</p>';
				str += '<p class="author textEllipsis">'+item.author+'</p>';
				str += '</a>';
			});
			$('.publish_box').html(str);
		}else{
			is_end = true;
		}
	});
}

$(".app-ad").click(function () {

	layer.tips('<img src="/static/resource/home/images/android.png" width="182px">', '.app-ad', {
		tips:[3, '#ffffff'],
		closeBtn:1,
		shade:0,
		shadeClose:true,
		time: 20000, //20s后自动关闭
	});
})
$(".app-ios").click(function () {
	layer.tips('<img src="/static/resource/home/images/ios.png" width="182px">', '.app-ios', {
		tips:[3, '#ffffff'],
		closeBtn:1,
		shade:0,
		shadeClose:true,
		time: 20000, //20s后自动关闭
	});
})

</script>
{/block}