<div class="Center_box userinfo">
     <img class="headimg fl" src="{$user_msg.headimgurl}">
     <div class="name_box fl">
         <p class="name">{$user_msg.nickname}</p>
         <div class="id_bar">
             <img class="fl" src="__HOME__/images/member1.png">
             <p class="name fl">普通会员</p>
             <span class="fl"></span>
             <p class="name fl">ID:{:addZero($user_msg['id'],6)}</p>
         </div>
     </div>
     <div class="right fr">
         <div class="item1 fr"  style="cursor: pointer" onclick="javascript:window.location.href='/home/charge/index'">
             {if $user_msg.viptime>0 || $user_msg.viptime==0}
             <p style="padding-left: 20px">到期时间：{:date('Y-m-d',$user_msg['viptime'])}</p>
             {elseif $user_msg.viptime==1}
             <p style="padding-left: 20px">到期时间：永久</p>
             {/if}
             <div class="item_top">
                 <img class="fl" src="__HOME__/images/zs.png">
                 <p class="font1 fl">开通年费VIP</p>
             </div>
             <p class="font2">365天每天1元畅读所有小说</p>
         </div>
         <div class="line fr"></div>
         <div class="item2 fr">
             <p class="font1">{$user_msg.money}</p>
             <p class="font2">书币余额</p>
         </div>
     </div>
 </div>