<div class="Center_box introduce" style="clear: both">
     <img class="cover fl" src="{$book.cover}">
     <div class="right fr">
         <p class="name">{$book.name}<span>作者：{$book.author}</span></p>
         <p class="status"><span>{eq name="book.over_type" value="1"}连载中{else /}已完结{/eq}</span>{eq name="book.type" value="1"}<i></i><span>{$book.word_number}字</span>{/eq}<i></i><span>{$book.hot_num}人阅读</span></p>
         <p class="main">{$book.summary}</p>
         <p class="type">{notempty name="book.category"}{volist name="book.category" id="cv"}<span>{$cv}</span>{/volist}{/notempty}</p>
         <div class="btn_bar">
             <a class="read fl" href="javascrpt:void(0);" onclick="javascript:checkChapter('{$book.id}',1);">立即阅读</a>
             {eq name="is_collect" value="yes"}
	    		<div class="join fl" data-key="remove" onclick="javascript:doCollect('{$book.id}',this);">已在书架</div>
	    	{else /}
	    		<div class="join fl" data-key="join" onclick="javascript:doCollect('{$book.id}',this);">加入书架</div>
	    	{/eq}
         </div>
     </div>
 </div>