<div class="footer">
    <div class="Center_box">
        <div class="link">
            <a href="/home/index/index.html?type=1">小说</a>
            <a href="/home/index/index.html?type=2">漫画</a>
            <a target="_blank" href="/home/doc/privacyPolicy.html">隐私政策</a>
            <a href="/home/doc/about.html#agreement">关于我们</a>
            <a href="/home/doc/about.html#contact">联系我们</a>
            <a href="/home/doc/about.html#privacypolicy">版权声明</a>
            <a href="/home/book/map">网站地图</a>
        </div>
        <p class="font">请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！</p>
        <p class="font">本站所收录作品（小说、漫画）及本站的广告均属个人行为，与本站立场无关。</p>
    </div>
    <div class="footer_line"></div>
    <div class="Center_box beian">
    	<span>Copyright © 厦门特玩网络科技有限公司</span>
    	<a href="__HOME__/images/cb.png" style="color:#fff;font-size:12px;">新出发厦字第HL1603号</a>　
        <a href="__HOME__/images/mww.jpeg" style="color:#fff;font-size:12px;">闽网文（2019）1237-080号</a>
        <img class="emblem" src="__HOME__/images/police.png">
        <span>闽ICP备19000415号-1</span>
    </div>
</div>