{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/search.css?v=2">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
{/block}
{block name="body"}
<div class="nav">
    <ul class="Center_box" style="width: 1100px">
        {:createBookNav('')}
    </ul>
</div>
<div class="Center_box choose_type" style="width: 1100px">
    <div class="bar">
        <p class="name fl">状态:</p>
        <div class="choose_item fr">
            <span class="blue" onclick="javascript:doChooseItem(this,'free_type','');">全部</span>
            <span onclick="javascript:doChooseItem(this,'free_type',1);">免费</span>
            <span onclick="javascript:doChooseItem(this,'free_type',2);">会员</span>
        </div>
    </div>
    <div class="bar key_over_type">
        <p class="name fl">进度:</p>
        <div class="choose_item fr">
            <span class="blue" onclick="javascript:doChooseItem(this,'over_type','');">全部</span>
            <span onclick="javascript:doChooseItem(this,'over_type',1);">连载中</span>
            <span onclick="javascript:doChooseItem(this,'over_type',2);">已完本</span>
        </div>
    </div>
    <div class="bar key_word_type">
        <p class="name fl">字数:</p>
        <div class="choose_item fr">
            <span class="blue" onclick="javascript:doChooseItem(this,'word_type','');">全部</span>
            <span onclick="javascript:doChooseItem(this,'word_type',1);">30w以下</span>
            <span onclick="javascript:doChooseItem(this,'word_type',2);">30w-50w</span>
            <span onclick="javascript:doChooseItem(this,'word_type',3);">50w-80w</span>
            <span onclick="javascript:doChooseItem(this,'word_type',4);">80w-100w</span>
            <span onclick="javascript:doChooseItem(this,'word_type',5);">100w以上</span>
        </div>
    </div>
    <div class="choose_type_line"></div>
    <div class="number"><font id="result_num">0</font>个结果</div>
</div>
<!-- 没有结果 -->
<div class="Center_box no_book" style="display: none;">
    <img src="__HOME__/images/no_book.png">
    <p>未查找到相关读物，请查看其他分类</p>
</div>

<!-- 搜索列表 -->
<div class="Center_box search_list" style="width: 1100px">
    <div class="search_res_box" style="overflow:hidden;"></div>
    <div class="page_number">
        <div class="my-page"></div>
    </div>
</div>

{include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript">
    var param = {},list_page = 1;
    getData();
    function doChooseItem(obj,key,val){
        if(val){
            param[key] = val;
        }else{
            if(key in param){
                delete param[key];
            }
        }
        $(obj).addClass('blue').siblings().removeClass('blue');
        $(obj).addClass('blue');
        clearPage();
        getData();
    }

    function getData(){
        param['page'] = list_page;
        ajaxPost('',param,function(res){
            createHtml(res.list);
            if(list_page === 1){
                $('#result_num').text(res.total_num);
                if(res.count > 1){
                    myPageInit({
                        pages: res.count,
                        currentPage: 1,
                        element: '.my-page',
                        callback: function(page) {
                            if(parseInt(page) !== list_page){
                                list_page = parseInt(page);
                                getData();
                            }
                        }
                    });
                }
            }
        });
    }

    function clearPage(){
        list_page = 1;
        $('.my-page').html('');
    }

    function createHtml(list){
        var str = '';
        if(list.length > 0){
            $.each(list,function(i,item){
                str += '<a href="/home/book/info.html?book_id='+item.id+'" class="search_item">';
                str += '<img class="cover fl" src="'+item.cover+'">';
                str += '<div class="info fl">';
                str += '<p class="name" title="'+item.name+'">'+item.name+'</p>';
                str += '<p class="main">'+item.summary+'</p>';
                str += '<p class="author textEllipsis">作者：'+item.author+'</p>';
                str += '<p class="type_line">';
                if(item.category.length > 0){
                    for(var i=0;i<item.category.length;i++){
                        str += '<span class="type">'+item.category[i]+'</span>';
                    }
                }
                str += '</p>';
                str += '</div>';
                str += '</a>';
            });
        }
        $('.search_res_box').html(str);
    }
</script>
{/block}