{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/welfare.css">
{/block}
{block name="body"}
{include file="public/uheader"}
<div class="Center_box main_box">
	<div class="nav_bar">
		{:createUserNav(4)}
	</div>

	<div class="content_box">
		<p class="font1">连续签到7天合计可得书币(个)</p>
		<p class="font2">{$cur.total}</p>
		<ul class="list">
			{volist name="cur.list" id="v"}
			{eq name="v.is_sign" value="yes"}
			<li class="item active">
				<p class="days">第{$v.day}天已签</p>
				<p class="number">{$v.money}书币</p>
			</li>
			{else /}
			<li class="item">
				<p class="days">第{$v.day}天</p>
				<p class="number">{$v.money}书币</p>
			</li>
			{/eq}

			{/volist}
		</ul>
		{eq name="cur.cur_sign" value="yes"}
		<button class="btn" style="background-color:#e6e6e6;cursor: not-allowed">已签到</button>
		{else /}
		<button class="btn" style="cursor: pointer" onclick="javascript:doSign();">签到</button>
		{/eq}
	</div>
	<p class="tips">
		1. 本签到为累计签到，用户若中途中断签到，签到记录将自动重新开始。<br>
		2. 签到周期为七天。
	</p>
</div>
{/block}
{block name="footJs"}
<script>
	//全选
	$("#choose_all").on("change", function () {
		var value = $("#choose_all").is(":checked");
		if (value) { // 全选
			$("input[name='choose_book']").each(function () {
				$(this).prop("checked", true);
			});
		} else {
			$("input[name='choose_book']").each(function () {
				$(this).prop("checked", false);
			});
		}
	})

	$("#delete").on("click", function () {
		$('.delete_popup').show()
	})

	$('.close').on("click", function () {
		$('.delete_popup').hide()
	});
	function doSign(){
		ajaxPost('',{},function(){
			layer.msg('签到成功');
			$('.item').each(function(){
				if(!$(this).hasClass('active')){
					$(this).addClass('active');
					$(this).find('.days').text('今日已签');
					$('.btn').css('background-color','#e6e6e6');
					$('.btn').css('cursor','not-allowed');
					$('.btn').removeAttr('onclick');
					$('.btn').text('已签到');

					var today_money = parseInt($("li.active:last .number").html());//今日签到所得的书币
					var total_money = parseInt($(".item2 p.font1").html());//总的书币数
					total_money+=today_money;
					$(".item2 p.font1").html(total_money);
					return false;
				}
			});
		});
	}
	$("li.active:last .days").html('今日已签');
</script>
{/block}