{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/aboutUs.css">
{/block}
{block name="body"}
	{include file="public/uheader"}
    <div class="Center_box main_box">
        <div class="nav_bar">
            {:createUserNav(6)}
        </div>
        <img class="banner" src="__HOME__/images/bg.png">
        <h2 id="agreement" class="title">用户服务协议</h2>
        <div class="doc-item">
        	{:getBlock('agreement','other')}
        </div>
        <h2 id="privacypolicy" class="title">版权声明</h2>
        <div class="doc-item">
        	{:getBlock('privacypolicy','other')}
        </div>
        <h2 class="title" id="contact">联系我们</h2>
        <div class="contact fl">
            <img class="icon" src="__HOME__/images/phone.png">
            <div class="right">
                <p class="top_font">客服热线</p>
                <p class="bottom_font">{$cur.tel}</p>
            </div>
        </div>
        <div class="contact fl">
            <img class="icon" src="__HOME__/images/email.png">
            <div class="right">
                <p class="top_font">举报邮箱</p>
                <p class="bottom_font">{$cur.email}</p>
            </div>
        </div>
    </div>
    {include file="public/footer"}
{/block}