{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/consumption.css">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
{/block}
{block name="body"}
    {include file="public/uheader"}
    <div class="Center_box main_box">
        <div class="nav_bar">
            {:createUserNav(3)}
        </div>
        <div class="sub_nav">
            <a href="./log.html?type=1" class="active">充值记录（元）</a>
            <a href="./log.html?type=2">打赏记录</a>
            <a href="./log.html?type=3">消费记录（书币）</a>
        </div>
        <div class="title">
            <p class="fl w326">充值类目</p>
            <p class="fl w326">充值金额</p>
            <p class="fl w326">充值日期</p>
        </div>
        <ul class="consumption_list"></ul>
        <div class="page_number fr">
            <div class="my-page"></div>
        </div>
    </div>
    {include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript" src="__HOME__/js/user.log.js"></script>
{/block}