{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/set.css">
{/block}
{block name="body"}
{include file="public/uheader"}
<div class="Center_box main_box">
    <div class="nav_bar">
        {:createUserNav(7)}
    </div>
    <div class="content">
        <div class="fl colnav">
            <a href="./set.html" class="active">基本信息</a>
            <a href="./doPwd.html">修改密码</a>
            <a href="./bindPhone.html">绑定手机</a>
        </div>
        <div class="right fl">
            <div class="bar h80">
                <p class="content_name">头像设置</p>
                <img class="headimg fl" id="headimg" onclick="javascript:cropImage();" style="cursor: pointer" src="{$user_msg.headimgurl}">
                <a class="chooseHeadImg fl" onclick="javascript:cropImage();" style="cursor: pointer">修改头像</a>
                <p class="headtips">支持jpg、gif、png或bmp格式的图片，建议文件小于2M</p>
            </div>
            <div class="bar">
                <p class="content_name">性别</p>
                <input class="choose_sex" type="radio" name="choose_sex" id="man" value="1" hidden {eq name="user_msg.sex" value="1"}checked{/eq}>
                <label class="choose_sex_label fl" for="man" style="cursor: pointer">
                    <p class="sex fl">男</p>
                    <p class="quan fl">
                        <span></span>
                    </p>
                </label>
                <input class="choose_sex" type="radio" name="choose_sex" id="woman" value="2" hidden {eq name="user_msg.sex" value="2"}checked{/eq}>
                <label class="choose_sex_label fl" for="woman" style="cursor: pointer">
                    <p class="sex fl">女</p>
                    <p class="quan fl">
                        <span></span>
                    </p>
                </label>
            </div>
            <div class="bar">
                <p class="content_name">用户名</p>
                <input class="common_input fl" disabled="disabled" style="cursor: not-allowed" name="user_nickname" value="{$user_msg.nickname}" maxlength="20" type="text" placeholder="请设置您的用户名">
            </div>
            <button class="btn" style="cursor: pointer" onclick="javascript:doSubmit();">保存</button>
        </div>
    </div>

</div>
{include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript">
    //上传裁剪图片
    function cropImage(){
        layer.open({
            type: 2,
            title: '上传用户头像',
            closeBtn: 1,
            shade: [0],
            area: ['800px','600px'],
            offset : '100px',
            time: 0,
            anim: 2,
            scrollbar :false,
            content: ['/home/upload/headimg','yes'],
            btn : ['确定','取消'],
            yes : function(index,layero){
                var childWindow = $(layero).find('iframe')[0].contentWindow;
                childWindow.uploadImage(function(url){
                    layer.close(index);
                    $('#headimg').attr('src',url);
                });
            }
        });
    }

    function doSubmit(){
        var headimg = $('#headimg').attr('src');
        var sex = $('input[name="choose_sex"]:checked').val();
        var nickname = $('input[name="user_nickname"]').val();
        ajaxPost('',{headimgurl:headimg,sex:sex,nickname:nickname},function(d){
            layer.msg('设置成功');
        });
    }
</script>
{/block}