{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/feedbackMy.css">
{/block}
{block name="body"}
    <div class="Center_box userinfo">
        <img class="headimg fl" src="__HOME__/images/bg.png">
        <div class="name_box fl">
            <p class="name">杨发财</p>
            <div class="id_bar">
                <img class="fl" src="__HOME__/images/bg.png">
                <p class="name fl">普通会员</p>
                <span class="fl"></span>
                <p class="name fl">ID:68778899</p>
            </div>
        </div>
        <div class="right fr">
            <div class="item1 fr">
                <div class="item_top">
                    <img class="fl" src="__HOME__/images/zs.png">
                    <p class="font1 fl">开通年费VIP</p>
                </div>
                <p class="font2">365天每天1元畅读所有小说</p>
            </div>
            <div class="line fr"></div>
            <div class="item2 fr">
                <p class="font1">326.00<span>元</span></p>
                <p class="font2">书币余额</p>
            </div>
        </div>
    </div>
    <div class="Center_box main_box">
        <div class="nav_bar">
            <a href="./bookshelf.html">我的书架</a>
            <a href="./readHistory.html">阅读历史</a>
            <a href="./consumption.html">消费记录</a>
            <a href="./welfare.html">福利中心</a>
            <a href="./feedcackMy.html" class="active">意见反馈</a>
            <a href="./aboutUs.html">关于我们</a>
            <a href="./set.html">账户设置</a>
        </div>
        <p class="title">您遇到的问题</p>
        <div class="write_box">
            <textarea id="write" maxlength="100" placeholder="请输入投诉内容(选填)"></textarea>
            <p class="number"><span>0</span>/100</p>
        </div>
        <p class="title">请留下您的联系方式</p>
        <input class="phone" type="text" placeholder="请输入您的手机号(选填)">
        <button class="btn">提交</button>
    </div>
    <div class="sub_suc">
        <div class="main">
            <img class="suc" src="__HOME__/images/success.png">
            <p class="font1">反馈成功</p>
            <p class="font2">审核后我们将赠送书币到您的个人账户</p>
            <a href="" class="back">返回个人中心</a>
        </div>
    </div>
{/block}
{block name="footJs"}
<script>
    $("#write").on("input propertychange", function () {
        var val = $(this).val();
        $(".number span").text(val.length);
    })

    $('.btn').on("click",function(){
        $(".sub_suc").show()
    })
</script>
{/block}