{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/consumption.css">
{/block}
{block name="body"}
    <div class="Center_box userinfo">
        <img class="headimg fl" src="__HOME__/images/bg.png">
        <div class="name_box fl">
            <p class="name">杨发财</p>
            <div class="id_bar">
                <img class="fl" src="__HOME__/images/bg.png">
                <p class="name fl">普通会员</p>
                <span class="fl"></span>
                <p class="name fl">ID:68778899</p>
            </div>
        </div>
        <div class="right fr">
            <div class="item1 fr">
                <div class="item_top">
                    <img class="fl" src="__HOME__/images/zs.png">
                    <p class="font1 fl">开通年费VIP</p>
                </div>
                <p class="font2">365天每天1元畅读所有小说</p>
            </div>
            <div class="line fr"></div>
            <div class="item2 fr">
                <p class="font1">326.00<span>元</span></p>
                <p class="font2">书币余额</p>
            </div>
        </div>
    </div>

    <div class="Center_box main_box">
        <div class="nav_bar">
            <a href="./bookshelf.html">我的书架</a>
            <a href="./readHistory.html">阅读历史</a>
            <a href="./consumption.html" class="active">消费记录</a>
            <a href="./welfare.html">福利中心</a>
            <a href="./feedcackMy.html">意见反馈</a>
            <a href="./aboutUs.html">关于我们</a>
            <a href="./set.html">账户设置</a>
        </div>


        <div class="sub_nav">
            <a href="./consumption.html" class="active">充值记录（元）</a>
            <a href="./rewardHistory.html">打赏记录</a>
            <a href="./consumptionHistory.html">消费记录（书币）</a>
        </div>

        <div class="title">
            <p class="fl w326">充值类目 </p>
            <p class="fl w326">充值金额</p>
            <p class="fl w326">充值日期</p>
        </div>

        <ul class="consumption_list">
            <li>
                <p class="w326">书币充值</p>
                <p class="red w326">+10</p>
                <p class="w326">2020-01-03 10:22:30</p>
            </li>
            <li>
                <p class="w326">书币充值</p>
                <p class="red w326">+10</p>
                <p class="w326">2020-01-03 10:22:30</p>
            </li>
            <li>
                <p class="w326">书币充值</p>
                <p class="red w326">+10</p>
                <p class="w326">2020-01-03 10:22:30</p>
            </li>
        </ul>



        <div class="page_number fr">
            <span class="img_span">
                <img src="__HOME__/images/page_number_left.png">
            </span>
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>...</span>
            <span>100</span>
            <span>
                <img src="__HOME__/images/page_number_right.png">
            </span>
        </div>
    </div>
{/block}