{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/set.css">
{/block}
{block name="body"}
{include file="public/uheader"}
<div class="Center_box main_box">
    <div class="nav_bar">
        {:createUserNav(7)}
    </div>
    <div class="content">
        <div class="fl colnav">
            <a href="./set.html">基本信息</a>
            <a href="./doPwd.html" class="active">修改密码</a>
            <a href="./bindPhone.html">绑定手机</a>
        </div>
        <div class="right fr" id="oldPwdBox">
            <p class="m_title">为保障您的账号安全，修改登陆密码前请填写原密码</p>
            <div class="m_bar">
                <p class="m_name fl">原登录密码</p>
                <input type="password" name="user_old_pwd" maxlength="16" class="m_input fl">
                <p class="forget_pwd fl" style="cursor: pointer" onclick="javascript:showPhoneBox();">忘记密码</p>
            </div>
            <button class="m_btn" onclick="javascript:doCheckOldPwd();"  style="cursor: pointer">下一步</button>
        </div>
        <!-- 修改密码输入密码 -->

        <!-- 修改密码输入验证码 -->
        <div class="right fr" id="phoneBox" style="display:none;">
            <p class="m_title">为保障您的账号安全，修改登陆密码前请填写原密码</p>
            <div class="m_bar">
                <p class="m_name fl">绑定手机号码</p>
                <input type="text" name="user_pwd_phone" maxlength="11" class="m_input fl">
            </div>
            <div class="m_bar">
                <p class="m_name fl">请输入验证码</p>
                <div class="m_input fl">
                    <input type="text" name="user_pwd_code" class="code_input fl">
                    <p class="fr" id="code" onclick="javascript:sendPwdCode(this);" style="cursor: pointer">获取验证码</p>
                </div>
            </div>
            <button class="m_btn" onclick="javascript:doCheckBindPhone();" style="cursor: pointer">下一步</button>
        </div>

        <!-- 修改密码输入密码 -->
        <div class="right fr" id="setPwdBox" style="display: none;">
            <p class="m_title">验证通过，请为您的账户设置新的登录密码</p>
            <div class="m_bar">
                <p class="m_name fl">新登录密码</p>
                <input type="password" name="user_new_pwd" maxlength="16" class="m_input fl">
            </div>
            <div class="m_bar">
                <p class="m_name fl">确认新密码</p>
                <input type="password" name="user_re_pwd" maxlength="16" class="m_input fl">
            </div>
            <button class="m_btn" onclick="javascript:doSetNewPwd();" style="cursor: pointer">确定</button>
        </div>

        <!-- 修改成功 -->
        <div class="right fr" id="sucBox" style="display:none;">
            <img class="suc" src="__HOME__/images/success.png">
            <p class="m_s_f1">修改成功</p>
            <p class="m_s_f2">恭喜你密码修改成功</p>
        </div>
    </div>
</div>
{include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__HOME__/js/user.pwd.js"></script>
{/block}