{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/set.css">
{/block}
{block name="body"}
{include file="public/uheader"}
<div class="Center_box main_box">
    <div class="nav_bar">
        {:createUserNav(7)}
    </div>
    <div class="content">
        <div class="fl colnav">
            <a href="./set.html">基本信息</a>
            <a href="./doPwd.html">修改密码</a>
            <a href="./bindPhone.html" class="active">绑定手机</a>
        </div>


        <div class="right fr">
            <p class="m_title">为保障您的账号安全，请填写正确的短信验证码进行修改</p>
            <div class="m_bar">
                <p class="m_name fl">手机号码</p>
                <input type="text" name="user_bind_phone" maxlength="11" class="m_input fl">
            </div>
            <div class="m_bar">
                <p class="m_name fl">验证码</p>
                <div class="m_input fl">
                    <input type="text" name="user_bind_code" class="code_input fl">
                    <p class="fr" id="code" onclick="javascript:sendBindCode(this);" style="cursor: pointer">获取验证码</p>
                </div>
            </div>
            <button class="m_btn" onclick="javascript:doSubmit();" style="cursor: pointer">提交</button>
        </div>
        <!-- 修改成功 -->
        <div class="right fr" id="sucBox" style="display:none;">
            <img class="suc" src="__HOME__/images/success.png">
            <p class="m_s_f1">修改成功</p>
            <p class="m_s_f2">恭喜你手机号修改成功</p>
        </div>
    </div>
</div>
{include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript">

    var bind_time = 0;

    function sendBindCode(obj){
        if(bind_time !== 0){
            return false;
        }
        bind_time = 120;
        var phone = $('input[name="user_bind_phone"]').val();
        if(!/^1[3456789]\d{9}$/.test(phone)){
            layer.msg('手机号格式不正确');
            bind_time = 0
            return false;
        }
        $.ajax({
            type : 'post',
            url : '/home/Com/sendCode',
            data : {phone:phone,type:1},
            dataType : 'json',
            success : function(res){
                if(res.code == 1){
                    setBindTime(obj);
                }else{
                    bind_time = 0;
                    layer.msg(res.msg);
                }
            },
            error : function(){
                bind_time = 0;
                layer.msg('网络错误,请稍后再试');
            }
        });
    }

    function setBindTime(obj){
        if (bind_time == 0) {
            $(obj).text("重新获取");
            return;
        } else {
            $(obj).text(bind_time + "s");
            bind_time--;
        }
        setTimeout(function() {
            setBindTime(obj);
        },1000);
    }

    function doSubmit(){
        var phone = $('input[name="user_bind_phone"]').val();
        if(!/^1[3456789]\d{9}$/.test(phone)){
            layer.msg('手机号格式不正确');
            pwd_time = 0
            return false;
        }
        var code = $('input[name="user_bind_code"]').val();
        if(!/^\d{4}$/.test(code)){
            layer.msg('验证码格式不正确');
            pwd_time = 0
            return false;
        }
        ajaxPost('',{phone:phone,code:code},function(res){
            $('.right').hide();
            $('#sucBox').show();
        });
    }
</script>
{/block}