{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/feedbackMy.css" />
{/block}
{block name="body"}
    {include file="public/uheader"}
    <div class="Center_box main_box">
        <div class="nav_bar">
            {:createUserNav(5)}
        </div>
        <p class="title">您遇到的问题</p>
        <div class="write_box">
            <textarea id="content" maxlength="100" placeholder="请输入反馈内容(必填)"></textarea>
            <p class="number"><span>0</span>/100</p>
        </div>
        <p class="title">请留下您的联系方式</p>
        <input class="phone" type="text" id="phone" maxlength="11" placeholder="请输入您的手机号(必填)">
        <button class="btn" onclick="javascript:doSubmit();">提交</button>
    </div>
    <div class="sub_suc">
        <div class="main">
            <img class="suc" src="__HOME__/images/success.png">
            <p class="font1">反馈成功</p>
            <p class="font2">审核后我们将赠送书币到您的个人账户</p>
            <a href="/home/user/bookself.html" class="back">返回个人中心</a>
        </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript">
    $("#content").on("input propertychange", function () {
        var val = $(this).val();
        $(".number span").text(val.length);
    });
    function doSubmit(){
    	var content = $('#content').val();
    	if(content.length == 0){
    		layer.msg('请输入反馈内容');
    		return false;
    	}
    	var phone = $('#phone').val();
    	if(phone.length > 0 && !(/^1[3456789]\d{9}$/.test(phone))){
    		layer.msg('手机号格式不规范');
    		return false;
    	}
    	var data = {content:content,phone:phone};
    	ajaxPost('',data,function(){
    		$(".sub_suc").show()
    	});
    }
    
</script>
{/block}