{extend name="public/base"}
{block name="head"}
<title>小说,小说网,书屋小说-国内最热门的免费小说阅读网</title>
<meta name="keywords" content="小说,小说网,免费小说,书屋小说"/>
<meta name="description" content="书屋小说,中国最热门的绿色免费小说网站,每日提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚小说书屋网,时刻最新章节每日更新。"/>
{/block}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/bookshelf.css">
<link rel="stylesheet" href="/static/plugins/page/my_page.css">
{/block}
{block name="body"}
{include file="public/uheader"}
<div class="Center_box main_box">
    <div class="nav_bar">
        {:createUserNav(2)}
    </div>
    <!-- 没有书 -->
    <div class="not_book">
        <img src="__HOME__/images/no_book.png">
        <p>您还没有书籍，快去选购吧</p>
        <a href="/home">发现更多</a>
    </div>
    <ul class="book_list"></ul>

    <div class="buttom_bar">
        <input type="checkbox" name="choose_all" id="choose_all" hidden>
        <label class="choose_all_label fl" for="choose_all">
            <div class="img fl" style="cursor: pointer"></div>
            <p class="all fl">全选</p>
        </label>
        <p id="delete" class="fl" style="cursor: pointer">删除</p>
        <div class="page_number fr">
            <div class="my-page"></div>
        </div>
    </div>
</div>

<div class="delete_popup">
    <div class="main">
        <img class="close" src="__HOME__/images/close.png" style="cursor: pointer">
        <p class="title">删除宝贝</p>
        <p class="name">确认要删除该宝贝吗？</p>
        <div class="btn_bar">
            <button id="close" class="fl" style="cursor: pointer">关闭</button>
            <button id="confirm" class="fr" onclick="javascript:doRemoveBook(1);" style="cursor: pointer">确认</button>
        </div>
    </div>
</div>
{include file="public/footer"}
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/page/my_page.js"></script>
<script type="text/javascript" src="__HOME__/js/book.mine.js?v=311232231"></script>
<script type="text/javascript">

</script>
{/block}

</html>