a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body,html{height:100%}
.box{width:10rem;height:100%;background-repeat:no-repeat;background-size:cover;background-position:top center;background-attachment:fixed;position:relative;}
.box .main{width:8.9333rem;height:7.5733rem;background-image:url(../images/activeBg.png?v=ej%2FfojvCU686walxLU%2BUqg%3D%3D);background-size:100%;background-position:top center;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto}
.box .main .topActive{width:2rem;height:1rem;position:absolute;top:0;right:.1rem}
.box .main .leftActive{width:1.0133rem;height:.9333rem;position:absolute;top:1rem;left:.1rem}
.box .main .botActive{width:.9333rem;height:.72rem;position:absolute;bottom:-.3rem;left:-.3rem}
.box .main .activeAuto{width:100%;text-align:center;margin-top:1.5rem}
.box .main .activeAuto .moneyOne{width:100%;font-size:32px;color:#f7974a;text-shadow:1px 1px 1px #fff}
.box .main .activeAuto .moneyWhite{width:7.44rem;height:2.4733rem;padding:6% 2% 10% 2%;border-radius:.1333rem;background:#fff;font-size:1.6rem;font-size:14px;margin:auto}
.box .main .activeAuto .moneyWhite h4{color:#000;font-weight:500}
.box .main .activeAuto .moneyWhite p{color:#fc9f45;position:relative;line-height:20px;padding:2% 3%;margin:5px 0 0 0}
.box .main .activeAuto .moneyWhite p::after{position:absolute;top:0;left:15%;width:70%;border-top:1px solid #fc9f45;content:''}
.box .main .activeAuto .mallMargin{width:60%;margin:-.44rem auto auto auto}
.box .main .activeAuto .mallMargin a{display:inline-block;width:100%;height:.9667rem;line-height:.9667rem;text-align:center;font-weight:700;font-size:14px;border-radius:100px;margin:0 0 .5rem 0}
.box .main .activeAuto .mallMargin .promptlyRob{color:#ff4200;background:#fff04b;border:2px solid #fff04b;-webkit-box-shadow:4px 10px 5px rgba(0,0,0,.5);box-shadow:4px 10px 5px rgba(0,0,0,.5)}
.box .main .activeAuto .mallMargin .gotoMall{border:2px solid #fff04b;color:#fff04b}
.none{width:8.2667rem;height:7.8133rem;background-image:url(../images/activeEnd.png);background-size:100% 100%;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto}
.none .activeEndTs{text-align:center;margin-top:4.8rem;font-size:14px;color:#7f7f7f}
.none .activeEndTs p{padding-bottom: 8px;}
.none .activeEndTs h4{font-size:18px;color:#656565;font-weight:600}
.none .gotoBook{display:block;width:5rem;height:.9667rem;line-height:.9667rem;text-align:center;font-weight:700;font-size:20px;border-radius:100px;margin:.4rem auto 0 auto;color:#fff;background-color:#fd7c4a}