a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{background-color:#ffd8d1}
.top{width:10rem;height:4rem;background:url(../images/activebg.png);background-size:100% 100%;background-repeat:no-repeat;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0 .2667rem 1rem .2667rem;position:relative;z-index:999}
.top .headimg{width:1.6rem;height:1.6rem;border-radius:50%;margin-right:10px}
.top .number{font-size:16px;color:#fff;line-height:24px;text-align:center}
.top .none{-webkit-box-flex:1;-ms-flex:1;flex:1}
.top .info{font-size:16px;color:#fff;line-height:24px}
.top .info p{max-width:80px;overflow: hidden;height:25px;line-height: 25px;text-overflow:ellipsis;white-space: nowrap;}
.top .info .small{font-size:14px}
.main{width:9.6rem;overflow:hidden;background-color:#fff;border-radius:0 0 5px 5px;margin:-.7rem auto .2rem auto}
.main .active{width:9rem;overflow:hidden;border-bottom:1px dashed #817d7c;padding:1rem 0 .6rem 0;text-align:center;margin:auto;color:#7b2120;font-size:12px}
.main .active p{padding:5px 0;}
.main .active .time_title{font-size:18px;line-height:22px}
.main .active .time_detail{font-size:15px;line-height:22px}
.main h3{font-size:28px;font-weight:700;text-align:center;color:#ff6b4b;margin-top:1.8rem}
.main .get_number{font-size:18px;font-weight:700;text-align:center;color:#1f1f1f;margin-top:10px;margin-bottom:1.8rem}
.main .btn{display:block;width:8rem;height:1.2rem;background-color:#a1a1a1;border-radius:5px;margin:0 auto .8rem auto;font-size:16px;color:#fff}
.main .active_btn{background-color:#ff6b4b}
.rules{font-size:14px;padding:.2rem}
.rules span{color:#ff6b4b}