a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{padding-top:1.2rem}
.header{width:10rem;height:1.2rem;background-color:#fff;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem;position:fixed;left:50%;margin-left:-5rem;top:0;z-index:999}
.header:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.header:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.header:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.header .header_index{width:.8rem;height:.8rem}
.header img{width:.8rem;height:.8rem}
.header .header_title{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:15px;color:#333;text-align:center}
.main{width:10rem;overflow:hidden;padding:.4rem}
.main p{font-size:14px;line-height:20px;text-indent:28px}
.main .title{text-indent:0}
.main .bottom{text-align:center}
.content p{width:10rem;overflow:hidden;padding:.1rem;font-size:14px;line-height:20px;text-indent:28px}