@CHARSET "UTF-8";.chaseBook-prop{display:none}.chaseBook .chaseBookTop{padding:3% 0}.chaseBook .chaseBookTop h5{font-size:.5rem;color:#2e2e2e;font-weight:500}.chaseBook .chaseBookTop>p{font-size:.3rem}.chaseBook .chaseBookTop>p.chaseORange{color:#555}.chaseBook .chaseBookTop>p.chaseBlack{color:#2e2e2e}.chaseBook .chaseBookTop .greyEWM{margin:3% auto;padding:0 2%}.chaseBook .today{border-top:1px solid #e8e8e8}.chaseBook .today>a{display:inline-block;padding:4% 0;width:100%;font-size:.4rem;color:#ff6f00}.chaseLayer .layui-m-layercont{padding:0!important}
.attention-line{width:100%;height:100px;border:1px solid #ccc;background:url(/static/resource/index/images/abg.png) no-repeat;background-size:cover;border-radius:5px;box-shadow:2px 2px 6px #888;margin:20px 0;}
.attention-line .line-text{width:78%;margin-left:2%;float:left;}
.attention-line .line-text .pname{font-size:15px;font-weight:bold;padding:20px 0;}
.attention-line .line-text .psummary{font-size:13px;color:#666;}
.attention-line .line-btn{width:20%;float:right;height:100px;line-height:100px;text-align:center;}
.attention-line .line-btn a{font-size:13px;border:1px solid #33CCFF;border-radius:3px;color:#33CCFF;padding:3px 10px;background-color:#CCFFFF;}