a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{padding-top:1.2rem}
.header{width:10rem;height:1.2rem;background-color:#fff;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem;position:fixed;left:50%;margin-left:-5rem;top:0;z-index:999}
.header:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.header:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.header:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.header .header_index{width:.8rem;height:.8rem}
.header img{width:.8rem;height:.8rem}
.header .header_title{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:15px;color:#333;text-align:center}
.column_content{width:100%;overflow:hidden;padding-bottom:.4rem}
.column_content .item{width:100%;padding:.32rem 0;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.column_content .item:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.column_content .item:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.column_content .item:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.column_content .item:last-child:after{border:none}
.column_content .item .cover{width:2.24rem;height:2.9467rem;border-radius:.08rem}
.column_content .item .right{-webkit-box-flex:1;-ms-flex:1;flex:1;margin-left:.2667rem}
.column_content .item .right .name{font-size:15px;color:#333}
.column_content .item .right .main{font-size:13px;color:#999;line-height:18px;margin:.2667rem 0;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden}
.column_content .item .right .article_type{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex}
.column_content .item .right .article_type span{font-size:10px;color:#999;line-height:10px;padding:.1333rem .32rem;background-color:#f5f7f9;border-radius:.2667rem;margin-right:.1333rem}
.column_content .item .rink{width:.7333rem;height:.5333rem;position:absolute;left:1.5rem;top:.32rem}
.column_content .item .rink .rink_bg{width:.7333rem;height:.5333rem}
.column_content .item .rink .rink_img{width:.4533rem;height:.4533rem;position:absolute;right:0;top:0}
.column_content .item .rink .rink_text{position:absolute;right:0;top:0;font-size:8px;color:#fff;margin:.0267rem .06333rem 0 0}
.column_content .item .limitFree{height:.6133rem;width:auto;border:1px solid rgba(21,147,248,.5);border-radius:.3067rem;font-size:12px;color:#1593f8;line-height:.6133rem;padding:0 .2667rem}
.type{width:100%;overflow:hidden}
.type_box{width:9.4667rem;position:relative;padding:.4rem 0;margin:auto;display:-webkit-box;display:-ms-flexbox;display:flex}
.type_box:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.type_box:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.type_box:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.type_box:last-child:after{border:none}
.type_box .right{-webkit-box-flex:1;-ms-flex:1;flex:1}
.type_box label{display:block;float:left;font-size:14px;color:#333;line-height:18px;margin-right:.6rem;line-height:20px}
.type_box input:checked+label{color:#1593f8}
.type_box a{display:block;float:left;font-size:14px;color:#333;line-height:18px;margin-right:.6rem;line-height:20px}
.type_box a.active{color:#1593f8;}
.box{width:10rem;overflow:hidden;background-color:#fff;padding:0 .4rem;position:relative}
.box:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.box:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.box:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.box:before{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.box:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.box:before{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}