a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{margin-bottom:1.4rem}
.footer{width:10rem;height:1.3067rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3)}
.footer .footer_item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:nonde}
.footer .footer_item img{width:.8rem;height:.8rem}
.footer .footer_item span{font-size:10px;color:#999}
.footer .footer_item .active{color:#1593f8}
.hide{display:none}
.row_content{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:.32rem 0}
.row_content .item{width:2.8rem;position:relative;margin-right:.4rem}
.row_content .item:nth-child(3n){margin-right:0}
.row_content .item .cover{display:block;width:2.8rem;height:3.68rem;border-radius:.08rem}
.row_content .item .name{font-size:14px;line-height:18px;color:#333;margin:.2667rem auto .4rem auto}
.row_content .item .read{width:1.5733rem;height:.56rem;background:-webkit-gradient(linear,right top,left top,from(#79b4ff),to(#1593f8));background:linear-gradient(-90deg,#79b4ff 0,#1593f8 100%);border-radius:.08rem 0 .4rem 0;position:absolute;left:0;top:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.row_content .item .read img{width:.48rem;height:.48rem;margin:0 .0633rem 0 .1233rem}
.row_content .item .read span{font-size:9px;color:#fff}
.row_content .item .add{width:2.8rem;height:3.68rem;border:1px solid #ccc;border-radius:.08rem;position:relative}
.row_content .item .add img{width:.48rem;height:.48rem;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto}
.row_content .item .choosebox{position:absolute;top:.1867rem;right:.1867rem;display:none}
body,html{background:#f5f7f9;height:100%;}
.top{width:10rem;height:1.2rem;background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0 2.2667rem;font-size:15px;color:#333;line-height:1.2rem;position:relative}
.top:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.top:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.top:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.top a{display:block;height:100%;color:#333}
.top .active{color:#0f8df3;border-bottom:2px solid #0f8df3}
.bookshelf{width:100%;overflow:hidden}
.box{width:100%;overflow:hidden;background-color:#fff;padding:.4rem;position:relative}
.box:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.box:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.box:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.box .title{font-size:16px;color:#333}
.box .title label,.box .title span{float:right;font-size:12px;color:#999}
.history_content{width:100%;overflow:hidden;background-color:#fff}
.history_content label{width:100%;overflow:hidden;padding:.4rem 0;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.history_content label:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.history_content label:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.history_content label:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.history_content label .cover{width:2.24rem;height:2.9467rem;border-radius:.08rem}
.history_content label .center{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem}
.history_content label .title{font-size:16px;color:#333}
.history_content label .name{font-size:13px;color:red;margin:.3333rem 0}
.history_content label .time{font-size:12px;color:#999}
.history_content label .choosebox{display:none}
.not_choose{width:.5333rem;height:.5333rem;background:#fff;border:1px solid #ccc;border-radius:50%}
input:checked+label .choosebox{border:none;background-image:url(../images/choose.png?v=Pw2UP50zzxcyXTsEg3wxGw%3D%3D);background-size:100% 100%}
input:checked+.not_choose{border:none;background-image:url(../images/choose.png?v=Pw2UP50zzxcyXTsEg3wxGw%3D%3D);background-size:100% 100%}
.header_choose{width:10rem;height:1.3067rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3);padding:0 .4rem;z-index:999}
.header_choose .allchoose{-webkit-box-flex:1;-ms-flex:1;flex:1;width:56px;font-size:14px;color:#999;padding:.2667rem}
.header_choose .delete{width:1.8933rem;height:.64rem;border:1px solid #ff4200;border-radius:.32rem;font-size:14px;color:#ff4200;background-color:#fff}
.popup{width:10rem;height:100%;background:rgba(0,0,0,.3);position:fixed;top:0;left:50%;margin-left:-5rem;text-align:center;overflow:hidden;z-index:9999;display:none}
.popup .content{width:6.92rem;overflow:hidden;background:#fff;border-radius:.4rem;margin:4rem auto auto auto;padding-top:.6667rem}
.popup .content .title{font-size:15px;color:#333}
.popup .content .main{font-size:12px;color:#999;margin:.3333rem 0 .5667rem 0;line-height:18px}
.popup .content .btn{width:100%;height:1.0667rem;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex}
.popup .content .btn:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.popup .content .btn:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.popup .content .btn:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.popup .content .btn span{-webkit-box-flex:1;-ms-flex:1;flex:1;line-height:1.0667rem;text-align:center;font-size:14px}
.popup .content .btn #cancel{position:relative;color:#0f8df3}
.popup .content .btn #cancel:after{content:'';position:absolute;width:100%;border-right:1px solid #eee;left:0;top:0;-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.popup .content .btn #cancel:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);height:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.popup .content .btn #cancel:after{width:300%;height:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.popup .content .btn #delete{color:#ff4200}
.not_history{width:10rem;overflow:hidden;height:calc(100% - 1.2rem);background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding-bottom:3rem}
.not_history img{width:3.4667rem;height:3.4667rem}
.not_history p{font-size:13px;color:#999}