a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{-ms-touch-action:none;touch-action:none}
.box{width:10rem;overflow:hidden;position:relative}
.box .main{width:10rem;overflow:hidden}
.box .main img{display:block;width:100%}
.box .adverb{width:100%;margin:.2667rem 0;border-radius:.2667rem;overflow:hidden;display:block}
.box .adverb img{width:100%}
.box .operetion{width:10rem;height:1.3333rem;background-color:rgba(0,0,0,.8);display:-webkit-box;display:-ms-flexbox;display:flex;position:fixed;left:50%;margin-left:-5rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.box .top{top:0;padding:0 .24rem}
.box .top img{width:.8rem;height:.8rem}
.box .top p{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:14px;color:#fff;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.box .bottom{bottom:0}
.box .bottom .item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.box .bottom .item img{width:.48rem;height:.48rem}
.box .bottom .item p{font-size:10px;color:#ccc;text-align:center;margin-top:.1333rem}
.popup{width:10rem;height:100%;background-color:rgba(22,6,0,.9);position:fixed;left:50%;top:0;margin-left:-5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.popup .item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;color:#fff}
.popup .item .font1{font-size:12px}
.popup .item .font2{font-size:14px;margin:10px auto 23px auto}
.popup .item img{width:1.6533rem;height:1.6533rem}
.popup .popup_btn{width:2.16rem;height:.88rem;border:.0267rem solid #fff;border-radius:.44rem;margin:0 .56rem;background:0 0;font-size:14px;color:#fff}
.popup .line{width:.0267rem;height:100%}