a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{padding-top:1.2rem}
.header{width:10rem;height:1.2rem;background-color:#fff;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem;position:fixed;left:50%;margin-left:-5rem;top:0;z-index:999}
.header:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.header:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.header:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.header .header_index{width:.8rem;height:.8rem}
.header img{width:.8rem;height:.8rem}
.header .header_title{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:15px;color:#333;text-align:center}
body{background:#f5f7f9}
.type{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background-color:#fff;position:fixed;left:50%;margin-left:-5rem;top:1.2rem;z-index:999}
.type .item{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:14px;color:#333;text-align:center}
.type .choose{color:#0f8df3;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.type .choose span{width:.48rem;height:.48rem;background-image:url(../images/next_bottom.png?v=VkjMQcw%2BE7ZWcsVwpAS1SQ%3D%3D);background-size:100% 100%}
.type input:checked+.choose span{background-image:url(../images/next_top.png?v=%2BVxmi6vldoapMJkOOsrYPA%3D%3D)}
.popup{width:10rem;height:calc(100% - 2.4rem);background-color:rgba(0,0,0,.3);position:fixed;left:50%;margin-left:-5rem;bottom:0;z-index:999;display:none}
.popup:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.popup:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.popup:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.popup .content{width:10rem;overflow:hidden;background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;padding:.4rem;-ms-flex-wrap:wrap;flex-wrap:wrap}
.popup .content li{width:2.2rem;height:.6133rem;background:#f6f8fa;border-radius:.04rem;margin:0 .1333rem .2667rem 0;font-size:12px;color:#333;text-align:center;line-height:.6133rem}
.popup .content li:nth-child(4n){margin-right:0}
.popup .content .active{background-color:#0f8df3;color:#fff}
.list{width:10rem;overflow:hidden;background-color:#fff;padding:0 .4rem;}
.list:NTH-OF-TYPE(1){margin-top:1.3333rem;}
.list .item{width:100%;height:1.1467rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.list .item:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.list .item:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.list .item:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.list .item .number{font-size:14px;color:#999;width:1.6rem}
.list .item .name{font-size:14px;color:#333;-webkit-box-flex:1;-ms-flex:1;flex:1}
.list .item .member{width:.48rem;height:.48rem}
.list .item .money{font-size:12px;}