a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
html{width:100%;height:100%}
body{width:10rem;min-height:100%;background-image:linear-gradient(225deg,#4daae5 0,#0e63ac 100%);background-repeat:no-repeat;background-size:100%;position:relative}
.box{width:8.8267rem;height:12.04rem;background:#fff;border-radius:.2133rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto}
.box .title{font-size:18px;color:#333}
.box .imgDiv{width:4.64rem;height:4.64rem;text-align:center;line-height:4.65rem;margin:.8933rem 0 1.0933rem 0;overflow:hidden;background-color:#e6e6e6;border-radius:4px;}
.box .imgDiv>a{font-size:13px;color:#fff;border:1px solid #fff;padding:3px 5px;border-radius:3px;}
.box .imgDiv>img{width:100%;}
.box .code{width:4.64rem;height:4.64rem;margin:.8933rem 0 1.0933rem 0}
.box .id{font-size:14px;color:#fe0000}
.box .btn{width:6.96rem;height:1.3067rem;background:#2aa5fc;border-radius:.6533rem;font-size:16px;color:#fff;margin-top:.8rem}