a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.box{width:10rem;overflow:hidden;padding:0 .4rem}
.box .title{width:100%;height:1.28rem;font-size:14px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.box .title span{-webkit-box-flex:1;-ms-flex:1;flex:1}
.box .operation{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;padding:.2667rem 0;margin-bottom:.2667rem}
.box .operation .left{-webkit-box-flex:2;-ms-flex:2;flex:2;display:-webkit-box;display:-ms-flexbox;display:flex}
.box .operation .left label{display:inline-block;width:.8267rem;height:.5733rem;border-radius:.08rem;margin-right:.2267rem}
.box .operation .left .white{background-color:#fff;border:1px solid #fff}
.box .operation .left .gray{background-color:#cfc0a9;border:1px solid #cfc0a9}
.box .operation .left .green{background-color:#caf7e9;border:1px solid #caf7e9}
.box .operation .left .black{background-color:#424242;border:1px solid #424242;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.box .operation .left .black img{width:.36rem;height:.36rem}
.box .operation .right{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.box .operation .right span{width:.8267rem;height:.5733rem;border:1px solid #555;border-radius:.08rem;font-size:13px;text-align:center;line-height:.5733rem;margin-right:.12rem}
.box .book-content>p{font-size:19px;line-height:31px;margin-bottom:8px;text-indent:28px;text-align:justify;color:#666;}
.box .catalog{width:100%;margin:.4rem 0;position:relative;margin-bottom:2rem}
.box .catalog .left{float:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0 .4rem}
.box .catalog .right{float:right;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0 .4rem}
.box .catalog .center{position:absolute;left:50%;margin-left:-1.4rem;top:50%;margin-top:-.625}
.box .catalog a{width:2.8rem;height:1.08rem;border:1px solid #555;border-radius:.1333rem;font-size:14px;text-align:center;line-height:1.08rem}
.box .catalog a img{width:.5rem;height:.5rem}
.white_box{background-color:#fff}
.white_box .title{color:#333}
.white_box .title:after{content:'';position:absolute;width:100%;border-bottom:1px solid #555;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.white_box .title:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.white_box .title:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.white_box .title a{color:#555}
.white_box .operation .left .white{border-color:#555}
.white_box .operation .right span{border-color:#555}
.white_box .book-content p{color:#444}
.white_box .catalog a{color:#555;border-color:#555}
.white_box .catalog .none{color:#ccc;}

.gray_box{background:#e4c8a1 url(https://xiaoshuoxitongjiangzong.oss-cn-shanghai.aliyuncs.com/beijing/beijing.jpg) repeat;background-size:100%;}
.gray_box .title{color:#555}
.gray_box .title:after{content:'';position:absolute;width:100%;border-bottom:1px solid #555;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.gray_box .title:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.gray_box .title:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.gray_box .title span{color:#111}
.gray_box .title a{color:#111}
.gray_box .operation .left .gray{border-color:#c9861f}
.gray_box .operation .right span{border-color:#555}
.gray_box .book-content p{color:#111}
.gray_box .catalog a{color:#222;border-color:#555}
.green_box{background-color:#caf7e9}
.green_box .title{color:#333}
.green_box .title:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.green_box .title:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.green_box .title:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.green_box .title a{color:#333}
.green_box .operation .left .green{border-color:#555}
.green_box .operation .right span{border-color:#555}
.green_box .book-content p{color:#333}
.green_box .catalog a{color:#333;border-color:#555;}

.black_box{background-color:#424242}
.black_box .title{color:#999}
.black_box .title:after{content:'';position:absolute;width:100%;border-bottom:1px solid #666;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.black_box .title:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.black_box .title:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.black_box .title a{color:#999}
.black_box .operation .left .black{border-color:#999}
.black_box .operation .right span{border-color:#999;color:#999}
.black_box .main{color:#999}
.black_box .catalog a{color:#999;border-color:#999}
.popup{width:10rem;height:100%;background-color:rgba(22,6,0,.9);position:fixed;left:50%;top:0;margin-left:-5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.popup .item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;color:#fff}
.popup .item .font1{font-size:12px}
.popup .item .font2{font-size:14px;margin:10px auto 23px auto}
.popup .item img{width:1.6533rem;height:1.6533rem}
.popup .popup_btn{width:2.16rem;height:.88rem;border:.0267rem solid #fff;border-radius:.44rem;margin:0 .56rem;background:0 0;font-size:14px;color:#fff}
.popup .line{width:.0267rem;height:100%}