a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{padding-top:1.2rem}
.header{width:10rem;height:1.2rem;background-color:#fff;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem;position:fixed;left:50%;margin-left:-5rem;top:0;z-index:999}
.header:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.header:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.header:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.header .header_index{width:.8rem;height:.8rem}
.header img{width:.8rem;height:.8rem}
.header .header_title{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:15px;color:#333;text-align:center}
body{background-color:#f5f7f9;margin-bottom:1.4rem}
.box{width:100%;overflow:hidden;background-color:#fff;margin-bottom:.1333rem}
.book_info{padding:0 .4rem}
.book_info .info{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:top;-ms-flex-align:top;align-items:top;margin:.4rem 0}
.book_info .info .cover{width:2.24rem;height:2.9467rem;border-radius:.08rem}
.book_info .info .right{-webkit-box-flex:1;-ms-flex:1;flex:1;margin-left:.2667rem}
.book_info .info .right .title{font-size:16px;color:#333;line-height:21px;margin-top:3px}
.book_info .info .right .author{font-size:12px;color:#999;line-height:27px}
.book_info .info .right .status{font-size:12px;color:#333;line-height:17px}
.book_info .info .right .status i{width:1px;height:8px;background-color:#eee;display:inline-block;margin:0 .2rem}
.book_info .main{font-size:13px;font-weight:400;color:#999;line-height:18px;margin-bottom:.2667rem}
.top{width:100%;height:1.1733rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;padding:0 .4rem}
.top:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.top:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.top:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.top .text{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:16px;color:#333}
.top .text span{font-size:12px;color:#999}
.top .chapter{font-size:12px;color:#999}
.top .next{width:.48rem;height:.48rem;margin-left:.1333rem}
.top .btn{width:2.24rem;height:.6667rem;background:-webkit-gradient(linear,right top,left top,from(#8ac5ff),to(#629bfe));background:linear-gradient(-90deg,#8ac5ff 0,#629bfe 100%);border-radius:.3333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.top .btn img{width:.48rem;height:.48rem}
.top .btn span{font-size:12px;color:#fff;margin-left:.0667rem}
.catalog_box .catalog{display:block;width:9.2rem;height:1.0933rem;font-size:14px;line-height:1.0933rem;color:#999;margin:auto}
.catalog_box .blue{color:#0f8df3;position:relative}
.catalog_box .blue:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.catalog_box .blue:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.catalog_box .blue:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.reward .list{width:100%;height:3.76rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.reward .list .item{-webkit-box-flex:1;-ms-flex:1;flex:1}
.reward .list .item .head_box{width:1.28rem;height:1.6133rem;margin:auto;position:relative}
.reward .list .item .head_box .ranking{width:100%;height:100%}
.reward .list .item .head_box .crown{width:.5867rem;height:.5867rem;position:absolute;left:50%;margin-left:-.2923rem;bottom:-.2923rem;z-index:999}
.reward .list .item .head_box .head{width:1.12rem;height:1.12rem;border-radius:50%;position:absolute;left:50%;margin-left:-.56rem;top:.412rem;z-index:1}
.reward .list .item .name{font-size:14px;color:#333;text-align:center;margin:.4rem 0 .1333rem 0}
.reward .list .item .number{font-size:11px;color:#999;text-align:center}
.reward .list .item .number span{color:#0f8df3}
.rate_box{width:100%;overflow:hidden;padding:0 .4rem;position:relative}
.rate_box:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.rate_box:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.rate_box:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.rate_box .reta_item{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;padding:.4rem 0;position:relative}
.rate_box .reta_item:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.rate_box .reta_item:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.rate_box .reta_item:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.rate_box .reta_item:last-child{border:none}
.rate_box .reta_item .headimg{width:.9067rem;height:.9067rem;border-radius:50%}
.rate_box .reta_item .main{-webkit-box-flex:1;-ms-flex:1;flex:1;margin-left:.2667rem}
.rate_box .reta_item .main .info{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:top;-ms-flex-align:top;align-items:top}
.rate_box .reta_item .main .info .left{-webkit-box-flex:1;-ms-flex:1;flex:1}
.rate_box .reta_item .main .info .left .name{font-size:13px;color:#666;line-height:21px}
.rate_box .reta_item .main .info .left .time{font-size:11px;color:#999;line-height:17px}
.rate_box .reta_item .main .info .right{width:auto;height:.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.rate_box .reta_item .main .info .right .number{font-size:12px;color:#999;margin-right:.16rem;margin-top:.05rem}
.rate_box .reta_item .main .info .right .zan_icon{display:inline-block;width:.4rem;height:.4rem;background-image:url(../images/zan_gray.png?v=icP88FrE2tot%2FDKXqsdrCQ%3D%3D);background-size:100% 100%}
.rate_box .reta_item .main .info .right .zan_icon.active{background-image:url(../images/zan_blue.png?v=Blk3NPJIcJ%2FNN%2FhiDBreWg%3D%3D)}
.rate_box .reta_item .main .content{font-size:14px;color:#333;line-height:19px;margin-top:.2067rem}
.more{width:100%;height:1.0667rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:12px;color:#999}
.more img{width:.4rem;height:.4rem}
.code_box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:.5333rem 0 .3733rem 0}
.code_box .text{font-size:14px;color:#333;font-weight:700}
.code_box .code{width:3.3067rem;height:3.3067rem;margin:.32rem 0 .2667rem 0}
.code_box .id{font-size:13px;color:#fe0000}
.code_box .btn{width:5.28rem;height:1.0667rem;background:#2aa5fc;border-radius:.5333rem;font-size:14px;color:#fff;text-align:center;line-height:1.0667rem;margin-top:.4rem}
.btn_box{width:10rem;height:1.3067rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3)}
.btn_box .item{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:16px;line-height:1.3067rem;text-align:center}
.btn_box .join{background-color:#fff;color:#2aa5fc}
.btn_box .remove{background-color:#fff;color:#ccc;}
.btn_box .start{background-color:#2aa5fc;color:#fff}
.popup{width:10rem;height:100%;background-color:rgba(0,0,0,.5);position:fixed;left:50%;margin-left:-5rem;bottom:0;z-index:99999;display:none}
.popup .popup_box{width:10rem;overflow:hidden;position:absolute;left:0;bottom:0;border-radius:.4rem .4rem 0 0;background-color:#fff;display:none}
.popup .popup_box .popup_top{width:10rem;height:1.2267rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0 .4rem;position:relative}
.popup .popup_box .popup_top:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.popup .popup_box .popup_top:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.popup .popup_box .popup_top:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.popup .popup_box .popup_top .money{width:.48rem;height:.48rem}
.popup .popup_box .popup_top .text{font-size:15px;color:#000;padding:0 .2rem}
.popup .popup_box .popup_top .number{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:12px;color:#999}
.popup .popup_box .popup_top .cancel{font-size:15px;color:#999}
.popup .popup_box .choose_box{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:.5333rem .2rem 0 .4rem}
.popup .popup_box .choose_box li{width:2.1333rem;overflow:hidden;margin:0 .2rem .4rem 0}
.popup .popup_box .choose_box li .gift_icon{display:inline-block;width:2.12rem;height:2.12rem;border:1px solid #eee;border-radius:.1333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.popup .popup_box .choose_box li .gift_icon img{width:50%;height:50%}
.popup .popup_box .choose_box li .gift_icon .choose_span{width:.48rem;height:.48rem;position:absolute;top:.0667rem;right:.0667rem}
.popup .popup_box .choose_box li .gift_icon .active{background-image:url(../images/choosed.png?v=33aIx3l2eJDCIjOtiBFpXg%3D%3D);background-size:100% 100%}
.popup .popup_box .choose_box li .name{font-size:13px;color:#333;text-align:center;margin:.2667rem 0 .1333rem 0}
.popup .popup_box .choose_box li .price{font-size:11px;color:#999;text-align:center}
.popup .popup_box .price_bar{width:10rem;height:1.1733rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0 .4rem}
.popup .popup_box .price_bar .left{font-size:12px;color:#999;-webkit-box-flex:1;-ms-flex:1;flex:1}
.popup .popup_box .price_bar .left .total_price{color:#0f8df3;padding:0 .1867rem}
.popup .popup_box .price_bar .right{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.popup .popup_box .price_bar .right #plus{display:inline-block;font-size:15px;color:#333;width:.4rem;height:1.1733rem;text-align:center;line-height:1.1733rem}
.popup .popup_box .price_bar .right #reduce{display:inline-block;font-size:15px;color:#333;width:.4rem;height:1.1733rem;text-align:center;line-height:1.1733rem}
.popup .popup_box .price_bar .right #number{width:.8rem;text-align:center;font-size:14px;color:#333;height:1.1733rem;text-align:center;line-height:1.1733rem}
.popup .popup_box .btn{width:10rem;height:1.2933rem;background:#1593f8;font-size:15px;color:#fff}
.popup .success{width:8.08rem;height:9.6667rem;overflow:hidden;background:#fff;border-radius:.4rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto}
.popup .success img{width:3.4667rem;height:3.4667rem}
.popup .success .lage_text{font-size:16px;font-weight:700;color:#333;text-align:center;margin:.5333rem 0}
.popup .success .small_text{font-size:13px;color:#999;text-align:center}
.popup .success .back{width:6.52rem;height:1.3067rem;background:#1593f8;border-radius:.6533rem;font-size:16px;color:#fff;margin-top:1rem}
.empty-line{text-align:center;color:#ccc;font-size:14px;padding:15px 0;}