a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{background-color:#f5f7f9}
.title{width:10rem;height:1.0267rem;padding:0 .4rem;font-size:12px;color:#999;line-height:1.0267rem}
.list{width:10rem;overflow:hidden;background-color:#fff;padding:0 .4rem}
.list label{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:1.2rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.list label:before{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.list label:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.list label:before{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.list label .name{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:14px;color:#333}
.list label .choose{width:.48rem;height:.48rem}
.list .chooseType:checked+label .choose{background-image:url(../images/ok.png?v=Mk2oIhev1JRRZG6tdk8adg%3D%3D);background-size:100% 100%}
.box{width:10rem;height:1.2267rem;padding:0 .4rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#fff}
.box input{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2267rem;font-size:13px;color:#333;background-color:#fff}
.box .number{margin-left:.4rem;font-size:.3rem;}
.btn{display:block;width:9.2rem;height:1.3067rem;background:#1593f8;border-radius:.6533rem;margin:.6133rem auto;font-size:16px;color:#fff}