a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{margin-bottom:1.4rem}
.footer{width:10rem;height:1.3067rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3)}
.footer .footer_item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:nonde}
.footer .footer_item img{width:.8rem;height:.8rem}
.footer .footer_item span{font-size:10px;color:#999}
.footer .footer_item .active{color:#1593f8}
.hide{display:none}
body{background:#f5f7f9}
.top{width:10rem;height:4.8rem;overflow:hidden;background-image:url(../images/my_bg.png?v=qBIM08QZpq615Bh8yPoHkg%3D%3D);background-size:100% 100%}
.top .top_main{width:100%;height:1.7067rem;display:-webkit-box;display:-ms-flexbox;display:flex;padding:0 .4667rem;margin-top:.9333rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.top .top_main .top_head{width:1.7067rem;height:1.7067rem;border-radius:50%}
.top .top_main .right{-webkit-box-flex:1;-ms-flex:1;flex:1;overflow:hidden;padding:0 .2267rem}
.top .top_main .right .name{font-size:16px;color:#fff}
.top .top_main .right .status{display:inline-block;height:.64rem;background:rgba(244,244,244,.3);border-radius:.32rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:.32rem}
.top .top_main .right .status img{width:.5333rem;height:.5333rem;margin:.0533rem 0 0 .2133rem;float:left}
.top .top_main .right .status span{font-size:12px;color:#fff;margin:0 .3067rem;line-height:.64rem;float:left}
.top .top_main .right .status i{width:1px;height:.32rem;background:rgba(244,244,244,.5);float:left;line-height:.64rem;margin-top:.16rem}
.center{width:10rem;overflow:hidden;padding:0 .4rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:-.8rem}
.center .center_item{width:4.4667rem;height:2.2133rem;background:#fff;border:2px solid #eee;border-radius:.2133rem;position:relative;text-align:center}
.center .left_top{display:inline-block;position:absolute;left:-2px;top:-2px;height:.56rem;line-height:.56rem;background:#00a0e9;border-radius:.2133rem 0 .4rem 0;padding:0 .2667rem;color:#fff;font-size:14px;}
.center .balance_text{font-size:14px;color:#333;margin:.7rem auto 0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:.6667rem;}
.center .balance_text img{width:18px;height:18px;margin-right:3px}
.center .balance_number{font-size:13px;color:#ff8c00}
.center .yellow_color{border:2px solid #dca32f;background:linear-gradient(135deg,#ffecc7 0,#f1cd83 100%)}
.center .yellow_color_font{color:#a38153}
.center .yellow_bg{background:-webkit-gradient(linear,left bottom,left top,from(#ffbc41),color-stop(99%,#ff9a33));background:linear-gradient(0deg,#ffbc41 0,#ff9a33 99%)}
.center .black_bg{background:#4b4b4b}
.list{width:10rem;overflow:hidden;background-color:#fff;margin-top:.1333rem;position:relative}
.list:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.list:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.list:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.list .item{width:10rem;height:1.6rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0 .2667rem;position:relative}
.list .item:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.list .item:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.list .item:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.list .item .icon{width:1.0133rem;height:1.0133rem}
.list .item span{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:14px;color:#333;text-indent:.2667rem}
.list .item .next{width:.8rem;height:.8rem}
.list .item p{font-size:14px;color:#999}
.phone{font-size:12px;color:#ccc;text-align:center;margin:.6667rem auto 2rem 0}
.share_popup{width:10rem;height:100%;background:rgba(54,54,54,.7);position:fixed;left:50%;margin-left:-5rem;top:0;z-index:9999;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;display:flex;}
.share_popup .close{width:.8667rem;height:.8667rem;margin-top:.36rem}
.share_popup .main{width:7.7333rem;height:10.7733rem;position:relative}
.share_popup .main .bg{width:7.7333rem;height:10.7733rem}
.share_popup .main .btn{width:4rem;height:.88rem;line-height:.88rem;text-align:center;background:#2aa5fc;-webkit-box-shadow:0 3px 6px 0 rgba(42,165,252,.47);box-shadow:0 3px 6px 0 rgba(42,165,252,.47);border-radius:.44rem;font-size:13px;color:#fff;position:absolute;top:9.4533rem;left:1.84rem}
