a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{padding-top:1.2rem}
.header{width:10rem;height:1.2rem;background-color:#fff;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem;position:fixed;left:50%;margin-left:-5rem;top:0;z-index:999}
.header:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.header:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.header:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.header .header_index{width:.8rem;height:.8rem}
.header img{width:.8rem;height:.8rem}
.header .header_title{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:15px;color:#333;text-align:center}
body{background-color:#f5f7f9}
.top{width:100%;height:1.1733rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;padding:0 .4rem}
.top:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.top:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.top:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.top .text{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:16px;color:#333}
.top .text span{font-size:12px;color:#999}
.top .chapter{font-size:12px;color:#999}
.top .next{width:.48rem;height:.48rem;margin-left:.1333rem}
.top .btn{width:2.24rem;height:.6667rem;background:-webkit-gradient(linear,right top,left top,from(#8ac5ff),to(#629bfe));background:linear-gradient(-90deg,#8ac5ff 0,#629bfe 100%);border-radius:.3333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.top .btn img{width:.48rem;height:.48rem}
.top .btn span{font-size:12px;color:#fff;margin-left:.0667rem}
.rate_box{width:100%;overflow:hidden;padding:0 .4rem;position:relative;background-color:#fff}
.rate_box:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.rate_box:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.rate_box:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.rate_box .reta_item{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;padding:.4rem 0;position:relative}
.rate_box .reta_item:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.rate_box .reta_item:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.rate_box .reta_item:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.rate_box .reta_item:last-child{border:none}
.rate_box .reta_item .headimg{width:.9067rem;height:.9067rem;border-radius:50%}
.rate_box .reta_item .main{-webkit-box-flex:1;-ms-flex:1;flex:1;margin-left:.2667rem}
.rate_box .reta_item .main .info{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:top;-ms-flex-align:top;align-items:top}
.rate_box .reta_item .main .info .left{-webkit-box-flex:1;-ms-flex:1;flex:1}
.rate_box .reta_item .main .info .left .name{font-size:13px;color:#666;line-height:21px}
.rate_box .reta_item .main .info .left .time{font-size:11px;color:#999;line-height:17px}
.rate_box .reta_item .main .info .right{width:auto;height:.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.rate_box .reta_item .main .info .right .number{font-size:12px;color:#999;margin-right:.16rem;margin-top:.05rem}
.rate_box .reta_item .main .info .right .zan_icon{display:inline-block;width:.4rem;height:.4rem;background-image:url(../images/zan_gray.png?v=icP88FrE2tot%2FDKXqsdrCQ%3D%3D);background-size:100% 100%}
.rate_box .reta_item .main .info .right .zan_icon.active{background-image:url(../images/zan_blue.png?v=Blk3NPJIcJ%2FNN%2FhiDBreWg%3D%3D)}
.rate_box .reta_item .main .content{font-size:14px;color:#333;line-height:19px;margin-top:.2067rem}
.more{width:100%;height:1.0667rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:12px;color:#999}
.more img{width:.4rem;height:.4rem}