a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{margin-bottom:1.4rem}
.footer{width:10rem;height:1.3067rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3)}
.footer .footer_item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:nonde}
.footer .footer_item img{width:.8rem;height:.8rem}
.footer .footer_item span{font-size:10px;color:#999}
.footer .footer_item .active{color:#1593f8}
.hide{display:none}
body{background:#f5f7f9}
.top{width:10rem;height:3.7333rem;background-image:url(../images/recharge_bg.png?v=KfBptly8j21rXX0lhSrIpw%3D%3D);background-size:100% 100%;overflow:hidden}
.top .top_text{font-size:12px;color:rgba(255,255,255,.8);margin:.8533rem auto .6rem auto;display:-webkit-box;display:-ms-flexbox;display:flex;text-align:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.top .top_text span{width:4rem}
.top .top_text i{width:1px;height:10px;background:#fff;opacity:.5}
.top .top_number{font-size:39px;font-weight:700;color:#fff;text-align:center}
.content{width:10rem;overflow:hidden;padding:.2933rem .4rem .4667rem .4rem;background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;position:relative}
.content:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.content:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.content:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.content:before{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.content:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.content:before{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.content label{width:4.4667rem;height:2.2133rem;background:#fff;border:1px solid #ccc;border-radius:.2133rem;margin-bottom:.2133rem;text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.content label .recommend_icon{width:1.1733rem;height:.56rem;background:-webkit-gradient(linear,right top,left top,from(#fe8823),to(#f16124));background:linear-gradient(-90deg,#fe8823 0,#f16124 100%);border-radius:.2133rem 0 .4rem 0;position:absolute;left:-1px;top:-1px;font-size:10px;line-height:.56rem;color:#fff}
.content label .price{font-size:16px;line-height:20px;color:#333;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.content label .price img{width:16px;height:16px;margin-right:4px}
.content label .book_currency{font-size:12px;color:#999;line-height:20px}
.content input:checked+label{border:1px solid #ff8c00}
.content input:checked+label .price{color:#ff8c00}
.content input:checked+label .book_currency{color:#ff8c00}
.btn{width:9.2rem;height:1.3067rem;background:#2aa5fc;border-radius:.6533rem;font-size:16px;color:#fff;margin-top:.24rem}
.introduce{width:10rem;font-size:12px;line-height:18px;color:#999;padding:.4rem}
.introduce a{color:red}