a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%}
body{width:10rem;margin:auto}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
body{padding-top:1.2rem}
.header{width:10rem;height:1.2rem;background-color:#fff;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem;position:fixed;left:50%;margin-left:-5rem;top:0;z-index:999}
.header:after{content:'';position:absolute;width:100%;border-bottom:1px solid #eee;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.header:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.header:after{width:300%;width:300%;-webkit-transform:scale(.33);transform:scale(.33)}
}
.header .header_index{width:.8rem;height:.8rem}
.header img{width:.8rem;height:.8rem}
.header .header_title{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:15px;color:#333;text-align:center}
body{background:#f5f7f9}
.top{width:10rem;height:3.7333rem;background-image:url(../images/walfare_bg.png?v=gAnHXCWho6o%2BoPc4O48Ieg%3D%3D);background-size:100% 100%;overflow:hidden;text-align:center;overflow:hidden}
.top .top_text{margin:.8rem auto .6667rem auto;font-size:14px;color:#fff}
.top .top_number{font-size:39px;font-weight:700;color:#fff}
.content{width:9.2rem;overflow:hidden;background:#fff;border:1px solid #eee;border-radius:.2667rem;margin:-.4rem auto auto auto;padding:1rem .3333rem .5333rem .3333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.content .item{width:1.92rem;height:2.3467rem;background-image:url(../images/walfare_money.png?v=OKl4KtphhsfJIV73SDsyeA%3D%3D);background-size:100% 100%;margin-right:.2667rem;margin-bottom:.2667rem;text-align:center}
.content .item:nth-child(4n){margin-right:0}
.content .item .day{width:100%;font-size:13px;color:#fff;line-height:.7333rem}
.content .item .number{font-size:12px;color:#1593f8;margin-top:1.1rem}
.content .signIn{background-image:url(../images/walfare_ok.png?v=8Nj8gOoGjZl05krG8Nc0zg%3D%3D)}
.btn{width:9.2rem;height:1.3067rem;display:block;background:#2aa5fc;border-radius:.6533rem;margin:.6667rem auto;font-size:16px;color:#fff}
.introduce{font-size:12px;color:#999;line-height:18px;padding:0 .6667rem .6667rem .6667rem}