a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
button,input,textarea{border:none;outline:0}
table{border-collapse:collapse;border-spacing:0}
body,html{width:100%;min-width:1020px;background-color:#f4f4f4}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:none}
.header{width:100%;height:100px;background-color:#fff}
.header .logo{font-size:28px;font-weight:700;color:#1593f8;line-height:40px;margin-top:30px;float:left}
.header .user_status{width:270px;height:30px;float:right;margin-top:35px}
.header .user_status .user_item{font-size:14px;line-height:30px;color:#333;float:right;margin-left:8px;float:right;max-width:100px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break: break-all;}
.header .user_status .default_headimg{width:30px;height:30px;float:right;border-radius:15px;}
.header .user_status .header_line{display:block;width:1px;height:14px;background-color:#999;float:right;margin:8px 0 0 8px}
.header .bookshelf{width:200px;height:28px;margin-top:36px;float:right}
.header .bookshelf p{font-size:14px;line-height:28px;color:#333;float:right}
.header .bookshelf img{width:28px;height:28px;float:right;margin-right:10px}
.header .search_box{float:right;width:320px;height:40px;border:2px solid #1593f8;border-radius:20px;margin-top:30px;padding:0 14px}
.header .search_box .search_icon{width:24px;height:24px;float:right;margin-top:5px;cursor:pointer;}
.header .search_box .search_value{width:250px;height:24px;line-height:24px;margin-top:5px;margin-left:10px}

.top_navigation{font-size:14px;color:#999;padding-top:15px;}
.top_navigation a{color:#999}

.footer{width:100%;overflow:hidden;background-color:#1593f8}
.footer .link{text-align:center;margin:31px auto 20px auto}
.footer .link a{font-size:14px;color:#fff;margin-right:28px}
.footer .font{font-size:12px;color:#fff;text-align:center;margin-bottom:15px}
.footer .footer_line{width:100%;height:1px;background:#e5f3f3;opacity:.3;margin-top:6px}
.footer .beian{height:48px;line-height:48px;text-align:center}
.footer .beian span{font-size:12px;color:#fff}
.footer .beian .emblem{width:20px;height:20px;margin:0 8px 0 50px}
.nav{width:100%;height:50px;background-color:#1593f8}
.nav .nav_item{display:block;height:50px;float:left}
.nav .nav_item a{display:block;padding:0 30px;height:50px;text-align:center;line-height:50px;font-size:16px;color:#fff}
.nav .nav_item a:hover{background-color:#0074d1}
.nav .nav_item a .recharge_icon{width:18px;height:18px;display:block;float:left;margin-top:16px;margin-right:6px}
.nav .main_item{position:relative}
.nav .main_item .sub_box{display:none;position:absolute;left:0;top:50px;width:100%;overflow:hidden;z-index:999999;background-color:#1593f8}
.nav .recharge{float:right}
.nav .nav_active{background-color:#0074d1}
.Center_box{width:1100px;margin:auto}
.fl{float:left}
.fr{float:right}
.textEllipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.choose_type{background-color:#fff;-webkit-box-shadow:0 0 8px 0 rgba(205,205,205,.46);box-shadow:0 0 8px 0 rgba(205,205,205,.46);border-radius:5px;margin-top:20px;padding-top:22px}
.choose_type .bar{width:100%;overflow:hidden;padding:0 0 0 28px}
.choose_type .bar .name{font-size:14px;line-height:28px}
.choose_type .bar .choose_item{width:945px;overflow:hidden}
.choose_type .bar .choose_item span{float:left;font-size:14px;line-height:28px;color:#666;margin-right:38px;margin-bottom:20px;cursor:pointer;}
.choose_type .bar .choose_item .all{width:48px;height:28px;border:1px solid #ccc;border-radius:14px;text-align:center;background-color:#eee;color:#666}
.choose_type .bar .choose_item .blue{color:#1593f8}
.choose_type .choose_type_line{width:100%;height:1px;height:1px;background:#e8e8e8;margin-top:20px}
.choose_type .number{width:100%;height:66px;padding-left:28px;font-size:14px;color:#666;line-height:66px}
.page_number{width:100%;text-align:center;margin:30px 0 70px 0}
.page_number span{display:inline-block;width:30px;height:30px;font-size:14px;line-height:30px;color:#cdcdcd;text-align:center;border:1px solid #ccc;margin-right:10px;cursor:pointer}
.page_number span img{width:12px;height:12px}
.page_number .active{color:#fff;background-color:#1593f8;border-color:#1593f8}
.book_list{overflow:hidden;background-color:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;margin:20px auto 50px auto;padding:0 19px}
.book_list .book{width:100%;overflow:hidden;padding:30px 0;border-bottom:1px solid #e8e8e8}
.book_list .book .cover{width:120px;height:158px;-webkit-box-shadow:0 2px 3px 0 rgba(102,102,102,.5);box-shadow:0 2px 3px 0 rgba(102,102,102,.5);position:relative}
.book_list .book .cover img{display:block;width:100%;height:100%}
.book_list .book .cover .discount{position:absolute;left:0;top:0;width:40px;height:22px;background:#1593f8;border-radius:0 0 8px 0;font-size:14px;color:#fff;text-align:center;line-height:22px}
.book_list .book .info{width:840px}
.book_list .book .info .name{font-size:14px;color:#333;line-height:1}
.book_list .book .info .author{font-size:14px;color:#999;line-height:1;margin:14px 0}
.book_list .book .info .introduce{font-size:14px;color:#666;line-height:22px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.book_list .book .bottom_bar{width:100%;height:32px;margin-top:30px}
.book_list .book .bottom_bar .type{height:22px;font-size:14px;line-height:22px;color:#999;padding:0 9px;border:1px solid #999;border-radius:2px;margin-right:10px;margin-top:5px}
.book_list .book .bottom_bar .join{width:112px;height:32px;border:1px solid #1593f8;border-radius:16px;font-size:16px;color:#1593f8;text-align:center;line-height:32px}
.book_list .book .bottom_bar .read{width:112px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;text-align:center;line-height:32px;margin-right:14px}
.book_list .book .bottom_bar .freetime{height:22px;border:1px solid #1593f8;border-radius:11px;padding:0 12px;font-size:14px;line-height:20px;color:#1593f8;margin-top:5px}
.pub_banner{display:block;height:258px;overflow:hidden;margin-top:20px}
.pub_banner img{display:block;width:100%;height:258px}