a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
button,input,textarea{border:none;outline:0}
table{border-collapse:collapse;border-spacing:0}
body,html{width:100%;min-width:1020px;background-color:#f4f4f4}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:none}
.header{width:100%;height:100px;background-color:#fff}
.header .logo{font-size:28px;font-weight:700;color:#1593f8;line-height:40px;margin-top:30px;float:left}
.header .user_status{width:270px;height:30px;float:right;margin-top:35px}
.header .user_status .user_item{font-size:14px;line-height:30px;color:#333;float:right;margin-left:8px;float:right;max-width:100px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break: break-all;}
.header .user_status .default_headimg{width:30px;height:30px;float:right;border-radius:15px;}
.header .user_status .header_line{display:block;width:1px;height:14px;background-color:#999;float:right;margin:8px 0 0 8px}
.header .bookshelf{width:200px;height:28px;margin-top:36px;float:right}
.header .bookshelf p{font-size:14px;line-height:28px;color:#333;float:right}
.header .bookshelf img{width:28px;height:28px;float:right;margin-right:10px}
.header .search_box{float:right;width:320px;height:40px;border:2px solid #1593f8;border-radius:20px;margin-top:30px;padding:0 14px}
.header .search_box .search_icon{width:24px;height:24px;float:right;margin-top:5px;cursor:pointer;}
.header .search_box .search_value{width:250px;height:24px;line-height:24px;margin-top:5px;margin-left:10px}
.Center_box{width:1020px;margin:auto}
.fl{float:left}
.fr{float:right}
.textEllipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
body,html{background-color:#e8e3d7}
.header{background-color:#f1ede5;-webkit-box-shadow:0 3px 5px 0 rgba(128,128,128,.1);box-shadow:0 3px 5px 0 rgba(128,128,128,.1)}
.header .search_box .search_value{background-color:#f1ede5}
.top_navigation{font-size:14px;color:#999;padding:25px 0 22px 0;text-indent:70px}
.top_navigation a{color:#999}
.content_box{padding-left:70px}
.content_box .main_box{width:880px;overflow:hidden;padding:20px;margin-bottom:20px}
.content_box .main_box .box{width:100%;height:100%;border:1px solid #e9e3d6;border-radius:5px}
.content_box .main_box .box .cover{display:block;width:175px;height:230px;margin:36px auto 30px auto}
.content_box .main_box .box .name{font-size:24px;font-weight:700;color:#333;text-align:center}
.content_box .main_box .box .author{font-size:18px;color:#666;text-align:center;margin:19px 0 38px 0}
.content_box .main_box .box .status{font-size:16px;color:#666;text-align:center;margin-bottom:70px;line-height:1}
.content_box .main_box .box .status i{display:inline-block;width:1px;height:14px;background:#666;margin:0 6px}
.content_box .main_box .title{font-size:24px;font-weight:400;color:#333;margin-top:20px;margin-bottom:18px}
.content_box .main_box p{font-size:18px;font-weight:400;color:#333;line-height:36px;text-indent:36px;margin-bottom:5px}
.content_box .main_box img{display:block;width:100%}
.right_btn{width:60px;height:auto;position:fixed;bottom:30px;left:50%;margin-left:470px}
.right_btn .item_btn{width:60px;height:60px;background:#f8f3e9;margin-bottom:1px;padding-top:7px;display:block}
.right_btn .item_btn .icon{display:block;width:24px;height:24px;margin:0 auto 5px auto}
.right_btn .item_btn .font{font-size:14px;color:#333;text-align:center}
.left_btn{width:60px;height:auto;position:fixed;top:162px;left:50%;margin-left:-510px}
.left_btn .item_btn{width:60px;height:60px;background:#f8f3e9;margin-bottom:1px;padding-top:7px;display:block}
.left_btn .item_btn .icon{display:block;width:24px;height:24px;margin:0 auto 5px auto}
.left_btn .item_btn .font{font-size:14px;color:#333;text-align:center}
.left_btn .item_btn_font{padding-top:10px}
.left_btn .item_btn_font .font{font-size:14px;line-height:20px;color:#333;text-align:center}
.set{width:520px;height:auto;position:fixed;top:162px;left:50%;margin-left:-440px;padding-left:24px;display:none}
.set #closeSet{width:16px;height:16px;position:absolute;right:20px;top:20px}
.set .btn_bar{width:100%;height:32px;margin:60px auto 75px auto}
.set .btn_bar .preserve{width:88px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;margin-right:12px}
.set .btn_bar .cancel{width:88px;height:32px;border:1px solid #999;border-radius:16px;font-size:16px;color:#999}
.set .choose_font_bar{width:100%;height:43px;margin-top:20px;overflow:hidden}
.set .choose_font_bar .font{font-size:16px;color:#333;line-height:43px;margin-right:23px}
.set .choose_font_bar .item{width:62px;height:43px;border:1px solid #ededed;border-radius:6px;margin-right:9px;text-align:center;line-height:43px;font-size:26px}
.set .choose_color_bar{width:100%;height:43px;margin-top:96px;overflow:hidden}
.set .choose_color_bar .font{font-size:16px;color:#333;line-height:43px;margin-right:23px}
.set .choose_color_bar .color{width:62px;height:43px;border-radius:6px;margin-right:17px}
.set .choose_color_bar .white{background:#fff;border:1px solid #ccc}
.set .choose_color_bar .gray{background-color:#cfc0a9}
.set .choose_color_bar .green{background-color:#caf7e9}
.set .choose_color_bar .black{background-color:#424242}
.set .choose_color_bar .black img{display:block;width:28px;height:28px;margin:7px auto}
.catalog{width:880px;height:auto;position:fixed;top:162px;left:50%;margin-left:-440px;padding-left:24px;display:none}
.catalog #closeCatalog{width:16px;height:16px;position:absolute;right:20px;top:20px}
.catalog .title{display:inline-block;height:44px;font-size:20px;font-family:Microsoft YaHei;color:#1593f8;line-height:44px;margin-top:20px;border-bottom:3px solid #1593f8}
.catalog .catalog_list{width:100%;height:400px;overflow:auto}
.catalog .catalog_list a{display:block;width:414px;height:45px;line-height:45px;float:left;font-size:16px;color:#333;border-bottom:1px solid #f4f4f4;padding-left:40px}
.catalog .catalog_list a .name{float:left;width:240px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.catalog .catalog_list a .zs{float:right;width:20px;height:20px;margin-top:14px}
.link_box{width:880px;height:100px;overflow:hidden;margin-bottom:227px}
.link_box a{display:block;float:left;width:293px;height:48px;font-size:20px;line-height:48px;border-right:1px solid #e9e3d6;text-align:center;margin-top:26px;color:#333}
.link_box a:last-child{border-right:none}
.main_box{padding-left:70px}
.bg_color{background-color:#f8f3e9}
.bg_color_2{background-color:#fffcf5}