a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
button,input,textarea{border:none;outline:0}
table{border-collapse:collapse;border-spacing:0}
body,html{width:100%;min-width:1020px;background-color:#f4f4f4}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:none}
.header{width:100%;height:100px;background-color:#fff}
.header .logo{font-size:28px;font-weight:700;color:#1593f8;line-height:40px;margin-top:30px;float:left}
.header .user_status{width:270px;height:30px;float:right;margin-top:35px}
.header .user_status .user_item{font-size:14px;line-height:30px;color:#333;float:right;margin-left:8px;float:right;max-width:100px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break: break-all;}
.header .user_status .default_headimg{width:30px;height:30px;float:right;border-radius:15px;}
.header .user_status .header_line{display:block;width:1px;height:14px;background-color:#999;float:right;margin:8px 0 0 8px}
.header .bookshelf{width:200px;height:28px;margin-top:36px;float:right}
.header .bookshelf p{font-size:14px;line-height:28px;color:#333;float:right}
.header .bookshelf img{width:28px;height:28px;float:right;margin-right:10px}
.header .search_box{float:right;width:320px;height:40px;border:2px solid #1593f8;border-radius:20px;margin-top:30px;padding:0 14px}
.header .search_box .search_icon{width:24px;height:24px;float:right;margin-top:5px;cursor:pointer;}
.header .search_box .search_value{width:250px;height:24px;line-height:24px;margin-top:5px;margin-left:10px}
.footer{width:100%;overflow:hidden;background-color:#1593f8}
.footer .link{text-align:center;margin:31px auto 20px auto}
.footer .link a{font-size:14px;color:#fff;margin-right:28px}
.footer .font{font-size:12px;color:#fff;text-align:center;margin-bottom:15px}
.footer .footer_line{width:100%;height:1px;background:#e5f3f3;opacity:.3;margin-top:6px}
.footer .beian{height:48px;line-height:48px;text-align:center}
.footer .beian span{font-size:12px;color:#fff}
.footer .beian .emblem{width:20px;height:20px;margin:0 8px 0 50px}
.Center_box{width:1020px;margin:auto}
.fl{float:left}
.fr{float:right}
.textEllipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.userinfo{overflow:hidden;padding:30px 0 23px 0}
.userinfo .headimg{display:block;width:66px;height:66px;border:2px solid #1593f8;border-radius:50%;margin-top:17px}
.userinfo .name_box{width:300px;height:66px;margin-top:17px;margin-left:14px}
.userinfo .name_box .name{font-size:24px;color:#000;line-height:1}
.userinfo .name_box .id_bar{display:inline-block;height:28px;background:#1593f8;border-radius:14px;padding:0 12px;overflow:hidden;margin-top:10px}
.userinfo .name_box .id_bar img{display:block;width:26px;height:18px;margin-top:4px;margin-right:9px}
.userinfo .name_box .id_bar .name{font-size:14px;color:#fff;line-height:28px}
.userinfo .name_box .id_bar span{display:block;width:1px;height:16px;background-color:#fff;margin:6px 9px}
.userinfo .right .item1{width:200px;height:100px;overflow:hidden}
.userinfo .right .item1 .item_top{height:24px;text-align:center;margin-top:30px}
.userinfo .right .item1 .item_top img{display:block;width:20px;height:20px;margin:0 8px 0 30px}
.userinfo .right .item1 .item_top .font1{font-size:24px;color:#1593f8}
.userinfo .right .item1 .font2{font-size:14px;color:#333;margin-top:17px;text-align:right}
.userinfo .right .line{width:1px;height:100px;background:#000;opacity:.08}
.userinfo .right .item2{width:176px;height:100px;overflow:hidden}
.userinfo .right .item2 .font1{font-size:24px;color:#1593f8;text-align:center;margin-top:30px}
.userinfo .right .item2 .font1 span{font-size:14px;color:#000;margin-left:12px}
.userinfo .right .item2 .font2{font-size:14px;color:#333;margin-top:17px;text-align:center}
.main_box{border-radius:10px;background-color:#fff;margin-bottom:30px;padding:0 20px;overflow:hidden}
.main_box .nav_bar{width:100%;height:80px;border-bottom:1px solid #e5e5e5}
.main_box .nav_bar a{display:block;width:121px;height:80px;line-height:80px;float:left;font-size:16px;color:#333;text-align:center}
.main_box .nav_bar .active{color:#0071bc;border-bottom:3px solid #0071bc}
.main_box .book_list{width:100%;overflow:hidden}
.main_box .book_list li{width:100%;overflow:hidden;padding:20px 0;border-bottom:1px solid #e5e5e5}
.main_box .book_list li .choose_book:checked+.choose_book_label{background-image:url(../images/label_a.png?v=qzpKFpnif%2BpKw2KAcyknqA%3D%3D)}
.main_box .book_list li .choose_book_label{display:block;width:19px;height:19px;background-image:url(../images/label_1.png?v=BGiSzqoI6TaupZzxrvZI2g%3D%3D);background-size:100% 100%;margin-top:55px}
.main_box .book_list li .cover{display:block;width:98px;height:129px;-webkit-box-shadow:0 2px 3px 0 rgba(102,102,102,.5);box-shadow:0 2px 3px 0 rgba(102,102,102,.5);margin:0 14px}
.main_box .book_list li .name_bar{width:140px;overflow:hidden}
.main_box .book_list li .name_bar .name{font-size:16px;color:#333;margin-top:45px}
.main_box .book_list li .name_bar .author{font-size:14px;color:#999;margin-top:14px}
.main_box .book_list li .main{width:507px;font-size:14px;font-weight:400;color:#666;line-height:22px;text-align:justify;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;margin:40px 30px 0 30px}
.main_box .book_list li .read{display:block;width:112px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;text-align:center;line-height:32px;margin-top:56px}
.title{font-size:14px;color:#999;margin-top:20px}
.write_box{width:621px;height:213px;background:#fff;border:1px solid #e8e8e8;border-radius:5px;padding:20px 20px 34px 20px;margin:20px 0 13px 0;position:relative}
.write_box textarea{width:100%;height:100%;font-size:16px;color:#333;line-height:20px}
.write_box .number{width:100%;text-align:right;position:absolute;right:0;bottom:10px;font-size:16px;color:#999;padding-right:20px}
.phone{width:621px;height:48px;background:#fff;border:1px solid #e8e8e8;border-radius:5px;font-size:16px;color:#333;text-indent:20px;margin:20px 0 30px 0}
.btn{display:block;width:168px;height:48px;background:#1593f8;border-radius:5px;margin-bottom:45px;font-size:20px;color:#fff}
.sub_suc{width:100%;height:100%;background:rgba(51,51,51,.3);position:fixed;left:0;top:0;z-index:9;display:none}
.sub_suc .main{width:527px;overflow:hidden;background:#fff;border-radius:12px;position:absolute;left:50%;margin-left:-263px;top:200px}
.sub_suc .main .suc{display:block;width:94px;height:94px;margin:75px auto 32px auto}
.sub_suc .main .font1{font-size:20px;color:#333;font-weight:700;text-align:center}
.sub_suc .main .font2{font-size:16px;color:#999;text-align:center;margin:16px 0 69px 0}
.sub_suc .main .back{display:block;width:308px;height:44px;background:#1593f8;border-radius:22px;margin:0 auto 88px auto;font-size:18px;color:#fff;text-align:center;line-height:44px}