body,html{width:100%;height:100%}
.login_box{width:100%;height:100%;background-color:rgba(0,0,0,.5);position:fixed;left:0;top:0;display:none;z-index:999;}
.login_box .login_main{width:484px;overflow:hidden;border-radius:10px;background-color:#fff;position:absolute;left:50%;margin-left:-242px;top:100px;padding:0 107px 58px 107px}
.login_box .close{width:16px;height:16px;position:absolute;top:17px;right:17px;cursor:pointer;}
.login_box .title{width:100%;font-size:16px;line-height:38px;text-align:center;font-weight:700;margin-top:40px;border-bottom:3px solid #1593f8}
.login_box .input{width:100%;height:34px;border:1px solid #e5e5e5;border-radius:3px;margin-top:19px;padding:0 14px;font-size:14px;color:#333}
.login_box .login{width:100%;height:40px;border-radius:3px;background-color:#1593f8;font-size:14px;color:#fff;margin-top:20px;cursor: pointer}
.login_box .link_bar{width:100%;height:48px;border-bottom:1px dashed #c8c5c6;font-size:14px;line-height:48px}
.login_box .link_bar .forgetPwd{color:grey;float:left;cursor:pointer;}
.login_box .link_bar .register{color:#1593f8;float:right;cursor:pointer;}
.login_box .fastLogin{width:100%;height:36px;margin:13px 0 0 0}
.login_box .fastLogin p{float:left;font-size:12px;color:#999;line-height:36px}
.login_box .fastLogin img{display:block;width:36px;height:36px;float:left;margin-left:12px}
.login_box .code_bar{width:100%;height:34px;margin-top:19px}
.login_box .code_bar .input{width:163px;height:34px;float:left;margin-top:0}
.login_box .code_bar .get_code{width:96px;height:34px;background:-webkit-gradient(linear,left bottom,left top,from(#f0f0f0),to(#fdfdfd));background:linear-gradient(0deg,#f0f0f0,#fdfdfd);border:1px solid #e5e5e5;border-radius:3px;float:right;cursor:pointer;color:#999;font-size:12px}
.login_box .bottom_font{width:100%;font-size:14px;color:grey;text-align:center;margin-top:30px}
.login_box .bottom_font span{color:#1593f8;cursor:pointer}
.login_box .agree{width:100%;height:13px;font-size:12px;line-height:13px;margin-top:15px}
.login_box .agree input{width:13px;height:13px;float:left;margin:0}
.login_box .agree p{float:left;text-indent:5px}