a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
button,input,textarea{border:none;outline:0}
table{border-collapse:collapse;border-spacing:0}
body,html{width:100%;min-width:1020px;background-color:#f4f4f4}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:none}
.header{width:100%;height:100px;background-color:#fff}
.header .logo{font-size:28px;font-weight:700;color:#1593f8;line-height:40px;margin-top:30px;float:left}
.header .user_status{width:270px;height:30px;float:right;margin-top:35px}
.header .user_status .user_item{font-size:14px;line-height:30px;color:#333;float:right;margin-left:8px;float:right;max-width:100px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break: break-all;}
.header .user_status .default_headimg{width:30px;height:30px;float:right;border-radius:15px;}
.header .user_status .header_line{display:block;width:1px;height:14px;background-color:#999;float:right;margin:8px 0 0 8px}
.header .bookshelf{width:200px;height:28px;margin-top:36px;float:right}
.header .bookshelf p{font-size:14px;line-height:28px;color:#333;float:right}
.header .bookshelf img{width:28px;height:28px;float:right;margin-right:10px}
.header .search_box{float:right;width:320px;height:40px;border:2px solid #1593f8;border-radius:20px;margin-top:30px;padding:0 14px}
.header .search_box .search_icon{width:24px;height:24px;float:right;margin-top:5px;cursor:pointer;}
.header .search_box .search_value{width:250px;height:24px;line-height:24px;margin-top:5px;margin-left:10px}
.footer{width:100%;overflow:hidden;background-color:#1593f8}
.footer .link{text-align:center;margin:31px auto 20px auto}
.footer .link a{font-size:14px;color:#fff;margin-right:28px}
.footer .font{font-size:12px;color:#fff;text-align:center;margin-bottom:15px}
.footer .footer_line{width:100%;height:1px;background:#e5f3f3;opacity:.3;margin-top:6px}
.footer .beian{height:48px;line-height:48px;text-align:center}
.footer .beian span{font-size:12px;color:#fff}
.footer .beian .emblem{width:20px;height:20px;margin:0 8px 0 50px}
.nav{width:100%;height:50px;background-color:#1593f8}
.nav .nav_item{display:block;height:50px;float:left}
.nav .nav_item a{display:block;padding:0 30px;height:50px;text-align:center;line-height:50px;font-size:16px;color:#fff}
.nav .nav_item a:hover{background-color:#0074d1}
.nav .nav_item a .recharge_icon{width:18px;height:18px;display:block;float:left;margin-top:16px;margin-right:6px}
.nav .main_item{position:relative}
.nav .main_item .sub_box{display:none;position:absolute;left:0;top:50px;width:100%;overflow:hidden;z-index:999999;background-color:#1593f8}
.nav .recharge{float:right}
.nav .nav_active{background-color:#0074d1}
.Center_box{width:1020px;margin:auto}
.fl{float:left}
.fr{float:right}
.textEllipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.top_navigation{font-size:14px;color:#999;padding:25px 0 22px 0}
.top_navigation a{color:#999}
.introduce{background:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;overflow:hidden;padding:30px 19px}
.introduce .cover{display:block;width:175px;height:230px}
.introduce .right{width:784px}
.introduce .right .name{font-size:24px;font-weight:700;color:#333}
.introduce .right .name span{font-size:18px;color:#666;font-weight:400;margin-left:12px}
.introduce .right .status{height:16px;font-size:16px;line-height:16px;color:#666;margin:19px 0 17px 0}
.introduce .right .status i{display:inline-block;width:1px;height:14px;background-color:#666;margin:0 4px 0 4px}
.introduce .right .main{width:100%;font-size:16px;color:#666;line-height:22px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.introduce .right .type{width:100%;margin:18px 0 40px 0}
.introduce .right .type span{padding:0 9px;height:22px;border:1px solid #999;border-radius:2px;font-size:14px;color:#999;text-align:center;line-height:22px;margin-right:11px}
.introduce .right .btn_bar{width:100%;overflow:hidden}
.introduce .right .btn_bar .read{width:112px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;text-align:center;line-height:32px;margin-right:14px}
.introduce .right .btn_bar .join{width:112px;height:32px;border:1px solid #1593f8;border-radius:16px;font-size:16px;color:#1593f8;text-align:center;line-height:30px}
.detail_navigation{height:52px;margin-top:24px;margin-bottom:20px;border-bottom:1px solid #e8e8e8}
.detail_navigation a{display:block;width:150px;height:51px;float:left;font-size:20px;color:#666;line-height:50px;text-align:center}
.detail_navigation .active{color:#1593f8;border-bottom:3px solid #1593f8}
.rate_box{padding:30px 20px;background:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;overflow:hidden;margin-bottom:34px}
.rate_box .top_bar{width:100%;overflow:hidden}
.rate_box .top_bar .headimg{width:66px;height:66px;border-radius:50%}
.rate_box .top_bar .right{width:890px}
.rate_box .top_bar .right .rate_main{width:890px;height:66px;background:#fff;border:1px solid #f2f2f2;padding:5px 15px;font-size:14px;color:#333;line-height:20px}
.rate_box .top_bar .right .confirm{width:88px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;margin-top:20px;cursor:pointer}
.rate_box .top_bar .right .cencel{width:88px;height:32px;font-size:16px;color:#999;margin-top:20px;cursor:pointer}
.rate_box .rate_type{width:100%;margin-top:12px;height:42px;border-bottom:1px solid #e8e8e8}
.rate_box .rate_type p{width:68px;text-align:center;font-size:18px;line-height:39px;color:#666;cursor:pointer}
.rate_box .rate_type .active{color:#1593f8;border-bottom:3px solid #1593f8}
.rate_box .rate_list{width:100%;overflow:hidden}
.rate_box .rate_list .rate_item{width:100%;overflow:hidden;padding:25px 0 33px 0;border-bottom:1px solid #eee}
.rate_box .rate_list .rate_item .headimg{display:block;width:66px;height:66px;border-radius:50%}
.rate_box .rate_list .rate_item .right{width:861px}
.rate_box .rate_list .rate_item .right .name{font-size:16px;color:#333}
.rate_box .rate_list .rate_item .right .main{font-size:14px;color:#666;line-height:26px;margin:20px 0 17px 0}
.rate_box .rate_list .rate_item .right .bottom_bar{width:100%;overflow:hidden}
.rate_box .rate_list .rate_item .right .bottom_bar .time{font-size:14px;line-height:20px;color:#999}
.rate_box .rate_list .rate_item .right .bottom_bar .fabulous_num{font-size:14px;color:#999;line-height:20px;margin-left:9px}
.rate_box .rate_list .rate_item .right .bottom_bar .fabulous_img{display:inline-block;width:20px;height:20px;background-image:url(../images/fabulous.png?v=Wm714Gu%2F4AtnATsfLtv2Eg%3D%3D);background-size:100% 100%}
.rate_box .rate_list .rate_item .right .bottom_bar .fabulous_input:checked+.fabulous_img{background-image:url(../images/fabulous_a.png?v=I79FCgHDxhibaifq%2BKw%2BOA%3D%3D)}
.page_number{width:100%;text-align:center;margin:30px 0 70px 0}
.page_number span{display:inline-block;width:30px;height:30px;font-size:14px;line-height:30px;color:#cdcdcd;text-align:center;border:1px solid #ccc;margin-right:10px;cursor:pointer}
.page_number span img{width:12px;height:12px}
.page_number .active{color:#fff;background-color:#1593f8;border-color:#1593f8}