a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
button,input,textarea{border:none;outline:0}
table{border-collapse:collapse;border-spacing:0}
body,html{width:100%;min-width:1020px;background-color:#f4f4f4}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:none}
.header{width:100%;height:100px;background-color:#fff}
.header .logo{font-size:28px;font-weight:700;color:#1593f8;line-height:40px;margin-top:30px;float:left}
.header .user_status{width:270px;height:30px;float:right;margin-top:35px}
.header .user_status .user_item{font-size:14px;line-height:30px;color:#333;float:right;margin-left:8px;float:right;max-width:100px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break: break-all;}
.header .user_status .default_headimg{width:30px;height:30px;float:right;border-radius:15px;}
.header .user_status .header_line{display:block;width:1px;height:14px;background-color:#999;float:right;margin:8px 0 0 8px}
.header .bookshelf{width:200px;height:28px;margin-top:36px;float:right}
.header .bookshelf p{font-size:14px;line-height:28px;color:#333;float:right}
.header .bookshelf img{width:28px;height:28px;float:right;margin-right:10px}
.header .search_box{float:right;width:320px;height:40px;border:2px solid #1593f8;border-radius:20px;margin-top:30px;padding:0 14px}
.header .search_box .search_icon{width:24px;height:24px;float:right;margin-top:5px;cursor:pointer;}
.header .search_box .search_value{width:250px;height:24px;line-height:24px;margin-top:5px;margin-left:10px}
.footer{width:100%;overflow:hidden;background-color:#1593f8}
.footer .link{text-align:center;margin:31px auto 20px auto}
.footer .link a{font-size:14px;color:#fff;margin-right:28px}
.footer .font{font-size:12px;color:#fff;text-align:center;margin-bottom:15px}
.footer .footer_line{width:100%;height:1px;background:#e5f3f3;opacity:.3;margin-top:6px}
.footer .beian{height:48px;line-height:48px;text-align:center}
.footer .beian span{font-size:12px;color:#fff}
.footer .beian .emblem{width:20px;height:20px;margin:0 8px 0 50px}
.nav{width:100%;height:50px;background-color:#1593f8}
.nav .nav_item{display:block;height:50px;float:left}
.nav .nav_item a{display:block;padding:0 30px;height:50px;text-align:center;line-height:50px;font-size:16px;color:#fff}
.nav .nav_item a:hover{background-color:#0074d1}
.nav .nav_item a .recharge_icon{width:18px;height:18px;display:block;float:left;margin-top:16px;margin-right:6px}
.nav .main_item{position:relative}
.nav .main_item .sub_box{display:none;position:absolute;left:0;top:50px;width:100%;overflow:hidden;z-index:999999;background-color:#1593f8}
.nav .recharge{float:right}
.nav .nav_active{background-color:#0074d1}
.Center_box{width:1020px;margin:auto}
.fl{float:left}
.fr{float:right}
.textEllipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.recharge_box{background:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;overflow:hidden;margin:20px auto 36px auto;padding:0 20px 50px 20px}
.recharge_box .top{width:100%;height:69px;border-bottom:1px solid #e8e8e8}
.recharge_box .top .money{display:block;width:24px;height:24px;margin-top:22px}
.recharge_box .top .font{font-size:20px;line-height:69px;color:#333;font-weight:700;text-indent:9px}
.recharge_box .top .font span{font-size:16px;color:#999;margin-left:12px;font-weight:400}
.recharge_box .title{clear:both;font-size:14px;color:#999;padding-top:20px}
.recharge_box .info_bar{width:100%;height:30px;overflow:hidden;margin:16px 0 12px 0}
.recharge_box .info_bar .headimg{width:30px;height:30px;border-radius:50%}
.recharge_box .info_bar .name{font-size:18px;color:#333;line-height:30px;text-indent:12px}
.recharge_box .choose_pay_type{width:100%;overflow:hidden;margin:22px 0 10px 0}
.recharge_box .choose_pay_type .pay_type{width:130px;height:42px;background:#fff;border:1px solid #e8e8e8;border-radius:5px;margin-right:20px;overflow:hidden;position:relative}
.recharge_box .choose_pay_type .pay_type .pay_icon{width:26px;height:26px;margin:8px 12px 0 14px}
.recharge_box .choose_pay_type .pay_type .pay_name{font-size:18px;color:#333;line-height:42px}
.recharge_box .choose_pay_type .pay_type .choosed_icon{width:24px;height:24px;position:absolute;right:0;top:0;display:none}
.recharge_box .choose_pay_type .pay_type_input:checked+.pay_type{border-color:#1593f8}
.recharge_box .choose_pay_type .pay_type_input:checked+.pay_type .pay_name{color:#1593f8}
.recharge_box .choose_pay_type .pay_type_input:checked+.pay_type .choosed_icon{display:block}
.recharge_box .parice_list{width:700px;margin-top:21px;overflow:hidden}
.recharge_box .parice_list .pay_price{width:296px;height:68px;background:#fff;border:1px solid #e8e8e8;border-radius:5px;font-size:18px;color:#333;line-height:68px;margin:0 19px 19px 0;padding-left:26px;position:relative}
.recharge_box .parice_list .pay_price span{font-size:14px}
.recharge_box .parice_list .pay_price .choosed_icon{width:24px;height:24px;position:absolute;right:0;top:0;display:none}
.recharge_box .parice_list .big_pay_price{width:610px;height:68px;padding-left:55px}
.recharge_box .parice_list .big_pay_price .zs{width:20px;height:20px;position:absolute;left:27px;top:24px}
.recharge_box .parice_list .pay_price_input:checked+.pay_price{border-color:#1593f8;color:#1593f8}
.recharge_box .parice_list .pay_price_input:checked+.pay_price .choosed_icon{display:block}
.recharge_box .btn{display:block;clear:both;width:168px;height:48px;background:#1593f8;border-radius:5px;font-size:20px;color:#fff;margin-top:20px}
.recharge_box .tips{font-size:14px;color:#999;line-height:26px;margin-top:30px}
.recharge_box .tips a{color:#1593f8}