a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
button,input,textarea{border:none;outline:0}
table{border-collapse:collapse;border-spacing:0}
body,html{width:100%;min-width:1020px;background-color:#f4f4f4}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:none}
.header{width:100%;height:100px;background-color:#fff}
.header .logo{font-size:28px;font-weight:700;color:#1593f8;line-height:40px;margin-top:30px;float:left}
.header .user_status{width:270px;height:30px;float:right;margin-top:35px}
.header .user_status .user_item{font-size:14px;line-height:30px;color:#333;float:right;margin-left:8px;float:right;max-width:100px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break: break-all;}
.header .user_status .default_headimg{width:30px;height:30px;float:right;border-radius:15px;}
.header .user_status .header_line{display:block;width:1px;height:14px;background-color:#999;float:right;margin:8px 0 0 8px}
.header .bookshelf{width:200px;height:28px;margin-top:36px;float:right}
.header .bookshelf p{font-size:14px;line-height:28px;color:#333;float:right}
.header .bookshelf img{width:28px;height:28px;float:right;margin-right:10px}
.header .search_box{float:right;width:320px;height:40px;border:2px solid #1593f8;border-radius:20px;margin-top:30px;padding:0 14px}
.header .search_box .search_icon{width:24px;height:24px;float:right;margin-top:5px;cursor:pointer;}
.header .search_box .search_value{width:250px;height:24px;line-height:24px;margin-top:5px;margin-left:10px}
.footer{width:100%;overflow:hidden;background-color:#1593f8}
.footer .link{text-align:center;margin:31px auto 20px auto}
.footer .link a{font-size:14px;color:#fff;margin-right:28px}
.footer .font{font-size:12px;color:#fff;text-align:center;margin-bottom:15px}
.footer .footer_line{width:100%;height:1px;background:#e5f3f3;opacity:.3;margin-top:6px}
.footer .beian{height:48px;line-height:48px;text-align:center}
.footer .beian span{font-size:12px;color:#fff}
.footer .beian .emblem{width:20px;height:20px;margin:0 8px 0 50px}
.nav{width:100%;height:50px;background-color:#1593f8}
.nav .nav_item{display:block;height:50px;float:left}
.nav .nav_item a{display:block;padding:0 30px;height:50px;text-align:center;line-height:50px;font-size:16px;color:#fff}
.nav .nav_item a:hover{background-color:#0074d1}
.nav .nav_item a .recharge_icon{width:18px;height:18px;display:block;float:left;margin-top:16px;margin-right:6px}
.nav .main_item{position:relative}
.nav .main_item .sub_box{display:none;position:absolute;left:0;top:50px;width:100%;overflow:hidden;z-index:999999;background-color:#1593f8}
.nav .recharge{float:right}
.nav .nav_active{background-color:#0074d1}
.Center_box{width:1020px;margin:auto}
.fl{float:left}
.fr{float:right}
.textEllipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.top_navigation{font-size:14px;color:#999;padding:25px 0 22px 0}
.top_navigation a{color:#999}
.introduce{background:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;overflow:hidden;padding:30px 19px}
.introduce .cover{display:block;width:175px;height:230px}
.introduce .right{width:784px}
.introduce .right .name{font-size:24px;font-weight:700;color:#333}
.introduce .right .name span{font-size:18px;color:#666;font-weight:400;margin-left:12px}
.introduce .right .status{height:16px;font-size:16px;line-height:16px;color:#666;margin:19px 0 17px 0}
.introduce .right .status i{display:inline-block;width:1px;height:14px;background-color:#666;margin:0 4px 0 4px}
.introduce .right .main{width:100%;font-size:16px;color:#666;line-height:22px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.introduce .right .type{width:100%;margin:18px 0 40px 0}
.introduce .right .type span{padding:0 9px;height:22px;border:1px solid #999;border-radius:2px;font-size:14px;color:#999;text-align:center;line-height:22px;margin-right:11px}
.introduce .right .btn_bar{width:100%;overflow:hidden}
.introduce .right .btn_bar .read{width:112px;height:32px;background:#1593f8;border-radius:16px;font-size:16px;color:#fff;text-align:center;line-height:32px;margin-right:14px}
.introduce .right .btn_bar .join{width:112px;height:32px;border:1px solid #1593f8;border-radius:16px;font-size:16px;color:#1593f8;text-align:center;line-height:30px}
.detail_navigation{height:52px;margin-top:24px;margin-bottom:20px;border-bottom:1px solid #e8e8e8}
.detail_navigation a{display:block;width:150px;height:51px;float:left;font-size:20px;color:#666;line-height:50px;text-align:center}
.detail_navigation .active{color:#1593f8;border-bottom:3px solid #1593f8}
.reward_box{background:#fff;-webkit-box-shadow:0 0 4px 0 #f3f3f3;box-shadow:0 0 4px 0 #f3f3f3;border-radius:5px;padding:5px 20px 38px 20px;margin-bottom:81px;overflow:hidden}
.reward_box .title{width:100%;font-size:20px;color:#333;font-weight:700;margin-top:30px}
.reward_box .title span{font-size:16px;color:#666}
.reward_box .ranking_list{width:100%;overflow:hidden;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;margin-top:20px;padding:27px 0 30px 0}
.reward_box .ranking_list .item{width:326px}
.reward_box .ranking_list .item .img_box{width:91px;height:110px;margin:auto;position:relative}
.reward_box .ranking_list .item .img_box .bg{width:100%;height:100%}
.reward_box .ranking_list .item .img_box .number{width:32px;height:32px;position:absolute;bottom:-8px;left:30px}
.reward_box .ranking_list .item .img_box .headimg{width:80px;height:80px;border-radius:50%;position:absolute;left:6px;top:24px}
.reward_box .ranking_list .item .name{font-size:20px;color:#1593f8;text-align:center;margin:13px 0 9px 0}
.reward_box .ranking_list .item .fen{width:94px;height:26px;background:#1593f8;border-radius:13px;margin:auto;font-size:18px;color:#fff;text-align:center;line-height:26px}
.reward_box .ranking_list .line{width:1px;height:208px;background-color:#e8e8e8}
.gifs{width:100%;overflow:hidden;padding-top:25px}
.gifs .active{background-color:rgba(21,147,248,.1)}
.gifs .gift{width:122px;height:150px;border-radius:10px;overflow:hidden;cursor:pointer}
.gifs .gift .gift_icon{display:block;width:40px;height:40px;margin:17px auto 12px auto}
.gifs .gift .gift_name{font-size:20px;color:#333;text-align:center}
.gifs .gift .gift_number{font-size:16px;color:#999;text-align:center;margin:17px 0 25px 0}
.popup_box{width:100%;height:100%;background-color:rgba(51,51,51,.3);position:fixed;left:0;top:0;display:none;z-index:9}
.popup_box .popup_main{width:618px;overflow:hidden;background:#fff;border-radius:12px;position:absolute;top:200px;left:50%;margin-left:-309px}
.popup_box .popup_main .top_bar{width:100%;height:63px;border-bottom:1px solid #e8ecf0;padding:0 19px}
.popup_box .popup_main .top_bar .money{display:block;width:24px;height:24px;margin-top:20px}
.popup_box .popup_main .top_bar .number{font-size:20px;color:#1593f8;padding-left:12px;line-height:63px}
.popup_box .popup_main .top_bar .number span{font-size:16px;color:#999;margin-left:12px}
.popup_box .popup_main .top_bar .cancel{font-size:18px;color:#999;line-height:63px;cursor:pointer}
.popup_box .popup_main .gift_icon{display:block;width:90px;height:90px;margin:45px auto 28px auto}
.popup_box .popup_main .gift_name{font-size:26px;color:#333;text-align:center}
.popup_box .popup_main .gift_number{font-size:22px;color:#999;text-align:center;margin:17px auto 60px auto}
.popup_box .popup_main .number_bar{width:578px;height:58px;border-top:1px solid #e8ecf0;margin:0 auto 20px auto}
.popup_box .popup_main .number_bar .total{font-size:18px;color:#666;line-height:58px}
.popup_box .popup_main .number_bar .total span{color:#333;margin-left:25px}
.popup_box .popup_main .number_bar .choose_number{font-size:20px;line-height:58px}
.popup_box .popup_main .number_bar .choose_number span{float:right;display:block;width:30px;height:58px;text-align:center}
.popup_box .popup_main .number_bar .choose_number .add{cursor:pointer}
.popup_box .popup_main .number_bar .choose_number .reduce{cursor:pointer}
.popup_box .popup_main .suc_img{display:block;width:120px;height:120px;margin:97px auto 23px auto}
.popup_box .popup_main .font1{font-size:20px;font-weight:700;color:#333;text-align:center}
.popup_box .popup_main .font2{font-size:16px;color:#999;text-align:center;margin:16px auto 69px auto}
.popup_box .popup_main .btn{display:block;width:300px;height:44px;background:#1593f8;border-radius:22px;margin:0 auto 49px auto;font-size:18px;color:#fff}