{notempty name="list"}
<div class="type">
	{volist name="list" id="v"}
		{notempty name="v.src"}
			<a href="{$v.link}">
	            <img src="{$v.src}">
	            <span>{$v.text}</span>
	        </a>
		{/notempty}
	{/volist}
</div>
{/notempty}