{notempty name="list"}
	<ul class="choose_box">
	{volist name="list" id="v"}
		<li onclick="javascript:chooseGift(this);">
		    <input type="hidden" class="choose" name="gift_key" value="{$v.gift_key}">
		    <div class="gift_icon">
		        <img src="{$v.src}">
		        <span class="choose_span {eq name='key' value='0'}active{/eq}"></span>
		    </div>
		    <p class="name">{$v.name}</p>
		    <p class="price"><font class="price_num">{$v.money}</font>书币</p>
		</li>
	{/volist}
	</ul>
	<div class="price_bar">
         <p class="left">小计<span class="total_price">{$list[0]['money']}</span>书币</p>
         <div class="right">
             <span id="plus" onclick="javascript:rewardDec();">-</span>
             <span id="number">1</span>
             <span id="reduce" onclick="javascript:rewardInc();">+</span>
         </div>
     </div>
{/notempty}