{extend name="common@public/base"}
{block name="title"}批量设置扣除金币数{/block}

{block name="body"}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">
                批量设置付费金币
            </div>
            <div class="layui-card-body">
                <div class="layui-form">

                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">付费金币数：</label>
                            <div class="layui-input-block">
                                <input type="text" name="money" value="" class="layui-input" placeholder="输入要付费金币数量" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <a class="layui-btn" lay-submit lay-filter="dosubmit">确定</a>
                            <a type="reset" class="layui-btn layui-btn-primary" href="{:url('index')}">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/public.delMoney.js"></script>
{/block}
