{extend name="common@public/base"} 
{block name="title"}{$title}{/block}
{block name="jsValue"}
<script type="text/javascript">
var $free_type = parseInt('{$cur.free_type}');
</script>
{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				{$title}
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">封面：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-120x170" title="点击上传小说封面" onclick="javascript:cropImage('上传书籍封面图片','210x290',this);">
									{empty name="cur.cover"}
										<img src="/static/common/images/240x340.png" class="showimg"/>
									{else /}
										<img src="{$cur.cover}" class="showimg"/>
									{/empty}
									<input type="hidden" class="hideval" name="cover" value="{$cur.cover}"/>
								</div>
								<div class="image-remark">点击可更换书籍封面图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">书籍名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">作者：</label>
							<div class="layui-input-block">
								<input type="text" name="author" value="{$cur.author}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">状态：</label>
							<div class="layui-input-block">
								{:createRadioHtml($status,$cur['status'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">字数：</label>
							<div class="layui-input-block">
								<input type="text" name="word_number" value="{$cur.word_number}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">小说字数，请输入纯数字，系统会自动格式化展示</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">简介：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="summary">{$cur.summary}</textarea>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg6">
							<label class="layui-form-label">类型：</label>
							<div class="layui-input-block">
								{:createCheckBoxHtml($category,'category',$cur['category'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">书籍属性：</label>
							<div class="layui-input-block">
								{:createRadioHtml($free_type,$cur['free_type'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item free-input-line">
						<div class="layui-col-lg4">
							<label class="layui-form-label">免费章节：</label>
							<div class="layui-input-block">
								<input type="text" name="free_chapter" value="{$cur.free_chapter}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">设定值前的章节阅读免费</div>
					</div>
					<div class="layui-form-item free-input-line">
						<div class="layui-col-lg4">
							<label class="layui-form-label">付费书币：</label>
							<div class="layui-input-block">
								<input type="text" name="money" value="{$cur.money}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">免费章节后每章节收取多少书币</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">更新状态：</label>
							<div class="layui-input-block">
								{:createRadioHtml($over_type,$cur['over_type'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">读者性别：</label>
							<div class="layui-input-block">
								{:createRadioHtml($gender_type,$cur['gender_type'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">精选推荐：</label>
							<div class="layui-input-block">
								{:createRadioHtml($is_recommend,$cur['is_recommend'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">初始化人气值：</label>
							<div class="layui-input-block">
								<input type="text" name="hot_num" value="{$cur.hot_num}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">书籍详情页展示,此后每当用户进入该页面，人气值+1</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">分享标题：</label>
							<div class="layui-input-block">
								<input type="text" name="share_title" value="{$cur.share_title}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">分享数据时，标题为该项设定的值</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">分享简介：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="share_desc">{$cur.share_desc}</textarea>
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">分享书籍时，简介为该项设定的值</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a type="reset" class="layui-btn layui-btn-primary" href="{:url('index')}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/public.dobook.js"></script>
{/block}
