{extend name="common@public/base"}
{block name="title"}分集管理{/block}
{block name="jsValue"}
<script type="text/javascript">
book_id = '{$book_id}';
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <div class="layui-inline">
	          	<label class="layui-form-label">章节名称</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">章节数</label>
	            <div class="layui-input-inline">
	              <input type="text" name="number" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
	          	<div class="layui-btn-container">
			       <a class="layui-btn layui-btn-sm" id="doUploadZip">上传章节压缩包</a>
			       <a class="layui-btn layui-btn-sm" id="checkChapter">章节检测</a>
			       <a class="layui-btn layui-btn-sm layui-btn-danger" id="delAll">清空所有章节</a>
			       <a class="layui-btn layui-btn-sm layui-btn-primary" href="{:my_url('index')}">返回漫画列表</a>
			    </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="listLayer" style="display:none;"></div>
<div class="zipLayer" style="display:none;">
	<div class="layui-fluid">
		<div class="zip-div">
			<div class="zip-main">
				<div class="zip-btn-div" id="doneUploadZip">
					<img src="/static/common/images/upload.png" style="width:100%;" />
				</div>
				<p class="upload-remark">请选择小于500M的zip文件,务必保证1小时内处理完成</p>
				<div class="upload-loading">
					<div class="upload-state-div">
						<span></span>
						<font>文件处理中...</font>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/plupload/plupload.full.min.js"></script>
<script type="text/javascript">
layui.use(['jquery','layer','table','form','upload'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form,
	upload = layui.upload;
	var uplayer;
	layLoad();
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
		    {title: '序号',type:'numbers',},
		    {field: 'name', title: '章节名称',align:'center',minWidth:120},
		    {field: 'number', title: '章节数',align:'center',minWidth:120},
		    {title: '所需书币',align:'center',minWidth:200,templet:function(d){
		    	var str = d.money;
		    	if(parseInt(d.is_free) === 2){
		    		str += '&nbsp;<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="money">更改</a>';
		    	}
		    	return str;
		    }},
		    {field: 'read_num', title: '阅读量',align:'center',minWidth:100},
		    {field: 'create_time', title: '更新时间',align:'center',minWidth:160},
		    {title: '操作',align:'center',minWidth:400,templet:function(d){
		    	var $html = '';
		    		$html += '<a class="layui-btn layui-btn-normal layui-btn-xs" onclick="javascript:layPage(\''+d.name+'\',\''+d.show_url+'\',\'600px\',\'80%\');">查看</a>';
			    	$html += '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>';
		    	return $html;
		    }}
		]],
		page : true,
		limit : 20,
		height : 'full-220',
		response: {statusCode:1},
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	
	//检测章节
	$('#checkChapter').click(function(){
		ajaxPost(U('checkChapter'),{book_id:book_id},'',function(data){
			if(data !== 0){
				var str = '<div class="layui-fluid"><ul>';
				$.each(data,function(i,item){
					str += '<li class="err-li">'+item+'</li>';
				});
				str += '</ul></div>';
				layer.open({
					type: 1,
					  shade: false,
					  title: '章节异常检测',
					  shade: [0],
					  offset : '200px',
					  area : ['330px','300px'],
					  content: str
				});
			}else{
				layOk('章节数据正常');
			}
		});
	});
	
	//清空章节
	$('#delAll').click(function(){
		ajaxPost(U('delAllChapter'),{book_id:book_id},'确定要清空所有章节吗？',function(data){
			layOk('清除成功');
			table.reload('table-block',{
				page: {curr:1}
			});
		});
	});
	
	$('#doUploadZip').click(function(){
		$('.upload-loading').hide();
		$('.upload-remark').show();
		uplayer = layer.open({
			type: 1,
			  shade: false,
			  title: '上传漫画分集压缩包',
			  shade: [0],
			  offset : '100px',
			  area : '630px',
			  content: $('.zipLayer')
		});
	});
	
	var uploader = new plupload.Uploader({
		runtimes : 'html5,flash,silverlight,html4',
		browse_button : 'doneUploadZip',
		url : U('Upload/doUploadFile'),
		chunk_size: '500kb', 
		save_key : true,
		multi_selection : false,
		flash_swf_url : '/static/plugins/plupload/Moxie.swf',
		silverlight_xap_url : '/static/plugins/plupload/Moxie.xap',
		filters : {
			max_file_size : '500mb',
			mime_types: [
				{title : "Zip files", extensions : 'zip'}
			],
			prevent_duplicates : false
		},
		init: {
			FilesAdded: function(up, files) {
				  var str = '<div class="upload-state-div"><span></span><font>文件上传中...</font></div>';
				  $('.upload-loading').html(str);
				  $('.upload-loading').show();
				  $('.upload-remark').hide();
				uploader.start();
			},
			FileUploaded: function(up, file, info) {
				var res = eval("(" + info.response + ")");
			    if(res.code === 1){
					  var data = {book_id:book_id,filename:res.data.filename};
					  $.ajax({
						  type : 'post',
						  url : U('doDecodeZip'),
						  data : data,
						  dataType : 'json',
						  beforeSend : function(){
							  var str = '<div class="upload-state-div"><span></span><font>文件解压处理中...</font></div>';
							  $('.upload-loading').html(str);
						  },
						  success : function(res){
							  if(res.code === 1){
								  layOk('处理成功');
								  table.reload('table-block');
							  }else{
								  var str = '<div class="upload-state-div"><font class="text-red">'+res.msg+'</font></div>';
								  $('.upload-loading').html(str);
							  }
						  },
						  error : function(){
							  var str = '<div class="upload-state-div"><font class="text-red">网络错误，请重试</font></div>';
							  $('.upload-loading').html(str);
						  }
					  });
				  }else{
					  var str = '<div class="upload-state-div"><font class="text-red">'+res.msg+'</font></div>';
					  $('.upload-loading').html(str);
				  }
		    },
			Error: function(up, err) {
				layError('上传失败,请重试');
			  	$('.upload-loading').hide();
			  	$('.upload-remark').show();
			}
		}
	});
	uploader.init();
	table.on('tool(table-block)',function(obj){
		var field = obj.data;
		switch(obj.event){
			case 'delete':
				var data = {id:field.id,book_id:book_id};
				ajaxPost(U('delChapter'),data,'删除章节后不可恢复，确认继续吗？',function(){
					layOk('操作成功');
					setTimeout(function(){
						layLoad();
						table.reload('table-block');
					},1400);
				});
				break;
			case 'money':
				layer.prompt({
					formType: 0,
					  value: field.money,
					  maxlength: 4,
					  offset : '200px'
				},function(value,index,elem){
					if(!/^\d{1,4}$/.test(value)){
						layError('书币金额必须大于等于0');
						return false;
					}
					layer.close(index);
					var data = {id:field.id,money:value};
					ajaxPost(U('setChapterMoney'),data,'',function(){
						layOk('设置成功');
						setTimeout(function(){
							layLoad();
							table.reload('table-block');
						},1400);
					});
				});
				break;
				break;
		}
	});
	
	form.on('submit(table-search)',function(obj){
		var where = obj.field;
		layLoad();
		table.reload('table-block',{
			where : where,
			page: {curr:1}
		});
	});
});
</script>
{/block}
