{extend name="common@public/base"} 
{block name="title"}查看小说{/block} 
{block name="css"}
<style type="text/css">
.book-main{}
.book-main p{text-indent:2em;}
.book-main img{width:100%;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="book-main">
					{:getBlock($cur['number'],'book/'.$cur['book_id'])}
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
