{extend name="common@public/base"}
{block name="title"}分集管理{/block}
{block name="jsValue"}
<script type="text/javascript">
book_id = '{$book_id}';
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <div class="layui-inline">
	          	<label class="layui-form-label">章节名称</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">章节数</label>
	            <div class="layui-input-inline">
	              <input type="text" name="number" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
	          	<div class="layui-btn-container">
			       <a class="layui-btn layui-btn-sm" href="{:my_url('addChapter',['book_id'=>$book_id])}">新增章节</a>
			       <a class="layui-btn layui-btn-sm" id="doUploadZip">上传章节压缩包</a>
			       <a class="layui-btn layui-btn-sm" id="checkChapter">章节检测</a>
			       <a class="layui-btn layui-btn-sm layui-btn-danger" id="delAll">清空所有章节</a>
			       <a class="layui-btn layui-btn-sm layui-btn-primary" href="{:my_url('index')}">返回小说列表</a>
					<a class="layui-btn layui-btn-sm" href="{:my_url('setPageNoticeAll',['book_id'=>$book_id])}">批量设置广告出现页数</a>
			    </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="listLayer" style="display:none;"></div>
<div class="zipLayer" style="display:none;">
	<div class="layui-fluid">
		<div class="zip-div">
			<div class="zip-main">
				<div class="zip-btn-div" id="doneUploadZip">
					<img src="/static/common/images/upload.png" style="width:100%;" />
				</div>
				<p class="upload-remark">请选择小于20M的zip文件</p>
				<div class="upload-loading">
					<div class="upload-state-div">
						<span></span>
						<font>文件处理中...</font>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="__ADMIN__/novel.chapter.js?v=1"></script>
{/block}
