{extend name="common@public/base"}
{block name="title"}设置广告出现页数{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">
                批量设置广告出现页数
            </div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">广告出现页数：</label>
                            <div class="layui-input-block">
                                <input type="text" name="page_notice"  class="layui-input" placeholder="批量设置广告出现页数" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="dosubmit">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:location.href='javascript:history.go(-1)'">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/novel.setpagenoticeall.js?v=1"></script>
{/block}
