{extend name="common@public/base"}
{block name="title"}套餐管理{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','table'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form;
	layLoad('数据加载中...');
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
			{title: '序号',type:'checkbox'},
		    {field: 'money', title: '充值金额',align:'center',minWidth:120},
		    {title: '套餐内容',align:'center',minWidth:120,templet:function(d){
		    	var str = '';
		    	switch(parseInt(d.type)){
			    	case 1:
			    		str += '充值:'+d.content.coin+'书币';
			    		if(parseInt(d.content.send_coin) > 0){
			    			str += ',赠送:'+d.content.send_coin+'书币'; 
			    		}
			    		break;
			    	case 2:
			    		switch(parseInt(d.content.vip_type)){
			    		case 1:
			    			str += '日会员';
			    			break;
			    		case 2:
			    			str += '月会员';
			    			break;
			    		case 3:
			    			str += '季度会员';
			    			break;
			    		case 4:
			    			str += '半年度会员';
			    			break;
			    		case 5:
			    			str += '年度会员';
			    			break;
			    		case 6:
			    			str += '终身会员';
			    			break;
			    		}
			    		break;
		    	}
		    	return str;
		    }},
		    {title: '充值限制',align:'center',minWidth:120,templet:function(d){
		    	if(parseInt(d.pay_times) > 0){
		    		return '限冲'+d.pay_times+'次';
		    	}else{
		    		return '不限次数';
		    	}
		    }},
		]],
		page : false,
		height : 'full-220',
		response: {statusCode:1}, 
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	var checkStatus = table.checkStatus('idTest');
	 
});
</script>
{/block}
