{extend name="common@public/base"} 
{block name="title"}充值统计{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-col-space20">
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">直接充值</div>
				<div class="layui-card-body">
					<div class="layui-row">
						<div class="layui-col-md6">充值笔数：<font class="text-red">{$data.charge.count}笔</font></div>
						<div class="layui-col-md6">充值金额：<font class="text-red">¥{$data.charge.money}</font></div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">引导充值 【通过书籍、活动引导充值】</div>
				<div class="layui-card-body">
					<div class="layui-row">
						<div class="layui-col-md6">充值笔数：<font class="text-red">{$data.guide.count}笔</font></div>
						<div class="layui-col-md6">充值金额：<font class="text-red">¥{$data.guide.money}</font></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-tab">
					  <ul class="layui-tab-title">
					    <li class="layui-this">书籍充值</li>
					    <li>活动充值</li>
					  </ul>
					  <div class="layui-tab-content">
					  	<div class="layui-tab-item layui-show">
					    	<table class="layui-hide" id="novel-table" lay-filter="novel-table"></table>
					    </div>
					    <div class="layui-tab-item">
					    	<table class="layui-hide" id="activity-table" lay-filter="activity-table"></table>
					    </div>
					    
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/chart.charge.js"></script>
{/block}
