{extend name="common@public/base"}
{block name="title"}app下载记录{/block}
{block name="css"}
<style type="text/css">
    .layui-table-cell {height:auto;line-height: 28px;}
    .layui-layer-page{background-color:#e0e0e0 !important;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <button class="layui-btn layuiadmin-btn-admin" onclick="javascript:history.go(-1)">返回</button>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/count.doAppDownloadDetail.js?v=1"></script>
{/block}