{extend name="common@public/base"}
{block name="title"}历史登录记录{/block}
{block name="css"}
<style type="text/css">
    .layui-table-cell {height:auto;line-height: 28px;}
    .layui-layer-page{background-color:#e0e0e0 !important;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">登录用户</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" placeholder="登录用户" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">登录类型</label>
                            <div class="layui-input-inline">
                                <select name="login_type">
                                    <option value="">全部</option>
                                    <option value="android">android</option>
                                    <option value="ios">ios</option>
                                    <option value="h5">h5</option>
                                    <option value="pc">pc</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">在线状态</label>
                            <div class="layui-input-inline">
                                <select name="is_online">
                                    <option value="">全部</option>
                                    <option value="1">上线</option>
                                    <option value="2">下线</option>
                                    <option value="3">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">日期</label>
                            <div class="layui-input-inline" style="width:240px;">
                                <input type="text" name="between_time" id="between_time" readonly="readonly" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="{$js}"></script>
{/block}