{extend name="common@public/base"}
{block name="title"}回头客详情列表{/block}
{block name="css"}
<style type="text/css">
    .layui-table-cell {height:auto;line-height: 28px;}
    .layui-layer-page{background-color:#e0e0e0 !important;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">时间</label>
                            <div class="layui-input-inline" style="width:240px;">
                                <input type="text" name="date_time" id="date_time" readonly="readonly" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="{$js}?v=1"></script>
{/block}