{extend name="common@public/base"}
{block name="title"}任务消息{/block}
{block name="jsValue"}
<script type="text/javascript">
var data_url = window.location.href;
var del_url = '{:my_url("delTask")}';
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <div class="layui-inline">
	          	<label class="layui-form-label">任务名称</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">是否发送</label>
	            <div class="layui-input-inline">
	              	  <select name="status">
		                <option value="">全部</option>
		                <option value="1">是</option>
		                <option value="2">否</option>
		              </select>
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">发送时间</label>
	            <div class="layui-input-inline" style="width:240px;">
	              <input type="text" name="between_time" id="between_time" readonly="readonly" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
          	<div class="layui-btn-container">
			       <a class="layui-btn layui-btn-sm" href="{:my_url('addCustom')}">新增任务</a>
			    </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/custom.index.js?date=20200223"></script>
{/block}
