{extend name="common@public/base"} 
{block name="title"}设置模版参数值{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-form" lay-filter="myForm" >
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">文字颜色：</label>
							<div class="layui-input-block">
								<select name="color">
									<option value="#0000ff">蓝</option>
			                        <option value="#000000">黑</option>
			                        <option value="#ff0000">红</option>
			                        <option value="#ff1493">粉</option>
			                        <option value="#9370db">紫</option>
								</select>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">文字信息：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="text"></textarea>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label"></label>
							<div class="layui-input-block">
								<font class="text-line">可使用 {username} 占位符, 发送时会被替换成用户昵称&nbsp;<a class="layui-btn layui-btn-xs layui-btn-normal copy" data-clipboard-action="copy" data-clipboard-text="{username}">点击复制</a></font>
							</div>
						</div>
					</div>
					<div class="layui-form-item layui-hide">
		                <div class="layui-input-block">
		                  	<a class="layui-btn" lay-submit lay-filter="pagesubmit" id="pagesubmit">保存</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/clipboard.min.js"></script>
<script type="text/javascript">
layui.use(['jquery','form'],function(){
	var $ = layui.jquery, 
	form = layui.form;
	var clipboard = new Clipboard('.copy');
	clipboard.on('success', function (e) {
		layOk("复制成功!");
		e.clearSelection();
	});
	clipboard.on('error', function (e) {
		console.error('Action:', e.action);
		console.error('Trigger:', e.trigger);
	});
});
</script>
{/block}
