{extend name="common@public/base"} 
{block name="title"}更新客服消息{/block} 
{block name="css"}
<style type="text/css">
.templetBox {position:relative;}
.templetBox .selectBox{width:calc(100% - 60px) !important;}
.templetBox .line-refresh-btn{position:absolute;right:0;top:4px;}
.content-box{width:96%;padding:2%;background-color:#e6e6e6;border-radius:5px;margin-top:8px;}
.content-box .template-detail{width:98%;padding-left:2%;background-color:#fff;}
.content-box .template-detail h3{color:#000;font-size:16px;}
.content-box .template-detail .create_date{color:#ccc;font-size:13px;}
.content-box .template-detail .field-content{margin-top:10px;font-size:14px;}
.content-box .template-detail .field-content .edit-btn{border:1px solid red;color:red;border-radius:4px;font-size:14px;}
</style>
{/block} 
{block name="jsValue"}
<script type="text/javascript">
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				模版消息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">任务名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">选择模版：</label>
							<div class="layui-input-block">
								<div class="templetBox">
									{empty name="templates"}
									<div class="selectBox">
										<input type="hidden" name="template_id" value="" />
										<span class="text-line">
											对不起，您还没有模板，请先到公众号后台申请。
											<br />
											如已申请，请点击下方按钮刷新
											<br />
											<a class="layui-btn layui-btn-normal layui-btn-sm refresh-btn">刷新模版列表</a>
										</span>
									</div>
									{else /}
									<div class="selectBox">
										<select name="template_id" lay-filter="template">
											<option value="">请选择模版</option>
											{:createSelectHtml($templates,$cur['content']['template_id'])}
										</select>
									</div>
									<a class="layui-btn layui-btn-normal layui-btn-sm line-refresh-btn refresh-btn">刷新</a>
									{/empty}
								</div>
								{notempty name="template_html"}
									<div class="layui-block content-box">
										<div class="template-detail" id="templateDetail">{$template_html|raw}</div>
									</div>
								{else /}
									<div class="layui-block content-box layui-hide">
										<div class="template-detail" id="templateDetail"></div>
									</div>
								{/notempty}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">原文链接：</label>
							<div class="layui-input-block">
								<input type="text" name="url" readonly="readonly" value="{$cur.content.url}" class="layui-input" />
							</div>
						</div>
						&nbsp;<a class="layui-btn layui-btn-primary" id="chooseLink">选择</a> 
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">接收用户：</label>
							<div class="layui-input-block">
								{:createRadioHtml($option['is_all'],$cur['is_all']);}
							</div>
						</div>
					</div>
					<div class="layui-form-item {eq name='cur.is_all' value='1'}layui-hide{/eq}" id="whereItem">
						<div class="layui-input-block">
							<div style="border-top:1px dashed #e6e6e6;border-bottom:1px dashed #e6e6e6;">
								<div class="layui-form-item">
									<label class="layui-form-label">用户性别：</label>
									<div class="layui-inline">
										{:createRadioHtml($option['sex'],$cur['condition']['sex']);}
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">充值情况：</label>
									<div class="layui-inline">
										{:createRadioHtml($option['is_charge'],$cur['condition']['is_charge']);}
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">书币余额：</label>
									<div class="layui-inline">
										{:createRadioHtml($option['money'],$cur['condition']['money']);}
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">关注时间：</label>
									<div class="layui-inline">
										{:createRadioHtml($option['subscribe_time'],$cur['condition']['subscribe_time']);}
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">预计人数：</label>
									<div class="layui-inline">
										<input type="text" value="0人" id="userCount" class="layui-input" disabled="disabled"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">发送时间：</label>
							<div class="layui-input-block">
								<input type="text" id="send_time" name="send_time" value="{$cur.send_time}" readonly="readonly" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<a class="layui-btn layui-btn-sm layui-btn-primary get-near-time" data-min="10">十分钟后</a>
							<a class="layui-btn layui-btn-sm layui-btn-primary get-near-time" data-min="30">半小时后</a>
							<a class="layui-btn layui-btn-sm layui-btn-primary get-near-time" data-min="60">一小时后</a>
							<a class="layui-btn layui-btn-sm layui-btn-primary get-near-time" data-min="120">两小时后</a>
							<a class="layui-btn layui-btn-sm layui-btn-primary get-near-time" data-min="180">三小时后</a>

						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">预览消息：</label>
							<div class="layui-input-block">
								<input type="text" name="member_id" class="layui-input" placeholder="请输入粉丝ID"/>
							</div>
						</div>
						<a class="layui-btn layui-btn-primary" style="margin-left:10px;" lay-submit lay-filter="testsend">发送预览</a>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a class="layui-btn layui-btn-primary" href="{:url('template')}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/custom.dotemplate.js?date=20200301"></script>
{/block}
