{extend name="common@public/base"}
{block name="title"}限时免费{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <!--
			  <div class="layui-inline">
	          	<label class="layui-form-label">关键字</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入标题" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	          -->
	        </div>
	      </div>
          <div class="layui-card-body">
	          	<div class="layui-btn-container">
			       <a class="layui-btn layui-btn-sm" href="{:my_url('addNews')}">新增公告资讯</a>
			    </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','table','form'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form;
	layLoad('数据加载中...');
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
			{field: 'title',title: '标题',align:'center',minWidth:260},
			{field: 'create_time',title: '发表时间',align:'center',minWidth:260},
		    {title: '操作',align:'center',minWidth:400,templet:function(d){
		    	var $html = '';
		    		$html += '<a class="layui-btn layui-btn-normal layui-btn-xs" href="'+d.do_url+'">编辑</a>';
			    	$html += '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>';
		    	return $html;
		    }}
		]],
		page : true,
		height : 'full-220',
		response: {statusCode:1}, 
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	
	table.on('tool(table-block)',function(obj){
		var field = obj.data;
		if(obj.event === 'delete'){
			ajaxPost(U('delNews'),{id:field.id},'确定要删除该公告资讯吗？',function(){
				layOk('操作成功');
				setTimeout(function(){
					layLoad('数据加载中...');
					table.reload('table-block');
				},1400);
			});
		}
	});
	
	
	form.on('submit(table-search)',function(obj){
		var where = obj.field;
		layLoad('数据加载中...');
		table.reload('table-block',{
			where : where,
			page: {curr:1}
		});
	});
});
</script>
{/block}
