{extend name="common@public/base"} 
{block name="title"}新增限免小说{/block}
{block name="css"}
<style type="text/css">
.book_item{width:150px;height:206px;border:1px solid #ccc;border-radius:5px;position:relative;overflow:hidden;float:left;margin:8px;}
.book_item>span{position:absolute;right:2px;top:2px;background-color:red;color:#fff;font-size:12px;padding:0 6px;cursor:pointer;}
.book_item>img{width:100%;}
.book_item>p{position:absolute;bottom:0;left:0;height:30px;line-height:30px;width:100%;font-size:13px;color:#fff;background:rgba(0,0,0,0.5);overflow:hidden;text-overflow:ellipsis;white-space: nowrap;padding-left:2px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				新增限免书籍
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">开始日期：</label>
							<div class="layui-input-block">
								<input type="text" name="start_date" id="start_date" lay-verify="required" class="layui-input" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">结束日期：</label>
							<div class="layui-input-block">
								<input type="text" name="end_date" id="end_date" lay-verify="required" class="layui-input" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-block">
							<div class="layui-card">
								<div class="layui-card-header"><a class="layui-btn layui-btn-primary layui-btn-sm" id="chooseBook">选择书籍</a></div>
								<div class="layui-card-body" id="book_box"></div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a type="reset" class="layui-btn layui-btn-primary" href="{:url('index')}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','form','laydate'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	form = layui.form,
	laydate = layui.laydate;
	laydate.render({elem:'#start_date',type:'date'});
	laydate.render({elem:'#end_date',type:'date'});
	var book_ids = [];
	$('#chooseBook').click(function(){
		layer.open({
			  type: 2,
			  title: '选择限免书籍',
			  closeBtn: 1,
			  shade: [0],
			  area: ['70%','70%'],
			  offset : '100px',
			  time: 0,
			  anim: 2,
			  scrollbar :false,
			  content: [U('selBook'),'yes'],
			  btn : ['确定选择','取消'],
			  yes : function(index,layero){
				  var childWindow = $(layero).find('iframe')[0].contentWindow;
				  var checkStatus = childWindow.layui.table.checkStatus('table-block');
				  if(checkStatus.data.length === 0){
					  layError('您尚未选择书籍');
					  return false;
				  }
				  var str;
				  $.each(checkStatus.data,function(i,item){
					  var book_id = parseInt(item.id);
					  if(book_ids.indexOf(book_id) === -1){
						  book_ids.push(book_id);
						  str = '';
						  str += '<div class="book_item">';
						  str += '<span class="removeBook" data-id="'+book_id+'">移除</span>';
						  str += '<img src="'+item.cover+'" />';
						  str += '<p>'+item.name+'</p>';
						  str += '</div>';
						  $('#book_box').append(str);
					  }
				  });
				  layer.close(index);
			  }
		});
	});
	
	$('body').on('click','.removeBook',function(){
		var id = parseInt($(this).attr('data-id'));
		if(id){
			var cur_key = book_ids.indexOf(id);
			if(cur_key > -1){
				book_ids.splice(cur_key,1);
			}
		}
		$(this).parent().remove();
	});
	
	form.on('submit(dosubmit)',function(obj){
		var data = obj.field;
		if(book_ids.length === 0){
			layMsg('您尚未选择限免书籍');
			return false;
		}
		data['book_ids'] = book_ids;
		ajaxPost('',data,'确定要保存吗？',function(d){
			layOk('新增成功'+d.num+'本书籍');
			setTimeout(function(){
				window.location.href = U('index');
			},1500);
		});
	});
})

</script>
{/block}
