{extend name="common@public/base"}
{block name="title"}选择书籍{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	        <div class="layui-inline">
	          	<label class="layui-form-label">分类</label>
	            <div class="layui-input-inline">
	              	  <select name="type">
		                <option value="">全部</option>
		                <option value="1">小说</option>
		                <option value="2">漫画</option>
		              </select>
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">关键字</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入书籍名称" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','table','form'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form;
	layLoad('数据加载中...');
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
			{type : 'checkbox'},
			{title: '封面',minWidth:100,align:'center',templet:function(d){
				var $html = '<font class="text-red">暂无封面</font>';
				if(d.cover){
					$html = '<img src="'+d.cover+'" style="width:50px;" />';
				}
				return $html;
			}},
		    {field: 'name',title: '小说名称',align:'center',minWidth:260},
		    {title: '收费情况',align:'center',minWidth:150,templet:function(d){
		    	return '前'+d.free_chapter+'章免费，后续章节收费'+d.money+'书币';
		    }},
		    {field: 'hot_num',title: '书籍热度',align:'center',minWidth:120}
		]],
		page : true,
		height : 'full-100',
		response: {statusCode:1}, 
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	form.on('submit(table-search)',function(obj){
		var where = obj.field;
		layLoad('数据加载中...');
		table.reload('table-block',{
			where : where,
			page: {curr:1}
		});
	});
});
</script>
{/block}
