{notempty name="list"}
	{volist name="list" id="v"}
		<section class="chapter" style="margin-bottom:10px;">
		    <section style="text-align: center;">
		    	<span style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left; margin-right: 5px;">
		    		<span style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span><span style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left; margin-right: 5px;">
		    		<span style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdbc" style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdbc" style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdbc" style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdbc" style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdbc" style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdbc" style="display: inline-block; width: 15px; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36) rgb(255, 129, 36) rgb(0, 176, 240); color: rgb(255, 129, 36); text-align: left;" data-width="15px">
		    		<span class="96wx-color" style="font-size: 24px; display: inline-block; vertical-align: bottom; margin-bottom: -12px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    </section>
		    <section style="text-align:center;font-size:18px;color:rgb(6,6,6);" class="chapter-title">{$v.name}</section>
		    <section style="text-align:center;">
		    	<span style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right; margin-right: 5px;">
			    	<span style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
			    </span>
		    	<span style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right; margin-right: 5px;">
		    		<span style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdtc" style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdtc" style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdtc" style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdtc" style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdtc" style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right; margin-right: 5px;" data-width="15px">
		    		<span class="96wx-color" style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    	<span class="96wx-bdtc" style="display: inline-block; width: 15px; height: 22px; border-top-width: 2px; border-top-style: solid; border-color: rgb(0, 176, 240) rgb(255, 129, 36) rgb(255, 129, 36); color: rgb(255, 129, 36); text-align: right;" data-width="15px">
		    		<span class="96wx-color" style="display: inline-block; font-size: 25px; vertical-align: top; margin-top: -14px; color: rgb(0, 176, 240);">·</span>
		    	</span>
		    </section>
		    <section style="margin-top: 10px; margin-bottom: 10px; padding: 0px 3px; position: static;">
		    	<section style="display: inline-block; width: 100%; vertical-align: top; margin-top: 1.15em;">
		    		<section style="width: 100%;">
		    		<section style="width: 6px; height: 6px; margin-top: -3px; border-radius: 100%; float: left; background-color: rgba(255, 255, 255, 0);"></section>
		    		<section style="border-top-width: 1px; border-top-style: solid; border-top-color: rgba(211, 163, 180, 0.470588); width: 99.9%;"></section>
		    		</section>
		    		<section style="text-align: right; margin: -1.8em 0px 0px;">
			    		<section style="display: inline-block; vertical-align: top; text-align: left; padding: 3px 10px; color: rgba(255, 175, 37, 0); background-color: rgb(254, 255, 255);"></section>
			    	</section>
		   		</section>
		   	</section>
		    <section style="color: rgba(135, 85, 97, 0.8);" class="chapter-content">
		            {$v.content}
		    </section>
		    <section style="margin: -10px 0% 0px; padding: 0px 3px; position: static;">
		    	<section class="" style="display: inline-block; width: 100%; vertical-align: top; margin-bottom: -0.65em; margin-top: 0.95em;">
			    	<section style="width: 100%;"><section class="96wx-bdtc" style="border-top-width: 1px; border-top-style: solid; border-top-color: rgba(211, 163, 180, 0.458824); width: 99.9%; float: left;"></section>
			    		<section style="width: 6px; height: 6px; margin-top: -3px; border-radius: 100%; float: right;"></section>
			    	</section>
			    	<section class="" style="display: inline-block; margin-top: -1em; vertical-align: top; padding: 3px 10px; color: transparent; background-color: rgb(254, 255, 255);"></section>
		    	</section>
		    </section>
		</section>		
	{/volist}
{/notempty}