{notempty name="list"}
	{volist name="list" id="v"}
		<section class="chapter">
		    <p style="margin-top:0;margin-bottom:20px;">
		    	<span style="color: rgb(255, 41, 65);font-size:18px;" class="chapter-title">
			    	<strong>
			    		<span>{$v.name}</span>
			    	</strong>
		    	</span>
		    </p>
		    <section class="chapter-content">
		        {$v.content}
		    </section>
		</section>
	{/volist}
{/notempty}