{notempty name="list"}
	{volist name="list" id="v"}
		<section class="chapter">
		    <section class="chapter-title" style=" border: 0 none;">
		    	<section style="padding: 10px; text-align: center;">
		    		<section style="display: inline-block;">
		    			<section style="padding-top: 10px; float: left;">
		    				<section class="" data-brushtype="text" style="padding-right: 20px; padding-left: 20px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; background-color: rgb(190, 240, 131);">
		    					<span style="color: rgb(0, 0, 0);">{$v.name}</span>
		    				</section>
		    			</section>
		    		</section>
		    		<section data-width="100%" style="width: 650px; clear: both;"></section>
		    	</section>
		    </section>
		    <section style=" border: 0 none;">
		        <section style="margin: 5px auto;">
		            <section style="height: 1em;">
		                <section style="height: 16px; width: 1.5em; float: left; border-top-width: 0.15em; border-top-style: solid; border-color: rgb(198, 198, 199); border-left-width: 0.15em; border-left-style: solid;"></section>
		                <section style="height: 16px; width: 1.5em; float: right; border-top-width: 0.15em; border-top-style: solid; border-color: rgb(198, 198, 199); border-right-width: 0.15em; border-right-style: solid;"></section>
		            </section>
		            <section data-bgless="lighten" data-bglessp="15%" style="margin: -0.9em 0.1em; padding: 0.8em; color: rgb(131, 87, 87); background-color: rgb(247, 247, 248);">
		                <section class="chapter-content" style="color: rgb(51, 51, 51); font-size: 1em; line-height: 1.4; word-break: break-all;">
		                    {$v.content}
		                </section>
		            </section>
		            <section style="height: 1em;">
		                <section style="height: 16px; width: 1.5em; float: left; border-bottom-width: 0.15em; border-bottom-style: solid; border-color: rgb(198, 198, 199); border-left-width: 0.15em; border-left-style: solid;"></section>
		                <section style="height: 16px; width: 1.5em; float: right; border-bottom-width: 0.15em; border-bottom-style: solid; border-color: rgb(198, 198, 199); border-right-width: 0.15em; border-right-style: solid;"></section>
		            </section>
		        </section>
		    </section>
		</section>
	{/volist}
{/notempty}