{notempty name="list"}
	{volist name="list" id="v"}
		<section style="max-width: 100%; color: rgb(62, 62, 62); font-size: 16px; line-height: 28.4444px; white-space: normal; box-sizing: border-box !important; overflow-wrap: break-word !important; background-color: rgb(255, 255, 255);">
		    <section class="chapter">
		        <section style="max-width: 100%; box-sizing: border-box; border-width: 0px; border-style: none; border-color: currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; overflow-wrap: break-word !important;" class="chapter-title">
		            <section style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; box-sizing: border-box; text-align: center; overflow-wrap: break-word !important;">
		                <section style="max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: middle; overflow-wrap: break-word !important;">
		                    <section style="max-width: 100%; box-sizing: border-box; overflow-wrap: break-word !important;">
		                        <section style="max-width: 100%; box-sizing: border-box; width: 5px; height: 2px; border-radius: 3px 3px 0px 0px; float: left; overflow-wrap: break-word !important; background-color: rgb(218, 203, 158);"></section>
		                        <section style="max-width: 100%; box-sizing: border-box; width: 5px; height: 2px; border-radius: 3px 3px 0px 0px; float: right; overflow-wrap: break-word !important; background-color: rgb(218, 203, 158);"></section>
		                        <section style="max-width: 100%; box-sizing: border-box; clear: both; overflow-wrap: break-word !important;"></section>
		                    </section>
		                    <section style="padding: 2px 10px; max-width: 100%; box-sizing: border-box; border-left: 5px solid rgb(218, 203, 158); border-right: 5px solid rgb(218, 203, 158); border-color: rgb(218, 203, 158); color: rgb(255, 255, 255); overflow-wrap: break-word !important; background-color: rgb(249, 110, 87);">
		                        <section class="" data-brushtype="text" style="max-width: 100%; box-sizing: border-box; overflow-wrap: break-word !important;">{$v.name}</section>
		                    </section>
		                    <section style="max-width: 100%; box-sizing: border-box; overflow-wrap: break-word !important;">
		                        <section style="max-width: 100%; box-sizing: border-box; width: 5px; height: 2px; border-radius: 0px 0px 3px 3px; float: left; overflow-wrap: break-word !important; background-color: rgb(218, 203, 158);"></section>
		                        <section style="max-width: 100%; box-sizing: border-box; width: 5px; height: 2px; border-radius: 0px 0px 3px 3px; float: right; overflow-wrap: break-word !important; background-color: rgb(218, 203, 158);"></section>
		                        <section style="max-width: 100%; box-sizing: border-box; clear: both; overflow-wrap: break-word !important;"></section>
		                    </section>
		                </section>
		            </section>
		        </section>
		        <section class="chapter-content" style="margin-top:25px;margin-bottom:25px;">
		            {$v.content}
		        </section>
		    </section>
		</section>
	{/volist}
{/notempty}