{notempty name="list"}
	{volist name="list" id="v"}
		<section style="margin:15px 6px;box-shadow:0 0 0.8em #A5A5A5;overflow:hidden;box-sizing:border-box;padding:1em;">
		    <section class="chapter">
		        <section style="display: inline-block; text-align: center; padding: 0.1em 0.1em 0em; color: rgb(29, 92, 105); background: rgb(160, 217, 229);transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);">
		            <section style="width: 90%; height: 1px; border-top-width: 0.3em; border-top-style: solid; border-color: rgb(80, 185, 207); margin-top: -0.2em; margin-left: -1px; transform: rotate(-3deg) !important;transform: rotate(-3deg);-webkit-transform: rotate(-3deg);-moz-transform: rotate(-3deg);-o-transform: rotate(-3deg);"></section>
		            <section style="color:#fff;padding:0.5em 0.8em;">
		                <p style="margin:0">
		                    <span style="color: #FFFFFF;" class="chapter-title">{$v.name}</span>
		                </p>
		            </section>
		        </section>
		        <section style="width: auto; height: auto; margin: -1em auto 0; overflow: hidden; border-top-width: 0.1em; border-top-style: dashed; border-top-color: rgb(160, 217, 229); padding: 1em 0.2em 0; line-height: 1.4em;">
		            <section style="padding:10px 0;line-height:1.8em;" class="chapter-content">
		                {$v.content}
		            </section>
		        </section>
		    </section>
		</section>
	{/volist}
{/notempty}