{notempty name="list"}
	{volist name="list" id="v"}
	<section style="border:none;width:96%;margin:1em auto 2em;">
	    <section style="width:100%;height:auto;box-shadow:0em 0em 0.8em #A5A5A5;overflow:hidden;box-sizing:border-box;padding:1em;">
	        <section class="chapter">
	            <section style="display:inline-block;background:#EF303F;text-align:center;padding:0.1em 0.1em 0em;">
	                <section style="width:90%;height:1px;border-top:0.3em solid #EF303F;-webkit-transform: rotate(-2deg) !important;transform: rotate(-2deg);margin:0 auto;margin-top:-0.2em;"></section>
	                <section style="color:#fff;padding:0.5em 0.8em;">
	                    <p style="margin:0" class="chapter-title">
	                        {$v.name}
	                    </p>
	                </section>
	            </section>
	            <section class="chapter-content" style="width:auto;height:auto;margin:0 auto;overflow:hidden;border-top:0.1em dashed #EF303F;padding:2em 0.2em 1em;font-size:1em;line-height:1.7em;margin-top:-1em">
	                {$v.content}
	            </section>
	        </section>
	    </section>
	</section>
{/volist}
{/notempty}