{notempty name="list"}
	{volist name="list" id="v"}
		<section class="chapter">
		    <section>
		        <blockquote style="margin: 5px auto; padding-left: 0; padding-right:0; border: 0; font-size: 14px; white-space: normal;">
		            <section style="clear: both; border-radius: 5px; border: 1px solid rgb(224, 224, 224);">
		                <section style="padding-right: 15px; padding-left: 15px; color: rgb(92, 184, 92);">
		                    <p class="chapter-title" style="margin-top: -1px; margin-bottom: 0px; margin-left: -16px; padding: 3px 15px 4px; line-height: 40px; border-radius: 5px 0px; display: inline-block; color: rgb(255, 255, 255); background-color: rgb(92, 184, 92);">
		                        <strong>{$v.name}</strong>
		                    </p>
		                    <section class="chapter-content" style="margin: 20px auto;">
		                    	{$v.content}
		                    </section>
		                </section>
		            </section>
		        </blockquote>
		    </section>
		</section>
	{/volist}
{/notempty}