{notempty name="list"}
	{volist name="list" id="v"}
		<section class="chapter" style="margin-bottom:10px">
		    <section style="line-height: 25.6px; white-space: normal;">
		        <section style=" margin-right: auto; margin-left: auto;">
		            <section style="margin-right: auto; margin-left: auto;">
		                <section style="padding-top: 10px; padding-bottom: 10px; border: 1px solid rgb(229, 230, 232); display: inline-block;">
		                    <section style="margin-top: 10px; display: inline-block; border-left: 5px solid red;">
		                        <section style="padding-left: 10px; display: inline-block; vertical-align: middle;">
		                            <p style="margin-top: 0px; margin-bottom: 0px; font-size: 16px; line-height: 20px; text-align: center;">
		                                <span class="chapter-title" style="color: rgb(51, 51, 51); font-weight: bold;font-size:18px;">{$v.name}</span>
		                            </p>
		                        </section>
		                    </section>
		                    <section class="chapter-content" style="padding-top: 20px; padding-right: 10px; padding-left: 10px;">
		                        {$v.content}
		                    </section>
		                </section>
		            </section>
		        </section>
		    </section>
		</section>
	{/volist}
{/notempty}