{notempty name="list"}
	{volist name="list" id="v"}
		<section class="chapter">
			<section style=" margin-top: 10px; margin-bottom: 10px; font-size: 24px;  box-sizing: border-box; ;transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);">
				<section style="display: inline-block; vertical-align: middle; box-sizing: border-box;">
					<section style="width: 1.5em; height: 3em; line-height: 3em; border-top-right-radius: 2em; border-bottom-right-radius: 2em; background-color: rgb(253, 190, 173); text-align: center; color: rgb(255, 255, 255); font-size: 18px; box-sizing: border-box;">
						<section style="box-sizing: border-box;" class="autonum" title="">1</section>
					</section>
					<img style="box-sizing: border-box; float: left; margin-top: -3em; text-align: start; vertical-align: middle; width: 1.5em !important; height: auto !important; visibility: visible !important;" src="https://qcdn-legacy.zhangzhongyun.com/wx_articles/templates/body/body7-title-bg.png">
				</section>
				<section style="display: inline-block; vertical-align: middle; padding-left: 10px; font-size: 18px; color: rgb(44, 39, 39); box-sizing: border-box;">
					<section style="box-sizing: border-box;">
						<span style="color: #595959;">
							<strong style="box-sizing: border-box;">
								<span style="box-sizing: border-box; background-color: #FEFFFF;" class="chapter-title">{$v.name}</span>
							</strong>
						</span>
					</section>
				</section>
			</section>
			<section style="padding: 1em;margin: 10px auto;background: #fff;-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;" class="chapter-content">
		        {$v.content}
			</section>
			<span>&nbsp;</span>
		</section>
	{/volist}
{/notempty}