{notempty name="list"}
	{volist name="list" id="v"}
		<section class="chapter">
		    <section style="width: 32px; height: 32px; border-radius: 50%; text-align: center; font-size: 18px; line-height: 32px; color: rgb(61, 167, 66); border: 1px solid rgb(61, 167, 66); transform: rotate(0deg); background: rgb(255, 255, 255);">
		        {$v.number}
		    </section>
		    <section class="fzn-bdc" style="margin-top: -32px; border: 1px solid rgb(61, 167, 66); margin-left: 16px;">
		        <section class="fzn-bgc" style="height: 32px; line-height: 32px; font-weight: bold; padding-left: 24px; text-align: left; color: rgb(255, 255, 255); font-size: 18px; background: rgb(61, 167, 66);">
		            <span style="color: #FFFFFF;" class="chapter-title" data-brushtype="text">{$v.name}</span>
		        </section>
		        <section class="chapter-content" data-style="line-height: 2;font-size:14px;" style="padding: 12px;">
		            {$v.content}
		        </section>
		    </section>
		    <span>&nbsp;</span>
		</section>
{/volist}
{/notempty}