{extend name="common@public/base"} 
{block name="title"}推送消息{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-form">
		<div class="layui-card">
			<div class="layui-card-header">
				推送消息内容
			</div>
			<div class="layui-card-body">
				<div class="layui-form-item">
					<div class="layui-col-lg4">
						<label class="layui-form-label">消息标题：</label>
						<div class="layui-input-block">
							<input type="text" name="title" class="layui-input" lay-verify="required"/>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-col-lg6">
						<label class="layui-form-label">消息内容：</label>
						<div class="layui-input-block">
							<textarea class="layui-textarea" name="content" lay-verify="required"></textarea>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-col-lg4">
						<label class="layui-form-label">点击打开页面：</label>
						<div class="layui-input-block">
							<select class="layui-select" name="page" lay-filter="page" lay-verify="required">
								<option value="">请选择点击推送消息打开页面</option>
								<option value="1">书籍阅读页</option>
								<option value="2">书籍详情页</option>
								<option value="3">小说首页</option>
								<option value="4">漫画首页</option>
								<option value="5">个人中心页</option>
								<option value="6">充值页</option>
								<option value="7">书架页面</option>
								<option value="8">阅读历史页面</option>
								<option value="9">签到页面</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-form-item layui-hide" id="book_param">
					<div class="layui-col-lg4">
						<label class="layui-form-label">书籍参数：</label>
						<div class="layui-input-block">
							<div class="layui-input-inline" style="width:100px;">
					          <input type="text" name="book_id" placeholder="书籍ID" autocomplete="off" class="layui-input">
					        </div>
					        <div class="layui-form-mid chapter-item">/</div>
							<div class="layui-input-inline chapter-item" style="width: 100px;">
					          <input type="text" name="book_number" placeholder="章节数" autocomplete="off" class="layui-input">
					        </div>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">推送用户范围：</label>
					<div class="layui-input-block">
						{:createRadioHtml($option,1)}
					</div>
				</div>
				<div class="layui-form-item layui-hide" id="uids">
					<div class="layui-col-lg8">
						<label class="layui-form-label">用户ID：</label>
						<div class="layui-input-block">
							<textarea class="layui-textarea" name="uids" placeholder="支持多个用户,请用英文逗号隔开"></textarea>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
	                <div class="layui-input-block">
	                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">立即推送</a>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','form'],function(){
	var $ = layui.jquery,
		layer = layui.layer,
		form = layui.form;
	form.on('select(page)',function(obj){
		var value = parseInt(obj.value);
		$('#book_param').addClass('layui-hide');
		$('.chapter-item').addClass('layui-hide');
		switch(value){
			case 2:
				$('#book_param').removeClass('layui-hide');
				break;
			case 1:
				$('.chapter-item').removeClass('layui-hide');
				$('#book_param').removeClass('layui-hide');
				break;
		}
	});
	
	form.on('radio(send_type)', function(obj){
		$('#uids').addClass('layui-hide');
		  if(parseInt(obj.value) === 2){
			  $('#uids').removeClass('layui-hide');
		  }
	});  
	
	form.on('submit(dosubmit)',function(obj){
		var data = obj.field;
		ajaxPost('',data,'确定要提交推送吗？',function(d){
			layOk('推送成功');
		});
	});
});
</script>
{/block}
