{extend name="common@public/base"} 
{block name="title"}更新文案素材{/block} 
{block name="jsValue"}
<script type="text/javascript">
var $backUrl = '{$backUrl}';
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				文案素材基础信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">标题：</label>
							<div class="layui-input-block">
								<input type="text" name="title" value="{$cur.title}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">素材图片：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-450x250" title="点击上传文案封面图片" onclick="javascript:cropImage('上传文案封面图片','900x500',this);">
									{empty name="cur.cover"}
										<img src="/static/common/images/900x500.png" class="showimg"/>
									{else /}
										<img src="{$cur.cover}" class="showimg" />
									{/empty}
									<input type="hidden" class="hideval" name="cover" value="{$cur.cover}"/>
									<div class="imglayer">
										<span></span>
									</div>
								</div>
								
								<div class="image-remark">点击可更换素材图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a class="layui-btn layui-btn-primary" href="{$backUrl}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/upback.js"></script>
{/block}
