{extend name="common@public/base"}
{block name="title"}选择链接{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','layer','table'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	table = layui.table,
	form = layui.form;
	layLoad('数据加载中...');
	table.render({
		elem : '#table-block',
		url : window.location.href,
		loading : true,
		cols : [[
			{title: '序号',type:'numbers'},
			{field: 'channel_name',title: '渠道名称',align:'center',minWidth:140},
		    {title: '类型',align:'center',width:120,templet:function(d){
		    	var str = '未知';
		    	switch(parseInt(d.is_wx)){
		    	case 1:
		    		str = '渠道';
		    		break;
		    	case 2:
		    		str = '代理';
		    		break;
		    	}
		    	return str;
		    }},
		    {title: '是否阅读',align:'center',width:120,templet:function(d){
		    	var str = '未知';
		    	switch(parseInt(d.is_read)){
		    	case 1:
		    		str = '已读';
		    		break;
		    	case 2:
		    		str = '<font class="text-red">未读</font>';
		    		break;
		    	}
		    	return str;
		    }},
		]],
		page : false,
		height : 'full',
		response: {statusCode:1}, 
		id : 'table-block',
	    done:function (res) {
	    	layer.closeAll();
	    }
	});
	 
});
</script>
{/block}
