{extend name="common@public/base"}
{block name="title"}新增广告{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">
                广告基础信息
            </div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">应用名称：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($app_name,$cur['app_name'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">广告商：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($advertisers,$cur['advertisers'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">应用名称ID：</label>
                            <div class="layui-input-block">
                                <input type="text" name="app_id" value="{$cur.app_id}" class="layui-input" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">广告名称：</label>
                            <div class="layui-input-block">
                                <input type="text" name="notice_name" value="{$cur.notice_name}" class="layui-input" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">广告名称ID：</label>
                            <div class="layui-input-block">
                                <input type="text" name="notice_id" value="{$cur.notice_id}" class="layui-input" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">默认状态(官网或其他)：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($status,$cur['status'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">华为商店状态：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($huawei_status,$cur['huawei_status'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">魅族商店状态：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($meizu_status,$cur['meizu_status'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">oppo商店状态：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($oppo_status,$cur['oppo_status'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">vivo商店状态：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($vivo_status,$cur['vivo_status'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">小米商店状态：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($xiaomi_status,$cur['xiaomi_status'])}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-lg4">
                            <label class="layui-form-label">广告类型：</label>
                            <div class="layui-input-block">
                                {:createRadioHtml($notice_type,$cur['notice_type'])}
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" value="{$cur.id}" name="id" />
                            <a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
                            <a class="layui-btn layui-btn-primary" href="{:url('index')}">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/notice.donotice.js"></script>
{/block}
