{extend name="common@public/base"}
{block name="title"}广告列表{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 28px;}
.layui-layer-page{background-color:#e0e0e0 !important;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">应用名称</label>
					<div class="layui-input-inline">
						<select name="app_name">
							<option value="">全部</option>
							<option value="Android">Android</option>
							<option value="IOS">IOS</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">广告商</label>
					<div class="layui-input-inline">
						<select name="advertisers">
							<option value="">全部</option>
							<option value="穿山甲">穿山甲</option>
							<option value="广点通">广点通</option>
						</select>
					</div>
				</div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">广告名</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="广告名" autocomplete="off" class="layui-input">
	            </div>
	          </div>
				<div class="layui-inline">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-inline">
						<select name="status">
							<option value="">全部</option>
							<option value="1">开启</option>
							<option value="2">关闭</option>
						</select>
					</div>
				</div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">创建时间</label>
	            <div class="layui-input-inline" style="width:240px;">
	              <input type="text" name="between_time" id="between_time" readonly="readonly" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
			  <div class="layui-btn-container">
				  <a class="layui-btn layui-btn-sm" href="/admin/notice/addNotice.html">新增广告</a>
				  <a class="layui-btn layui-btn-warm layui-btn-sm" onclick="delCache()">清除广告缓存</a>
				  <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="closeAndroid()">一键关闭安卓广告状态</a>
				  <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="closeIos()">一键关闭IOS广告状态</a>
			  </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="{$js}"></script>
<script>
	function delCache() {
		ajaxPost(U('delCache'),'','',function(){
			layOk('操作成功');
		});
	}
	function closeAndroid() {
		ajaxPost(U('closeAndroid'),'','',function(){
			layOk('操作成功');
		});
	}
	function closeIos() {
		ajaxPost(U('closeIos'),'','',function(){
			layOk('操作成功');
		});
	}
</script>
{/block}
