{extend name="common@public/base"} 
{block name="title"}绑定账号{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">请输入绑定账户和密码</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">登录账号：</label>
						<div class="layui-input-block">
							<input type="text" name="login_name" class="layui-input" lay-verify="required" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">登录密码：</label>
						<div class="layui-input-block">
							<input type="password" name="password" class="layui-input" lay-verify="required" />
						</div>
					</div>
					<div class="layui-form-item layui-hide">
		                <div class="layui-input-block">
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit" id="dosubmit">立即绑定</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','form'],function(){
	var $ = layui.jquery, 
	form = layui.form;
});
</script>
{/block}
