{extend name="common@public/base"}
{block name="title"}更新推送消息{/block}
{block name="jsValue"}
<script type="text/javascript">
    var $backUrl = '{$backUrl}';
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">
                推送内容
            </div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-col-lg2">
                        <div class="layui-block">
                            <input type="text" name="title" value="{$cur.material.title}" class="layui-input" />
                        </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" value="{$cur.type}" name="type" />
                            <a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
                            <a class="layui-btn layui-btn-primary" href="{$backUrl}">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/custom.js?date=20200301"></script>
<script type="text/javascript" src="/static/common/js/upback.js"></script>
{/block}
