{extend name="common@public/base"} 
{block name="title"}智能推送{/block} 
{block name="css"}
<style type="text/css">
.message-block{}
.message-block .custom-msg-box{width:97%;}
.message-block .custom-msg-box .custom-msg-detail .custom-msg-summary{width:calc(100% - 110px);}
.message-block .custom-msg-box .custom-msg-detail .custom-msg-cover{}
.message-block .message-block-btns{height:40px;line-height:40px;border-top:1px solid #e6e6e6;text-align:right;margin-top:5px;}

</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-col-space20">
		<div class="layui-col-md4 layui-col-sm4">
			<div class="layui-card">
				<div class="layui-card-header">
					首冲提醒
				</div>
				<div class="layui-card-body">
					<div class="message-block">
						<p>开启后系统将在{gt name="type1.hours" value="0"}{$type1.hours}小时后{else /}指定时间{/gt}对新关注未充值用户自动发送一次首充活动提醒消息，推送时间: 08:00 至 23:59</p>
						<div class="custom-msg-box">
							<p class="custom-msg-title">{empty name="type1.content.title"}未配置消息标题{else /}{$type1.content.title}{/empty}</p>
							<div class="custom-msg-detail">
								<div class="custom-msg-summary">{empty name="type1.content.description"}未配置消息简介{else /}{$type1.content.description}{/empty}</div>
								<div class="custom-msg-cover">
									{empty name="type1.content.picurl"}<img src="/static/common/images/qrcode.png" />{else /}<img src="{$type1.content.picurl}" />{/empty}
								</div>
							</div>
						</div>
						<div class="message-block-btns">
							{eq name="type1.status" value="2"}
								<a class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:doPushState(1,'on');">启用</a>
							{else /}
								<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="javascript:doPushState(1,'off');">禁用</a>
							{/eq}
							<a class="layui-btn layui-btn-sm layui-btn-primary" href="{$type1.dourl}">编辑</a>
 						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md4 layui-col-sm4">
			<div class="layui-card">
				<div class="layui-card-header">
					延迟客服消息
				</div>
				<div class="layui-card-body">
					<div class="message-block">
						<p>开启后系统将在用户关注后{gt name="type5.hours" value="0"}{$type5.hours}小时后{else /}在指定时间内{/gt}推送一条延迟客服消息，消息内容可自定义,，推送时间: 08:00 至 23:59</p>
						<div class="custom-msg-box">
							<p class="custom-msg-title">{empty name="type5.content.title"}未配置消息标题{else /}{$type5.content.title}{/empty}</p>
							<div class="custom-msg-detail">
								<div class="custom-msg-summary">{empty name="type5.content.description"}未配置消息简介{else /}{$type5.content.description}{/empty}</div>
								<div class="custom-msg-cover">
									{empty name="type5.content.picurl"}<img src="/static/common/images/qrcode.png" />{else /}<img src="{$type5.content.picurl}" />{/empty}
								</div>
							</div>
						</div>
						<div class="message-block-btns">
							{eq name="type5.status" value="2"}
								<a class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:doPushState(5,'on');">启用</a>
							{else /}
								<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="javascript:doPushState(5,'off');">禁用</a>
							{/eq}
							<a class="layui-btn layui-btn-sm layui-btn-primary" href="{$type5.dourl}">编辑</a>
 						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md4 layui-col-sm4" style="display: none">
			<div class="layui-card">
				<div class="layui-card-header">
					小说书籍推送
				</div>
				<div class="layui-card-body">
					<div class="message-block">
						<p>开启后系统将在用户关注后{gt name="type5.hours" value="0"}{$type5.hours}小时后{else /}在指定时间内{/gt}推送一条延迟客服消息，消息内容可自定义,，推送时间: 08:00 至 23:59</p>
						<div class="custom-msg-box">
							<p class="custom-msg-title">{empty name="type6.content.title"}未配置消息标题{else /}{$type6.content.title}{/empty}</p>
						</div>
						<div class="message-block-btns">
							{eq name="type6.status" value="2"}
							<a class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:doPushState(6,'on');">启用</a>
							{else /}
							<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="javascript:doPushState(6,'off');">禁用</a>
							{/eq}
							<a class="layui-btn layui-btn-sm layui-btn-primary" href="{$type6.dourl}">编辑</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row layui-col-space20">
		<div class="layui-col-md3 layui-col-sm3">
			<div class="layui-card">
				<div class="layui-card-header">
					继续阅读提醒
				</div>
				<div class="layui-card-body">
					<div class="message-block">
						<p>开启后系统将向当日阅读过书籍，并且未阅读时间超过8小时的用户。推送时间: 08:00 至 23:59。</p>
						<div class="message-block-btns">
							{eq name="type2.status" value="2"}
								<a class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:doPushState(2,'on');">启用</a>
							{else /}
								<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="javascript:doPushState(2,'off');">禁用</a>
							{/eq}
 						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md3 layui-col-sm3">
			<div class="layui-card">
				<div class="layui-card-header">
					未支付提醒
				</div>
				<div class="layui-card-body">
					<div class="message-block">
						<p>开启后系统将自动向半小时未支付的用户推送未支付提醒消息，点击即可完成支付。</p>
						<div class="message-block-btns">
							{eq name="type3.status" value="2"}
								<a class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:doPushState(3,'on');">启用</a>
							{else /}
								<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="javascript:doPushState(3,'off');">禁用</a>
							{/eq}
 						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md3 layui-col-sm3">
			<div class="layui-card">
				<div class="layui-card-header">
					猜你喜欢推送
				</div>
				<div class="layui-card-body">
					<div class="message-block">
						<p>开启后系统将向24小时未阅读的用户，根据用户喜好筛选不超过3本书籍推送给用户,推送时间: 08:00 至 23:59</p>
						<div class="message-block-btns">
							{eq name="type4.status" value="2"}
								<a class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:doPushState(4,'on');">启用</a>
							{else /}
								<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="javascript:doPushState(4,'off');">禁用</a>
							{/eq}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/push.index.js"></script>
{/block}
