{extend name="common@public/base"}
{block name="title"}推广链接{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-card">
  		<div class="layui-card-body">
  			<fieldset class="layui-elem-field">
			  <legend>温馨提示</legend>
			  <div class="layui-field-box">
			    统计及明细数据约有1-2小时延迟
			  </div>
			</fieldset>
  		</div>
  	</div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <div class="layui-inline">
	          	<label class="layui-form-label">推广名称</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">推广书籍</label>
	            <div class="layui-input-inline">
	              <input type="text" name="book_name" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">创建时间</label>
	            <div class="layui-input-inline" style="width:240px;">
	              <input type="text" name="between_time" id="between_time" readonly="readonly" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/clipboard.min.js"></script>
<script type="text/javascript" src="__ADMIN__/spread.index.js?v=2"></script>
{/block}
