{extend name="common@public/base"}
{block name="title"}推广明细{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
          	<div class="layui-block">
          		<div class="layui-inline">距离下次更新剩余 [ <font class="text-red" id="showTime" data-sec="{$sec}">00:00</font> ]</div>
          	</div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/spread.detail.js?date=20200308}"></script>
{/block}
