{extend name="common@public/base"} 
{block name="title"}联系信息配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				联系信息配置
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">客服二维码：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-200x200" onclick="javascript:cropImage('上传客服二维码','200x200',this);">
									{empty name="cur.qrcode"}
										<img src="/static/common/images/qrcode.png" class="showimg"/>
									{else /}
										<img src="{$cur.qrcode}" class="showimg"/>
									{/empty}
									<input type="hidden" class="hideval" name="qrcode" value="{$cur.qrcode}"/>
								</div>
								<div class="image-remark">点击可更换图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">联系电话：</label>
							<div class="layui-input-block">
								<input type="text" name="tel" value="{$cur.tel}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">举报邮箱：</label>
							<div class="layui-input-block">
								<input type="text" name="email" value="{$cur.email}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
