{extend name="common@public/base"} 
{block name="title"}客户端版本更新配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				客户端版本更新配置
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">安卓版本号：</label>
							<div class="layui-input-block">
								<input type="text" name="android_code" value="{$cur.android_code}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">IOS版本号：</label>
							<div class="layui-input-block">
								<input type="text" name="ios_code" value="{$cur.ios_code}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">安卓下载地址：</label>
							<div class="layui-input-block">
								<input type="text" name="android_download_url" value="{$cur.android_download_url}" lay-verify="required" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">安卓端APP下载地址必填</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">IOS下载地址：</label>
							<div class="layui-input-block">
								<input type="text" name="ios_download_url" value="{$cur.ios_download_url}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">IOS端APP下载地址非必填,如果未填写，则默认跳转到AppStore</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">更新描述：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="summary">{$cur.summary}</textarea>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
