{extend name="common@public/base"} 
{block name="title"}更新短信配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				短信配置【<a href="http://www.106jiekou.com/login" target="_blank">点击前往获取配置</a>】
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">账号：</label>
							<div class="layui-input-block">
								<input type="text" name="account" value="{$cur.account}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">接口密码：</label>
							<div class="layui-input-block">
								<input type="text" name="password" value="{$cur.password}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">模版内容：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="content">{empty name="cur.content"}您的订单编码：CODE。如需帮助请联系客服。{else /}{$cur.content}{/empty}</textarea>
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">CODE为短信验证码变量，且为必填</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
