{extend name="common@public/base"} 
{block name="title"}站点基础信息{/block} 
{block name="jsValue"}
<script type="text/javascript">
var $is_location = parseInt('{$cur.is_location}');
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				站点基础信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">APPlogo：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-100x100"" id="doUpload">
									{empty name="cur.logo"}
										<img src="/static/common/images/qrcode.png" class="showimg"/>
									{else /}
										<img src="{$cur.logo}" class="showimg"/>
									{/empty}
									<input type="hidden" class="hideval" name="logo" value="{$cur.logo}"/>
								</div>
								<div class="image-remark">点击可更换图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">站点名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">安全域名：</label>
							<div class="layui-input-block">
								<input type="text" name="url" value="{$cur.url}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">安全域名必须与微信绑定域名一致</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">服务器IP：</label>
							<div class="layui-input-block">
								<input type="text" name="ip" value="{$cur.ip}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">渠道对接公众号时展示</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">漫画板块：</label>
						<div class="layui-input-block">
							{:createRadioHtml($is_cartoon,$cur['is_cartoon'])}
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">域名跳转开关：</label>
						<div class="layui-input-block">
							{:createRadioHtml($is_location,$cur['is_location'])}
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">HTTPS开关：</label>
						<div class="layui-input-block">
							{:createRadioHtml($is_https,$cur['is_https'])}
						</div>
					</div>
					<div class="layui-form-item" id="locationUrlBox">
						<div class="layui-col-lg4">
							<label class="layui-form-label">跳转域名：</label>
							<div class="layui-input-block">
								<input type="text" name="location_url" value="{$cur.location_url}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">跳转域名开启后，微信分享功能将失效</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">APP下载链接：</label>
							<div class="layui-input-block">
								<input type="text" name="download_url" value="{$cur.download_url}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">APP支付方式：</label>
						<div class="layui-input-block">
							{:createRadioHtml($app_pay_type,$cur['app_pay_type'])}
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">公众号支付方式：</label>
						<div class="layui-input-block">
							{:createRadioHtml($pay_type,$cur['pay_type'])}
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">短信平台：</label>
						<div class="layui-input-block">
							{:createRadioHtml($sms_type,$cur['sms_type'])}
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/system.website.js"></script>
{/block}
