{extend name="common@public/base"} 
{block name="title"}更新友情连接{/block}
{block name="jsValue"}
<script type="text/javascript">
var $backUrl = '{$backUrl}';
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				友情连接
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">标题：</label>
							<div class="layui-input-block">
								<input type="text" name="title" value="{$cur.title}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">描述：</label>
							<div class="layui-input-block">
								<input type="text" name="desc" value="{$cur.desc}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">地址：</label>
							<div class="layui-input-block">
								<input type="text" name="url" value="{$cur.url}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">地址以 http:// 或 https:// 开头</div>
					</div>
					{if(!empty($cur.sort))}
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">排序：</label>
							<div class="layui-input-block">
								<input type="number" name="sort" value="{$cur.sort}" class="layui-input" />
							</div>
						</div>
					</div>
					{/if}
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a class="layui-btn layui-btn-primary" href="{$backUrl}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/upback.js"></script>
{/block}
