{extend name="common@public/base"} 
{block name="title"}联系信息配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				分享配置
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">分享背景：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-200x280" onclick="javascript:cropImage('上传海报背景','600x840',this);">
									{empty name="cur.bg"}
										<img src="/static/common/images/200x280.png" class="showimg"/>
									{else /}
										<img src="{$cur.bg}" class="showimg"/>
									{/empty}
									<input type="hidden" class="hideval" name="bg" value="{$cur.bg}"/>
								</div>
								<div class="image-remark">点击可更换图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">赠送书币：</label>
							<div class="layui-input-block">
								<input type="text" name="reg_money" value="{$cur.reg_money}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">邀请用户注册后，邀请人所得书币</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">分享标题：</label>
							<div class="layui-input-block">
								<input type="text" name="title" value="{$cur.title}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">App分享标题</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">分享简介：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="desc">{$cur.desc}</textarea>
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">App分享简介</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
