{extend name="common@public/base"} 
{block name="title"}更新协议{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				  <ul class="layui-tab-title">
				    <li {eq name="cate" value="agreement"}class="layui-this"{/eq}><a href="./doc.html?cate=agreement">用户协议</a></li>
				    <li {eq name="cate" value="privacypolicy"}class="layui-this"{/eq}><a href="./doc.html?cate=privacypolicy">隐私政策</a></li>
				  </ul>
				  <div class="layui-tab-content"></div>
				</div>      
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-block">
							<textarea class="layui-hide" id="content" style="height:600px;">{$content|raw}</textarea>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/ace/ace.js"></script>
<script type="text/javascript">
layui.use(['layedit','form','layer','jquery'],function(){
	var $ = layui.jquery,
	layer = layui.layer,
	form = layui.form, 
	layedit = layui.layedit;
	layedit.set({
        tool: [
            'html' , 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'link', 'unlink'
            , '|', 'left', 'center', 'right'
        ]
        , height: '300px'
    });
	var textindex = layedit.build('content');
	
	form.on('submit(dosubmit)',function(obj){
		var content = layedit.getContent(textindex);
		ajaxPost('',{content:content},'确定要保存吗？',function(d){
			layOk('保存成功');
		});
	});
});
</script>
{/block}
