{extend name="common@public/base"}
{block name="title"}友情链接{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	      </div>
          <div class="layui-card-body">
	          	<div class="layui-btn-container">
			       <a class="layui-btn layui-btn-sm" href="{:my_url('addLinks')}">新增链接</a>
			    </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/system.links.js?v=12132324"></script>
{/block}
