{extend name="common@public/base"}
{block name="title"}菜单管理{/block}
{block name="body"}
<div class="layui-fluid">   
    <div class="layui-card">
    	<div class="layui-card-body">
	    <div class="layui-btn-container">
	       <a class="layui-btn layui-btn-primary layui-btn-sm" href="{$add_url}">新增一级菜单</a>
	       <a class="layui-btn layui-btn-primary layui-btn-sm" id="openAll">全部展开</a>
	       <a class="layui-btn layui-btn-primary layui-btn-sm" id="hideAll">全部隐藏</a>
	    </div>
        <table class="layui-hidden layui-table" id="table-block" lay-filter="table-block"></table>
    </div>
  </div>
 </div>
{/block}
{block name="footJs"}
<script type="text/javascript">
var event_url = '{$event_url}';
</script>
<script type="text/javascript" src="__ADMIN__/system.menu.js"></script>
{/block}
