{extend name="common@public/base"} 
{block name="title"}阿里云oss配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				支付宝配置【<a href="https://open.alipay.com/platform/home.htm" target="_blank">点击前往获取配置</a>】 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">AppId：</label>
							<div class="layui-input-block">
								<input type="text" name="appId" value="{$cur.appId}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg7">
							<label class="layui-form-label">您的私钥：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="rsaPrivateKey">{$cur.rsaPrivateKey}</textarea>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg7">
							<label class="layui-form-label">支付宝公钥：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="alipayrsaPublicKey">{$cur.alipayrsaPublicKey}</textarea>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg7">
							<label class="layui-form-label">状态：</label>
							<div class="layui-input-block">
								{:createRadioHtml($is_on,$cur['is_on'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
