{extend name="common@public/base"} 
{block name="title"}签到配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				签到配置 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">是否开启：</label>
						<div class="layui-input-block">
							{:createRadioHtml($sign,$cur['is_sign'])}
						</div>
					</div>
					<div class="layui-form-item">
							<div class="layui-input-block">
								<div class="layui-form-item">
									<label class="layui-form-label">第一天：</label>
									<div class="layui-inline">
										<input type="text" name="sign_day1" class="layui-input" value="{$cur.sign_config.day1}" />
									</div>
									书币
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">第二天：</label>
									<div class="layui-inline">
										<input type="text" name="sign_day2" class="layui-input" value="{$cur.sign_config.day2}" />
									</div>
									书币
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">第三天：</label>
									<div class="layui-inline">
										<input type="text" name="sign_day3" class="layui-input" value="{$cur.sign_config.day3}" />
									</div>
									书币
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">第四天：</label>
									<div class="layui-inline">
										<input type="text" name="sign_day4" class="layui-input" value="{$cur.sign_config.day4}" />
									</div>
									书币
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">第五天：</label>
									<div class="layui-inline">
										<input type="text" name="sign_day5" class="layui-input" value="{$cur.sign_config.day5}" />
									</div>
									书币
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">第六天：</label>
									<div class="layui-inline">
										<input type="text" name="sign_day6" class="layui-input" value="{$cur.sign_config.day6}" />
									</div>
									书币
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">第七天：</label>
									<div class="layui-inline">
										<input type="text" name="sign_day7" class="layui-input" value="{$cur.sign_config.day7}" />
									</div>
									书币
								</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
