{extend name="common@public/base"} 
{block name="title"}启动广告配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				启动广告配置
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">logo图片：</label>
							<div class="layui-input-block">
								<div class="layui-block">
									<a class="layui-btn layui-btn-xs layui-btn-primary" id="uplogo">点击上传</a>
									<input type="hidden" name="logo" id="logoInp" value="{$cur.logo}" />
									<img style="max-height:100px;" id="logoShow" src="{$cur.logo}" />
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">广告图片：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-200x300" onclick="javascript:cropImage('上传APP启动广告图','600x800',this);">
									{empty name="cur.img"}
										<img src="/static/common/images/200x300.png" class="showimg"/>
									{else /}
										<img src="{$cur.img}" class="showimg"/>
									{/empty}
									<input type="hidden" class="hideval" name="img" value="{$cur.img}"/>
								</div>
								<div class="image-remark">点击可更换图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">展示时间：</label>
							<div class="layui-input-block">
								<input type="text" name="sec" value="{$cur.sec}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">跳转地址：</label>
							<div class="layui-input-block">
								<input type="text" name="url" value="{$cur.url}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg7">
							<label class="layui-form-label">状态：</label>
							<div class="layui-input-block">
								{:createRadioHtml($is_on,$cur['is_on'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/system.appstartimg.js?v=1"></script>
{/block}
