{extend name="common@public/base"}
{block name="title"}用户管理{/block}
{block name="body"}
<div class="layui-fluid">
	{notempty name="url"}
		<div class="layui-card">
	  		<div class="layui-card-body">
	  			<fieldset class="layui-elem-field">
				  <legend>温馨提示</legend>
				  <div class="layui-field-box">
				    渠道VIP结算后台地址：{$url}
				  </div>
				</fieldset>
	  		</div>
	  	</div>
	{/notempty}
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <div class="layui-inline">
	          	<label class="layui-form-label">账号名称</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">用户状态</label>
	            <div class="layui-input-inline">
	              	  <select name="status">
		                <option value="">全部</option>
		                <option value="1">启用</option>
		                <option value="2">禁用</option>
		              </select>
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
	          	<div class="layui-btn-container">
			       <a class="layui-btn layui-btn-sm" href="{:my_url('addUser')}">新增账号</a>
			    </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/vip.index.js"></script>
{/block}
