{extend name="common@public/base"} 
{block name="title"}更新关键字{/block} 
{block name="jsValue"}
<script type="text/javascript">
var $material_num = parseInt('{$material.count}');
var $backUrl = '{$backUrl}';
var $type = parseInt('{$cur.type}');
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				关键字基础信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">关键字：</label>
							<div class="layui-input-block">
								<input type="text" name="keyword" value="{$cur.keyword}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">状态：</label>
							<div class="layui-input-block">
								{:createRadioHtml($status,$cur['status'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">回复类型：</label>
							<div class="layui-input-block">
								{:createRadioHtml($type,$cur['type'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item" id="textBox">
						<div class="layui-col-lg4">
							<label class="layui-form-label">文本消息：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="content">{$cur.content}</textarea>
							</div>
						</div>
					</div>
					<div class="layui-form-item layui-hide" id="materialBox">
						<label class="layui-form-label">图文消息：</label>
						<div class="layui-input-block">
							<div class="custom-msg-box">
								<p class="custom-msg-title">{$cur.material.title}</p>
								<div class="custom-msg-detail">
									<div class="custom-msg-summary">{empty name="cur.material.description"}请输入图文简介信息，否则简介部分将显示链接地址{else /}{$cur.material.description}{/empty}</div>
									<div class="custom-msg-cover">
										<img src="{$cur.material.picurl}" />
									</div>
								</div>
								<div class="custom-msg-input-box">
									<span class="triangle"></span>
									<div class="layui-fluid">
										<div class="layui-card">
											<div class="layui-card-body">
												<div class="layui-form-item">
													<label class="layui-form-label">封面：</label>
													<div class="layui-input-block mg80">
														<a href="javascript:void(0);" class="layui-btn layui-btn-sm layui-btn-primary chooseCover">选择素材</a>
														<a href="javascript:void(0);" class="layui-btn layui-btn-sm layui-btn-primary doUpload" data-size="300x300">重新上传</a>
														<input type="hidden" class="hide-cover" name="message_cover" value="{$cur.material.picurl}" />
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">标题：</label>
													<div class="layui-input-block mg80 message-title-block">
														<input type="text" name="message_title" value="{$cur.material.title}" class="layui-input input-title"/>
														<a class="layui-btn layui-btn-sm layui-btn-primary chooseTitle">选择</a>
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">链接：</label>
													<div class="layui-input-block mg80 message-link-block">
														<input type="text" name="message_link" value="{$cur.material.url}" class="layui-input" />
														<a class="layui-btn layui-btn-sm layui-btn-primary chooseLink">选择</a>
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">简介：</label>
													<div class="layui-input-block mg80">
														<textarea class="layui-textarea input-summary" name="message_desc">{$cur.material.description}</textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a class="layui-btn layui-btn-primary" href="{$backUrl}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="coverLayer layui-hide">
	<div class="layui-fluid">
		<div class="cover-main">
			{volist name="material.cover" id="cv"}
				<div class="cover-item">
					<img class="layCover" src="{$cv}">
				</div>
			{/volist}
		</div>
	</div>
</div>
<div class="titleLayer layui-hide">
	<div class="layui-fluid">
		<ul>
			{volist name="material.title" id="tv"}
				<li class="layTitle">{$tv}</li>
			{/volist}
		</ul>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/custom.js?date=20200301"></script>
<script type="text/javascript" src="__ADMIN__/wechat.doreply.js"></script>
{/block}
