{extend name="common@public/base"} 
{block name="title"}更新微信菜单{/block} 
{block name="jsValue"}
<script type="text/javascript">
var $backUrl = '{$backUrl}';
var $type = parseInt('{$cur.type}');
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				菜单基础信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">所属菜单：</label>
							<div class="layui-input-block">
								<input type="text" value="{$cur.parent_name}" disabled="disabled" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">菜单名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">菜单类型：</label>
						<div class="layui-input-block">
							{:createRadioHtml($type,$cur['type']);}
						</div>
					</div>
					<div class="layui-form-item" id="menukey">
						<div class="layui-col-lg4">
							<label class="layui-form-label">事件值：</label>
							<div class="layui-input-block">
								<input type="text" name="value" value="{$cur.content.value}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux" id="contentremark">请填写跳转URL</div>
					</div>
					<div class="layui-form-item layui-hide" id="xiaoprogram">
						<div class="layui-col-lg4">
							<label class="layui-form-label">小程序APPID：</label>
							<div class="layui-input-block">
								<input type="text" name="program_id" value="{$cur.content.appid}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.pid}" name="pid" />
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a class="layui-btn layui-btn-primary" href="{$backUrl}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/wechat.domenu.js"></script>
{/block}
