{extend name="common@public/base"}
{block name="title"}结算管理{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <table class="layui-table" id="table-block" lay-filter="table-block">
            	<colgroup>
				    <col width="200">
				    <col>
				    <col>
				    <col>
				    <col>
				  </colgroup>
				  <thead>
				    <tr>
				      <th>渠道名称</th>
				      <th>充值金额</th>
				      <th>充值单数</th>
				      <th>提现金额</th>
				      <th>申请时间</th>
				    </tr> 
				  </thead>
				  <tbody>
				  	{notempty name="list"}
				  		{volist name="list" id="v"}
				  			 <tr>
							      <td>{$v.name}</td>
							      <td>¥{$v.charge_money}</td>
							      <td>{$v.charge_num}</td>
							      <td>¥{$v.money}</td>
							      <td>{$v.create_time}</td>
							</tr>
				  		{/volist}
					{else /}
						<tr>
							<td colspan="5">无数据</td>
						</tr>
				    {/notempty}
				  </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
