{extend name="common@public/base"}
{block name="title"}我的结算{/block}
{block name="css"}
<style type="text/css">
.block-text{height:60px;line-height:60px;font-size:2.5em;color:#337ab7;}
.block-item{min-height:168px;}
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-col-space20">
		<div class="layui-col-md4">
			<div class="layui-card block-item">
				<div class="layui-card-header">可提现金额</div>
				<div class="layui-card-body">
					<div class="block-text">
						¥{$cur.money}
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md4">
			<div class="layui-card block-item">
				<div class="layui-card-header">累计提现</div>
				<div class="layui-card-body">
					<div class="block-text">
						¥{$cur.done}
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md4">
			<div class="layui-card block-item">
				<div class="layui-card-header">提现中</div>
				<div class="layui-card-body">
					<div class="block-text">
						¥{$cur.wait}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body">
					<fieldset class="layui-elem-field">
						  <legend>温馨提示</legend>
						  <div class="layui-field-box">
						  	1、可提现金额不包含今日充值分佣金额，财务数据已交由VIP后台托管，未免造成损失请结算管理后台绑定本帐号提取余额！
						  	<br />
						  	2、尊敬的商户：如您是企业结算，请在提现明细导出待支付对账函盖章与合并总额开具含税发票邮寄我司核对予以结算，未尽部分请联系商务。
						  	</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
        	<div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item">
	          <div class="layui-inline">
	          	<label class="layui-form-label">状态</label>
	            <div class="layui-input-inline">
	              	  <select name="status">
		                <option value="">全部</option>
		                <option value="0">待支付</option>
		                <option value="1">已支付</option>
		              </select>
	            </div>
	          </div>
	          <div class="layui-inline">
	          	<label class="layui-form-label">账单日期</label>
	            <div class="layui-input-inline">
	              <input type="text" name="between_time" id="between_time" readonly="readonly" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	      </div>
          <div class="layui-card-body">
            	<table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__CHANNEL__/withdraw.mine.js?date=20200309"></script>
{/block}
